Repository Taraxa-project/taraxa-platform: changes, and which CircleCI parameters are due for each by the changed paths.
All: ui-package-modified, run-community-site-service-workflow, run-node-status-service-workflow, run-delegation-service-workflow, run-claim-backend-service-workflow, build-faucet-workflow, build-faucet-helm-chart-workflow, build-explorer-workflow, build-explorer-helm-chart-workflow, build-explorer-indexer-workflow, build-explorer-indexer-helm-chart-workflow

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@5afafc558d32d1bc81894f0195402855c4bca72d 🚀
  project.json
Due: none

fix(explorer): Catching error from useEthers hook
  services/explorer/src/hooks/useEthers.tsx
  services/explorer/src/pages/AddressInfo/AddressInfo.effects.tsx
Due: build-explorer-workflow

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@0d2f2e48412f7b4bab7e08b056400df0f03d1305 🚀
  project.json
Due: none

change node version
  services/community-backend/Dockerfile
Due: none

include proper monorepo linking
  services/community-backend/Dockerfile
  tsconfig.json
Due: none

rename package
  services/community-backend/package.json
Due: none

fix image name
  .circleci/workflows.yml
Due: none

fix(explorer-api): Improved get pbfts and dags
  services/explorer-api/src/modules/address/address.service.ts
Due: none

explorer: contract check refactor
  services/explorer/src/hooks/useEthers.tsx
Due: build-explorer-workflow

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@b7d69a0ed827b08903247ca05164cbb8e07e481c 🚀
  project.json
Due: none

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@19c25170e3e18655197cc3cd3179065495797efc 🚀
  project.json
Due: none

dummy commit
  services/community-backend/README.md
Due: none

push to registry
  .circleci/workflows.yml
Due: none

remove debug information
  .circleci/workflows.yml
Due: none

moved helm chart
  services/community-backend/charts/community-backend/.helmignore
  services/community-backend/charts/community-backend/Chart.yaml
  services/community-backend/charts/community-backend/templates/NOTES.txt
  services/community-backend/charts/community-backend/templates/_helpers.tpl
  services/community-backend/charts/community-backend/templates/configmap.yaml
  services/community-backend/charts/community-backend/templates/deployment.yaml
  services/community-backend/charts/community-backend/templates/hpa.yaml
  services/community-backend/charts/community-backend/templates/ingress.yaml
  services/community-backend/charts/community-backend/templates/service.yaml
  services/community-backend/charts/community-backend/templates/serviceaccount.yaml
  services/community-backend/charts/community-backend/values.yaml
Due: none

convert hex values for genesis to TARA
  services/explorer-indexer/package.json
  services/explorer-indexer/src/modules/transaction/transaction.service.ts
  yarn.lock
Due: build-explorer-indexer-workflow

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@6401b41e16529e82ae06e554f58e92e637716ed6 🚀
  project.json
Due: none

keep resources empty by default
  services/community-backend/charts/community-backend/values.yaml
Due: none

added workflow to build and push helmchart
  .circleci/config.yml
  .circleci/workflows.yml
Due: none

fix circleci workflow
  .circleci/workflows.yml
Due: none

fix Dockerfile
  .circleci/workflows.yml
  services/community-backend/Dockerfile
Due: none

debug workflow
  .circleci/workflows.yml
  services/community-backend/README.md
Due: none

adds recaptcha secret as env var
  .eslintignore
  services/community-backend/charts/community-backend/values.yaml
  services/community-backend/extensions/users-permissions/controllers/Auth.js
Due: none

fix(explorer|api) Applied new fixes
  services/explorer-api/src/modules/address/address.controller.ts
  services/explorer-api/src/modules/address/address.service.ts
  services/explorer-api/src/modules/address/responses/AddressDetails.response.ts
  services/explorer/src/api/explorer-api/fetchFeesByAddress.ts
  services/explorer/src/api/explorer-api/index.ts
  services/explorer/src/api/graphql/queries/account.ts
  services/explorer/src/components/AddressInfo/AddressInfo.tsx
  services/explorer/src/components/Links/AddressLink.tsx
  services/explorer/src/components/Links/HashLink.tsx
  services/explorer/src/components/TableTabs/TableTabs.tsx
  services/explorer/src/components/Tables/TransactionsTable.tsx
  services/explorer/src/hooks/useEthers.tsx
  services/explorer/src/hooks/useNodeStateContext.tsx
  services/explorer/src/models/AddressInfo.ts
  services/explorer/src/models/TableTabs.ts
  services/explorer/src/pages/AddressInfo/AddressInfo.effects.tsx
  services/explorer/src/pages/AddressInfo/AddressInfo.tsx
  services/explorer/src/pages/AddressInfo/AddressLoadingSkeleton.tsx
  yarn.lock
Due: build-explorer-workflow

chore(explorer): Remove graphql account query
  services/explorer/src/api/graphql/queries/account.ts
Due: build-explorer-workflow

chore(api): Sorting transactions based on block timestamp
  services/explorer-api/src/modules/address/address.service.ts
Due: none

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@f153123f09812815c2ddb2010efac97330424b60 🚀
  147.1bca79c928475b78cd4f.manager.bundle.js
  147.c732089a96c5c7b80c54.manager.bundle.js
  147.c732089a96c5c7b80c54.manager.bundle.js.LICENSE.txt
  675.b3bca84b.iframe.bundle.js
  675.b3bca84b.iframe.bundle.js.LICENSE.txt
  675.b3bca84b.iframe.bundle.js.map
  675.bb7903ff.iframe.bundle.js
  675.bb7903ff.iframe.bundle.js.map
  721.68e5eb6bdfca26b9d56d.manager.bundle.js
  721.75ee8153.iframe.bundle.js
  721.75ee8153.iframe.bundle.js.LICENSE.txt
  721.85e6f26baed11ca7340c.manager.bundle.js
  721.85e6f26baed11ca7340c.manager.bundle.js.LICENSE.txt
  721.ae02685a.iframe.bundle.js
  iframe.html
  index.html
  main.4d1ba0ba.iframe.bundle.js
  main.83dc495d.iframe.bundle.js
  project.json
  runtime~main.113f31c3.iframe.bundle.js
  runtime~main.6425b76274e401946685.manager.bundle.js
  runtime~main.9c3c218b.iframe.bundle.js
  runtime~main.d10633b5440e928f280c.manager.bundle.js
Due: none

fix(explorer): Fixed refresh only on main page
  services/explorer/src/hooks/useNodeStateContext.tsx
  yarn.lock
Due: build-explorer-workflow

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@0f7c5cac2f1ec8f90a1dee4faabb5d28d3467fc4 🚀
  147.c732089a96c5c7b80c54.manager.bundle.js
  147.faa203710a04a4cc780e.manager.bundle.js
  147.faa203710a04a4cc780e.manager.bundle.js.LICENSE.txt
  675.44653719.iframe.bundle.js
  675.44653719.iframe.bundle.js.LICENSE.txt
  675.44653719.iframe.bundle.js.map
  675.b3bca84b.iframe.bundle.js
  675.b3bca84b.iframe.bundle.js.map
  iframe.html
  index.html
  main.83dc495d.iframe.bundle.js
  main.c6672aab.iframe.bundle.js
  project.json
Due: none

chore(explorer): Formmating balance for address details
  services/explorer/src/components/AddressInfo/AddressInfo.tsx
Due: build-explorer-workflow

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@4ab4247ab09f03b8b2b50b4c7e2daac9a3daabe0 🚀
  project.json
Due: none

fix(explorer): Fixing floating values for txes on Address details table
  services/explorer/src/pages/AddressInfo/AddressInfo.effects.tsx
Due: build-explorer-workflow

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@02f1ae2e511044e3d827f8c3807c24dcd43cd421 🚀
  project.json
Due: none

fixes conversion error
  services/explorer-api/src/modules/address/address.service.ts
  services/explorer-indexer/src/modules/transaction/transaction.service.ts
Due: build-explorer-indexer-workflow

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@ac5d6422848710e9bdabe1508dc8f1264405e578 🚀
  project.json
Due: none

added missing secret
  services/community-backend/charts/community-backend/templates/secrets.yaml
  services/community-backend/charts/community-backend/values.yaml
Due: none

fix(explorer): Allow search for block 0
  services/explorer/src/components/Header/Header.effects.ts
  services/explorer/src/components/Tables/TransactionsTable.tsx
  services/explorer/src/pages/PBFTData/PBFTDataContainer.effects.tsx
Due: build-explorer-workflow

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@629422b5d523543429b4805a3ba806d676ea2524 🚀
  project.json
Due: none

chore(explorer-shared): removed duplicate utils folder
  packages/explorer-shared/utils/addressUtils.ts
  packages/explorer-shared/utils/index.ts
  packages/explorer-shared/utils/toChecksumAddress.ts
Due: none

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@241d6ecf151de97f8ac4d41cafb52ae4ed03768b 🚀
  iframe.html
  main.3c75ef6c.iframe.bundle.js
  main.c6672aab.iframe.bundle.js
  project.json
Due: none

Path conditions:
  ui-package-modified: any of: packages/taraxa-ui/.*
  run-community-site-service-workflow: any of: services/community-site/.*
  run-node-status-service-workflow: any of: services/node-status/.*
  run-delegation-service-workflow: any of: services/delegation/.*
  run-claim-backend-service-workflow: any of: services/claim-backend/.*
  build-faucet-workflow: any of: services/faucet/.*
  build-faucet-helm-chart-workflow: any of: services/faucet/charts/.*
  build-explorer-workflow: any of: services/explorer/.*
  build-explorer-helm-chart-workflow: any of: services/explorer/charts/.*
  build-explorer-indexer-workflow: any of: services/explorer-indexer/.*
  build-explorer-indexer-helm-chart-workflow: any of: services/explorer-indexer/charts/.*
