Repository Taraxa-project/taraxa-platform: changes, and which CircleCI parameters are due for each by the changed paths.
All: ui-package-modified, run-community-site-service-workflow, run-community-backend-service-workflow, build-community-backend-helm-chart-workflow, run-claim-admin-service-workflow, build-claim-admin-helm-chart-workflow, build-community-site-helm-chart-workflow, run-node-status-service-workflow, run-delegation-service-workflow, build-delegation-helm-chart-workflow, run-claim-backend-service-workflow, build-claim-backend-helm-chart-workflow, build-faucet-workflow, build-faucet-helm-chart-workflow, build-explorer-workflow, build-explorer-helm-chart-workflow, build-explorer-indexer-workflow, build-explorer-indexer-helm-chart-workflow, build-explorer-api-workflow, build-explorer-api-helm-chart-workflow

.circleci/config.yml:

version: 2.1
setup: true
orbs:
  path-filtering: circleci/path-filtering@0.1.1
workflows:
  always-run:
    jobs:
      - path-filtering/filter:
          name: check-updated-files
          mapping: |
            packages/taraxa-ui/.* ui-package-modified true
            services/community-site/.* run-community-site-service-workflow true
            legacy/community-backend/.* run-community-backend-service-workflow true
            legacy/community-backend/charts/.* build-community-backend-helm-chart-workflow true
            legacy/claim-admin/.* run-claim-admin-service-workflow true
            legacy/claim-admin/charts/.* build-claim-admin-helm-chart-workflow true
            services/community-site/charts/.* build-community-site-helm-chart-workflow true
            services/node-status/.* run-node-status-service-workflow true
            services/delegation/.* run-delegation-service-workflow true
            services/delegation/charts/.* build-delegation-helm-chart-workflow true
            services/claim-backend/.* run-claim-backend-service-workflow true
            services/claim-backend/charts/.* build-claim-backend-helm-chart-workflow true
            services/faucet/.* build-faucet-workflow true
            services/faucet/charts/.* build-faucet-helm-chart-workflow true
            services/explorer/.* build-explorer-workflow true
            services/explorer/charts/.* build-explorer-helm-chart-workflow true
            services/explorer-indexer/.* build-explorer-indexer-workflow true
            services/explorer-indexer/charts/.* build-explorer-indexer-helm-chart-workflow true
            services/explorer-api/.* build-explorer-api-workflow true
            services/explorer-api/charts/.* build-explorer-api-helm-chart-workflow true
          base-revision: << pipeline.git.branch >>
          config-path: .circleci/workflows.yml

adds small improvements
  packages/testnet-delegation/contracts/DelegationOrchestrator.sol
  packages/testnet-delegation/contracts/interfaces/IDPOS.sol
  packages/testnet-delegation/contracts/interfaces/IDelegation.sol
  packages/testnet-delegation/contracts/mocks/MockDpos.sol
  packages/testnet-delegation/contracts/mocks/MockIDPOS.sol
Due: none

reset sol version for analysis
  .github/workflows/analysis.yml
Due: none

Optionally displaying description for Nickname component
  services/community-site/src/components/Nickname/Nickname.tsx
Due: run-community-site-service-workflow

refactors business logic to avoid upcasing
  services/community-site/src/pages/RunNode/RunValidator.tsx
  services/community-site/src/pages/RunNode/Table/MainnetValidatorRow.tsx
  services/community-site/src/pages/Staking/Delegation.tsx
  services/community-site/src/pages/Staking/Table/ValidatorRow.tsx
  services/community-site/src/services/useExplorerStats.tsx
  services/community-site/src/utils/validators.ts
Due: run-community-site-service-workflow

Fetching stats for testnet validators
  services/community-site/src/pages/RunNode/RunValidator.tsx
  services/community-site/src/services/useExplorerStats.tsx
Due: run-community-site-service-workflow

fetches pbftCount weekly
  services/community-site/src/interfaces/Validator.ts
  services/community-site/src/services/useExplorerStats.tsx
  services/community-site/src/utils/validators.ts
Due: run-community-site-service-workflow

eliminates conversion to float
  services/community-site/src/utils/validators.ts
Due: run-community-site-service-workflow

Made details form design reusable and applied it to other update forms
  services/community-site/src/App.scss
  services/community-site/src/pages/Profile/EditProfile.tsx
  services/community-site/src/pages/Profile/profile.scss
  services/community-site/src/pages/RunNode/Screen/CreateOrEditProfile.tsx
  services/community-site/src/pages/RunNode/Screen/EditNode.tsx
  services/community-site/src/pages/RunNode/Screen/UpdateValidator.tsx
  services/community-site/src/pages/RunNode/Screen/updatevalidator.scss
Due: run-community-site-service-workflow

delegation: adds last epoch to the rewards calculation
  services/delegation/src/modules/reward/helper/epoch.ts
Due: run-delegation-service-workflow

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@1813b4d317420a55bc14196153781076e31a9a44 🚀
  project.json
Due: none

Implements yield calculation and display (#493)
  services/community-site/src/interfaces/Validator.ts
  services/community-site/src/pages/RunNode/RunValidator.tsx
  services/community-site/src/pages/RunNode/Table/MainnetValidatorRow.tsx
  services/community-site/src/pages/Staking/Delegation.tsx
  services/community-site/src/pages/Staking/Table/ValidatorRow.tsx
  services/community-site/src/services/useExplorerStats.tsx
  services/community-site/src/utils/validators.ts
Due: run-community-site-service-workflow

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@71d587f467f949994dab585b9a07c51cf25e6203 🚀
  project.json
Due: none

Feat/table improvements (#491)
  services/community-site/src/App.scss
  services/community-site/src/components/Nickname/Nickname.tsx
  services/community-site/src/components/Nickname/nickname.scss
  services/community-site/src/components/Title/Title.tsx
  services/community-site/src/interfaces/Node.ts
  services/community-site/src/interfaces/Validator.ts
  services/community-site/src/pages/Profile/EditProfile.tsx
  services/community-site/src/pages/Profile/profile.scss
  services/community-site/src/pages/RunNode/RunValidator.tsx
  services/community-site/src/pages/RunNode/Screen/CreateOrEditProfile.tsx
  services/community-site/src/pages/RunNode/Screen/EditNode.tsx
  services/community-site/src/pages/RunNode/Screen/UpdateValidator.tsx
  services/community-site/src/pages/RunNode/Table/MainnetValidatorRow.tsx
  services/community-site/src/pages/RunNode/Table/TestnetValidatorRow.tsx
  services/community-site/src/pages/RunNode/runvalidator.scss
  services/community-site/src/pages/Staking/Delegation.tsx
  services/community-site/src/pages/Staking/NodeProfilePage.tsx
  services/community-site/src/pages/Staking/Table/ValidatorRow.tsx
  services/community-site/src/pages/Staking/delegation.scss
  services/community-site/src/services/useExplorerStats.tsx
  services/community-site/src/services/useValidators.tsx
Due: run-community-site-service-workflow

Updated Delegation buttons
  services/community-site/src/pages/Staking/Modal/Delegate.tsx
  services/community-site/src/pages/Staking/Table/ValidatorRow.tsx
Due: run-community-site-service-workflow

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@d39631262bfc5b55eb8b7cc4d5f2d8ef8725ee20 🚀
  project.json
Due: none

Showing claim if has delegation already
  services/community-site/src/pages/Staking/Table/ValidatorRow.tsx
Due: run-community-site-service-workflow

Updated chainId for testnet
  services/community-site/src/services/useExplorerStats.tsx
Due: run-community-site-service-workflow

Updated Delegation buttons (#494)
  services/community-site/src/pages/Staking/Modal/Delegate.tsx
  services/community-site/src/pages/Staking/Table/ValidatorRow.tsx
  services/community-site/src/services/useExplorerStats.tsx
Due: run-community-site-service-workflow

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@27911ce03a4cf97dd6591fce61175649f7cf6270 🚀
  project.json
Due: none

Created context for redelegation
  services/community-site/src/App.tsx
  services/community-site/src/services/useRedelegation.tsx
  services/community-site/src/services/useWalletPopup.tsx
Due: run-community-site-service-workflow

Added isRedelegating to dependency array in context
  services/community-site/src/services/useRedelegation.tsx
Due: run-community-site-service-workflow

implements V2 of contract
  packages/testnet-delegation/contracts/DelegationOrchestrator.sol
  packages/testnet-delegation/contracts/interfaces/IDelegation.sol
  packages/testnet-delegation/contracts/mocks/MockDpos.sol
  packages/testnet-delegation/contracts/mocks/MockIDPOS.sol
  packages/testnet-delegation/test/orchestrator.test.ts
  packages/testnet-delegation/yarn.lock
Due: none

adds comments to V2
  packages/testnet-delegation/contracts/DelegationOrchestrator.sol
Due: none

rename parameters
  packages/testnet-delegation/contracts/DelegationOrchestrator.sol
  packages/testnet-delegation/contracts/interfaces/IDelegation.sol
Due: none

Updated context and redesigned modal and popup
  packages/taraxa-ui/src/components/InfoCard/InfoCard.styles.tsx
  packages/taraxa-ui/src/components/InfoCard/InfoCard.tsx
  packages/taraxa-ui/src/components/InfoCard/index.ts
  packages/taraxa-ui/src/index.ts
  services/community-site/src/App.scss
  services/community-site/src/components/Nickname/Nickname.tsx
  services/community-site/src/components/Nickname/nickname.scss
  services/community-site/src/pages/Staking/Delegation.tsx
  services/community-site/src/pages/Staking/Modal/Modals.tsx
  services/community-site/src/pages/Staking/Modal/ReDelegate.tsx
  services/community-site/src/pages/Staking/NodeProfilePage.tsx
  services/community-site/src/pages/Staking/Table/ValidatorRow.tsx
  services/community-site/src/pages/Staking/delegation.scss
  services/community-site/src/services/useRedelegation.tsx
Due: ui-package-modified, run-community-site-service-workflow

Implements proxy func for DPOS
  packages/testnet-delegation/artifacts/contracts/CallProxy.sol/CallProxy.json
  packages/testnet-delegation/artifacts/contracts/DelegationOrchestrator.sol/DelegationOrchestrator.json
  packages/testnet-delegation/artifacts/contracts/interfaces/IDelegation.sol/IDelegation.json
  packages/testnet-delegation/artifacts/contracts/mocks/MockDpos.sol/MockDpos.json
  packages/testnet-delegation/artifacts/contracts/mocks/MockIDPOS.sol/MockIDPOS.json
  packages/testnet-delegation/contracts/CallProxy.sol
  packages/testnet-delegation/contracts/DelegationOrchestrator.sol
  packages/testnet-delegation/contracts/mocks/MockDpos.sol
  packages/testnet-delegation/contracts/mocks/MockIDPOS.sol
  packages/testnet-delegation/hardhat.config.ts
  packages/testnet-delegation/test/proxy.test.ts
Due: none

add zero address check in proxy constructor
  packages/testnet-delegation/artifacts/contracts/CallProxy.sol/CallProxy.json
  packages/testnet-delegation/artifacts/contracts/DelegationOrchestrator.sol/DelegationOrchestrator.json
  packages/testnet-delegation/contracts/CallProxy.sol
Due: none

claim-backend: adds new cli commands
  services/claim-backend/src/cli.ts
  services/claim-backend/src/modules/claim/claim.service.ts
  services/claim-backend/src/modules/claim/graphql.connector.service.ts
Due: run-claim-backend-service-workflow

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@31f0569be721414dbcbf0b2356296078d7e854a8 🚀
  project.json
Due: none

Created new context for validators and updated validator details page
  services/community-site/src/App.tsx
  services/community-site/src/components/Nickname/Nickname.tsx
  services/community-site/src/components/Nickname/nickname.scss
  services/community-site/src/interfaces/Validator.ts
  services/community-site/src/pages/RunNode/RunValidator.tsx
  services/community-site/src/pages/RunNode/Table/MainnetValidatorRow.tsx
  services/community-site/src/pages/RunNode/runvalidator.scss
  services/community-site/src/pages/Staking/Delegation.tsx
  services/community-site/src/pages/Staking/NodeProfilePage.tsx
  services/community-site/src/pages/Staking/Screen/NodeProfilePageSkeleton.tsx
  services/community-site/src/pages/Staking/Table/ValidatorRow.tsx
  services/community-site/src/pages/Staking/delegation.scss
  services/community-site/src/pages/Staking/table.scss
  services/community-site/src/services/useAllValidators.tsx
  services/community-site/src/services/useExplorerStats.tsx
  services/community-site/src/services/useValidatorsWeeklyStats.tsx
  services/community-site/src/utils/validators.ts
Due: run-community-site-service-workflow

add release step
  packages/testnet-delegation/package.json
  packages/testnet-delegation/scripts/release.ts
Due: none

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@8edca79cce95bec7cd6d2b9dccf24d9a17296ffe 🚀
  project.json
Due: none

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@5b100aa85d7d7df7ecb1bf5e7a378e2137d5ecc6 🚀
  project.json
Due: none

adds event tests
  packages/testnet-delegation/contracts/CallProxy.sol
  packages/testnet-delegation/contracts/mocks/MockDpos.sol
  packages/testnet-delegation/scripts/interact.ts
  packages/testnet-delegation/scripts/release.ts
  packages/testnet-delegation/test/proxy.test.ts
Due: none

Added validator type in run node page url
  services/community-site/src/pages/RunNode/RunValidator.tsx
  services/community-site/src/pages/RunNode/Table/TestnetValidatorRow.tsx
  services/community-site/src/services/useAllValidators.tsx
Due: run-community-site-service-workflow

Replaced OwnNode with Validator for testnet
  services/community-site/src/interfaces/Node.ts
  services/community-site/src/interfaces/OwnNode.ts
  services/community-site/src/interfaces/PublicNode.ts
  services/community-site/src/interfaces/Validator.ts
  services/community-site/src/pages/RunNode/RunValidator.tsx
  services/community-site/src/pages/RunNode/Screen/EditNode.tsx
  services/community-site/src/pages/RunNode/Table/MainnetValidatorRow.tsx
  services/community-site/src/pages/RunNode/Table/TestnetValidatorRow.tsx
  services/community-site/src/pages/Staking/NodeProfilePage.tsx
  services/community-site/src/pages/Staking/Table/ValidatorRow.tsx
  services/community-site/src/services/useAllValidators.tsx
  services/community-site/src/services/useExplorerStats.tsx
  services/community-site/src/services/useValidators.tsx
Due: run-community-site-service-workflow

Added enum for validator type
  services/community-site/src/pages/RunNode/Modal.tsx
  services/community-site/src/pages/RunNode/Modal/RegisterNode.tsx
  services/community-site/src/pages/RunNode/RunValidator.tsx
Due: run-community-site-service-workflow

Fixed testnet validators table width
  services/community-site/src/pages/RunNode/RunValidator.tsx
Due: run-community-site-service-workflow

Fixes for redelegation design
  packages/taraxa-ui/src/components/theme.tsx
  services/community-site/src/pages/RunNode/RunValidator.tsx
  services/community-site/src/pages/RunNode/Table/TestnetValidatorRow.tsx
  services/community-site/src/pages/Staking/delegation.scss
  services/community-site/src/pages/Staking/table.scss
  services/community-site/src/services/useRedelegation.tsx
Due: ui-package-modified, run-community-site-service-workflow

Fixed yield efficiency display
  services/community-site/src/services/useAllValidators.tsx
  services/community-site/src/services/useExplorerStats.tsx
  services/community-site/src/services/useValidatorsWeeklyStats.tsx
  yarn.lock
Due: run-community-site-service-workflow
