Repository Taraxa-project/taraxa-platform: changes, and which CircleCI parameters are due for each by the changed paths.
All: ui-package-modified, run-community-backend-service-workflow, build-community-backend-helm-chart-workflow, run-claim-admin-service-workflow, build-claim-admin-helm-chart-workflow, run-community-site-service-workflow, build-community-site-helm-chart-workflow, run-node-status-service-workflow, run-delegation-service-workflow, build-delegation-helm-chart-workflow, run-claim-backend-service-workflow, build-claim-backend-helm-chart-workflow, build-faucet-workflow, build-faucet-helm-chart-workflow, build-explorer-workflow, build-explorer-helm-chart-workflow

Fixed issue refresh issue on actions
  services/community-site/src/pages/Redeem/Redeem.tsx
  services/community-site/src/pages/RunNode/RunValidator.tsx
  services/community-site/src/pages/Staking/Delegation.tsx
  services/community-site/src/pages/Staking/NodeProfilePage.tsx
Due: run-community-site-service-workflow

Added claim all functionality
  services/community-site/src/pages/Staking/Delegation.tsx
  services/community-site/src/services/useDelegation.tsx
  services/community-site/src/services/useDpos.ts
Due: run-community-site-service-workflow

Updated claim all logic
  services/community-site/src/pages/Staking/Delegation.tsx
  services/community-site/src/services/useDelegation.tsx
Due: run-community-site-service-workflow

Created SDK package and move community networks file to it
  package.json
  packages/taraxa-sdk/.dockerignore
  packages/taraxa-sdk/.eslintrc.js
  packages/taraxa-sdk/.gitignore
  packages/taraxa-sdk/.prettierrc
  packages/taraxa-sdk/package.json
  packages/taraxa-sdk/rollup.config.js
  packages/taraxa-sdk/src/index.ts
  packages/taraxa-sdk/src/utils/enums.ts
  packages/taraxa-sdk/src/utils/networks.ts
  packages/taraxa-sdk/tsconfig.json
  services/community-site/package.json
  services/community-site/src/components/WrongNetwork/index.tsx
  services/community-site/src/services/useExplorerStats.tsx
  services/community-site/src/services/useIndexerYields.tsx
  services/community-site/src/services/useMainnet.tsx
  services/community-site/src/services/useValidatorsWeeklyStats.tsx
  services/community-site/src/services/useWalletPopup.tsx
  services/explorer/package.json
  services/explorer/src/App.tsx
  services/explorer/src/components/Header/Header.effects.ts
  services/explorer/src/hooks/useExplorerNetwork.tsx
  services/explorer/src/utils/Enums.ts
  services/explorer/src/utils/getDomainName.ts
  services/explorer/src/utils/networks.ts
  tsconfig.json
  yarn.lock
Due: run-community-site-service-workflow, build-explorer-workflow

Added Dpos contract calls to new sdk package
  packages/taraxa-sdk/package.json
  packages/taraxa-sdk/src/context/TaraxaDposClient.ts
  packages/taraxa-sdk/src/context/TaraxaDposContext.tsx
  packages/taraxa-sdk/src/global.d.ts
  packages/taraxa-sdk/src/index.ts
  services/community-site/src/App.tsx
  services/community-site/src/services/useAllValidators.tsx
  services/community-site/src/services/useDelegation.tsx
  services/community-site/src/services/useValidators.tsx
Due: run-community-site-service-workflow

Added private key to dpos client to use on backend services
  packages/taraxa-sdk/src/context/TaraxaDposClient.ts
Due: none

Started working on yield history widget design
  packages/taraxa-ui/src/components/BarChart/BarChart.tsx
  services/community-site/src/pages/Staking/NodeProfilePage.tsx
  services/community-site/src/services/useDposSubgraph.ts
Due: ui-package-modified, run-community-site-service-workflow

implements indexer fetch up to a year
  services/community-site/src/services/useIndexerYields.tsx
Due: run-community-site-service-workflow

Fixed buid dependencies
  packages/dpos-subgraph/package.json
  packages/taraxa-ui/package.json
  yarn.lock
Due: ui-package-modified

Fixed method for converting timestamp to age
  services/explorer/src/utils/TransactionRow.tsx
Due: build-explorer-workflow

Checking if new validator before showing commission changed
  services/community-site/src/interfaces/Validator.ts
  services/community-site/src/pages/Staking/Table/ValidatorRow.tsx
Due: run-community-site-service-workflow

Updated claim all rewards logic
  services/community-site/src/pages/Staking/Delegation.tsx
  services/community-site/src/services/useDelegation.tsx
  services/community-site/src/services/useDpos.ts
Due: run-community-site-service-workflow

Fetching the registration block of the validator
  services/community-site/src/services/useExplorerStats.tsx
Due: run-community-site-service-workflow

add reroutes to /block
  services/explorer/src/App.tsx
Due: build-explorer-workflow

Fixed issue refresh issue on actions (#580)
  services/community-site/src/pages/Redeem/Redeem.tsx
  services/community-site/src/pages/RunNode/RunValidator.tsx
  services/community-site/src/pages/Staking/Delegation.tsx
  services/community-site/src/pages/Staking/NodeProfilePage.tsx
Due: run-community-site-service-workflow

Added claim all functionality (#581)
  services/community-site/src/pages/Staking/Delegation.tsx
  services/community-site/src/services/useDelegation.tsx
  services/community-site/src/services/useDpos.ts
Due: run-community-site-service-workflow

Feat/yield history widget (#584)
  packages/taraxa-ui/src/components/BarChart/BarChart.tsx
  services/community-site/src/pages/Staking/NodeProfilePage.tsx
  services/community-site/src/services/useDposSubgraph.ts
  services/community-site/src/services/useIndexerYields.tsx
Due: ui-package-modified, run-community-site-service-workflow

Fixed buid dependencies (#586)
  packages/dpos-subgraph/package.json
  packages/taraxa-ui/package.json
  yarn.lock
Due: ui-package-modified

Fixed method for converting timestamp to age (#587)
  services/explorer/src/utils/TransactionRow.tsx
Due: build-explorer-workflow

Checking if new validator before showing commission changed (#589)
  services/community-site/src/interfaces/Validator.ts
  services/community-site/src/pages/Staking/Table/ValidatorRow.tsx
  services/community-site/src/services/useExplorerStats.tsx
Due: run-community-site-service-workflow

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@38a0757f88f3c938ddac6e37dc8d301a36145671 🚀
  301.27e75f9c.iframe.bundle.js
  301.27e75f9c.iframe.bundle.js.map
  484.0d6bc190.iframe.bundle.js
  484.0d6bc190.iframe.bundle.js.LICENSE.txt
  484.0d6bc190.iframe.bundle.js.map
  iframe.html
  main.5a04836d.iframe.bundle.js
  main.8fbe31e7.iframe.bundle.js
  project.json
Due: none

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@c4de4027e396b2d9770a5b7161a6c3d308795ea6 🚀
  iframe.html
  main.5a04836d.iframe.bundle.js
  main.e57f820b.iframe.bundle.js
  project.json
Due: none

Ajusted refresh page after claim all
  services/community-site/src/pages/Staking/Delegation.tsx
Due: run-community-site-service-workflow

Ajusted refresh page after claim all (#592)
  services/community-site/src/pages/Staking/Delegation.tsx
Due: run-community-site-service-workflow

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@f7b2d17f2c7a31ab63dad2a8504795d8ceb4b97d 🚀
  project.json
Due: none

reroutes pbfts to /block in all places
  services/explorer/src/utils/Enums.ts
Due: build-explorer-workflow

Improved networks logic in sdk
  packages/taraxa-sdk/src/index.ts
  packages/taraxa-sdk/src/networks.ts
  packages/taraxa-sdk/src/utils/enums.ts
  services/explorer/src/api/types.ts
  services/explorer/src/components/Tables/BlocksTable.tsx
  services/explorer/src/components/Tables/Table.tsx
  services/explorer/src/components/Tables/TransactionsTable.tsx
  services/explorer/src/hooks/useExplorerNetwork.tsx
  services/explorer/src/utils/networks.ts
Due: build-explorer-workflow

Fixing ui build issues
  packages/taraxa-sdk/package.json
  packages/taraxa-sdk/rollup.config.js
  packages/taraxa-ui/tsconfig.json
  yarn.lock
Due: ui-package-modified

Fixed MUI component typing from UI theme
  packages/taraxa-ui/src/components/AwardCard/AwardCard.tsx
  packages/taraxa-ui/src/components/BlockCard/BlockCard.tsx
  packages/taraxa-ui/src/components/TransactionDetails/TransactionDetails.tsx
  services/explorer/src/components/Header/DrawerElements.tsx
  services/explorer/src/components/PageTitle/PageTitle.tsx
  services/explorer/src/components/Tables/BlocksTable.tsx
  services/explorer/src/components/Tables/Table.tsx
  services/explorer/src/components/Tables/TransactionsTable.tsx
  services/explorer/src/pages/Holders/Holders.tsx
  services/explorer/src/pages/Nodes/Nodes.tsx
  services/explorer/tsconfig.json
Due: ui-package-modified, build-explorer-workflow

Fixed typing for ProgressBar
  packages/taraxa-ui/src/components/Icons/Exclamation.tsx
  packages/taraxa-ui/src/components/ProgressBar/ProgressBar.tsx
  services/explorer/src/components/Header/DrawerElements.tsx
  services/explorer/src/components/Tables/Table.tsx
Due: ui-package-modified, build-explorer-workflow

Fixed fetching blocks on last page
  services/explorer/src/pages/Blocks/Blocks.effects.ts
Due: build-explorer-workflow

Added typechain and new dpos client
  package.json
  packages/taraxa-sdk/.eslintrc.js
  packages/taraxa-sdk/.gitignore
  packages/taraxa-sdk/abi/dpos.abi.json
  packages/taraxa-sdk/package.json
  packages/taraxa-sdk/src/DposClient.ts
  packages/taraxa-sdk/src/networks.ts
  packages/taraxa-sdk/tsconfig.json
  yarn.lock
Due: none

Formatted DposClient
  packages/taraxa-sdk/src/DposClient.ts
Due: none

Updated DposClient
  packages/taraxa-sdk/examples/node.ts
  packages/taraxa-sdk/src/DposClient.ts
  packages/taraxa-sdk/src/context/TaraxaDposClient.ts
  packages/taraxa-sdk/src/context/TaraxaDposContext.tsx
  packages/taraxa-sdk/src/index.ts
  packages/taraxa-sdk/tsconfig.json
  services/community-site/src/App.tsx
  services/community-site/src/services/useAllValidators.tsx
  services/community-site/src/services/useDelegation.tsx
  services/community-site/src/services/useValidators.tsx
Due: run-community-site-service-workflow

Improved dps client and removed react dependencies
  packages/taraxa-sdk/.eslintrc.js
  packages/taraxa-sdk/examples/node.ts
  packages/taraxa-sdk/package.json
  packages/taraxa-sdk/src/DposClient.ts
  packages/taraxa-sdk/src/networks.ts
  packages/taraxa-sdk/tsconfig.json
  yarn.lock
Due: none

Added provider type to DposClient
  packages/taraxa-sdk/src/DposClient.ts
  packages/taraxa-sdk/src/index.ts
  packages/taraxa-sdk/src/networks.ts
Due: none

Integrated Dpos client into community
  services/community-site/src/interfaces/Validator.ts
  services/community-site/src/services/useDelegation.tsx
  services/community-site/src/services/useDpos.ts
  services/community-site/src/services/useDposSubgraph.ts
  services/community-site/src/services/useValidators.tsx
Due: run-community-site-service-workflow

Adjusted explorer network hook
  services/explorer/src/hooks/useExplorerNetwork.tsx
Due: build-explorer-workflow

Removed nonce calculation for dpos client
  packages/taraxa-sdk/src/DposClient.ts
Due: none

Removed private key example
  packages/taraxa-sdk/examples/node.ts
Due: none

Path conditions:
  ui-package-modified: any of: packages/taraxa-ui/.*
  run-community-backend-service-workflow: any of: legacy/community-backend/.*
  build-community-backend-helm-chart-workflow: any of: legacy/community-backend/charts/.*
  run-claim-admin-service-workflow: any of: legacy/claim-admin/.*
  build-claim-admin-helm-chart-workflow: any of: legacy/claim-admin/charts/.*
  run-community-site-service-workflow: any of: services/community-site/.*
  build-community-site-helm-chart-workflow: any of: services/community-site/charts/.*
  run-node-status-service-workflow: any of: services/node-status/.*
  run-delegation-service-workflow: any of: services/delegation/.*
  build-delegation-helm-chart-workflow: any of: services/delegation/charts/.*
  run-claim-backend-service-workflow: any of: services/claim-backend/.*
  build-claim-backend-helm-chart-workflow: any of: services/claim-backend/charts/.*
  build-faucet-workflow: any of: services/faucet/.*
  build-faucet-helm-chart-workflow: any of: services/faucet/charts/.*
  build-explorer-workflow: any of: services/explorer/.*
  build-explorer-helm-chart-workflow: any of: services/explorer/charts/.*
