Repository Taraxa-project/taraxa-platform: changes, and which CircleCI parameters are due for each by the changed paths.
All: ui-package-modified, run-community-site-service-workflow, build-community-site-helm-chart-workflow, run-community-backend-service-workflow, build-community-backend-helm-chart-workflow, run-node-status-service-workflow, run-delegation-service-workflow, run-claim-backend-service-workflow, build-faucet-workflow, build-faucet-helm-chart-workflow, build-explorer-workflow, build-explorer-helm-chart-workflow, build-explorer-indexer-workflow, build-explorer-indexer-helm-chart-workflow, build-explorer-api-workflow, build-explorer-api-helm-chart-workflow

feat(explorer): Fetching genesis block transactions
  services/explorer/src/api/explorer-api/fetchGenesisBlock.ts
  services/explorer/src/pages/PBFTData/PBFTDataContainer.effects.tsx
  services/explorer/src/pages/PBFTData/PBFTDataContainer.tsx
Due: build-explorer-workflow

feat(api): Small improvement on fetching dags
  packages/explorer-shared/src/entities/dag.entity.ts
  packages/explorer-shared/src/migrations/1675691387681-DagsIndexes.ts
Due: none

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@9529bd3c0ca0bbf2588d402a58c9d04835c35141 🚀
  iframe.html
  main.70be9136.iframe.bundle.js
  main.c6672aab.iframe.bundle.js
  project.json
Due: none

enable config setup
  services/explorer-indexer/src/config/general.ts
  services/explorer-indexer/src/modules/dag/dag.module.ts
  services/explorer-indexer/src/modules/historical-sync/historical.syncer.module.ts
  services/explorer-indexer/src/modules/pbft/pbft.module.ts
  services/explorer-indexer/src/modules/transaction/transaction.module.ts
Due: build-explorer-indexer-workflow

removes tx data from PBFT query, clears tx queue on start
  services/explorer-indexer/src/modules/connectors/graphql.connector.service.ts
  services/explorer-indexer/src/modules/historical-sync/historical.syncer.service.ts
Due: build-explorer-indexer-workflow

adds new scenario where a PBFT is updated
  services/explorer-indexer/src/modules/pbft/pbft.consumer.ts
  services/explorer-indexer/src/modules/pbft/pbft.service.ts
  services/explorer-indexer/src/types/queues/types.ts
Due: build-explorer-indexer-workflow

corrects tx consumer, service
  services/explorer-indexer/src/modules/transaction/transaction.consumer.ts
  services/explorer-indexer/src/modules/transaction/transaction.service.ts
Due: build-explorer-indexer-workflow

explorer: fix genesis block from/to
  services/explorer/src/components/Tables/TransactionsTable.tsx
Due: build-explorer-workflow

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@9cbcb2727bc817e8d35a746364edff2065e34b35 🚀
  project.json
Due: none

fix(explorer): Fixed dag efficiency algorithm
  services/explorer/src/pages/Home/ChartContainer.tsx
  services/explorer/src/utils/chartUtils.ts
Due: build-explorer-workflow

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@6f310245ab392a0638c353f2fb7c5b41de241d88 🚀
  project.json
Due: none

fixes dag insertion, removes noise
  services/explorer-indexer/src/modules/connectors/graphql.connector.service.ts
  services/explorer-indexer/src/modules/dag/dag.consumer.ts
  services/explorer-indexer/src/modules/dag/dag.service.ts
Due: build-explorer-indexer-workflow

fixes done job deletion after 1min, refactor
  services/explorer-indexer/src/modules/historical-sync/historical.syncer.service.ts
  services/explorer-indexer/src/modules/live-sync/live.syncer.service.ts
  services/explorer-indexer/src/modules/pbft/pbft.consumer.ts
  services/explorer-indexer/src/modules/pbft/pbft.service.ts
  services/explorer-indexer/src/modules/transaction/transaction.consumer.ts
  services/explorer-indexer/src/types/queues/types.ts
Due: build-explorer-indexer-workflow

removes log noise
  services/explorer-indexer/src/modules/pbft/pbft.consumer.ts
  services/explorer-indexer/src/modules/transaction/transaction.consumer.ts
  services/explorer-indexer/src/modules/transaction/transaction.service.ts
Due: build-explorer-indexer-workflow

pushes PBFT period back to queue if dag save fails, remove dup log
  services/explorer-indexer/src/modules/dag/dag.consumer.ts
  services/explorer-indexer/src/modules/transaction/transaction.consumer.ts
Due: build-explorer-indexer-workflow

adds new tx and block consumer stfset
  services/explorer-indexer/charts/explorer-indexer/templates/block-consumer.yaml
  services/explorer-indexer/charts/explorer-indexer/templates/transaction-consumer.yaml
Due: build-explorer-indexer-workflow, build-explorer-indexer-helm-chart-workflow

implement tx push from dags
  services/explorer-indexer/src/modules/dag/dag.consumer.ts
  services/explorer-indexer/src/modules/dag/dag.module.ts
Due: build-explorer-indexer-workflow

implement custom error and filter for united job error processing
  services/explorer-indexer/src/app.module.ts
  services/explorer-indexer/src/modules/JobExceptionFilter.ts
  services/explorer-indexer/src/modules/dag/dag.consumer.ts
  services/explorer-indexer/src/modules/pbft/pbft.consumer.ts
  services/explorer-indexer/src/modules/transaction/transaction.consumer.ts
  services/explorer-indexer/src/types/exceptions/JobProcessing.exception.ts
Due: build-explorer-indexer-workflow

Enhancement/split tx consumer from pbft (#381)
  services/explorer-indexer/charts/explorer-indexer/templates/block-consumer.yaml
  services/explorer-indexer/charts/explorer-indexer/templates/transaction-consumer.yaml
  services/explorer-indexer/src/app.module.ts
  services/explorer-indexer/src/config/general.ts
  services/explorer-indexer/src/modules/JobExceptionFilter.ts
  services/explorer-indexer/src/modules/connectors/graphql.connector.service.ts
  services/explorer-indexer/src/modules/dag/dag.consumer.ts
  services/explorer-indexer/src/modules/dag/dag.module.ts
  services/explorer-indexer/src/modules/dag/dag.service.ts
  services/explorer-indexer/src/modules/historical-sync/historical.syncer.module.ts
  services/explorer-indexer/src/modules/historical-sync/historical.syncer.service.ts
  services/explorer-indexer/src/modules/live-sync/live.syncer.service.ts
  services/explorer-indexer/src/modules/pbft/pbft.consumer.ts
  services/explorer-indexer/src/modules/pbft/pbft.module.ts
  services/explorer-indexer/src/modules/pbft/pbft.service.ts
  services/explorer-indexer/src/modules/transaction/transaction.consumer.ts
  services/explorer-indexer/src/modules/transaction/transaction.module.ts
  services/explorer-indexer/src/modules/transaction/transaction.service.ts
  services/explorer-indexer/src/types/exceptions/JobProcessing.exception.ts
  services/explorer-indexer/src/types/queues/types.ts
Due: build-explorer-indexer-workflow, build-explorer-indexer-helm-chart-workflow

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@a3a001b1ff76316dbc68eccbd7fd609a5a17037c 🚀
  project.json
Due: none

Revert "implement custom error and filter for united job error processing"
  services/explorer-indexer/src/app.module.ts
  services/explorer-indexer/src/modules/JobExceptionFilter.ts
  services/explorer-indexer/src/modules/dag/dag.consumer.ts
  services/explorer-indexer/src/modules/pbft/pbft.consumer.ts
  services/explorer-indexer/src/modules/transaction/transaction.consumer.ts
  services/explorer-indexer/src/types/exceptions/JobProcessing.exception.ts
Due: build-explorer-indexer-workflow

implements proper job processing
  services/explorer-indexer/src/modules/dag/dag.consumer.ts
  services/explorer-indexer/src/modules/pbft/pbft.consumer.ts
  services/explorer-indexer/src/modules/transaction/transaction.consumer.ts
  services/explorer-indexer/src/types/queues/types.ts
Due: build-explorer-indexer-workflow

excludes insert error ignore in case PBFT creation
  services/explorer-indexer/src/modules/pbft/pbft.service.ts
Due: build-explorer-indexer-workflow

feat(explorer): Showing message when changing networks on details pages
  services/explorer/src/api/explorer-api/fetchBlocksByAddress.ts
  services/explorer/src/api/explorer-api/fetchDagsByAddress.ts
  services/explorer/src/api/explorer-api/fetchDagsCountByAddress.ts
  services/explorer/src/api/explorer-api/fetchGenesisBlock.ts
  services/explorer/src/api/explorer-api/fetchNodes.ts
  services/explorer/src/api/explorer-api/fetchNumberBlocks.ts
  services/explorer/src/api/explorer-api/fetchPbftsByAddress.ts
  services/explorer/src/api/explorer-api/fetchPbftsCountByAddress.ts
  services/explorer/src/api/explorer-api/fetchTransactionsByAddress.ts
  services/explorer/src/pages/AddressInfo/AddressInfo.effects.tsx
  services/explorer/src/pages/BlockData/DAGDataContainer.effects.tsx
  services/explorer/src/pages/BlockData/DAGDataContainer.tsx
  services/explorer/src/pages/PBFTData/PBFTDataContainer.effects.tsx
  services/explorer/src/pages/PBFTData/PBFTDataContainer.tsx
  services/explorer/src/pages/TransactionData/TransactionData.effects.tsx
  services/explorer/src/pages/TransactionData/TransactionData.tsx
Due: build-explorer-workflow

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@2b8c05f32509d596ce4a8dbf1bc4a950fa958c3b 🚀
  project.json
Due: none

removes excfilter once again
  services/explorer-indexer/src/app.module.ts
  services/explorer-indexer/src/modules/JobExceptionFilter.ts
  services/explorer-indexer/src/modules/pbft/pbft.consumer.ts
  services/explorer-indexer/src/modules/transaction/transaction.consumer.ts
  services/explorer-indexer/src/types/exceptions/JobProcessing.exception.ts
Due: build-explorer-indexer-workflow

throws error on tx save fail
  services/explorer-indexer/src/modules/transaction/transaction.service.ts
Due: build-explorer-indexer-workflow

adds periods to temporary cache until historical syncing finishes
  services/explorer-indexer/src/modules/historical-sync/historical.syncer.service.ts
  services/explorer-indexer/src/modules/historical-sync/queuePopulatorCache.ts
  services/explorer-indexer/src/modules/live-sync/live.syncer.module.ts
  services/explorer-indexer/src/modules/live-sync/live.syncer.service.ts
Due: build-explorer-indexer-workflow

moves queue cache to separete module
  services/explorer-indexer/src/modules/common/index.ts
  services/explorer-indexer/src/modules/common/queuePopulatorCache.ts
  services/explorer-indexer/src/modules/historical-sync/historical.syncer.service.ts
  services/explorer-indexer/src/modules/live-sync/live.syncer.service.ts
Due: build-explorer-indexer-workflow

fix(explorer): Checking correct value for method fromWeiToTara
  services/explorer/src/utils/fromWeiToTara.ts
Due: build-explorer-workflow

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@cd7c99aa0720010e3ec315ba4940015dea6adcf7 🚀
  project.json
Due: none

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@debfa74ca711c80ab117865649282880a7d81bbb 🚀
  project.json
Due: none

explorer-indexer: adds missing stfset env var to producer
  services/explorer-indexer/charts/explorer-indexer/templates/producer.yaml
Due: build-explorer-indexer-workflow, build-explorer-indexer-helm-chart-workflow

feat(explorer): Fixed chart negative values
  services/explorer/src/utils/chartUtils.ts
Due: build-explorer-workflow

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@c25d604fec61fc31ae59ab555839b823dee18a52 🚀
  project.json
Due: none

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@07c083e0918605773b9a5527102c23fe2fd5fada 🚀
  project.json
Due: none

fix(explorer): Checking for nullish values on address info transactions
  services/explorer/src/pages/AddressInfo/AddressInfo.effects.tsx
Due: build-explorer-workflow

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@dd51fd0e37a5345f984f87466c4cc68079f5aaf3 🚀
  project.json
Due: none

redis: changes job attempts from infinite to 3
  services/explorer-indexer/src/types/queues/types.ts
Due: build-explorer-indexer-workflow

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@9cd74ff7dc071e7b7925c2707907087b07a64ace 🚀
  project.json
Due: none

Path conditions:
  ui-package-modified: any of: packages/taraxa-ui/.*
  run-community-site-service-workflow: any of: services/community-site/.*
  build-community-site-helm-chart-workflow: any of: services/community-site/charts/.*
  run-community-backend-service-workflow: any of: services/community-backend/.*
  build-community-backend-helm-chart-workflow: any of: services/community-backend/charts/.*
  run-node-status-service-workflow: any of: services/node-status/.*
  run-delegation-service-workflow: any of: services/delegation/.*
  run-claim-backend-service-workflow: any of: services/claim-backend/.*
  build-faucet-workflow: any of: services/faucet/.*
  build-faucet-helm-chart-workflow: any of: services/faucet/charts/.*
  build-explorer-workflow: any of: services/explorer/.*
  build-explorer-helm-chart-workflow: any of: services/explorer/charts/.*
  build-explorer-indexer-workflow: any of: services/explorer-indexer/.*
  build-explorer-indexer-helm-chart-workflow: any of: services/explorer-indexer/charts/.*
  build-explorer-api-workflow: any of: services/explorer-api/.*
  build-explorer-api-helm-chart-workflow: any of: services/explorer-api/charts/.*
