Repository Taraxa-project/taraxa-platform: changes, and which CircleCI parameters are due for each by the changed paths.
All: ui-package-modified, run-community-site-service-workflow, run-node-status-service-workflow

Sign in modal with session expired message is displayed when api returns 401
  services/community-site/src/components/Header/Header.tsx
  services/community-site/src/components/Modal/SignIn.tsx
  services/community-site/src/services/useApi.ts
  services/community-site/src/services/useAuth.tsx
  services/community-site/src/services/useModal.tsx
Due: run-community-site-service-workflow

remove console.log
  services/community-site/src/services/useAuth.tsx
Due: run-community-site-service-workflow

eslint working
  .eslintrc.js
  .prettierignore
  package.json
  packages/taraxa-ui/.eslintrc.js
  packages/taraxa-ui/tsconfig.json
  services/community-site/.eslintrc.js
  services/community-site/tsconfig.json
  tsconfig.json
Due: ui-package-modified, run-community-site-service-workflow

minor cleanup
  packages/taraxa-ui/tsconfig.json
  services/community-site/tsconfig.json
Due: ui-package-modified, run-community-site-service-workflow

run formatter
  tsconfig.json
Due: none

disable some rules
  .eslintrc.js
  package.json
Due: none

fix App.tsx
  services/community-site/src/App.tsx
Due: run-community-site-service-workflow

Clear auth and display sign in modal with a session expired message when API returns 401 (#5)
  services/community-site/src/components/Header/Header.tsx
  services/community-site/src/components/LoadingWidget/LoadingWidget.tsx
  services/community-site/src/components/Modal/ForgotPassword.tsx
  services/community-site/src/components/Modal/SignIn.tsx
  services/community-site/src/services/useApi.ts
  services/community-site/src/services/useAuth.tsx
  services/community-site/src/services/useModal.tsx
Due: run-community-site-service-workflow

Fix husky pre-commit hook not being executed and ESLint / tsconfig.json configs to allow linter to work (#6)
  .eslintrc.js
  .husky/pre-commit
  .prettierignore
  package.json
  packages/taraxa-ui/.eslintrc.js
  packages/taraxa-ui/tsconfig.json
  services/community-site/.eslintrc.js
  services/community-site/package.json
  services/community-site/tsconfig.json
  tsconfig.json
  yarn.lock
Due: ui-package-modified, run-community-site-service-workflow

Fix plural when rounding down
  services/community-site/src/utils/time.ts
Due: run-community-site-service-workflow

More reliable leap year check
  services/community-site/package.json
  services/community-site/src/utils/time.ts
  yarn.lock
Due: run-community-site-service-workflow

Detect multiple bounty submissions and disable submit accordingly, fix loading state
  services/community-site/src/pages/Bounties/Bounties.tsx
  services/community-site/src/pages/Bounties/BountyCard.tsx
  services/community-site/src/pages/Bounties/BountyDetails.tsx
  services/community-site/src/pages/Bounties/BountySubmit.tsx
  services/community-site/src/pages/Bounties/bounty.ts
Due: run-community-site-service-workflow

show loading text to avoid empty reward box
  services/community-site/src/pages/Bounties/BountyCard.tsx
Due: run-community-site-service-workflow

remove user submission count from bounties page
  services/community-site/src/pages/Bounties/Bounties.tsx
Due: run-community-site-service-workflow

cleanup
  services/community-site/src/pages/Bounties/BountyCard.tsx
  services/community-site/src/pages/Bounties/BountyDetails.tsx
  services/community-site/src/pages/Bounties/BountySubmit.tsx
  services/community-site/src/services/useAuth.tsx
  services/community-site/src/services/useBounties.ts
Due: run-community-site-service-workflow

remove console log
  services/community-site/src/pages/Bounties/BountyCard.tsx
Due: run-community-site-service-workflow

eslint
  services/community-site/src/pages/Bounties/BountyCard.tsx
Due: run-community-site-service-workflow

test
  services/community-site/src/pages/Bounties/BountyCard.tsx
Due: run-community-site-service-workflow

test eslint console
  .eslintrc.js
  services/community-site/src/pages/Bounties/BountyCard.tsx
Due: run-community-site-service-workflow

fix eslnt
  .eslintrc.js
  services/community-site/src/pages/Bounties/BountyCard.tsx
Due: run-community-site-service-workflow

Handle multiple bounty submissions (#8)
  .eslintrc.js
  services/community-site/package.json
  services/community-site/src/pages/Bounties/Bounties.tsx
  services/community-site/src/pages/Bounties/BountyCard.tsx
  services/community-site/src/pages/Bounties/BountyDetails.tsx
  services/community-site/src/pages/Bounties/BountySubmit.tsx
  services/community-site/src/pages/Bounties/bounty.ts
  services/community-site/src/services/useAuth.tsx
  services/community-site/src/services/useBounties.ts
  services/community-site/src/utils/time.ts
  yarn.lock
Due: run-community-site-service-workflow

community-site: run node page - use new explorer API for getting node stats
  services/community-site/src/pages/RunNode/RunNode.tsx
Due: run-community-site-service-workflow

cr: removes null type for lastBlockTimestamp
  services/community-site/src/pages/RunNode/RunNode.tsx
Due: run-community-site-service-workflow

cr: removes null type for rank
  services/community-site/src/pages/RunNode/RunNode.tsx
Due: run-community-site-service-workflow

community-site: run node page - use new explorer API for getting node… (#9)
  services/community-site/src/pages/RunNode/RunNode.tsx
Due: run-community-site-service-workflow

Fix submissions date display in user profile
  services/community-site/src/pages/Bounties/bounties.scss
  services/community-site/src/pages/Profile/ViewProfile.tsx
Due: run-community-site-service-workflow

Fix submissions date display in user profile (#10)
  services/community-site/src/pages/Bounties/bounties.scss
  services/community-site/src/pages/Profile/ViewProfile.tsx
Due: run-community-site-service-workflow

Dont show submisson reward until one is set/given
  services/community-site/src/pages/Profile/ViewProfile.tsx
Due: run-community-site-service-workflow

Dont show submisson reward until one is set/given (#11)
  services/community-site/src/pages/Profile/ViewProfile.tsx
Due: run-community-site-service-workflow

Remove console.log
  services/community-site/src/pages/Profile/ViewProfile.tsx
Due: run-community-site-service-workflow

community-site: password protection for QA site
  services/community-site/charts/.gitignore
  services/community-site/charts/community-site/templates/community-ingress.yaml
  services/community-site/charts/community-site/templates/secrets.yaml
Due: run-community-site-service-workflow

community-site: password protection for QA site fix
  services/community-site/charts/community-site/templates/community-ingress.yaml
  services/community-site/charts/community-site/templates/secrets.yaml
  services/community-site/charts/community-site/values.yaml
  services/community-site/charts/qa.values.yaml
Due: run-community-site-service-workflow

Initial WIP for delegation page
  services/community-site/.env
  services/community-site/src/pages/RunNode/Modal/RegisterNode.tsx
  services/community-site/src/pages/RunNode/Modal/UpdateNode.tsx
  services/community-site/src/pages/RunNode/RunNode.tsx
Due: run-community-site-service-workflow

community-site: adds notices to the redeem page
  packages/taraxa-ui/src/components/Notification/Notification.tsx
  packages/taraxa-ui/src/components/Notification/notification-styles.tsx
  services/community-site/src/pages/Redeem/Redeem.tsx
  services/community-site/src/pages/Redeem/redeem.scss
Due: ui-package-modified, run-community-site-service-workflow

community-site: changes submissions count on bounties page
  packages/taraxa-ui/src/components/RewardCard/RewardCard.tsx
  services/community-site/src/pages/Bounties/BountyDetails.tsx
Due: ui-package-modified, run-community-site-service-workflow

Path conditions:
  ui-package-modified: any of: packages/taraxa-ui/.*
  run-community-site-service-workflow: any of: services/community-site/.*
  run-node-status-service-workflow: any of: services/node-status/.*
