Repository Taraxa-project/taraxa-platform: changes, and which CircleCI parameters are due for each by the changed paths.
All: ui-package-modified, run-community-site-service-workflow, run-node-status-service-workflow, run-delegation-service-workflow, run-claim-backend-service-workflow, build-faucet-workflow, build-faucet-helm-chart-workflow, build-explorer-workflow, build-explorer-helm-chart-workflow, build-explorer-indexer-workflow, build-explorer-indexer-helm-chart-workflow

changes module imports, deletes unused blockchain module
  services/claim-backend/src/modules/blockchain/blockchain.module.ts
  services/claim-backend/src/modules/blockchain/blockchain.service.ts
  services/claim-backend/src/modules/blockchain/contracts/Claim.json
  services/claim-backend/src/modules/blockchain/index.ts
  services/claim-backend/src/modules/claim/claim.module.ts
Due: run-claim-backend-service-workflow

delegation: fixes majority = 2 x + 1
  services/delegation/src/modules/blockchain/blockchain.service.ts
Due: run-delegation-service-workflow

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@20728b5ffd7ddd6c502ac9d558b9147c7ef513ef 🚀
  project.json
Due: none

fix endpoint, imports, test
  services/claim-backend/config/reward.ts
  services/claim-backend/src/modules/claim/claim.module.ts
  services/claim-backend/src/modules/claim/graphql.connector.service.ts
Due: run-claim-backend-service-workflow

fix(community): Fixed more visual issues
  package.json
  packages/taraxa-ui/src/components/Card/Card.styles.ts
  packages/taraxa-ui/src/components/ProfileBasicCard/ProfileBasicCard.styles.ts
  packages/taraxa-ui/src/components/ProfileBasicCard/ProfileBasicCard.tsx
  packages/taraxa-ui/src/components/ProfileSubmissionsCard/ProfileSubmissionsCard.styles.ts
  packages/taraxa-ui/src/components/RewardCard/RewardCard.styles.ts
  packages/taraxa-ui/src/components/RewardCard/RewardCard.tsx
  services/community-site/src/pages/RunNode/RunNode.tsx
  services/community-site/src/pages/RunNode/runnode.scss
Due: ui-package-modified, run-community-site-service-workflow

fix(community): Adjusted design per figma requirements (#311)
  package.json
  packages/taraxa-ui/src/components/BaseCard/BaseCard.styles.ts
  packages/taraxa-ui/src/components/BaseCard/BaseCard.tsx
  packages/taraxa-ui/src/components/Button/Button.tsx
  packages/taraxa-ui/src/components/Card/Card.styles.ts
  packages/taraxa-ui/src/components/DataCard/DataCard.styles.ts
  packages/taraxa-ui/src/components/DataCard/DataCard.tsx
  packages/taraxa-ui/src/components/IconCard/IconCard.styles.ts
  packages/taraxa-ui/src/components/IconCard/IconCard.tsx
  packages/taraxa-ui/src/components/Notification/Notification.styles.ts
  packages/taraxa-ui/src/components/Notification/Notification.tsx
  packages/taraxa-ui/src/components/ProfileBasicCard/ProfileBasicCard.styles.ts
  packages/taraxa-ui/src/components/ProfileBasicCard/ProfileBasicCard.tsx
  packages/taraxa-ui/src/components/ProfileSubmissionsCard/ProfileSubmissionsCard.styles.ts
  packages/taraxa-ui/src/components/RewardCard/RewardCard.styles.ts
  packages/taraxa-ui/src/components/RewardCard/RewardCard.tsx
  packages/taraxa-ui/src/components/ToggleButton/ToggleButton.styles.ts
  packages/taraxa-ui/src/components/theme.tsx
  services/community-site/src/App.scss
  services/community-site/src/components/Title/title.scss
  services/community-site/src/pages/Delegation/Table/NodeRow.tsx
  services/community-site/src/pages/Delegation/delegation.scss
  services/community-site/src/pages/Profile/EditProfile.tsx
  services/community-site/src/pages/Profile/ViewProfile.tsx
  services/community-site/src/pages/Redeem/Redeem.tsx
  services/community-site/src/pages/RunNode/RunNode.tsx
  services/community-site/src/pages/RunNode/runnode.scss
  services/community-site/src/pages/Staking/Staking.tsx
  services/community-site/tsconfig.json
Due: ui-package-modified, run-community-site-service-workflow

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@0ad81348bccfc2e626135ccc9c4b9ff4b5388a48 🚀
  iframe.html
  main.4b305702.iframe.bundle.js
  main.58338f51.iframe.bundle.js
  project.json
Due: none

add the delegation delay config param
  services/delegation/.env.dist
  services/delegation/src/config/delegation.ts
Due: run-delegation-service-workflow

implement delegation, undelegation, getBlockNo in service
  services/delegation/src/modules/blockchain/blockchain.service.ts
Due: run-delegation-service-workflow

implement the undelegation entity
  services/delegation/src/modules/delegation/undelegation.entity.ts
Due: run-delegation-service-workflow

implement the new undelegation flow
  services/delegation/src/modules/delegation/delegation.module.ts
  services/delegation/src/modules/delegation/delegation.service.ts
Due: run-delegation-service-workflow

implement cron to confirm undelegations
  services/delegation/src/modules/delegation/delegation-task.service.ts
Due: run-delegation-service-workflow

remove throws
  services/claim-backend/src/modules/claim/claim.service.ts
Due: run-claim-backend-service-workflow

optimize pbft number db query
  services/explorer-indexer/src/modules/pbft/pbft.service.ts
Due: build-explorer-indexer-workflow

remove runtime space constraint from prod run
  services/explorer-indexer/package.json
Due: build-explorer-indexer-workflow

delegation: fixes changed addres balances
  services/claim-backend/src/modules/claim/claim.service.ts
Due: run-claim-backend-service-workflow

feat(economics-rewards): Added script to read validators from chain
  packages/explorer-shared/package.json
  services/economics-rewards/.env.example
  services/economics-rewards/.eslintrc.js
  services/economics-rewards/.gitignore
  services/economics-rewards/.prettierignore
  services/economics-rewards/.prettierrc
  services/economics-rewards/package.json
  services/economics-rewards/src/abi/DposAbi.json
  services/economics-rewards/src/index.ts
  services/economics-rewards/src/output/blocks.json
  services/economics-rewards/src/types/Delegator.ts
  services/economics-rewards/src/types/Reward.ts
  services/economics-rewards/src/types/Validator.ts
  services/economics-rewards/src/types/index.ts
  services/economics-rewards/tsconfig.json
  yarn.lock
Due: none

implement service root
  services/delegationAnalysis/.gitignore
  services/delegationAnalysis/package.json
  services/delegationAnalysis/tsconfig.json
  yarn.lock
Due: none

implement pg database connector
  services/delegationAnalysis/src/database.ts
Due: none

implement graphQL staking logic
  services/delegationAnalysis/src/stakes.ts
Due: none

implement summary and full flow
  services/delegationAnalysis/src/main.ts
  services/delegationAnalysis/src/stakeSummary.ts
Due: none

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@db199551511f1295f9b8374d6d5a2b08d19d20f2 🚀
  project.json
Due: none

feat(economics): Saving to database
  packages/explorer-shared/utils/addressUtils.ts
  packages/explorer-shared/utils/index.ts
  packages/explorer-shared/utils/toChecksumAddress.ts
  services/economics-rewards/.env.example
  services/economics-rewards/package.json
  services/economics-rewards/src/data-source.ts
  services/economics-rewards/src/database.ts
  services/economics-rewards/src/entities/rewards.entity.ts
  services/economics-rewards/src/index.ts
  services/economics-rewards/src/output/blocks.json
  services/economics-rewards/src/types/Reward.ts
  tsconfig.json
  yarn.lock
Due: none

delete from packages
  services/delegationAnalysis/.gitignore
  services/delegationAnalysis/package.json
  services/delegationAnalysis/src/database.ts
  services/delegationAnalysis/src/main.ts
  services/delegationAnalysis/src/stakeSummary.ts
  services/delegationAnalysis/src/stakes.ts
  services/delegationAnalysis/tsconfig.json
Due: none

add chalk and project setup
  services/delegation-analysis/.gitignore
  services/delegation-analysis/package.json
  services/delegation-analysis/tsconfig.json
  yarn.lock
Due: none

export config and types
  services/delegation-analysis/src/config.ts
  services/delegation-analysis/src/types.ts
Due: none

extract database and graph conenction
  services/delegation-analysis/src/database.ts
  services/delegation-analysis/src/stakingSubgraph.ts
Due: none

fix stakes and summary logic
  services/delegation-analysis/src/stakeSummary.ts
  services/delegation-analysis/src/stakes.ts
Due: none

implement flow
  services/delegation-analysis/src/main.ts
Due: none

define service in root, change license, add env exp
  services/delegation-analysis/.env.example
  services/delegation-analysis/package.json
  tsconfig.json
Due: none

Updated env for economics script
  services/economics-rewards/.env.example
Due: none

remove exports
  services/claim-backend/src/modules/claim/claim.module.ts
Due: run-claim-backend-service-workflow

feat(economics): Handling case when rpc fails to restart
  services/economics-rewards/src/database.ts
  services/economics-rewards/src/index.ts
Due: none

fix typo in env var name
  packages/explorer-shared/data-source.ts
Due: none

further optimize missing block inclusion logic
  services/explorer-indexer/src/modules/historical-sync/historical.syncer.service.ts
  services/explorer-indexer/src/modules/pbft/pbft.service.ts
Due: build-explorer-indexer-workflow

add confirmed flag to undelegations
  services/delegation/src/modules/delegation/undelegation.entity.ts
Due: run-delegation-service-workflow

implement PR feedback, handle confirmation from db
  services/delegation/src/modules/blockchain/blockchain.service.ts
  services/delegation/src/modules/delegation/delegation-task.service.ts
  services/delegation/src/modules/delegation/delegation.service.ts
Due: run-delegation-service-workflow

route explorer-api swagger to apidocs
  services/explorer-api/src/main.ts
Due: none

chore(economics): Working on delegators...
  services/economics-rewards/src/abi/DposAbi.json
  services/economics-rewards/src/database.ts
  services/economics-rewards/src/index.ts
  services/economics-rewards/src/types/Delegator.ts
Due: none

remove broken deps
  services/explorer-api/package.json
  services/explorer-indexer/package.json
  yarn.lock
Due: build-explorer-indexer-workflow

Path conditions:
  ui-package-modified: any of: packages/taraxa-ui/.*
  run-community-site-service-workflow: any of: services/community-site/.*
  run-node-status-service-workflow: any of: services/node-status/.*
  run-delegation-service-workflow: any of: services/delegation/.*
  run-claim-backend-service-workflow: any of: services/claim-backend/.*
  build-faucet-workflow: any of: services/faucet/.*
  build-faucet-helm-chart-workflow: any of: services/faucet/charts/.*
  build-explorer-workflow: any of: services/explorer/.*
  build-explorer-helm-chart-workflow: any of: services/explorer/charts/.*
  build-explorer-indexer-workflow: any of: services/explorer-indexer/.*
  build-explorer-indexer-helm-chart-workflow: any of: services/explorer-indexer/charts/.*
