Repository Taraxa-project/taraxa-platform: changes, and which CircleCI parameters are due for each by the changed paths.
All: ui-package-modified, run-community-site-service-workflow, run-node-status-service-workflow, run-delegation-service-workflow, run-claim-backend-service-workflow

.circleci/config.yml:

version: 2.1
setup: true
orbs:
  path-filtering: circleci/path-filtering@0.1.1
workflows:
  always-run:
    jobs:
      - path-filtering/filter:
          name: check-updated-files
          mapping: |
            packages/taraxa-ui/.* ui-package-modified true
            services/community-site/.* run-community-site-service-workflow true
            services/node-status/.* run-node-status-service-workflow true
            services/delegation/.* run-delegation-service-workflow true
            services/claim-backend/.* run-claim-backend-service-workflow true
          base-revision: << pipeline.git.branch >>
          config-path: .circleci/workflows.yml

Fix bad undelegated number in Staking page
  services/community-site/src/pages/Staking/Staking.tsx
Due: run-community-site-service-workflow

#126 profile breaking fix
  services/community-site/src/pages/Profile/ViewProfile.tsx
Due: run-community-site-service-workflow

Transpile bignumber creation params
  services/community-site/src/pages/Redeem/Redeem.tsx
Due: run-community-site-service-workflow

Fix redeem page BN comparisons
  services/community-site/src/pages/Redeem/Redeem.tsx
  services/community-site/tsconfig.json
Due: run-community-site-service-workflow

Fallback to namespace import
  services/claim-backend/src/modules/claim/claim.service.ts
Due: run-claim-backend-service-workflow

Add types for ethereumjs-abi
  services/claim-backend/package.json
  services/claim-backend/src/modules/claim/claim.service.ts
  yarn.lock
Due: run-claim-backend-service-workflow

Lock in new deps
  yarn.lock
Due: none

Prettify
  .gitignore
  services/community-site/env.local
Due: run-community-site-service-workflow

Prettify #2
  .env.compose
  services/community-site/.env
  services/delegation/Dockerfile
Due: run-community-site-service-workflow, run-delegation-service-workflow

Add back default setup in .env
  docker-compose.yml
  services/community-site/.env
Due: run-community-site-service-workflow

Add deps for postgres migration
  services/claim-backend/package.json
  yarn.lock
Due: run-claim-backend-service-workflow

Fix lint and build
  services/claim-backend/.eslintrc.js
  services/claim-backend/Dockerfile
  services/claim-backend/docker-compose.yml
Due: run-claim-backend-service-workflow

Adjust code for postgres
  services/claim-backend/config/database.ts
  services/claim-backend/src/general.module.ts
  services/claim-backend/src/modules/auth/auth.service.ts
Due: run-claim-backend-service-workflow

Improvement/general start script - merge after #60 (#102)
  .env.compose
  .gitignore
  docker-compose.yml
  package.json
  packages/taraxa-ui/package.json
  services/claim-backend/Dockerfile
  services/community-site/Dockerfile
  services/community-site/env.local
  services/community-site/tsconfig.json
  services/delegation/Dockerfile
  yarn.lock
Due: ui-package-modified, run-community-site-service-workflow, run-delegation-service-workflow, run-claim-backend-service-workflow

Add back sourceType
  services/claim-backend/.eslintrc.js
Due: run-claim-backend-service-workflow

Fix bad undelegated number in Staking page (#128)
  services/community-site/src/pages/Staking/Staking.tsx
Due: run-community-site-service-workflow

change margin in delegation table (#124)
  services/community-site/src/pages/Delegation/delegation.scss
Due: run-community-site-service-workflow

#126 profile breaking fix (#129)
  services/community-site/src/pages/Profile/ViewProfile.tsx
Due: run-community-site-service-workflow

Make state update seperately, use BN as type
  services/community-site/src/pages/Redeem/Redeem.tsx
  services/community-site/src/services/useRedeem.ts
Due: run-community-site-service-workflow

Remove console log
  services/community-site/src/pages/Redeem/Redeem.tsx
Due: run-community-site-service-workflow

Update readmes
  README.md
  services/claim-backend/README.md
  services/community-site/README.md
  services/node-status/README.md
Due: run-community-site-service-workflow, run-node-status-service-workflow, run-claim-backend-service-workflow

add jdenticon to delegate modal
  services/community-site/src/pages/Delegation/Modal/Delegate.tsx
  services/community-site/src/pages/Delegation/delegation.scss
Due: run-community-site-service-workflow

fixes radius and disabled color
  services/community-site/src/pages/Delegation/Table/NodeRow.tsx
  services/community-site/src/pages/Delegation/delegation.scss
Due: run-community-site-service-workflow

adds staking rewards
  services/community-site/tsconfig.json
  services/delegation/package.json
  services/delegation/src/config/indexer.ts
  services/delegation/src/modules/reward/data/delegation-data.service.ts
  services/delegation/src/modules/reward/data/staking-data.service.ts
  services/delegation/src/modules/reward/helper/epoch.ts
  services/delegation/src/modules/reward/helper/period.ts
  services/delegation/src/modules/reward/helper/yield.ts
  services/delegation/src/modules/reward/reward-type.enum.ts
  services/delegation/src/modules/reward/reward.entity.ts
  services/delegation/src/modules/reward/reward.module.ts
  services/delegation/src/modules/reward/reward.service.ts
  yarn.lock
Due: run-community-site-service-workflow, run-delegation-service-workflow

adds multiple db connections
  services/delegation/charts/community-delegation/templates/configmap.yaml
  services/delegation/charts/community-delegation/values.yaml
  services/delegation/charts/prod.values.yaml
  services/delegation/charts/qa.values.yaml
  services/delegation/src/config/database.ts
  services/delegation/src/modules/app-core.module.ts
Due: run-delegation-service-workflow

adds user lookup for delegation/staking rewards
  services/delegation/src/modules/app-core.module.ts
  services/delegation/src/modules/reward/reward.module.ts
  services/delegation/src/modules/reward/reward.service.ts
  services/delegation/src/modules/user/user.entity.ts
  services/delegation/src/modules/user/user.module.ts
  services/delegation/src/modules/user/user.service.ts
Due: run-delegation-service-workflow

adds indexer staking url
  services/delegation/.env.dist
  services/delegation/charts/community-delegation/values.yaml
  services/delegation/charts/prod.values.yaml
  services/delegation/charts/qa.values.yaml
  services/delegation/src/config/indexer.ts
Due: run-delegation-service-workflow

refactor
  services/delegation/charts/community-delegation/templates/configmap.yaml
  services/delegation/src/modules/reward/reward.service.ts
Due: run-delegation-service-workflow

adds reward routes
  services/delegation/src/modules/reward/dto/reward-query.dto.ts
  services/delegation/src/modules/reward/reward.controller.ts
  services/delegation/src/modules/reward/reward.module.ts
  services/delegation/src/modules/reward/reward.repository.ts
Due: run-delegation-service-workflow

add jdenticon to delegate modal (#135)
  services/community-site/src/pages/Delegation/Modal/Delegate.tsx
  services/community-site/src/pages/Delegation/delegation.scss
Due: run-community-site-service-workflow

adds cli output for rewards cron
  services/delegation/src/modules/reward/reward.service.ts
Due: run-delegation-service-workflow

Update prod.values.yaml
  services/delegation/charts/prod.values.yaml
Due: run-delegation-service-workflow

adjust limits
  services/delegation/charts/prod.values.yaml
Due: run-delegation-service-workflow

adjust for qa as well
  services/delegation/charts/qa.values.yaml
Due: run-delegation-service-workflow

adjust limits (#137)
  services/delegation/charts/prod.values.yaml
  services/delegation/charts/qa.values.yaml
Due: run-delegation-service-workflow

updates claim-backend deps
  services/claim-backend/package.json
  yarn.lock
Due: run-claim-backend-service-workflow
