Repository Taraxa-project/taraxa-platform: changes, and which CircleCI parameters are due for each by the changed paths.
All: ui-package-modified, run-community-site-service-workflow, run-node-status-service-workflow, run-delegation-service-workflow, run-claim-backend-service-workflow, build-faucet-workflow, build-faucet-helm-chart-workflow, build-explorer-workflow, build-explorer-helm-chart-workflow, build-explorer-indexer-workflow, build-explorer-indexer-helm-chart-workflow

adds logs for genesis hash
  services/explorer-indexer/src/modules/live-sync/live.syncer.service.ts
Due: build-explorer-indexer-workflow

feat(explorer): Added Wei or Tara formatting to tables
  services/explorer/src/components/Tables/TransactionsTable.tsx
  services/explorer/src/models/graphql/Transaction.ts
  services/explorer/src/pages/AddressInfo/AddressInfo.effects.tsx
  services/explorer/src/pages/BlockData/DAGDataContainer.effects.tsx
  services/explorer/src/pages/PBFTData/PBFTDataContainer.effects.tsx
  services/explorer/src/pages/TransactionData/TransactionData.effects.tsx
  services/explorer/src/pages/TransactionData/TransactionData.tsx
  services/explorer/src/pages/Transactions/Transactions.effects.ts
  services/explorer/src/utils/fromWeiToTara.ts
Due: build-explorer-workflow

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@d9a5dc24d9320ab5bd5cfd29c0ef2ac4681de70c 🚀
  project.json
Due: none

chore(explorer): Improved fromWeiToTara method
  services/explorer/src/pages/TransactionData/TransactionData.tsx
  services/explorer/src/utils/fromWeiToTara.ts
Due: build-explorer-workflow

feat(explorer): Added MUI Loading Skeleton to elements
  services/explorer/src/pages/AddressInfo/AddressInfo.effects.tsx
  services/explorer/src/pages/AddressInfo/AddressInfo.tsx
  services/explorer/src/pages/AddressInfo/AddressLoadingSkeleton.tsx
  services/explorer/src/pages/BlockData/DAGDataContainer.effects.tsx
  services/explorer/src/pages/BlockData/DAGDataContainer.tsx
  services/explorer/src/pages/BlockData/DagLoadingSkeleton.tsx
  services/explorer/src/pages/PBFTData/PBFTDataContainer.effects.tsx
  services/explorer/src/pages/PBFTData/PBFTDataContainer.tsx
  services/explorer/src/pages/PBFTData/PbftLoadingSkeleton.tsx
  services/explorer/src/pages/TransactionData/LoadingSkeletonTx.tsx
  services/explorer/src/pages/TransactionData/TransactionData.effects.tsx
  services/explorer/src/pages/TransactionData/TransactionData.tsx
Due: build-explorer-workflow

feat(explorer-api): Updated blocks query to use Group By instead of Distinct
  services/explorer-api/src/modules/address/address.service.ts
Due: none

fixes table rendering too quicly and losing data
  packages/taraxa-ui/src/components/Table/Table.tsx
Due: ui-package-modified

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@270526fc040f21023be4714904729ac50e9f147e 🚀
  109.40d9675b.iframe.bundle.js
  109.40d9675b.iframe.bundle.js.map
  675.bb7903ff.iframe.bundle.js
  675.bb7903ff.iframe.bundle.js.LICENSE.txt
  675.bb7903ff.iframe.bundle.js.map
  iframe.html
  main.90b2f9d5.iframe.bundle.js
  main.a6d55d4b.iframe.bundle.js
  project.json
Due: none

chore(explorer): Small ui updates
  packages/taraxa-ui/src/components/TransactionDetails/TransactionDetails.styles.ts
  packages/taraxa-ui/src/components/TransactionDetails/TransactionDetails.tsx
  services/explorer/src/api/types.ts
  services/explorer/src/pages/Home/Home.effects.tsx
Due: ui-package-modified, build-explorer-workflow

clears debounce timeout on table page change
  packages/taraxa-ui/src/components/Table/Table.tsx
Due: ui-package-modified

Fix/explorer UI fixes (#350)
  packages/taraxa-ui/src/components/Icons/Block.tsx
  packages/taraxa-ui/src/components/Table/Table.tsx
  packages/taraxa-ui/src/components/TransactionDetails/TransactionDetails.styles.ts
  packages/taraxa-ui/src/components/TransactionDetails/TransactionDetails.tsx
  services/explorer-api/src/modules/address/address.service.ts
  services/explorer/public/index.html
  services/explorer/src/components/AddressInfo/AddressInfo.tsx
  services/explorer/src/components/Tables/TransactionsTable.tsx
  services/explorer/src/models/graphql/Transaction.ts
  services/explorer/src/pages/AddressInfo/AddressInfo.effects.tsx
  services/explorer/src/pages/AddressInfo/AddressInfo.tsx
  services/explorer/src/pages/AddressInfo/AddressLoadingSkeleton.tsx
  services/explorer/src/pages/BlockData/DAGDataContainer.effects.tsx
  services/explorer/src/pages/BlockData/DAGDataContainer.tsx
  services/explorer/src/pages/BlockData/DagLoadingSkeleton.tsx
  services/explorer/src/pages/Home/Home.effects.tsx
  services/explorer/src/pages/PBFTData/PBFTDataContainer.effects.tsx
  services/explorer/src/pages/PBFTData/PBFTDataContainer.tsx
  services/explorer/src/pages/PBFTData/PbftLoadingSkeleton.tsx
  services/explorer/src/pages/TransactionData/LoadingSkeletonTx.tsx
  services/explorer/src/pages/TransactionData/TransactionData.effects.tsx
  services/explorer/src/pages/TransactionData/TransactionData.tsx
  services/explorer/src/pages/Transactions/Transactions.effects.ts
  services/explorer/src/utils/TransactionRow.tsx
  services/explorer/src/utils/fromWeiToTara.ts
  services/explorer/src/utils/index.ts
Due: ui-package-modified, build-explorer-workflow

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@900e6e30083f0b7c6469934a6216a83dc855ac9e 🚀
  iframe.html
  main.4790d36d.iframe.bundle.js
  main.a6d55d4b.iframe.bundle.js
  project.json
Due: none

fix(explorer): More ui fixes
  services/explorer-api/src/modules/address/address.controller.ts
  services/explorer-api/src/modules/address/address.service.ts
  services/explorer/src/api/explorer-api/fetchFeesByAddress.ts
  services/explorer/src/api/explorer-api/index.ts
  services/explorer/src/components/AddressInfo/AddressInfo.tsx
  services/explorer/src/pages/AddressInfo/AddressInfo.effects.tsx
  services/explorer/src/pages/BlockData/DAGDataContainer.effects.tsx
  services/explorer/src/pages/PBFTData/PBFTDataContainer.effects.tsx
  services/explorer/src/pages/TransactionData/LoadingSkeletonTx.tsx
  services/explorer/src/pages/TransactionData/TransactionData.effects.tsx
  services/explorer/src/pages/TransactionData/TransactionData.tsx
  services/explorer/src/utils/TransactionRow.tsx
  services/explorer/src/utils/fromWeiToTara.ts
Due: build-explorer-workflow

fix(explorer-api): Working on improving details query
  services/explorer-api/src/modules/address/address.service.ts
Due: none

implements ethers hook
  services/explorer/.env.example
  services/explorer/src/hooks/useEthers.tsx
  services/explorer/tsconfig.json
Due: build-explorer-workflow

implements hook usage, shows logo
  services/explorer/public/contract.png
  services/explorer/src/components/AddressInfo/AddressInfo.tsx
  services/explorer/src/pages/AddressInfo/AddressInfo.effects.tsx
  services/explorer/src/pages/AddressInfo/AddressInfo.tsx
Due: build-explorer-workflow

fix(explorer): Small fix for displaying fees
  services/explorer/src/pages/AddressInfo/AddressInfo.effects.tsx
Due: build-explorer-workflow

fix(explorer): Fixed transaction table fees format
  services/explorer/src/components/Tables/TransactionsTable.tsx
  services/explorer/src/pages/AddressInfo/AddressInfo.effects.tsx
  services/explorer/src/utils/fromWeiToTara.ts
Due: build-explorer-workflow

fix(explorer): Small fixes for transactions and nodes tables
  services/explorer/src/pages/BlockData/DAGDataContainer.effects.tsx
  services/explorer/src/pages/Nodes/Nodes.effects.tsx
  services/explorer/src/pages/Transactions/Transactions.effects.ts
Due: build-explorer-workflow

chore(taraxa-ui): Added min width to level and block tx details
  packages/taraxa-ui/src/components/TransactionDetails/TransactionDetails.tsx
Due: ui-package-modified

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@398db0b22708139a958e3c0c93626f496affb615 🚀
  iframe.html
  main.4790d36d.iframe.bundle.js
  main.4d1ba0ba.iframe.bundle.js
  project.json
Due: none

fixes checksum conversion to not throw
  packages/explorer-shared/src/utils/toChecksumAddress.ts
  services/explorer/tsconfig.json
Due: build-explorer-workflow

implments rpc call for configs
  services/explorer-indexer/src/modules/connectors/rpc.connector.service.ts
Due: build-explorer-indexer-workflow

treats genesis config balances
  services/explorer-indexer/src/modules/live-sync/live.syncer.service.ts
  services/explorer-indexer/src/modules/pbft/pbft.consumer.ts
  services/explorer-indexer/src/modules/transaction/transaction.service.ts
Due: build-explorer-indexer-workflow

fixes provider and signer to be patternally undef
  services/explorer/src/hooks/useEthers.tsx
Due: build-explorer-workflow

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@954d28c2e4ab0363896d78e350432d9b2437383b 🚀
  project.json
Due: none

removes duplicate job entries, adds main to usable (#345)
  .circleci/workflows.yml
Due: none

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@a5814fceaeb2caa4c209aa84aa7a4cee55c68200 🚀
  project.json
Due: none

fixes contract image style
  services/explorer/src/components/AddressInfo/AddressInfo.tsx
Due: build-explorer-workflow

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@58f22e8962a0c54c02ab142826a27b2b968050d9 🚀
  project.json
Due: none

added ci for community-backend
  .circleci/config.yml
  .circleci/workflows.yml
Due: none

dummy commit to trigger ci
  services/community-backend/dispatch.yaml
Due: none

test / debug circle ci run
  .circleci/workflows.yml
Due: none

trigger
  services/community-backend/dispatch.yaml
Due: none

fix(explorer): Fixed error on query big number for address details
  services/explorer-api/src/modules/address/address.service.ts
Due: none

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@51e05791f7d2ce524d9061a9f2ee07c800c963cb 🚀
  project.json
Due: none

chore(explorer): Updated env names
  services/explorer/.env.example
  services/explorer/src/pages/Transactions/Transactions.effects.ts
Due: build-explorer-workflow

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@72ea98e30a83ddf9389b326d45dc207709b65d25 🚀
  project.json
Due: none

explorer: adds new env vars to deployment
  services/explorer/.env.example
  services/explorer/Dockerfile
  services/explorer/docker-files/entrypoint.sh
Due: build-explorer-workflow

Path conditions:
  ui-package-modified: any of: packages/taraxa-ui/.*
  run-community-site-service-workflow: any of: services/community-site/.*
  run-node-status-service-workflow: any of: services/node-status/.*
  run-delegation-service-workflow: any of: services/delegation/.*
  run-claim-backend-service-workflow: any of: services/claim-backend/.*
  build-faucet-workflow: any of: services/faucet/.*
  build-faucet-helm-chart-workflow: any of: services/faucet/charts/.*
  build-explorer-workflow: any of: services/explorer/.*
  build-explorer-helm-chart-workflow: any of: services/explorer/charts/.*
  build-explorer-indexer-workflow: any of: services/explorer-indexer/.*
  build-explorer-indexer-helm-chart-workflow: any of: services/explorer-indexer/charts/.*
