Repository Taraxa-project/taraxa-platform: changes, and which CircleCI parameters are due for each by the changed paths.
All: ui-package-modified, run-community-backend-service-workflow, build-community-backend-helm-chart-workflow, run-claim-admin-service-workflow, build-claim-admin-helm-chart-workflow, run-community-site-service-workflow, build-community-site-helm-chart-workflow, run-node-status-service-workflow, run-delegation-service-workflow, build-delegation-helm-chart-workflow, run-claim-backend-service-workflow, build-claim-backend-helm-chart-workflow, build-faucet-workflow, build-faucet-helm-chart-workflow, build-explorer-workflow, build-explorer-helm-chart-workflow

.circleci/config.yml:

version: 2.1
setup: true
orbs:
  path-filtering: circleci/path-filtering@0.1.1
workflows:
  always-run:
    jobs:
      - path-filtering/filter:
          name: check-updated-files
          mapping: |
            packages/taraxa-ui/.* ui-package-modified true
            legacy/community-backend/.* run-community-backend-service-workflow true
            legacy/community-backend/charts/.* build-community-backend-helm-chart-workflow true
            legacy/claim-admin/.* run-claim-admin-service-workflow true
            legacy/claim-admin/charts/.* build-claim-admin-helm-chart-workflow true
            services/community-site/.* run-community-site-service-workflow true
            services/community-site/charts/.* build-community-site-helm-chart-workflow true
            services/node-status/.* run-node-status-service-workflow true
            services/delegation/.* run-delegation-service-workflow true
            services/delegation/charts/.* build-delegation-helm-chart-workflow true
            services/claim-backend/.* run-claim-backend-service-workflow true
            services/claim-backend/charts/.* build-claim-backend-helm-chart-workflow true
            services/faucet/.* build-faucet-workflow true
            services/faucet/charts/.* build-faucet-helm-chart-workflow true
            services/explorer/.* build-explorer-workflow true
            services/explorer/charts/.* build-explorer-helm-chart-workflow true
          base-revision: << pipeline.git.branch >>
          config-path: .circleci/workflows.yml

Fixed holder network name and contract overflow on tx
  services/explorer/src/components/DataRow/DataRow.styles.ts
  services/explorer/src/components/DataRow/DataRow.tsx
  services/explorer/src/pages/Holders/Holders.effects.tsx
  services/explorer/src/pages/TransactionData/TransactionData.tsx
Due: build-explorer-workflow

Fixed network title on Nodes
  services/explorer/src/pages/Holders/Holders.effects.tsx
  services/explorer/src/pages/Nodes/Nodes.effects.tsx
  services/explorer/src/pages/Nodes/Nodes.tsx
Due: build-explorer-workflow

Fixed holder network name and contract overflow on tx (#602)
  services/explorer/src/components/DataRow/DataRow.styles.ts
  services/explorer/src/components/DataRow/DataRow.tsx
  services/explorer/src/pages/Nodes/Nodes.effects.tsx
  services/explorer/src/pages/Nodes/Nodes.tsx
  services/explorer/src/pages/TransactionData/TransactionData.tsx
Due: build-explorer-workflow

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@7ec22a8176acdb0794b9a454f9b6df08daf9e466 🚀
  project.json
Due: none

Enabled network selection regardless of host (#597)
  services/explorer/src/components/Header/DrawerElements.tsx
  services/explorer/src/components/Header/Header.effects.ts
  services/explorer/src/hooks/useExplorerNetwork.tsx
Due: build-explorer-workflow

Fix/mui fixes (#598)
  packages/taraxa-ui/src/components/AwardCard/AwardCard.tsx
  packages/taraxa-ui/src/components/BlockCard/BlockCard.tsx
  packages/taraxa-ui/src/components/Icons/Exclamation.tsx
  packages/taraxa-ui/src/components/ProgressBar/ProgressBar.tsx
  packages/taraxa-ui/src/components/TransactionDetails/TransactionDetails.tsx
  services/explorer/src/components/Header/DrawerElements.tsx
  services/explorer/src/components/PageTitle/PageTitle.tsx
  services/explorer/src/components/Tables/BlocksTable.tsx
  services/explorer/src/components/Tables/Table.tsx
  services/explorer/src/components/Tables/TransactionsTable.tsx
  services/explorer/src/pages/Holders/Holders.tsx
  services/explorer/src/pages/Nodes/Nodes.tsx
  services/explorer/tsconfig.json
Due: ui-package-modified, build-explorer-workflow

Removed second comp prop (#599)
  services/explorer/src/components/Tables/BlocksTable.tsx
  services/explorer/src/components/Tables/Table.tsx
  services/explorer/src/components/Tables/TransactionsTable.tsx
Due: build-explorer-workflow

Changed timestamp from age to date (#596)
  packages/taraxa-ui/src/components/BaseTooltip/BaseTooltip.css
  packages/taraxa-ui/src/components/BaseTooltip/BaseTooltip.tsx
  packages/taraxa-ui/src/components/BaseTooltip/index.ts
  packages/taraxa-ui/src/components/TransactionDetails/TransactionDetails.tsx
  packages/taraxa-ui/src/index.ts
  services/explorer/src/components/Tables/BlocksTable.tsx
  services/explorer/src/components/Tables/TransactionsTable.tsx
  services/explorer/src/models/TableData.ts
  services/explorer/src/pages/BlockData/DAGDataContainer.tsx
  services/explorer/src/pages/Home/Home.effects.tsx
  services/explorer/src/pages/PBFTData/PBFTDataContainer.tsx
  services/explorer/src/pages/TransactionData/TransactionData.tsx
  services/explorer/src/utils/TransactionRow.tsx
  services/explorer/src/utils/dateFormat.ts
  services/explorer/src/utils/index.ts
Due: ui-package-modified, build-explorer-workflow

Revert "Changed timestamp from age to date (#596)"
  packages/taraxa-ui/src/components/BaseTooltip/BaseTooltip.css
  packages/taraxa-ui/src/components/BaseTooltip/BaseTooltip.tsx
  packages/taraxa-ui/src/components/BaseTooltip/index.ts
  packages/taraxa-ui/src/components/TransactionDetails/TransactionDetails.tsx
  packages/taraxa-ui/src/index.ts
  services/explorer/src/components/Tables/BlocksTable.tsx
  services/explorer/src/components/Tables/TransactionsTable.tsx
  services/explorer/src/models/TableData.ts
  services/explorer/src/pages/BlockData/DAGDataContainer.tsx
  services/explorer/src/pages/Home/Home.effects.tsx
  services/explorer/src/pages/PBFTData/PBFTDataContainer.tsx
  services/explorer/src/pages/TransactionData/TransactionData.tsx
  services/explorer/src/utils/TransactionRow.tsx
  services/explorer/src/utils/dateFormat.ts
  services/explorer/src/utils/index.ts
Due: ui-package-modified, build-explorer-workflow

Revert "Revert "Changed timestamp from age to date (#596)""
  packages/taraxa-ui/src/components/BaseTooltip/BaseTooltip.css
  packages/taraxa-ui/src/components/BaseTooltip/BaseTooltip.tsx
  packages/taraxa-ui/src/components/BaseTooltip/index.ts
  packages/taraxa-ui/src/components/TransactionDetails/TransactionDetails.tsx
  packages/taraxa-ui/src/index.ts
  services/explorer/src/components/Tables/BlocksTable.tsx
  services/explorer/src/components/Tables/TransactionsTable.tsx
  services/explorer/src/models/TableData.ts
  services/explorer/src/pages/BlockData/DAGDataContainer.tsx
  services/explorer/src/pages/Home/Home.effects.tsx
  services/explorer/src/pages/PBFTData/PBFTDataContainer.tsx
  services/explorer/src/pages/TransactionData/TransactionData.tsx
  services/explorer/src/utils/TransactionRow.tsx
  services/explorer/src/utils/dateFormat.ts
  services/explorer/src/utils/index.ts
Due: ui-package-modified, build-explorer-workflow

fixes explorer links in community site
  services/community-site/src/components/Sidebar/Sidebar.tsx
  services/community-site/src/pages/Home/Home.tsx
Due: run-community-site-service-workflow

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@aeef9f552180932c79162bebae6c8ae9cc92a603 🚀
  project.json
Due: none

delegation: fixes testnet delegation
  services/delegation/src/modules/blockchain/blockchain.service.ts
  services/delegation/src/modules/delegation/delegation.service.ts
  services/delegation/src/modules/node/node.service.ts
  services/delegation/src/modules/reward/reward.module.ts
Due: run-delegation-service-workflow

delegation: fixes get rewards totals route
  services/delegation/package.json
  services/delegation/src/modules/reward/reward.controller.ts
  services/delegation/src/modules/reward/reward.repository.ts
  services/delegation/src/modules/reward/reward.service.ts
  yarn.lock
Due: run-delegation-service-workflow

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@87f0944f923fa2fedb998b18d30cf6bb71717750 🚀
  project.json
Due: none

Fix value to decimal on wrong conversion
  services/explorer/src/api/explorer-api/fetchRevertReason.ts
Due: build-explorer-workflow

Fix value to decimal on wrong conversion (#603)
  services/explorer/src/api/explorer-api/fetchRevertReason.ts
Due: build-explorer-workflow

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@bb60ccbb4a83f2be97c9bd8991eec9cd675e8922 🚀
  project.json
Due: none

Feat/remove yield request (#576)
  services/community-site/src/pages/Staking/Delegation.tsx
  services/community-site/src/services/useAllValidators.tsx
  services/community-site/src/services/useExplorerStats.tsx
Due: run-community-site-service-workflow

explorer: adds labels to addresses
  services/explorer/src/components/AddressInfo/AddressDetails.tsx
  services/explorer/src/components/AddressLabel/index.tsx
  services/explorer/src/components/index.ts
  services/explorer/src/hooks/useAddressLabel.tsx
  services/explorer/src/models/AddressInfo.ts
  services/explorer/src/models/TableData.ts
  services/explorer/src/pages/AddressInfo/AddressInfo.effects.tsx
  services/explorer/src/pages/Holders/HolderRow.tsx
  services/explorer/src/pages/Holders/Holders.effects.tsx
Due: build-explorer-workflow

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@145d5028fb0127f395182c28a6a70e145f61f0ee 🚀
  project.json
Due: none

all: updates DPOS ABI
  packages/dpos-subgraph/abis/Dpos.json
  services/community-site/src/services/useDpos.ts
  services/delegation/src/modules/blockchain/blockchain.service.ts
Due: run-community-site-service-workflow, run-delegation-service-workflow

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@8f7c73fac03276f37dc1775ca84c6db047e6263e 🚀
  project.json
Due: none

fixes yield pull on own validators
  services/community-site/src/pages/Staking/Delegation.tsx
Due: run-community-site-service-workflow

fixes yield pull on own validators (#604)
  services/community-site/src/pages/Staking/Delegation.tsx
Due: run-community-site-service-workflow

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@ac26d111482d5412a487c5b4d98730d9c1e0580f 🚀
  project.json
Due: none

don't wait for delegation transactions
  services/delegation/src/modules/blockchain/blockchain.service.ts
Due: run-delegation-service-workflow

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@e70982d050cdc49eb1c3cb82360fbd976ea3564c 🚀
  project.json
Due: none

handle transaction count manually
  services/delegation/src/modules/blockchain/blockchain.service.ts
Due: run-delegation-service-workflow
