Repository Taraxa-project/taraxa-platform: changes, and which CircleCI parameters are due for each by the changed paths.
All: ui-package-modified, run-community-site-service-workflow, run-community-backend-service-workflow, build-community-backend-helm-chart-workflow, run-claim-admin-service-workflow, build-claim-admin-helm-chart-workflow, build-community-site-helm-chart-workflow, run-node-status-service-workflow, run-delegation-service-workflow, build-delegation-helm-chart-workflow, run-claim-backend-service-workflow, build-claim-backend-helm-chart-workflow, build-faucet-workflow, build-faucet-helm-chart-workflow, build-explorer-workflow, build-explorer-helm-chart-workflow, build-explorer-indexer-workflow, build-explorer-indexer-helm-chart-workflow, build-explorer-api-workflow, build-explorer-api-helm-chart-workflow

specifies o-t-m as derived
  packages/dpos-subgraph/schema.graphql
  packages/dpos-subgraph/src/mapping.ts
  packages/dpos-subgraph/subgraph.yaml
Due: none

uses stake update method for undelegation calc
  packages/dpos-subgraph/src/mapping.ts
Due: none

adds logic for validator removal on undelegate
  packages/dpos-subgraph/src/mapping.ts
Due: none

removes validator entity
  packages/dpos-subgraph/schema.graphql
  packages/dpos-subgraph/src/mapping.ts
  packages/dpos-subgraph/subgraph.yaml
Due: none

reimplements validator stats on profile page
  services/community-site/src/interfaces/Delegation.ts
  services/community-site/src/pages/Staking/NodeProfilePage.tsx
  services/community-site/src/services/useDposSubgraph.ts
  services/community-site/src/utils/networks.ts
Due: run-community-site-service-workflow

adds host env value to deloyment setup
  services/community-site/.env.example
  services/community-site/Dockerfile
  services/community-site/charts/community-site/templates/community-frontend-deployment.yaml
  services/community-site/charts/community-site/values.yaml
  services/community-site/docker-files/entrypoint.sh
Due: run-community-site-service-workflow, build-community-site-helm-chart-workflow

code cleanup
  services/community-site/src/pages/Staking/BarFlex.tsx
  services/community-site/src/pages/Staking/NodeProfilePage.tsx
  services/community-site/src/services/useDposSubgraph.ts
Due: run-community-site-service-workflow

fixes getUndelegations dpos call
  services/community-site/src/interfaces/Undelegation.ts
  services/community-site/src/services/useDelegation.tsx
  services/community-site/src/services/useDpos.ts
Due: run-community-site-service-workflow

switches amount check to be greater than zero for gaphQL query
  services/community-site/src/services/useDposSubgraph.ts
Due: run-community-site-service-workflow

implements commission change fetches
  services/community-site/src/interfaces/Validator.ts
  services/community-site/src/services/useDposSubgraph.ts
Due: run-community-site-service-workflow

removes gt zero check from commisison query
  services/community-site/src/services/useDposSubgraph.ts
Due: run-community-site-service-workflow

adds dates to delegations and commission changes, cleans up PR review
  packages/dpos-subgraph/schema.graphql
  packages/dpos-subgraph/src/mapping.ts
  packages/dpos-subgraph/subgraph.yaml
Due: none

fixes date set with block ts instead of number
  packages/dpos-subgraph/src/mapping.ts
Due: none

adds timestamps to return objects, wrap queries in usecallback
  services/community-site/src/interfaces/Delegation.ts
  services/community-site/src/interfaces/Validator.ts
  services/community-site/src/services/useDposSubgraph.ts
Due: run-community-site-service-workflow

implements commission change comtainer, handles NaN scenario
  services/community-site/src/pages/Staking/NodeProfilePage.tsx
  services/community-site/src/pages/Staking/node-profile-page.scss
Due: run-community-site-service-workflow

renames dates to timestamps
  packages/dpos-subgraph/schema.graphql
  packages/dpos-subgraph/src/mapping.ts
Due: none

renames dates to timestamps
  services/community-site/src/interfaces/Delegation.ts
  services/community-site/src/interfaces/Validator.ts
  services/community-site/src/pages/Staking/NodeProfilePage.tsx
  services/community-site/src/services/useDposSubgraph.ts
Due: run-community-site-service-workflow

implements pagination for delegations
  services/community-site/src/pages/Staking/NodeProfilePage.tsx
  services/community-site/src/services/useDposSubgraph.ts
Due: run-community-site-service-workflow

removes dangling variable
  services/community-site/src/pages/Staking/NodeProfilePage.tsx
Due: run-community-site-service-workflow

Feature/add subgraph for dpos (#390)
  .eslintignore
  packages/dpos-subgraph/.eslintignore
  packages/dpos-subgraph/.eslintrc.js
  packages/dpos-subgraph/.gitignore
  packages/dpos-subgraph/.prettierrc
  packages/dpos-subgraph/README.md
  packages/dpos-subgraph/abis/Dpos.json
  packages/dpos-subgraph/docker-compose.yml
  packages/dpos-subgraph/networks.json
  packages/dpos-subgraph/package.json
  packages/dpos-subgraph/schema.graphql
  packages/dpos-subgraph/src/mapping.ts
  packages/dpos-subgraph/subgraph.yaml
  packages/dpos-subgraph/tsconfig.json
  tsconfig.json
  yarn.lock
Due: none

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@07fb9e8cdddd15ea7306b568d3ebf0ef07b8fc5b 🚀
  147.1ff6500755cffe8f9b07.manager.bundle.js
  147.1ff6500755cffe8f9b07.manager.bundle.js.LICENSE.txt
  147.75f94266e1a1472b8f4d.manager.bundle.js
  372.ac571a64.iframe.bundle.js
  372.ac571a64.iframe.bundle.js.map
  612.10133681.iframe.bundle.js
  612.10133681.iframe.bundle.js.LICENSE.txt
  612.5584562a.iframe.bundle.js
  721.4038f8ac.iframe.bundle.js
  721.4038f8ac.iframe.bundle.js.LICENSE.txt
  721.6fbb389f.iframe.bundle.js
  721.ba53a08ca686c9da82d2.manager.bundle.js
  721.f83373fee679f6ab0c5d.manager.bundle.js
  721.f83373fee679f6ab0c5d.manager.bundle.js.LICENSE.txt
  738.003b9712.iframe.bundle.js
  738.003b9712.iframe.bundle.js.LICENSE.txt
  738.003b9712.iframe.bundle.js.map
  858.33c087e7d298e1d47b86.manager.bundle.js
  858.98f0604c.iframe.bundle.js
  858.dda446016a649b6865d8.manager.bundle.js
  858.ffaa4f1d.iframe.bundle.js
  954.190ad493f20724d7f439.manager.bundle.js
  954.7701a2d92dc170ada048.manager.bundle.js
  954.8df76733.iframe.bundle.js
  954.cd9070c6.iframe.bundle.js
  iframe.html
  index.html
  main.e9204fc8.iframe.bundle.js
  main.f7189c56.iframe.bundle.js
  project.json
  runtime~main.659e6c4f8c853466c6ed.manager.bundle.js
  runtime~main.7508e8a3a685ee047ba2.manager.bundle.js
  runtime~main.aa0a2e0e.iframe.bundle.js
  runtime~main.d5e7d284.iframe.bundle.js
Due: none

refactors style, adds pagination for commision changes
  services/community-site/src/pages/RunNode/runvalidator.scss
  services/community-site/src/pages/Staking/NodeProfilePage.tsx
  services/community-site/src/services/useDposSubgraph.ts
Due: run-community-site-service-workflow

remove comm site dotenv from git cache
  services/community-site/.env
Due: run-community-site-service-workflow

community-site: fixes get undelegations
  services/community-site/src/interfaces/Undelegation.ts
  services/community-site/src/services/useDelegation.tsx
  services/community-site/src/services/useDpos.ts
Due: run-community-site-service-workflow

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@acc8cea45c1e2bc11e9c0a120b6bce54eab871ad 🚀
  project.json
Due: none

adds left-alignment to amounts in the delegations table
  services/community-site/src/pages/Staking/NodeProfilePage.tsx
  services/community-site/src/pages/Staking/node-profile-page.scss
Due: run-community-site-service-workflow

fixes validator page reloading issue on pagination request
  services/community-site/src/pages/Staking/NodeProfilePage.tsx
  services/community-site/src/services/useApi.ts
  services/community-site/src/services/useDposSubgraph.ts
Due: run-community-site-service-workflow

fixes loading and removes dummy data
  services/community-site/src/pages/Staking/NodeProfilePage.tsx
  services/community-site/src/pages/Staking/node-profile-page.scss
  services/community-site/src/services/useApi.ts
  services/community-site/src/services/useDposSubgraph.ts
Due: run-community-site-service-workflow

Removed state from NetworkMenu component
  packages/taraxa-ui/src/components/NetworkMenu/NetworkMenu.tsx
Due: ui-package-modified

Removed Search component from header
  packages/taraxa-ui/src/components/Header/Header.tsx
  packages/taraxa-ui/src/components/SearchInput/SearchInput.tsx
  services/explorer/src/components/Header/Header.tsx
Due: ui-package-modified, build-explorer-workflow

Moved custom table component inside explorer
  packages/taraxa-ui/src/components/Table/Table.tsx
  services/explorer/src/components/Tables/Table.styles.ts
  services/explorer/src/components/Tables/Table.tsx
  services/explorer/src/pages/Blocks/Blocks.tsx
  services/explorer/src/pages/Dag/Dag.tsx
  services/explorer/src/pages/Transactions/Transactions.tsx
Due: ui-package-modified, build-explorer-workflow

Removed wallet page from community
  services/community-site/src/App.tsx
  services/community-site/src/pages/Wallet/Wallet.tsx
  services/community-site/src/pages/Wallet/wallet.scss
Due: run-community-site-service-workflow

refactors tables to be tables
  services/community-site/src/components/Table/table.scss
  services/community-site/src/pages/Staking/NodeProfilePage.tsx
  services/community-site/src/pages/Staking/node-profile-page.scss
Due: run-community-site-service-workflow

improves table cell styling
  services/community-site/src/components/Table/table.scss
  services/community-site/src/pages/Staking/NodeProfilePage.tsx
  services/community-site/src/pages/Staking/node-profile-page.scss
Due: run-community-site-service-workflow

fixes PR findings
  services/community-site/src/components/Table/table.scss
  services/community-site/src/interfaces/Validator.ts
  services/community-site/src/pages/Staking/NodeProfilePage.tsx
Due: run-community-site-service-workflow

renames timestamp field in frontend and subgraph, removes timestamp from table
  packages/dpos-subgraph/schema.graphql
  packages/dpos-subgraph/src/mapping.ts
  services/community-site/src/pages/Staking/NodeProfilePage.tsx
  services/community-site/src/services/useDposSubgraph.ts
Due: run-community-site-service-workflow

Removed MUI library from explorer
  services/explorer/package.json
Due: build-explorer-workflow

Removed MUI from community
  packages/taraxa-ui/src/components/DataDisplay/DataDisplay.tsx
  packages/taraxa-ui/src/components/DataDisplay/index.ts
  packages/taraxa-ui/src/index.ts
  services/community-site/package.json
  services/community-site/src/App.tsx
  services/community-site/src/components/Table/Table.tsx
  services/community-site/src/pages/Redeem/Redeem.tsx
  services/community-site/src/pages/RunNode/RunValidator.tsx
  services/community-site/src/pages/RunNode/Table/MainnetValidatorRow.tsx
  services/community-site/src/pages/RunNode/Table/TestnetValidatorRow.tsx
  services/community-site/src/pages/Staking/Delegation.tsx
  services/community-site/src/pages/Staking/Screen/NodeProfilePageSkeleton.tsx
  services/community-site/src/pages/Staking/Table/ValidatorRow.tsx
  services/community-site/src/services/useRedelegation.tsx
Due: ui-package-modified, run-community-site-service-workflow

Moved table design to delegation file
  services/community-site/src/components/Table/table.scss
  services/community-site/src/pages/Redeem/redeem.scss
  services/community-site/src/pages/Staking/Delegation.tsx
  services/community-site/src/pages/Staking/delegation.scss
Due: run-community-site-service-workflow

Path conditions:
  ui-package-modified: any of: packages/taraxa-ui/.*
  run-community-site-service-workflow: any of: services/community-site/.*
  run-community-backend-service-workflow: any of: legacy/community-backend/.*
  build-community-backend-helm-chart-workflow: any of: legacy/community-backend/charts/.*
  run-claim-admin-service-workflow: any of: legacy/claim-admin/.*
  build-claim-admin-helm-chart-workflow: any of: legacy/claim-admin/charts/.*
  build-community-site-helm-chart-workflow: any of: services/community-site/charts/.*
  run-node-status-service-workflow: any of: services/node-status/.*
  run-delegation-service-workflow: any of: services/delegation/.*
  build-delegation-helm-chart-workflow: any of: services/delegation/charts/.*
  run-claim-backend-service-workflow: any of: services/claim-backend/.*
  build-claim-backend-helm-chart-workflow: any of: services/claim-backend/charts/.*
  build-faucet-workflow: any of: services/faucet/.*
  build-faucet-helm-chart-workflow: any of: services/faucet/charts/.*
  build-explorer-workflow: any of: services/explorer/.*
  build-explorer-helm-chart-workflow: any of: services/explorer/charts/.*
  build-explorer-indexer-workflow: any of: services/explorer-indexer/.*
  build-explorer-indexer-helm-chart-workflow: any of: services/explorer-indexer/charts/.*
  build-explorer-api-workflow: any of: services/explorer-api/.*
  build-explorer-api-helm-chart-workflow: any of: services/explorer-api/charts/.*
