Repository Taraxa-project/taraxa-platform: changes, and which CircleCI parameters are due for each by the changed paths.
All: ui-package-modified, run-community-site-service-workflow, run-community-backend-service-workflow, build-community-backend-helm-chart-workflow, run-claim-admin-service-workflow, build-claim-admin-helm-chart-workflow, build-community-site-helm-chart-workflow, run-node-status-service-workflow, run-delegation-service-workflow, build-delegation-helm-chart-workflow, run-claim-backend-service-workflow, build-claim-backend-helm-chart-workflow, build-faucet-workflow, build-faucet-helm-chart-workflow, build-explorer-workflow, build-explorer-helm-chart-workflow, build-explorer-indexer-workflow, build-explorer-indexer-helm-chart-workflow, build-explorer-api-workflow, build-explorer-api-helm-chart-workflow

Fixed environment network selection
  services/explorer/.env.example
  services/explorer/src/api/types.ts
  services/explorer/src/utils/Enums.ts
  services/explorer/src/utils/getEnvironment.ts
  services/explorer/src/utils/networks.ts
Due: build-explorer-workflow

Fixed environment network selection (#417)
  services/explorer/.env.example
  services/explorer/src/api/types.ts
  services/explorer/src/utils/Enums.ts
  services/explorer/src/utils/getEnvironment.ts
  services/explorer/src/utils/networks.ts
Due: build-explorer-workflow

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@de241b9e56ee6cf01a4cf5bf0cf159454c3873a5 🚀
  project.json
Due: none

Fixing infinite loop on qa redirect
  services/explorer/src/utils/getEnvironment.ts
  services/explorer/src/utils/networks.ts
Due: build-explorer-workflow

Checking domains and subdoamins before redirecting
  services/explorer/src/hooks/useExplorerNetwork.tsx
  services/explorer/src/utils/Enums.ts
  services/explorer/src/utils/getEnvironment.ts
  services/explorer/src/utils/networks.ts
Due: build-explorer-workflow

Fix/explorer network redirect (#418)
  services/explorer/src/hooks/useExplorerNetwork.tsx
  services/explorer/src/utils/Enums.ts
  services/explorer/src/utils/getEnvironment.ts
  services/explorer/src/utils/networks.ts
Due: build-explorer-workflow

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@de46af2f6acd187e4b2db19a89a7b448466d972a 🚀
  project.json
Due: none

Removed saving network to localStorage functionality
  services/explorer/src/hooks/useExplorerNetwork.tsx
Due: build-explorer-workflow

Feature/reroute delegation to indexer (#409)
  services/delegation/charts/community-delegation/templates/configmap.yaml
  services/delegation/charts/prod.values.yaml
  services/delegation/charts/qa.values.yaml
  services/delegation/src/config/ethereum.ts
  services/delegation/src/modules/node/node-task.service.ts
  services/delegation/src/modules/utils/interfaces.ts
  services/delegation/src/modules/utils/utils.ts
Due: run-delegation-service-workflow, build-delegation-helm-chart-workflow

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@b18f9223d30da2360410ae190775525828983707 🚀
  project.json
Due: none

Fixed validator status
  services/community-site/src/services/useExplorerStats.tsx
Due: run-community-site-service-workflow

Formatting big numbers in tables and detail page
  services/community-site/src/pages/Delegation/NodeProfilePage.tsx
  services/community-site/src/pages/Delegation/Table/ValidatorRow.tsx
Due: run-community-site-service-workflow

chore(delegation): fixes ingress values
  services/delegation/charts/prod.values.yaml
Due: run-delegation-service-workflow, build-delegation-helm-chart-workflow

chore(delegation): fixes stats update
  services/delegation/src/modules/node/node-task.service.ts
Due: run-delegation-service-workflow

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@e7ed1c7005efdf35a6bd50876d51f5eeee83d200 🚀
  project.json
Due: none

Updated status based on lastPbftTimestamp
  services/community-site/src/services/useExplorerStats.tsx
Due: run-community-site-service-workflow

Fixed validator status
  services/community-site/src/pages/Delegation/NodeProfilePage.tsx
  services/community-site/src/pages/Delegation/Table/ValidatorRow.tsx
  services/community-site/src/services/useExplorerStats.tsx
Due: run-community-site-service-workflow

implements commission set call
  services/community-site/src/services/useValidators.tsx
Due: run-community-site-service-workflow

implements update section and mainnet changes to commission setting flow
  services/community-site/src/pages/Profile/profile.scss
  services/community-site/src/pages/RunNode/Modal/UpdateCommission.tsx
  services/community-site/src/pages/RunNode/RunValidator.tsx
  services/community-site/src/pages/RunNode/Screen/UpdateValidator.tsx
Due: run-community-site-service-workflow

chore(community-backend): fix using wrong function to get env vars in controller
  legacy/community-backend/extensions/users-permissions/controllers/Auth.js
Due: run-community-backend-service-workflow

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@6bdcb1198745645d858879d914bbf11bae3dfd08 🚀
  project.json
Due: none

disabled undelegation button if there's one created
  services/community-site/src/pages/Delegation/Delegation.tsx
  services/community-site/src/pages/Delegation/Table/ValidatorRow.tsx
Due: run-community-site-service-workflow

Adds correct contract threshold for validation, redesign
  services/community-site/src/pages/RunNode/Modal/UpdateCommission.tsx
  services/community-site/src/pages/RunNode/Screen/UpdateValidator.tsx
Due: run-community-site-service-workflow

dow commission change notification as validation error
  services/community-site/src/pages/RunNode/Screen/UpdateValidator.tsx
Due: run-community-site-service-workflow

Initial setup for testnet-delegation contract
  packages/testnet-delegation/.env.example
  packages/testnet-delegation/.eslintignore
  packages/testnet-delegation/.eslintrc.js
  packages/testnet-delegation/.gitignore
  packages/testnet-delegation/.npmignore
  packages/testnet-delegation/.prettierignore
  packages/testnet-delegation/.prettierrc
  packages/testnet-delegation/.solhint.json
  packages/testnet-delegation/.solhintignore
  packages/testnet-delegation/contracts/Delegation.sol
  packages/testnet-delegation/contracts/interfaces/IDelegation.sol
  packages/testnet-delegation/hardhat.config.ts
  packages/testnet-delegation/package.json
  packages/testnet-delegation/scripts/deploy.ts
  packages/testnet-delegation/tsconfig.json
  packages/testnet-delegation/yarn.lock
  yarn.lock
Due: none

fix(community-site): too many submissions on profile page
  services/community-site/src/services/useSubmissions.ts
Due: run-community-site-service-workflow

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@059b5e526f65b459a7ea74e914a96a29183d864e 🚀
  project.json
Due: none

fix ingress of claim-admin
  legacy/claim-admin/charts/claim-admin/templates/ingress.yaml
Due: run-claim-admin-service-workflow, build-claim-admin-helm-chart-workflow

fix missing keyword
  legacy/claim-admin/charts/claim-admin/templates/ingress.yaml
Due: run-claim-admin-service-workflow, build-claim-admin-helm-chart-workflow

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@7dbfb7738bdb50146a746a1dd7b71960ee4ac980 🚀
  project.json
Due: none

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@540028ab38b4ac3e865fcd7734a4af622a493228 🚀
  project.json
Due: none

fix ingress
  legacy/claim-admin/charts/claim-admin/templates/ingress.yaml
  legacy/claim-admin/charts/claim-admin/values.yaml
Due: run-claim-admin-service-workflow, build-claim-admin-helm-chart-workflow

disable annotation
  legacy/claim-admin/charts/claim-admin/values.yaml
Due: run-claim-admin-service-workflow, build-claim-admin-helm-chart-workflow

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@b120e21f49d91b0a2f077fff9576949cdec2c573 🚀
  project.json
Due: none

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@b6fe057d8cd4a25a2a5036229b699076e6629fa9 🚀
  project.json
Due: none

fix ingress for claim-backend
  services/claim-backend/charts/claim-backend/templates/ingress.yaml
  services/claim-backend/charts/claim-backend/values.yaml
Due: run-claim-backend-service-workflow, build-claim-backend-helm-chart-workflow

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@5431099b723bf1d546be0707ad3dd02949f8bd13 🚀
  project.json
Due: none

cleanup: add checks to constructor
  packages/testnet-delegation/contracts/DelegationOrchestrator.sol
  packages/testnet-delegation/contracts/interfaces/IDPOS.sol
  packages/testnet-delegation/contracts/interfaces/IDelegation.sol
Due: none

Path conditions:
  ui-package-modified: any of: packages/taraxa-ui/.*
  run-community-site-service-workflow: any of: services/community-site/.*
  run-community-backend-service-workflow: any of: legacy/community-backend/.*
  build-community-backend-helm-chart-workflow: any of: legacy/community-backend/charts/.*
  run-claim-admin-service-workflow: any of: legacy/claim-admin/.*
  build-claim-admin-helm-chart-workflow: any of: legacy/claim-admin/charts/.*
  build-community-site-helm-chart-workflow: any of: services/community-site/charts/.*
  run-node-status-service-workflow: any of: services/node-status/.*
  run-delegation-service-workflow: any of: services/delegation/.*
  build-delegation-helm-chart-workflow: any of: services/delegation/charts/.*
  run-claim-backend-service-workflow: any of: services/claim-backend/.*
  build-claim-backend-helm-chart-workflow: any of: services/claim-backend/charts/.*
  build-faucet-workflow: any of: services/faucet/.*
  build-faucet-helm-chart-workflow: any of: services/faucet/charts/.*
  build-explorer-workflow: any of: services/explorer/.*
  build-explorer-helm-chart-workflow: any of: services/explorer/charts/.*
  build-explorer-indexer-workflow: any of: services/explorer-indexer/.*
  build-explorer-indexer-helm-chart-workflow: any of: services/explorer-indexer/charts/.*
  build-explorer-api-workflow: any of: services/explorer-api/.*
  build-explorer-api-helm-chart-workflow: any of: services/explorer-api/charts/.*
