Repository Taraxa-project/taraxa-platform: changes, and which CircleCI parameters are due for each by the changed paths.
All: ui-package-modified, run-community-site-service-workflow, run-node-status-service-workflow, run-delegation-service-workflow, run-claim-backend-service-workflow, build-faucet-workflow, build-faucet-helm-chart-workflow, build-explorer-workflow, build-explorer-helm-chart-workflow, build-explorer-indexer-workflow, build-explorer-indexer-helm-chart-workflow

disable MM signup for now
  services/community-site/src/components/Modal/Preset.tsx
  services/community-site/src/components/Modal/SignIn.tsx
Due: run-community-site-service-workflow

properly route users on connection
  services/community-site/src/components/Modal/WalletSignIn.tsx
  services/community-site/src/pages/Profile/ViewProfile.tsx
  services/community-site/src/services/useModal.tsx
Due: run-community-site-service-workflow

register listener on loc storage changes
  services/community-site/src/services/useWalletAuth.tsx
Due: run-community-site-service-workflow

feat(explorer-api): Node state query
  services/explorer-api/.env.example
  services/explorer-api/package.json
  services/explorer-api/src/config/general.ts
  services/explorer-api/src/modules/health/health.controller.ts
  services/explorer-api/src/modules/health/health.module.ts
  services/explorer-api/src/modules/health/health.service.ts
  services/explorer-api/src/modules/pbft/pbft.module.ts
  services/explorer-api/src/modules/pbft/pbft.service.ts
  yarn.lock
Due: none

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@a0ac55555abfbfc74192dc0936b160f764a317a1 🚀
  project.json
Due: none

explorer-api: adds new env var
  services/explorer-api/charts/explorer-api/Chart.yaml
  services/explorer-api/charts/explorer-api/templates/configmap.yaml
  services/explorer-api/charts/explorer-api/values.yaml
Due: none

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@aa1cd2aa25bbceb319572360aa5aeaa317600327 🚀
  project.json
Due: none

fix(explorer-api): Updated query to fetch latest indexed block
  services/explorer-api/src/modules/pbft/pbft.service.ts
  services/explorer-indexer/src/modules/pbft/pbft.service.ts
Due: build-explorer-indexer-workflow

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@0a3490c33765c37aacaa481142a0c3c8eab13326 🚀
  project.json
Due: none

log stalled, add config for lockDuration
  services/explorer-indexer/src/app.module.ts
  services/explorer-indexer/src/config/general.ts
  services/explorer-indexer/src/modules/dag/dag.consumer.ts
Due: build-explorer-indexer-workflow

set default value to 30s default from bull
  services/explorer-indexer/src/config/general.ts
Due: build-explorer-indexer-workflow

log stalled, add config for lockDuration (#339)
  services/explorer-indexer/src/app.module.ts
  services/explorer-indexer/src/config/general.ts
  services/explorer-indexer/src/modules/dag/dag.consumer.ts
Due: build-explorer-indexer-workflow

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@aa5c57fbf84120850ea97663e5e7f96e5954e2b6 🚀
  project.json
Due: none

feat(explorer-api): Added totalBlocks to node health endpoint
  services/explorer-api/src/modules/health/health.service.ts
  services/explorer-api/src/modules/pbft/pbft.service.ts
Due: none

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@ca3e3ae960bf3104163defbc6339f141b20bf870 🚀
  project.json
Due: none

fishes for forwarded ip
  services/faucet/src/modules/faucet/faucet.controller.ts
  services/faucet/src/modules/throttler/throttler-behind-proxy.guard.ts
Due: build-faucet-workflow

explorer-indexer: changes env var name
  services/explorer-indexer/src/config/general.ts
Due: build-explorer-indexer-workflow

explorer-indexer: adds new env var in helm chart
  services/explorer-indexer/charts/explorer-indexer/Chart.yaml
  services/explorer-indexer/charts/explorer-indexer/templates/configmap.yaml
  services/explorer-indexer/charts/explorer-indexer/values.yaml
Due: build-explorer-indexer-workflow, build-explorer-indexer-helm-chart-workflow

fishes for forwarded ip (#341)
  services/faucet/src/modules/faucet/faucet.controller.ts
  services/faucet/src/modules/throttler/throttler-behind-proxy.guard.ts
Due: build-faucet-workflow

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@df42e6c3000ac50b9aba0060338a8cf87e09ebc6 🚀
  project.json
Due: none

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@0c6f22aad898324f24b588397d97ec2b29c752a1 🚀
  project.json
Due: none

explorer-api: trigger deploy
  services/explorer-api/src/modules/health/health.service.ts
Due: none

Revert "explorer-api: trigger deploy"
  services/explorer-api/src/modules/health/health.service.ts
Due: none

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@332ea94f233342b884733b56068c7c8171e9fa33 🚀
  project.json
Due: none

explorer-indexer: adds new env vars to helm chart
  services/claim-backend/charts/claim-backend/templates/configmap.yaml
  services/claim-backend/charts/claim-backend/values.yaml
  services/claim-backend/charts/prod.values.yaml
  services/claim-backend/charts/qa.values.yaml
Due: run-claim-backend-service-workflow

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@2f0eaa3b41759a6852283229a4fa7ae92ffd7d83 🚀
  project.json
Due: none

claim: changes env vars
  services/claim-backend/.env.example
  services/claim-backend/charts/claim-backend/templates/configmap.yaml
  services/claim-backend/charts/claim-backend/values.yaml
  services/claim-backend/charts/prod.values.yaml
  services/claim-backend/charts/qa.values.yaml
  services/claim-backend/config/reward.ts
Due: run-claim-backend-service-workflow

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@9b1dc2b43d510b5e16bfdf45af470de15e528a19 🚀
  project.json
Due: none

feat(economics): Exporting rewards stream based
  services/economics-rewards/src/data-source.ts
  services/economics-rewards/src/database.ts
  services/economics-rewards/src/entities/delegator.entity.ts
  services/economics-rewards/src/entities/index.ts
  services/economics-rewards/src/entities/rewards.entity.ts
  services/economics-rewards/src/entities/validator.entity.ts
  services/economics-rewards/src/writer.ts
Due: none

feat(economics): Added fast-csv to stream-write in csv
  services/economics-rewards/package.json
  services/economics-rewards/src/CsvFile.ts
  services/economics-rewards/src/database.ts
  services/economics-rewards/src/writer.ts
  yarn.lock
Due: none

removes duplicate job entries, adds main to usable
  .circleci/workflows.yml
Due: none

chore(economics): Small changes to csv writter
  services/economics-rewards/src/CsvFile.ts
  services/economics-rewards/src/database.ts
  services/economics-rewards/src/writer.ts
Due: none

disables faucet route on mainnet
  services/explorer/src/App.tsx
Due: build-explorer-workflow

handles faucet button rendering in header
  services/explorer/src/components/Header/Header.effects.ts
Due: build-explorer-workflow

fix(explorer): Working on UI fixes
  packages/taraxa-ui/src/components/Icons/Block.tsx
  packages/taraxa-ui/src/components/TransactionDetails/TransactionDetails.styles.ts
  packages/taraxa-ui/src/components/TransactionDetails/TransactionDetails.tsx
  services/explorer/public/index.html
  services/explorer/src/api/types.ts
  services/explorer/src/components/AddressInfo/AddressInfo.tsx
  services/explorer/src/pages/AddressInfo/AddressInfo.effects.tsx
  services/explorer/src/pages/BlockData/DAGDataContainer.tsx
  services/explorer/src/pages/TransactionData/TransactionData.tsx
  services/explorer/src/utils/TransactionRow.tsx
  services/explorer/src/utils/fromWeiToTara.ts
  services/explorer/src/utils/index.ts
Due: ui-package-modified, build-explorer-workflow

removes unused function
  services/explorer-indexer/src/modules/historical-sync/historical.syncer.service.ts
Due: build-explorer-indexer-workflow

implements genesis watch on ws reconnect
  services/explorer-indexer/src/modules/live-sync/live.syncer.module.ts
  services/explorer-indexer/src/modules/live-sync/live.syncer.service.ts
Due: build-explorer-indexer-workflow

empties queues on reset too
  services/explorer-indexer/src/modules/live-sync/live.syncer.module.ts
  services/explorer-indexer/src/modules/live-sync/live.syncer.service.ts
Due: build-explorer-indexer-workflow

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@0673d850f2552b6ffd6ada722307004ea7705dbd 🚀
  project.json
Due: none

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@1f7cac26ebeb936e27fa0f984ac17d24469fbff6 🚀
  project.json
Due: none

Path conditions:
  ui-package-modified: any of: packages/taraxa-ui/.*
  run-community-site-service-workflow: any of: services/community-site/.*
  run-node-status-service-workflow: any of: services/node-status/.*
  run-delegation-service-workflow: any of: services/delegation/.*
  run-claim-backend-service-workflow: any of: services/claim-backend/.*
  build-faucet-workflow: any of: services/faucet/.*
  build-faucet-helm-chart-workflow: any of: services/faucet/charts/.*
  build-explorer-workflow: any of: services/explorer/.*
  build-explorer-helm-chart-workflow: any of: services/explorer/charts/.*
  build-explorer-indexer-workflow: any of: services/explorer-indexer/.*
  build-explorer-indexer-helm-chart-workflow: any of: services/explorer-indexer/charts/.*
