Repository Taraxa-project/taraxa-platform: changes, and which CircleCI parameters are due for each by the changed paths.
All: ui-package-modified, run-community-site-service-workflow, run-community-backend-service-workflow, build-community-backend-helm-chart-workflow, run-claim-admin-service-workflow, build-claim-admin-helm-chart-workflow, build-community-site-helm-chart-workflow, run-node-status-service-workflow, run-delegation-service-workflow, build-delegation-helm-chart-workflow, run-claim-backend-service-workflow, build-claim-backend-helm-chart-workflow, build-faucet-workflow, build-faucet-helm-chart-workflow, build-explorer-workflow, build-explorer-helm-chart-workflow, build-explorer-indexer-workflow, build-explorer-indexer-helm-chart-workflow, build-explorer-api-workflow, build-explorer-api-helm-chart-workflow

.circleci/config.yml:

version: 2.1
setup: true
orbs:
  path-filtering: circleci/path-filtering@0.1.1
workflows:
  always-run:
    jobs:
      - path-filtering/filter:
          name: check-updated-files
          mapping: |
            packages/taraxa-ui/.* ui-package-modified true
            services/community-site/.* run-community-site-service-workflow true
            legacy/community-backend/.* run-community-backend-service-workflow true
            legacy/community-backend/charts/.* build-community-backend-helm-chart-workflow true
            legacy/claim-admin/.* run-claim-admin-service-workflow true
            legacy/claim-admin/charts/.* build-claim-admin-helm-chart-workflow true
            services/community-site/charts/.* build-community-site-helm-chart-workflow true
            services/node-status/.* run-node-status-service-workflow true
            services/delegation/.* run-delegation-service-workflow true
            services/delegation/charts/.* build-delegation-helm-chart-workflow true
            services/claim-backend/.* run-claim-backend-service-workflow true
            services/claim-backend/charts/.* build-claim-backend-helm-chart-workflow true
            services/faucet/.* build-faucet-workflow true
            services/faucet/charts/.* build-faucet-helm-chart-workflow true
            services/explorer/.* build-explorer-workflow true
            services/explorer/charts/.* build-explorer-helm-chart-workflow true
            services/explorer-indexer/.* build-explorer-indexer-workflow true
            services/explorer-indexer/charts/.* build-explorer-indexer-helm-chart-workflow true
            services/explorer-api/.* build-explorer-api-workflow true
            services/explorer-api/charts/.* build-explorer-api-helm-chart-workflow true
          base-revision: << pipeline.git.branch >>
          config-path: .circleci/workflows.yml

removes most of @mui from explorer
  packages/taraxa-ui/src/index.ts
  services/explorer/package.json
  services/explorer/src/components/Header/DrawerElements.tsx
  services/explorer/src/components/Header/Header.tsx
  services/explorer/src/components/Tables/Table.tsx
  services/explorer/src/pages/Faucet/Faucet.tsx
  services/explorer/src/pages/Nodes/Nodes.tsx
  yarn.lock
Due: ui-package-modified, build-explorer-workflow

Added PropsWithChildren instead of custom interface
  packages/taraxa-ui/src/TaraxaThemeProvider.tsx
Due: ui-package-modified

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@5c881d398c7032bbcd7699bed176059b7676eddb 🚀
  301.27e75f9c.iframe.bundle.js
  301.27e75f9c.iframe.bundle.js.LICENSE.txt
  301.27e75f9c.iframe.bundle.js.map
  738.003b9712.iframe.bundle.js
  738.003b9712.iframe.bundle.js.map
  iframe.html
  main.6308bd27.iframe.bundle.js
  main.f7189c56.iframe.bundle.js
  project.json
Due: none

Fixed table layout
  services/community-site/src/components/Nickname/nickname.scss
  services/community-site/src/pages/RunNode/RunValidator.tsx
  services/community-site/src/pages/RunNode/Table/TestnetValidatorRow.tsx
  services/community-site/src/pages/Staking/delegation.scss
Due: run-community-site-service-workflow

Fixed table layout (#514)
  services/community-site/src/components/Nickname/nickname.scss
  services/community-site/src/pages/RunNode/RunValidator.tsx
  services/community-site/src/pages/RunNode/Table/TestnetValidatorRow.tsx
  services/community-site/src/pages/Staking/delegation.scss
Due: run-community-site-service-workflow

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@ed1e643751c4d49f4f9b2125d033a9ffd9df21ff 🚀
  project.json
Due: none

Adjusted table cells
  services/community-site/src/App.scss
  services/community-site/src/pages/Staking/delegation.scss
Due: run-community-site-service-workflow

Adjusted table cells (#519)
  services/community-site/src/App.scss
  services/community-site/src/pages/Staking/delegation.scss
Due: run-community-site-service-workflow

delegation: fixes undelegation cron
  services/delegation/src/cli.ts
  services/delegation/src/modules/blockchain/blockchain.service.ts
  services/delegation/src/modules/delegation/delegation-task.service.ts
  services/delegation/src/modules/delegation/delegation.service.ts
Due: run-delegation-service-workflow

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@21496ab1efc02d27a910f9d7e9320dbac818952f 🚀
  project.json
Due: none

adds hook for undelegation check
  services/community-site/src/pages/Staking/NodeProfilePage.tsx
Due: run-community-site-service-workflow

Added table tab for internal transactions
  services/explorer/src/api/explorer-api/fetchInternalTransactions.ts
  services/explorer/src/pages/TransactionData/TransactionData.effects.tsx
  services/explorer/src/pages/TransactionData/TransactionData.tsx
  services/explorer/src/pages/TransactionData/TransactionDataTables.tsx
  services/explorer/src/utils/getTransactionType.ts
Due: build-explorer-workflow

Added correct url for building daps on community
  services/community-site/src/components/Sidebar/Sidebar.tsx
  services/community-site/src/pages/Home/Home.tsx
Due: run-community-site-service-workflow

Reading internal transactions
  services/explorer/src/pages/TransactionData/TransactionDataTables.tsx
Due: build-explorer-workflow

Renamed new component to Tabs instead of Tables
  services/explorer/src/pages/TransactionData/TransactionData.tsx
  services/explorer/src/pages/TransactionData/TransactionDataTabs.tsx
Due: build-explorer-workflow

Removed dag tab
  services/explorer/src/pages/TransactionData/TransactionData.tsx
  services/explorer/src/pages/TransactionData/TransactionDataTabs.tsx
  services/explorer/src/utils/getTransactionType.ts
Due: build-explorer-workflow

adds missings deps
  services/community-site/src/pages/Staking/NodeProfilePage.tsx
Due: run-community-site-service-workflow

adds hook for undelegation check (#524)
  services/community-site/src/pages/Staking/NodeProfilePage.tsx
Due: run-community-site-service-workflow

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@a2109c4c4208dd4f7562c251859a17d3826f7d50 🚀
  project.json
Due: none

Fixed internal trans prop name
  services/explorer/src/api/explorer-api/fetchInternalTransactions.ts
Due: build-explorer-workflow

fix: division by zero in yield calculation
  services/community-site/src/interfaces/Validator.ts
Due: run-community-site-service-workflow

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@36526ac6849545539fb2a97e21f1e36da10baddb 🚀
  project.json
Due: none

switch rpc to mainnet
  packages/dpos-subgraph/docker-compose.yml
Due: none

fix delegation fetches, disable switch if no commission changes
  services/community-site/src/pages/Staking/NodeProfilePage.tsx
Due: run-community-site-service-workflow

cleans up code as per PR comments
  services/community-site/src/pages/Staking/NodeProfilePage.tsx
  services/community-site/src/services/useDposSubgraph.ts
Due: run-community-site-service-workflow

Feature/recreate node stats (#507)
  packages/dpos-subgraph/docker-compose.yml
  packages/dpos-subgraph/schema.graphql
  packages/dpos-subgraph/src/mapping.ts
  services/community-site/.env
  services/community-site/.env.example
  services/community-site/Dockerfile
  services/community-site/charts/community-site/templates/community-frontend-deployment.yaml
  services/community-site/charts/community-site/values.yaml
  services/community-site/docker-files/entrypoint.sh
  services/community-site/src/interfaces/Delegation.ts
  services/community-site/src/interfaces/Validator.ts
  services/community-site/src/pages/RunNode/runvalidator.scss
  services/community-site/src/pages/Staking/BarFlex.tsx
  services/community-site/src/pages/Staking/NodeProfilePage.tsx
  services/community-site/src/pages/Staking/node-profile-page.scss
  services/community-site/src/services/useDposSubgraph.ts
  services/community-site/src/utils/networks.ts
Due: run-community-site-service-workflow, build-community-site-helm-chart-workflow

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@221f635578987eff64cff7e04a4efb02fdd0a174 🚀
  project.json
Due: none

remove ingress class from annotations
  services/faucet/charts/faucet/values.yaml
Due: build-faucet-workflow, build-faucet-helm-chart-workflow

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@a4103b9fc105aed4085e39962fdc1fdd502f9c4e 🚀
  project.json
Due: none

removed ingress class from annotations for explorer-frontend
  services/explorer/charts/explorer-frontend/values.yaml
Due: build-explorer-workflow, build-explorer-helm-chart-workflow

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@13728550810d0eb14f5a50338e16997a9473df04 🚀
  project.json
Due: none

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@60c9b6aee119e02f1466a21d7f85e147be342087 🚀
  project.json
Due: none

updates explorer nginx image
  services/explorer/Dockerfile
Due: build-explorer-workflow

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@a3e8f85c8f273c02b308afcce968ae956d3c253a 🚀
  project.json
Due: none

adds delays and timeout on explorer FE pod
  services/explorer/charts/explorer-frontend/templates/deployment.yaml
Due: build-explorer-workflow, build-explorer-helm-chart-workflow

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@411ed89b801a10bc155a851c67386ec5ee8e84de 🚀
  project.json
Due: none

adds new types & env
  services/community-site/tsconfig.json
  services/explorer/.env.example
  services/explorer/src/api/types.ts
  services/explorer/tsconfig.json
Due: run-community-site-service-workflow, build-explorer-workflow
