Repository Taraxa-project/taraxa-platform: changes, and which CircleCI parameters are due for each by the changed paths.
All: ui-package-modified, run-community-site-service-workflow, run-node-status-service-workflow, run-delegation-service-workflow, run-claim-backend-service-workflow

.circleci/config.yml:

version: 2.1
setup: true
orbs:
  path-filtering: circleci/path-filtering@0.1.1
workflows:
  always-run:
    jobs:
      - path-filtering/filter:
          name: check-updated-files
          mapping: |
            packages/taraxa-ui/.* ui-package-modified true
            services/community-site/.* run-community-site-service-workflow true
            services/node-status/.* run-node-status-service-workflow true
            services/delegation/.* run-delegation-service-workflow true
            services/claim-backend/.* run-claim-backend-service-workflow true
          base-revision: << pipeline.git.branch >>
          config-path: .circleci/workflows.yml

removes file upload from batch creation
  docker-compose.yml
  services/claim-backend/.prettierrc
  services/claim-backend/README.md
  services/claim-backend/docker-compose.yml
  services/claim-backend/src/modules/claim/batch.controller.ts
  services/claim-backend/src/modules/claim/claim.service.ts
  services/claim-backend/src/modules/claim/dto/create-batch.dto.ts
  services/claim-backend/src/modules/claim/entity/batch.entity.ts
  services/claim-backend/src/modules/claim/entity/pending-reward.entity.ts
  services/claim-backend/src/modules/claim/type/batch-type.ts
  services/community-site/src/pages/Delegation/delegation.scss
  services/community-site/src/pages/Redeem/redeem.scss
  services/community-site/tsconfig.json
Due: run-community-site-service-workflow, run-claim-backend-service-workflow

adds import functionality
  services/claim-backend/src/modules/claim/claim.service.ts
Due: run-claim-backend-service-workflow

trigger ci
  services/delegation/.dockerignore
Due: run-delegation-service-workflow

changes graphql package
  services/delegation/package.json
  services/delegation/src/modules/reward/data/staking-data.service.ts
  yarn.lock
Due: run-delegation-service-workflow

fixes wrong delegation/node rewards
  services/delegation/src/modules/reward/reward.service.ts
Due: run-delegation-service-workflow

Lock in deps
  yarn.lock
Due: none

claim: adds automatic rewards import
  services/claim-backend/.env.example
  services/claim-backend/charts/claim-backend/templates/configmap.yaml
  services/claim-backend/charts/prod.values.yaml
  services/claim-backend/charts/qa.values.yaml
  services/claim-backend/config/index.ts
  services/claim-backend/config/reward.ts
  services/claim-backend/package.json
  services/claim-backend/src/general.module.ts
  services/claim-backend/src/modules/claim/claim.module.ts
  services/claim-backend/src/modules/claim/claim.service.ts
Due: run-claim-backend-service-workflow

delegation: reward staking address instead of user address
  services/delegation/src/modules/reward/reward.service.ts
Due: run-delegation-service-workflow

claim: trigger ci build
  services/claim-backend/.env.example
Due: run-claim-backend-service-workflow

claim: fixes typeorm version incompatibility
  services/claim-backend/package.json
  services/claim-backend/src/modules/claim/batch.controller.ts
  services/claim-backend/src/modules/claim/claim.service.ts
  yarn.lock
Due: run-claim-backend-service-workflow

chore: claim - removes db proxy
  services/claim-backend/charts/claim-backend/templates/_helpers.tpl
  services/claim-backend/charts/claim-backend/templates/deployment-db.yaml
  services/claim-backend/charts/claim-backend/templates/service-db-proxy.yaml
Due: run-claim-backend-service-workflow

Add new prod priv host
  services/claim-backend/charts/prod.values.yaml
Due: run-claim-backend-service-workflow

Change qa ip
  services/claim-backend/charts/qa.values.yaml
Due: run-claim-backend-service-workflow

Feature/60 claim to postgres (#132)
  services/claim-backend/.eslintrc.js
  services/claim-backend/Dockerfile
  services/claim-backend/charts/prod.values.yaml
  services/claim-backend/charts/qa.values.yaml
  services/claim-backend/config/database.ts
  services/claim-backend/docker-compose.yml
  services/claim-backend/package.json
  services/claim-backend/src/general.module.ts
  services/claim-backend/src/modules/auth/auth.service.ts
  yarn.lock
Due: run-claim-backend-service-workflow

chore: claim - changes db port
  services/claim-backend/.env.example
  services/claim-backend/charts/claim-backend/values.yaml
Due: run-claim-backend-service-workflow

Run without sync
  services/claim-backend/src/general.module.ts
Due: run-claim-backend-service-workflow

changed class name to use disabled css selector
  services/community-site/src/pages/Delegation/Table/NodeRow.tsx
  services/community-site/src/pages/Delegation/delegation.scss
Due: run-community-site-service-workflow

fix for type issue
  packages/taraxa-ui/package.json
Due: ui-package-modified

upgraded react
  packages/taraxa-ui/package.json
  services/community-site/package.json
Due: ui-package-modified, run-community-site-service-workflow

added types for react dom
  packages/taraxa-ui/package.json
Due: ui-package-modified

fix type
  services/community-site/src/pages/Redeem/Redeem.tsx
Due: run-community-site-service-workflow

delegation: adds cron to calculate rewards
  services/delegation/src/cli.ts
  services/delegation/src/modules/app-core.module.ts
  services/delegation/src/modules/reward/reward-task.service.ts
  services/delegation/src/modules/reward/reward.module.ts
  services/delegation/src/modules/reward/reward.service.ts
Due: run-delegation-service-workflow

claim: save pending rewards
  services/claim-backend/package.json
  services/claim-backend/src/general.module.ts
  services/claim-backend/src/modules/claim/claim.service.ts
  services/claim-backend/src/modules/claim/entity/pending-reward.entity.ts
  yarn.lock
Due: run-claim-backend-service-workflow

#56 fixed bounties page getting deformed
  services/community-site/src/pages/Bounties/BountyDetails.tsx
  services/community-site/src/pages/Bounties/bounties.scss
Due: run-community-site-service-workflow

Disable sync
  services/claim-backend/src/general.module.ts
Due: run-claim-backend-service-workflow

Import icons in svg components
  services/community-site/src/assets/icons/greenCircledCheck.tsx
  services/community-site/src/assets/icons/greyChech.tsx
  services/community-site/src/assets/icons/warningSign.tsx
Due: run-community-site-service-workflow

Refactor redeem table items
  services/community-site/src/pages/Redeem/Redeem.tsx
  services/community-site/src/pages/Redeem/redeem.scss
  services/community-site/src/services/useRedeem.ts
Due: run-community-site-service-workflow

Implement warn modal
  services/community-site/src/pages/Redeem/Modal/Modals.tsx
  services/community-site/src/pages/Redeem/Modal/RedeemWarning.tsx
  services/community-site/src/pages/Redeem/Modal/warning.scss
Due: run-community-site-service-workflow

Lint
  services/community-site/tsconfig.json
Due: run-community-site-service-workflow

claim: adds pending rewards route
  services/claim-backend/src/modules/claim/batch.controller.ts
  services/claim-backend/src/modules/claim/claim.service.ts
  services/claim-backend/src/modules/claim/dto/pending-reward.dto.ts
Due: run-claim-backend-service-workflow

delete duplicate icon
  services/community-site/src/assets/icons/greyChech.tsx
Due: run-community-site-service-workflow

Match 100 percetn to figma, implement review changes
  services/community-site/src/pages/Redeem/Modal/RedeemWarning.tsx
  services/community-site/src/pages/Redeem/Redeem.tsx
  services/community-site/src/pages/Redeem/redeem.scss
Due: run-community-site-service-workflow

Improvement/143 redeem popup styling (#145)
  services/community-site/src/assets/icons/greenCircledCheck.tsx
  services/community-site/src/assets/icons/warningSign.tsx
  services/community-site/src/pages/Redeem/Modal/Modals.tsx
  services/community-site/src/pages/Redeem/Modal/RedeemWarning.tsx
  services/community-site/src/pages/Redeem/Modal/warning.scss
  services/community-site/src/pages/Redeem/Redeem.tsx
  services/community-site/src/pages/Redeem/redeem.scss
  services/community-site/src/services/useRedeem.ts
  services/community-site/tsconfig.json
Due: run-community-site-service-workflow

claim: allow PATCH request in ingress
  services/claim-backend/charts/claim-backend/values.yaml
Due: run-claim-backend-service-workflow

claim: default value for isDraft column
  services/claim-backend/src/modules/claim/entity/batch.entity.ts
Due: run-claim-backend-service-workflow

Display date of claim
  services/community-site/src/pages/Redeem/Redeem.tsx
Due: run-community-site-service-workflow

#56 fixed bounties page getting deformed (#144)
  services/community-site/src/pages/Bounties/BountyDetails.tsx
  services/community-site/src/pages/Bounties/bounties.scss
Due: run-community-site-service-workflow

claim: adds timeout for contract calls
  services/claim-backend/src/modules/blockchain/blockchain.service.ts
Due: run-claim-backend-service-workflow
