Repository Taraxa-project/taraxa-platform: changes, and which CircleCI parameters are due for each by the changed paths.
All: ui-package-modified, run-community-site-service-workflow, run-node-status-service-workflow, run-delegation-service-workflow, run-claim-backend-service-workflow

Handle null dates
  services/community-site/src/pages/Redeem/Redeem.tsx
  services/community-site/src/services/useRedeem.ts
Due: run-community-site-service-workflow

Readjust total claimed calculation
  services/community-site/src/services/useRedeem.ts
Due: run-community-site-service-workflow

Import new icons
  services/community-site/src/assets/icons/checkWhite.tsx
  services/community-site/src/assets/icons/notFound.tsx
Due: run-community-site-service-workflow

Refactor page, nail styling, show first line only if the tara amount is redeemable
  services/community-site/src/pages/Redeem/Redeem.tsx
  services/community-site/src/pages/Redeem/redeem.scss
  services/community-site/src/services/useRedeem.ts
Due: run-community-site-service-workflow

claim: adds valid/invalid pending rewards
  services/claim-backend/src/modules/claim/batch.controller.ts
  services/claim-backend/src/modules/claim/claim.service.ts
  services/claim-backend/src/modules/claim/dto/pending-reward.dto.ts
  services/claim-backend/src/modules/claim/entity/pending-reward.entity.ts
Due: run-claim-backend-service-workflow

community-site: fixes warning
  packages/taraxa-ui/src/components/ProfileBasicCard/ProfileBasicCard.tsx
Due: ui-package-modified

community-site: fixes number of points in profile
  services/community-site/src/pages/Delegation/delegation.scss
  services/community-site/src/pages/Profile/ViewProfile.tsx
  services/community-site/src/utils/eth.ts
Due: run-community-site-service-workflow

Implement final PR changes
  services/claim-backend/src/modules/claim/account.controller.ts
  services/community-site/src/pages/Redeem/Redeem.tsx
  services/community-site/src/services/useRedeem.ts
Due: run-community-site-service-workflow, run-claim-backend-service-workflow

Implement getClaimsFor account query method
  services/claim-backend/src/modules/claim/account.controller.ts
  services/claim-backend/src/modules/claim/claim.service.ts
Due: run-claim-backend-service-workflow

Add lower check
  services/claim-backend/src/modules/claim/account.controller.ts
  services/claim-backend/src/modules/claim/claim.service.ts
Due: run-claim-backend-service-workflow

Remove redundant code
  services/community-site/src/services/useRedeem.ts
Due: run-community-site-service-workflow

Improvement/55 redeem improvements (#147)
  services/claim-backend/src/modules/claim/account.controller.ts
  services/claim-backend/src/modules/claim/claim.service.ts
  services/community-site/src/assets/icons/checkWhite.tsx
  services/community-site/src/assets/icons/notFound.tsx
  services/community-site/src/pages/Redeem/Redeem.tsx
  services/community-site/src/pages/Redeem/redeem.scss
  services/community-site/src/services/useRedeem.ts
Due: run-community-site-service-workflow, run-claim-backend-service-workflow

Import icons for preset modal, implement basic version
  services/community-site/src/assets/icons/email.tsx
  services/community-site/src/assets/icons/metamask.tsx
  services/community-site/src/components/Modal/Preset.tsx
Due: run-community-site-service-workflow

Commit initial implementation of the nonce flow
  services/community-site/src/components/Modal/WalletSignIn.tsx
  services/community-site/src/services/useModal.tsx
  services/community-site/src/services/useWalletAuth.tsx
Due: run-community-site-service-workflow

delegation: fixes checksummed address balance
  services/delegation/src/modules/delegation/delegation.service.ts
Due: run-delegation-service-workflow

claim: fixes checksummed address claims
  services/claim-backend/src/modules/claim/claim.service.ts
Due: run-claim-backend-service-workflow

delegation: fixes checksummed address undelegation
  services/delegation/src/modules/delegation/delegation.service.ts
Due: run-delegation-service-workflow

claim: fixes checksummed address create claim
  services/claim-backend/src/modules/claim/claim.service.ts
Due: run-claim-backend-service-workflow

claim: fixes checksummed address mark claimed
  services/claim-backend/src/modules/claim/claim.service.ts
Due: run-claim-backend-service-workflow

claim: don't fail if we can't mark claims as claimed on account call
  services/claim-backend/src/modules/blockchain/blockchain.service.ts
  services/claim-backend/src/modules/claim/claim.service.ts
Due: run-claim-backend-service-workflow

community-site: don't fail if we have tokens to claim but no previous claims
  services/community-site/src/services/useRedeem.ts
Due: run-community-site-service-workflow

Add new wallet-auth service to env
  services/community-site/.env
Due: run-community-site-service-workflow

Import new icons
  services/community-site/src/assets/icons/RedWarningCircular.tsx
  services/community-site/src/assets/icons/greenCircledCheck.tsx
Due: run-community-site-service-workflow

Create new endpoint for user existence check
  services/delegation/src/modules/user/user.controller.ts
  services/delegation/src/modules/user/user.module.ts
Due: run-delegation-service-workflow

Implement wallet auth hook, add new service to api hook
  services/community-site/src/services/useApi.ts
  services/community-site/src/services/useWalletAuth.tsx
Due: run-community-site-service-workflow

Implement new modal faces, add them to the rotation
  services/community-site/src/components/Modal/Preset.tsx
  services/community-site/src/components/Modal/WalletSignIn.tsx
  services/community-site/src/services/useModal.tsx
Due: run-community-site-service-workflow

Add new icon and profile card changes to tar-ui
  packages/taraxa-ui/src/components/Icons/ExclamationTriangle.tsx
  packages/taraxa-ui/src/components/ProfileCard/ProfileCard.tsx
Due: ui-package-modified

WIP: add address validation section to profile page
  services/community-site/src/pages/Profile/ViewProfile.tsx
Due: run-community-site-service-workflow

Add fill props to icons
  services/community-site/src/assets/icons/RedWarningCircular.tsx
  services/community-site/src/assets/icons/WarningCircular.tsx
  services/community-site/src/assets/icons/greenCircularCheck.tsx
Due: run-community-site-service-workflow

Abstactize modal text and container components
  services/community-site/src/components/Modal/WalletSignIn.tsx
  services/community-site/src/components/Modal/subcomponents/ModalText.tsx
Due: run-community-site-service-workflow

Add container component
  services/community-site/src/components/Modal/subcomponents/ModalContainer.tsx
Due: run-community-site-service-workflow

Implement preset modal face
  services/community-site/src/components/Modal/Preset.tsx
Due: run-community-site-service-workflow

Expose auth service through custom hook
  services/community-site/src/services/useWalletAuth.tsx
Due: run-community-site-service-workflow

Adjust imports
  services/community-site/src/pages/Redeem/Redeem.tsx
Due: run-community-site-service-workflow

Implement signIn modal face
  services/community-site/src/components/Modal/SignIn.tsx
Due: run-community-site-service-workflow

IMplement verifyWallet modal face and finalize modal hook
  services/community-site/src/components/Modal/VerifyWallet.tsx
  services/community-site/src/services/useModal.tsx
Due: run-community-site-service-workflow

Use modal hook in profile
  services/community-site/src/pages/Profile/ViewProfile.tsx
Due: run-community-site-service-workflow

claim: adds address change check
  services/claim-backend/src/modules/claim/claim.module.ts
  services/claim-backend/src/modules/claim/claim.service.ts
  services/claim-backend/src/modules/claim/entity/address-changes.entity.ts
  services/claim-backend/src/modules/claim/entity/pending-reward.entity.ts
Due: run-claim-backend-service-workflow

delegation: fix group by address multiple values
  services/delegation/src/modules/reward/reward.repository.ts
Due: run-delegation-service-workflow

claim: fix group by address multiple values
  services/claim-backend/src/modules/claim/claim.service.ts
Due: run-claim-backend-service-workflow

Path conditions:
  ui-package-modified: any of: packages/taraxa-ui/.*
  run-community-site-service-workflow: any of: services/community-site/.*
  run-node-status-service-workflow: any of: services/node-status/.*
  run-delegation-service-workflow: any of: services/delegation/.*
  run-claim-backend-service-workflow: any of: services/claim-backend/.*
