Repository Taraxa-project/taraxa-platform: changes, and which CircleCI parameters are due for each by the changed paths.
All: ui-package-modified, run-community-site-service-workflow, run-node-status-service-workflow, run-delegation-service-workflow, run-claim-backend-service-workflow, build-faucet-workflow, build-faucet-helm-chart-workflow, build-explorer-workflow, build-explorer-helm-chart-workflow, build-explorer-indexer-workflow, build-explorer-indexer-helm-chart-workflow

.circleci/config.yml:

version: 2.1
setup: true
orbs:
  path-filtering: circleci/path-filtering@0.1.1
workflows:
  always-run:
    jobs:
      - path-filtering/filter:
          name: check-updated-files
          mapping: |
            packages/taraxa-ui/.* ui-package-modified true
            services/community-site/.* run-community-site-service-workflow true
            services/node-status/.* run-node-status-service-workflow true
            services/delegation/.* run-delegation-service-workflow true
            services/claim-backend/.* run-claim-backend-service-workflow true
            services/faucet/.* build-faucet-workflow true
            services/faucet/charts/.* build-faucet-helm-chart-workflow true
            services/explorer/.* build-explorer-workflow true
            services/explorer/charts/.* build-explorer-helm-chart-workflow true
            services/explorer-indexer/.* build-explorer-indexer-workflow true
            services/explorer-indexer/charts/.* build-explorer-indexer-helm-chart-workflow true
          base-revision: << pipeline.git.branch >>
          config-path: .circleci/workflows.yml

explorer-api: adds missing class-transformer package
  services/explorer-api/package.json
Due: none

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@ff264b4ba9942b1dc81be79b68a267f801ccbdc4 🚀
  project.json
Due: none

explorer-api: adds ing annotations
  services/explorer-api/charts/explorer-api/values.yaml
Due: none

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@0efd05d807fc9c4fb80e5f5d674917e7b67665a5 🚀
  project.json
Due: none

explorer-api: adds token price api endpoint env var
  services/explorer-api/charts/explorer-api/templates/configmap.yaml
  services/explorer-api/charts/explorer-api/values.yaml
Due: none

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@f21cab74b25530c099f6dfe21d494c28d4b8c1b2 🚀
  project.json
Due: none

explorer-api: changes db connection options
  services/explorer-api/src/app.module.ts
Due: none

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@f5d5747b6eb6d636c8c9e2e739953a82313cc96e 🚀
  project.json
Due: none

explorer-api: adds tableNames from repo metadata
  services/explorer-api/src/modules/address/address.service.ts
  services/explorer-api/src/modules/node/node.service.ts
Due: none

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@f086392ec4bb3399d612dd0aa4455deec0ed0471 🚀
  project.json
Due: none

explorer-api: fixes details query metadata tableNames
  services/explorer-api/src/modules/address/address.service.ts
Due: none

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@29e07bc8382b8e49a8981a7e32fe3a16ae81da87 🚀
  project.json
Due: none

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@6a2f144dbe8f04011820177a97f4fb9c0a6c774a 🚀
  project.json
Due: none

explorer-api: break address details trycatch into two
  services/explorer-api/src/modules/address/address.service.ts
Due: none

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@2ef4dbbb1c9c12cebd800f633b159bb5da27a9a8 🚀
  project.json
Due: none

explorer-frontend: updated env vars
  services/explorer/.env.example
  services/explorer/Dockerfile
  services/explorer/docker-files/entrypoint.sh
  services/explorer/src/api/types.ts
  services/explorer/src/utils/networks.ts
Due: build-explorer-workflow

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@14792e7002e423a0b1a339459fc78a80f358f2ed 🚀
  project.json
Due: none

explorer-api: return 400 on invalid addresses
  services/explorer-api/src/modules/address/address.service.ts
Due: none

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@8f57f9d224ec8ddb9f6eb1355940bacf7b76aa33 🚀
  project.json
Due: none

explorer-frontend: updated env vars for helm chart
  services/explorer/charts/explorer-frontend/templates/configmap.yaml
  services/explorer/charts/explorer-frontend/values.yaml
Due: build-explorer-workflow, build-explorer-helm-chart-workflow

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@01b34fac2bfa7f0f12b0f10569ed459b1992746e 🚀
  project.json
Due: none

explorer-api: fix stats, dags and pbfts queries
  services/explorer-api/src/modules/address/address.service.ts
Due: none

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@c56065a720c8500371010eaba68206d408c42571 🚀
  project.json
Due: none

index pbft hashes
  packages/explorer-shared/src/entities/pbft.entity.ts
Due: none

feat(explorer-shared): Added more indexes and migration for them
  packages/explorer-shared/src/entities/dag.entity.ts
  packages/explorer-shared/src/entities/pbft.entity.ts
  packages/explorer-shared/src/entities/transaction.entity.ts
  packages/explorer-shared/src/migrations/1673348204962-Indexes.ts
  services/explorer-api/.env.example
  services/explorer/tsconfig.json
Due: build-explorer-workflow

feat(explorer-shared): Removed Index IDs
  packages/explorer-shared/src/entities/dag.entity.ts
  packages/explorer-shared/src/entities/pbft.entity.ts
  packages/explorer-shared/src/entities/transaction.entity.ts
  packages/explorer-shared/src/migrations/1673350386184-Indexes.ts
Due: none

push devnet index migrations
  packages/explorer-shared/src/migrations/1673350386184-Indexes.ts
  packages/explorer-shared/src/migrations/1673350890237-indexes-devnet.ts
Due: none

push devnet index migrations
  packages/explorer-shared/src/migrations/1673350890237-Indexes.ts
Due: none

chore(explorer-shared): Removed devnet migration
  packages/explorer-shared/src/migrations/1673350890237-indexes-devnet.ts
Due: none

fix(explorer-shared): Updated indexes migration
  packages/explorer-shared/src/migrations/1673350890237-Indexes.ts
  packages/explorer-shared/src/migrations/1673356909852-Indexes.ts
Due: none

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@3f277a8133463749cd0feea8de651b0d4fa2b1d5 🚀
  project.json
Due: none

fix(explorer): Adding fixes to explorer api and ui
  services/explorer-api/src/app.module.ts
  services/explorer-api/src/modules/address/address.service.ts
  services/explorer/src/api/explorer-api/fetchBlocksByAddress.ts
  services/explorer/src/api/explorer-api/fetchDagsByAddress.ts
  services/explorer/src/api/explorer-api/fetchDetailsByAddress.ts
  services/explorer/src/api/explorer-api/fetchNodes.ts
  services/explorer/src/api/explorer-api/fetchNumberBlocks.ts
  services/explorer/src/api/explorer-api/fetchPbftsByAddress.ts
  services/explorer/src/api/explorer-api/fetchTransactionsByAddress.ts
  services/explorer/src/components/AddressInfo/AddressInfo.tsx
  services/explorer/src/hooks/useExplorerNetwork.tsx
  services/explorer/src/pages/AddressInfo/AddressInfo.effects.tsx
  services/explorer/src/utils/networks.ts
Due: build-explorer-workflow

fix(explorer-api): Improved performance for queries
  services/explorer-api/src/modules/address/address.controller.ts
  services/explorer-api/src/modules/address/address.service.ts
  services/explorer-api/src/modules/address/dto/pagination.dto.ts
  services/explorer-api/src/modules/address/responses/AddressBlocks.response.ts
  services/explorer-api/src/modules/address/responses/Transaction.response.ts
  services/explorer-api/src/modules/address/responses/index.ts
  services/explorer/src/api/explorer-api/fetchDetailsByAddress.ts
  services/explorer/src/api/explorer-api/fetchNodes.ts
  services/explorer/src/api/explorer-api/fetchPbftsByAddress.ts
  services/explorer/src/api/types.ts
  services/explorer/src/components/AddressInfo/AddressInfo.tsx
  services/explorer/src/components/Tables/BlocksTable.tsx
  services/explorer/src/models/TableData.ts
  services/explorer/src/pages/AddressInfo/AddressInfo.effects.tsx
  services/explorer/src/pages/AddressInfo/AddressInfo.tsx
  services/explorer/src/pages/Nodes/Nodes.effects.tsx
Due: build-explorer-workflow

fix(explorer): Added pagination to Dags table for Address details
  services/explorer/src/api/explorer-api/fetchDagsByAddress.ts
  services/explorer/src/components/AddressInfo/AddressInfo.tsx
  services/explorer/src/pages/AddressInfo/AddressInfo.effects.tsx
  services/explorer/src/pages/AddressInfo/AddressInfo.tsx
Due: build-explorer-workflow

fix(explorer): Added pagination to address transactions
  services/explorer/src/api/explorer-api/fetchTransactionsByAddress.ts
  services/explorer/src/api/types.ts
  services/explorer/src/components/AddressInfo/AddressInfo.tsx
  services/explorer/src/components/Tables/TransactionsTable.tsx
  services/explorer/src/pages/AddressInfo/AddressInfo.effects.tsx
  services/explorer/src/pages/AddressInfo/AddressInfo.tsx
Due: build-explorer-workflow

feat(explorer): Refetching data on interval
  services/explorer/src/api/types.ts
  services/explorer/src/components/Header/Header.effects.ts
  services/explorer/src/hooks/useExplorerNetwork.tsx
  services/explorer/src/hooks/useNodeStateContext.tsx
  services/explorer/src/pages/Home/Home.effects.tsx
Due: build-explorer-workflow

feat(explorer): Small fixes
  packages/taraxa-ui/src/components/SearchInput/SearchInput.tsx
  packages/taraxa-ui/src/components/Table/Table.tsx
  services/explorer-api/src/modules/address/address.service.ts
  services/explorer/src/components/Links/AddressLink.tsx
  services/explorer/src/components/Links/HashLink.tsx
  services/explorer/src/components/Tables/TransactionsTable.tsx
  services/explorer/src/pages/Home/ChartContainer.tsx
  services/explorer/src/pages/Home/Home.tsx
  services/explorer/src/utils/chartUtils.ts
Due: ui-package-modified, build-explorer-workflow

Fix/explorer fixes (#337)
  packages/taraxa-ui/src/components/SearchInput/SearchInput.tsx
  packages/taraxa-ui/src/components/Table/Table.tsx
  services/explorer-api/src/app.module.ts
  services/explorer-api/src/modules/address/address.controller.ts
  services/explorer-api/src/modules/address/address.service.ts
  services/explorer-api/src/modules/address/dto/pagination.dto.ts
  services/explorer-api/src/modules/address/responses/AddressBlocks.response.ts
  services/explorer-api/src/modules/address/responses/Transaction.response.ts
  services/explorer-api/src/modules/address/responses/index.ts
  services/explorer/src/api/explorer-api/fetchBlocksByAddress.ts
  services/explorer/src/api/explorer-api/fetchDagsByAddress.ts
  services/explorer/src/api/explorer-api/fetchDetailsByAddress.ts
  services/explorer/src/api/explorer-api/fetchNodes.ts
  services/explorer/src/api/explorer-api/fetchNumberBlocks.ts
  services/explorer/src/api/explorer-api/fetchPbftsByAddress.ts
  services/explorer/src/api/explorer-api/fetchTransactionsByAddress.ts
  services/explorer/src/api/types.ts
  services/explorer/src/components/AddressInfo/AddressInfo.tsx
  services/explorer/src/components/Header/Header.effects.ts
  services/explorer/src/components/Links/AddressLink.tsx
  services/explorer/src/components/Links/HashLink.tsx
  services/explorer/src/components/Tables/BlocksTable.tsx
  services/explorer/src/components/Tables/TransactionsTable.tsx
  services/explorer/src/hooks/useExplorerNetwork.tsx
  services/explorer/src/hooks/useNodeStateContext.tsx
  services/explorer/src/models/TableData.ts
  services/explorer/src/pages/AddressInfo/AddressInfo.effects.tsx
  services/explorer/src/pages/AddressInfo/AddressInfo.tsx
  services/explorer/src/pages/Home/ChartContainer.tsx
  services/explorer/src/pages/Home/Home.effects.tsx
  services/explorer/src/pages/Home/Home.tsx
  services/explorer/src/pages/Nodes/Nodes.effects.tsx
  services/explorer/src/utils/chartUtils.ts
  services/explorer/src/utils/networks.ts
Due: ui-package-modified, build-explorer-workflow

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@ef063fa1b8f62730951d621c26109ed0b3ca2b6e 🚀
  iframe.html
  main.778ce978.iframe.bundle.js
  main.90b2f9d5.iframe.bundle.js
  project.json
Due: none

use the JWT returned by the wallet-auth service for auth too
  services/community-site/src/services/useApi.ts
Due: run-community-site-service-workflow
