Repository Taraxa-project/taraxa-platform: changes, and which CircleCI parameters are due for each by the changed paths.
All: ui-package-modified, run-community-site-service-workflow, run-node-status-service-workflow, run-delegation-service-workflow, run-claim-backend-service-workflow

Fix sidebar props, add storybook entry
  packages/taraxa-ui/src/components/Sidebar/Sidebar.styles.ts
  packages/taraxa-ui/src/components/Sidebar/Sidebar.tsx
Due: ui-package-modified

Fix snackbar errors, add variants, make them show
  packages/taraxa-ui/src/components/Snackbar/Snackbar.stories.tsx
  packages/taraxa-ui/src/components/Snackbar/Snackbar.tsx
Due: ui-package-modified

Implement new table look, add defaults to theme
  packages/taraxa-ui/src/components/Table/Table.stories.tsx
  packages/taraxa-ui/src/components/Table/Table.tsx
  packages/taraxa-ui/src/components/theme.tsx
Due: ui-package-modified

Fix tooltip & togglebutton storybook entry
  packages/taraxa-ui/src/components/ToggleButton/ToggleButton.stories.tsx
  packages/taraxa-ui/src/components/Tooltip/Tooltip.stories.tsx
Due: ui-package-modified

Add storybook entry for profileSubmissionCard
  packages/taraxa-ui/src/components/ProfileSubmissionsCard/ProfileSubmission.stories.tsx
Due: ui-package-modified

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@448a0a7bb87613531c0e6638e5a242dba00fddc0 🚀
  205.bd4496e2.iframe.bundle.js
  205.bd4496e2.iframe.bundle.js.LICENSE.txt
  205.bd4496e2.iframe.bundle.js.map
  782.e867ce64.iframe.bundle.js
  iframe.html
  main.5a8a242d.iframe.bundle.js
  main.a712909c.iframe.bundle.js
  project.json
Due: none

fix search items undefined issue
  packages/taraxa-ui/src/components/SearchInput/SearchInput.tsx
Due: ui-package-modified

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@c832434e00b6f8de4e52f9e1666499be25102864 🚀
  iframe.html
  main.82937197.iframe.bundle.js
  main.a712909c.iframe.bundle.js
  project.json
Due: none

Import new icons, refactor
  packages/taraxa-ui/src/components/Icons/Exclamation.tsx
  packages/taraxa-ui/src/components/Icons/GreenCircledCheck.tsx
  packages/taraxa-ui/src/components/Icons/RedCircledCancel.tsx
  packages/taraxa-ui/src/components/Icons/index.ts
Due: ui-package-modified

Create new Label component, disable no-restricted-exports
  packages/taraxa-ui/src/components/Label/Label.stories.tsx
  packages/taraxa-ui/src/components/Label/Label.styles.ts
  packages/taraxa-ui/src/components/Label/Label.tsx
  packages/taraxa-ui/src/components/Label/index.ts
  packages/taraxa-ui/src/components/NetworkMenu/index.ts
  services/community-site/.eslintrc.js
Due: ui-package-modified, run-community-site-service-workflow

Export new component
  packages/taraxa-ui/src/index.ts
Due: ui-package-modified

Lock in deps, add rule disable
  .eslintrc.js
  yarn.lock
Due: none

Migreate to mui v5
  services/community-site/package.json
Due: run-community-site-service-workflow

use react v18 init
  services/community-site/src/index.tsx
Due: run-community-site-service-workflow

Pull in new taraxa-ui components, refactor
  services/community-site/src/assets/icons/greenCircledCheck.tsx
  services/community-site/src/pages/Delegation/Delegation.tsx
  services/community-site/src/pages/Redeem/Redeem.tsx
  services/community-site/src/pages/RunNode/RunNode.tsx
  services/community-site/src/pages/Staking/Staking.tsx
Due: run-community-site-service-workflow

Rename icon prop
  packages/taraxa-ui/src/components/Label/Label.stories.tsx
  packages/taraxa-ui/src/components/Label/Label.tsx
Due: ui-package-modified

changes to exports
  packages/taraxa-ui/src/components/Card/index.ts
  packages/taraxa-ui/src/index.ts
Due: ui-package-modified

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@d9e6e2c158c24366ee7be6524d54f514c9df9ebe 🚀
  project.json
Due: none

Readd merge mismatches
  .eslintrc.js
  packages/taraxa-ui/src/index.ts
Due: ui-package-modified

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@753d704d7cfce9de1e23387a240189a796b6eee1 🚀
  iframe.html
  main.151cd77a.iframe.bundle.js
  main.82937197.iframe.bundle.js
  project.json
Due: none

removed unused imports
  packages/taraxa-ui/src/components/NetworkMenu/NetworkMenu.styles.ts
  packages/taraxa-ui/src/components/SearchInput/SearchInput.styles.ts
  packages/taraxa-ui/src/components/SearchInput/SearchInput.tsx
  packages/taraxa-ui/src/components/theme.tsx
Due: ui-package-modified

fixed sidebar
  packages/taraxa-ui/.eslintrc.js
  packages/taraxa-ui/src/components/Card/index.ts
  packages/taraxa-ui/src/components/app.scss
  services/community-site/package.json
  services/community-site/src/pages/Delegation/Delegation.tsx
  services/community-site/src/pages/Redeem/Redeem.tsx
  services/community-site/src/pages/RunNode/RunNode.tsx
  services/community-site/src/pages/Staking/Staking.tsx
Due: ui-package-modified, run-community-site-service-workflow

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@bd45848e2b6a51e1a1f4d3f01ccb8101fe8357db 🚀
  183.1a306308.iframe.bundle.js
  183.1a306308.iframe.bundle.js.LICENSE.txt
  183.1a306308.iframe.bundle.js.map
  205.bd4496e2.iframe.bundle.js
  205.bd4496e2.iframe.bundle.js.map
  iframe.html
  main.151cd77a.iframe.bundle.js
  main.3d2a7d56.iframe.bundle.js
  project.json
Due: none

Implement PageTitle component
  packages/taraxa-ui/src/components/PageTitle/PageTitle.stories.tsx
  packages/taraxa-ui/src/components/PageTitle/PageTitle.styles.ts
  packages/taraxa-ui/src/components/PageTitle/PageTitle.tsx
  packages/taraxa-ui/src/components/PageTitle/index.ts
Due: ui-package-modified

Add exports
  .eslintrc.js
  packages/taraxa-ui/src/index.ts
Due: ui-package-modified

Add color to theme
  packages/taraxa-ui/src/components/PageTitle/PageTitle.styles.ts
  packages/taraxa-ui/src/components/theme.tsx
Due: ui-package-modified

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@d0cf354336ee8a38016f0540fe33132b62ced329 🚀
  iframe.html
  main.3d2a7d56.iframe.bundle.js
  main.6af58e89.iframe.bundle.js
  project.json
Due: none

Lock in new mui v5
  services/community-site/package.json
  yarn.lock
Due: run-community-site-service-workflow

Fix theme, colors and spacing
  packages/taraxa-ui/src/components/DataCard/DataCard.styles.ts
  packages/taraxa-ui/src/components/Tooltip/Tooltip.styles.ts
  packages/taraxa-ui/src/components/Tooltip/Tooltip.tsx
  packages/taraxa-ui/src/components/theme.tsx
Due: ui-package-modified

Adjust code, fix staking and redeem sections
  services/community-site/src/pages/Redeem/Redeem.tsx
  services/community-site/src/pages/Staking/Staking.tsx
Due: run-community-site-service-workflow

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@0113e903a0434c8c54fe639bf77bc4e541406d7a 🚀
  183.1a306308.iframe.bundle.js
  183.1a306308.iframe.bundle.js.map
  66.a9f82295.iframe.bundle.js
  66.a9f82295.iframe.bundle.js.LICENSE.txt
  66.a9f82295.iframe.bundle.js.map
  iframe.html
  main.67b430f6.iframe.bundle.js
  main.6af58e89.iframe.bundle.js
  project.json
Due: none

Fix header modal z-index
  services/community-site/src/components/Header/header.scss
Due: run-community-site-service-workflow

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@f5344928c291f1b72d47b43acff26519f1e4f303 🚀
  project.json
Due: none

Init explorer cra, adjust config
  package.json
  services/explorer/.dockerignore
  services/explorer/.eslintrc.js
  services/explorer/.nvmrc
  services/explorer/.prettierignore
  services/explorer/README.md
  services/explorer/package.json
  services/explorer/public/favicon.png
  services/explorer/public/index.html
  services/explorer/public/logo192.png
  services/explorer/public/logo512.png
  services/explorer/public/manifest.json
  services/explorer/public/robots.txt
  services/explorer/src/App.css
  services/explorer/src/App.test.tsx
  services/explorer/src/App.tsx
  services/explorer/src/index.css
  services/explorer/src/index.tsx
  services/explorer/src/logo.svg
  services/explorer/src/react-app-env.d.ts
  services/explorer/src/reportWebVitals.ts
  services/explorer/src/setupTests.ts
  services/explorer/template.json
  services/explorer/tsconfig.json
  tsconfig.json
Due: none

Readd MUI v5
  services/community-site/package.json
  services/explorer/package.json
  services/explorer/src/App.css
  services/explorer/src/App.test.tsx
  services/explorer/src/App.tsx
  yarn.lock
Due: run-community-site-service-workflow

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@dd5110865d511f19ae063ab2430d13f1350eeadf 🚀
  28.1448cc6d.iframe.bundle.js
  28.1448cc6d.iframe.bundle.js.LICENSE.txt
  28.1448cc6d.iframe.bundle.js.map
  66.a9f82295.iframe.bundle.js
  66.a9f82295.iframe.bundle.js.map
  iframe.html
  main.67b430f6.iframe.bundle.js
  main.b5549cd3.iframe.bundle.js
  project.json
Due: none

Implement footer, add to app
  services/explorer/src/App.tsx
  services/explorer/src/components/Footer.tsx
  services/explorer/src/components/icons/discord.tsx
  services/explorer/src/components/icons/index.ts
  services/explorer/src/components/icons/send.tsx
  services/explorer/src/components/icons/twitter.tsx
Due: none

Fix header style
  packages/taraxa-ui/src/components/Header/Header.tsx
  packages/taraxa-ui/src/components/theme.tsx
  services/community-site/src/components/Header/Header.tsx
  services/community-site/src/components/Header/header.scss
Due: ui-package-modified, run-community-site-service-workflow

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@46749a369033c5f7547ebef76edaaaccb3eb2b8b 🚀
  iframe.html
  main.af5551a3.iframe.bundle.js
  main.b5549cd3.iframe.bundle.js
  project.json
Due: none

Fix header minHeight
  packages/taraxa-ui/src/components/theme.tsx
Due: ui-package-modified

Path conditions:
  ui-package-modified: any of: packages/taraxa-ui/.*
  run-community-site-service-workflow: any of: services/community-site/.*
  run-node-status-service-workflow: any of: services/node-status/.*
  run-delegation-service-workflow: any of: services/delegation/.*
  run-claim-backend-service-workflow: any of: services/claim-backend/.*
