Repository Taraxa-project/taraxa-platform: changes, and which CircleCI parameters are due for each by the changed paths.
All: ui-package-modified, run-community-site-service-workflow, run-node-status-service-workflow

.circleci/config.yml:

version: 2.1
setup: true
orbs:
  path-filtering: circleci/path-filtering@0.0.2
workflows:
  setup:
    jobs:
      - path-filtering/filter:
          base-revision: main
          mapping: |
            packages/taraxa-ui/.* ui-package-modified true
            services/community-site/.* run-community-site-service-workflow true
            services/node-status/.* run-node-status-service-workflow true
          config-path: .circleci/workflows.yml

Fix node list disappearing when it's empty
  services/community-site/src/pages/Delegation/Delegation.tsx
  services/community-site/tsconfig.json
Due: run-community-site-service-workflow

My nodes (#16)
  services/community-site/public/manifest.json
  services/community-site/src/pages/Delegation/Delegation.tsx
  services/community-site/tsconfig.json
  services/delegation/charts/community-delegation/values.yaml
  services/delegation/charts/prod.values.yaml
Due: run-community-site-service-workflow

delegation: changes default dates in db
  services/community-site/tsconfig.json
  services/delegation/src/modules/delegation/delegation-nonce.entity.ts
  services/delegation/src/modules/delegation/delegation-task.service.ts
  services/delegation/src/modules/delegation/delegation.entity.ts
  services/delegation/src/modules/node/node-commission.entity.ts
  services/delegation/src/modules/node/node.entity.ts
  services/delegation/src/modules/node/node.service.ts
  services/delegation/src/modules/profile/profile.entity.ts
Due: run-community-site-service-workflow

delegation: adds commission change threshold check
  services/delegation/src/config/delegation.ts
  services/delegation/src/modules/node/node.service.ts
Due: none

delegation: adds checksumed address check
  services/delegation/src/modules/node/node.entity.ts
  services/delegation/src/modules/node/node.service.ts
Due: none

added trophy icon when is top node
  packages/taraxa-ui/src/components/Icons/Trophy.tsx
  packages/taraxa-ui/src/components/Icons/index.ts
  services/community-site/src/pages/Delegation/Delegation.tsx
  services/community-site/src/pages/Delegation/delegation.scss
  services/community-site/tsconfig.json
Due: ui-package-modified, run-community-site-service-workflow

delegation: adds top nodes
  services/delegation/src/modules/node/node.entity.ts
  services/delegation/src/modules/node/node.module.ts
  services/delegation/src/modules/node/node.service.ts
  services/delegation/src/modules/node/top-user.entity.ts
  services/delegation/src/modules/node/validator.service.ts
Due: none

delegation: adds balance by node endpoint for undelegation
  services/delegation/src/modules/delegation/balance.controller.ts
  services/delegation/src/modules/delegation/delegation.service.ts
Due: none

delegation: adds canUndelegate value on node and undelegatable balance
  services/delegation/src/modules/delegation/delegation.service.ts
  services/delegation/src/modules/delegation/dto/balances-by-node.dto.ts
  services/delegation/src/modules/node/node.entity.ts
  services/delegation/src/modules/node/node.service.ts
  services/delegation/src/modules/node/validator.controller.ts
  services/delegation/src/modules/node/validator.service.ts
Due: none

delegation: adds cli service
  package.json
  services/delegation/package.json
  services/delegation/src/cli.ts
  yarn.lock
Due: none

delegation: fixes top node null value
  services/delegation/src/modules/node/node.entity.ts
Due: none

delegations: adds stats worker
  services/delegation/src/modules/delegation/delegation-task.service.ts
  services/delegation/src/modules/node/node-task.service.ts
  services/delegation/src/modules/node/node.module.ts
Due: none

delegations: fixes stats worker case sensitive address
  services/delegation/src/modules/node/node-task.service.ts
Due: none

added trophy legend
  services/community-site/src/pages/Delegation/Delegation.tsx
  services/community-site/src/pages/Delegation/delegation.scss
Due: run-community-site-service-workflow

delegations: adds sorting and isActive flag
  services/delegation/package.json
  services/delegation/src/modules/node/node.entity.ts
  services/delegation/src/modules/node/node.service.ts
  services/delegation/src/modules/node/validator.service.ts
  yarn.lock
Due: none

Render Trophy icon on top nodes (#17)
  packages/taraxa-ui/src/components/Icons/Trophy.tsx
  packages/taraxa-ui/src/components/Icons/index.ts
  services/community-site/src/pages/Delegation/Delegation.tsx
  services/community-site/src/pages/Delegation/delegation.scss
  services/community-site/tsconfig.json
Due: ui-package-modified, run-community-site-service-workflow

delegations: fixes nodes queries
  services/delegation/src/modules/node/node.entity.ts
Due: none

Use server side isActive flag, fix calculation of total blocks produced in run a node section
  services/community-site/src/pages/Delegation/Delegation.tsx
  services/community-site/src/pages/RunNode/RunNode.tsx
  services/community-site/src/pages/RunNode/Screen/EditNode.tsx
Due: run-community-site-service-workflow

delegations: fixes update commission vaidation
  services/community-site/src/pages/RunNode/Modal/UpdateCommission.tsx
Due: run-community-site-service-workflow

delegation: adds queueing capabilities
  services/community-site/charts/community-site/templates/secrets.yaml
  services/delegation/charts/community-delegation/templates/configmap.yaml
  services/delegation/charts/community-delegation/values.yaml
  services/delegation/charts/prod.values.yaml
  services/delegation/charts/qa.values.yaml
  services/delegation/package.json
  services/delegation/src/app.module.ts
  services/delegation/src/config/queue.ts
  services/delegation/src/modules/delegation/delegation.constants.ts
  services/delegation/src/modules/delegation/delegation.consumer.ts
  services/delegation/src/modules/delegation/delegation.module.ts
  services/delegation/src/modules/delegation/dto/create-delegation-nonce.dto.ts
  services/delegation/src/modules/delegation/jobs/ensure-delegation.job.ts
  yarn.lock
Due: run-community-site-service-workflow

delegation: adds events and delegation on node creation
  services/delegation/package.json
  services/delegation/src/app.module.ts
  services/delegation/src/modules/delegation/delegation-task.service.ts
  services/delegation/src/modules/delegation/delegation.consumer.ts
  services/delegation/src/modules/delegation/delegation.module.ts
  services/delegation/src/modules/delegation/delegation.service.ts
  services/delegation/src/modules/delegation/job/ensure-delegation.job.ts
  services/delegation/src/modules/delegation/listener/node-created.listener.ts
  services/delegation/src/modules/node/event/node-created.event.ts
  services/delegation/src/modules/node/node.constants.ts
  services/delegation/src/modules/node/node.module.ts
  services/delegation/src/modules/node/node.service.ts
  yarn.lock
Due: none

Cleanup node interfaces
  services/community-site/src/interfaces/Node.ts
  services/community-site/src/interfaces/OwnNode.ts
  services/community-site/src/interfaces/PublicNode.ts
  services/community-site/src/pages/Delegation/Delegation.tsx
  services/community-site/src/pages/RunNode/RunNode.tsx
  services/community-site/src/pages/RunNode/Screen/EditNode.tsx
Due: run-community-site-service-workflow

Use server side isActive flag, fix calculation of total blocks produced in run a node section (#18)
  services/community-site/src/interfaces/Node.ts
  services/community-site/src/interfaces/OwnNode.ts
  services/community-site/src/interfaces/PublicNode.ts
  services/community-site/src/pages/Delegation/Delegation.tsx
  services/community-site/src/pages/RunNode/RunNode.tsx
  services/community-site/src/pages/RunNode/Screen/EditNode.tsx
Due: run-community-site-service-workflow

delegation: ensure delegation when a new delegation is created
  services/delegation/src/modules/delegation/delegation.constants.ts
  services/delegation/src/modules/delegation/delegation.service.ts
  services/delegation/src/modules/delegation/event/delegation-created.event.ts
  services/delegation/src/modules/delegation/listener/delegation-created.listener.ts
Due: none

delegation: adds queue password
  services/community-site/charts/community-site/templates/secrets.yaml
  services/delegation/charts/community-delegation/templates/secrets.yaml
  services/delegation/src/app.module.ts
  services/delegation/src/config/queue.ts
Due: run-community-site-service-workflow

fix merge conflicts
  services/community-site/src/pages/Delegation/Delegation.tsx
  services/community-site/src/pages/Delegation/Modal/Undelegate.tsx
Due: run-community-site-service-workflow

delegation: ensure delegation when a node is deleted
  services/delegation/src/modules/delegation/delegation-task.service.ts
  services/delegation/src/modules/delegation/delegation.consumer.ts
  services/delegation/src/modules/delegation/delegation.module.ts
  services/delegation/src/modules/delegation/listener/delegation-created.listener.ts
  services/delegation/src/modules/delegation/listener/node-deleted.listener.ts
  services/delegation/src/modules/node/event/node-created.event.ts
  services/delegation/src/modules/node/event/node-deleted.event.ts
  services/delegation/src/modules/node/node.constants.ts
  services/delegation/src/modules/node/node.module.ts
  services/delegation/src/modules/node/node.service.ts
Due: none

delegation: ensure delegation for testnet nodes based on the current delegation
  services/delegation/src/config/delegation.ts
  services/delegation/src/modules/delegation/delegation.module.ts
  services/delegation/src/modules/delegation/delegation.service.ts
Due: none

delegation: ensure delegation for testnet nodes based on the current delegation
  services/delegation/src/modules/delegation/delegation.service.ts
Due: none

fixes in ui
  services/community-site/src/pages/Delegation/Delegation.tsx
  services/community-site/src/pages/Delegation/Modal/Delegate.tsx
  services/community-site/src/pages/Delegation/Modal/Undelegate.tsx
  services/community-site/src/pages/Delegation/delegation.scss
Due: run-community-site-service-workflow

delegation: ensure delegation for nodes when deleting nodes
  services/delegation/src/modules/delegation/delegation.consumer.ts
  services/delegation/src/modules/delegation/delegation.service.ts
  services/delegation/src/modules/staking/staking.service.ts
Due: none

Fix run a node page table design
  packages/taraxa-ui/src/components/Switch/Switch.tsx
  services/community-site/src/interfaces/PublicNode.ts
  services/community-site/src/pages/Delegation/Delegation.tsx
  services/community-site/src/pages/Delegation/delegation.scss
Due: ui-package-modified, run-community-site-service-workflow

minor cleanup
  services/community-site/src/pages/Delegation/Delegation.tsx
Due: run-community-site-service-workflow

changed topNode to get it from node instead of deconstructing
  services/community-site/src/pages/Delegation/Delegation.tsx
Due: run-community-site-service-workflow

community-site: show top node icon for fully delegated nodes
  services/community-site/src/pages/Delegation/Delegation.tsx
Due: run-community-site-service-workflow

delegation: sort nodes by isTopNode
  services/delegation/src/modules/node/validator.service.ts
Due: none
