Repository Taraxa-project/taraxa-platform: changes, and which CircleCI parameters are due for each by the changed paths.
All: ui-package-modified, run-community-site-service-workflow, build-community-site-helm-chart-workflow, run-community-backend-service-workflow, build-community-backend-helm-chart-workflow, run-node-status-service-workflow, run-delegation-service-workflow, run-claim-backend-service-workflow, build-faucet-workflow, build-faucet-helm-chart-workflow, build-explorer-workflow, build-explorer-helm-chart-workflow, build-explorer-indexer-workflow, build-explorer-indexer-helm-chart-workflow, build-explorer-api-workflow, build-explorer-api-helm-chart-workflow

.circleci/config.yml:

version: 2.1
setup: true
orbs:
  path-filtering: circleci/path-filtering@0.1.1
workflows:
  always-run:
    jobs:
      - path-filtering/filter:
          name: check-updated-files
          mapping: |
            packages/taraxa-ui/.* ui-package-modified true
            services/community-site/.* run-community-site-service-workflow true
            services/community-site/charts/.* build-community-site-helm-chart-workflow true
            services/community-backend/.* run-community-backend-service-workflow true
            services/community-backend/charts/.* build-community-backend-helm-chart-workflow true
            services/node-status/.* run-node-status-service-workflow true
            services/delegation/.* run-delegation-service-workflow true
            services/claim-backend/.* run-claim-backend-service-workflow true
            services/faucet/.* build-faucet-workflow true
            services/faucet/charts/.* build-faucet-helm-chart-workflow true
            services/explorer/.* build-explorer-workflow true
            services/explorer/charts/.* build-explorer-helm-chart-workflow true
            services/explorer-indexer/.* build-explorer-indexer-workflow true
            services/explorer-indexer/charts/.* build-explorer-indexer-helm-chart-workflow true
            services/explorer-api/.* build-explorer-api-workflow true
            services/explorer-api/charts/.* build-explorer-api-helm-chart-workflow true
          base-revision: << pipeline.git.branch >>
          config-path: .circleci/workflows.yml

implements node page delegation infographics
  services/community-site/src/pages/Delegation/NodeProfilePage.tsx
Due: run-community-site-service-workflow

code cleanup
  services/community-site/src/pages/Delegation/Delegation.tsx
  services/community-site/src/pages/Delegation/NodeProfilePage.tsx
Due: run-community-site-service-workflow

fixes commision change notification for owner
  services/community-site/src/pages/Delegation/Delegation.tsx
Due: run-community-site-service-workflow

fixes delegation error msg when no tokens
  services/community-site/src/pages/Delegation/Modal/Delegate.tsx
Due: run-community-site-service-workflow

fixes commission calc to 0-100 range
  services/community-site/src/pages/Delegation/NodeProfilePage.tsx
  services/community-site/src/services/useValidators.tsx
Due: run-community-site-service-workflow

fixes redelegation modal percentages
  services/community-site/src/pages/Delegation/Modal/ReDelegate.tsx
Due: run-community-site-service-workflow

removes winnder section, comments stat fetching
  services/community-site/src/pages/Delegation/Delegation.tsx
  services/community-site/src/pages/Delegation/Table/ValidatorRow.tsx
Due: run-community-site-service-workflow

Adjusted delegation table design and handled modals validation
  services/community-site/src/pages/Delegation/delegation.scss
  services/community-site/src/pages/RunNode/Modal.tsx
  services/community-site/src/pages/RunNode/Modal/EditValidator.tsx
  services/community-site/src/pages/RunNode/Modal/RegisterNode.tsx
  services/community-site/src/pages/RunNode/RunValidator.tsx
  services/community-site/src/pages/RunNode/runvalidator.scss
  services/community-site/src/services/useValidators.tsx
Due: run-community-site-service-workflow

fixes stats requests going to testnet
  services/community-site/src/pages/Delegation/Delegation.tsx
  services/community-site/src/services/useExplorerStats.tsx
Due: run-community-site-service-workflow

replaces table loader with skeleton
  services/community-site/src/pages/Delegation/Delegation.tsx
Due: run-community-site-service-workflow

fixes commission change notification to appear only when needed
  services/community-site/src/pages/Delegation/Delegation.tsx
Due: run-community-site-service-workflow

Added edit and delete testnodes actions
  services/community-site/src/pages/RunNode/Modal/RegisterNode.tsx
  services/community-site/src/pages/RunNode/RunValidator.tsx
  services/community-site/src/pages/RunNode/Table/TestnetValidatorRow.tsx
Due: run-community-site-service-workflow

fixes delegation to be set as own in case there is no active delegation registered for node
  services/community-site/src/pages/Delegation/NodeProfilePage.tsx
Due: run-community-site-service-workflow

hides delegation bar section
  services/community-site/src/pages/Delegation/NodeProfilePage.tsx
Due: run-community-site-service-workflow

delegation: fixes delegation to deleted nodes
  services/delegation/src/cli.ts
  services/delegation/src/modules/blockchain/blockchain.service.ts
  services/delegation/src/modules/delegation/delegation-task.service.ts
  services/delegation/src/modules/delegation/delegation.service.ts
  services/delegation/src/modules/node/node.consumer.ts
Due: run-delegation-service-workflow

table adjustmets
  services/community-site/src/pages/Delegation/Delegation.tsx
Due: run-community-site-service-workflow

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@632e1a195cba6d91393925302e0e99b0932af779 🚀
  project.json
Due: none

Increased table width
  services/community-site/src/pages/Delegation/delegation.scss
Due: run-community-site-service-workflow

delegation: fixes undelegation
  services/delegation/src/modules/blockchain/blockchain.service.ts
  services/delegation/src/modules/delegation/delegation-task.service.ts
  services/delegation/src/modules/delegation/delegation.service.ts
  services/delegation/src/modules/delegation/undelegation.entity.ts
Due: run-delegation-service-workflow

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@8126ca4fff194a4bdf427687551b12dff5664d35 🚀
  project.json
Due: none

implements reward claiming for stakes
  services/community-site/src/pages/Delegation/Delegation.tsx
  services/community-site/src/pages/Delegation/Modal/Claim.tsx
  services/community-site/src/pages/Delegation/Modal/Modals.tsx
  services/community-site/src/pages/Delegation/delegation.scss
Due: run-community-site-service-workflow

implements commission claiming for validators
  services/community-site/src/pages/Delegation/NodeProfilePage.tsx
  services/community-site/src/pages/Delegation/Table/ValidatorRow.tsx
  services/community-site/src/pages/RunNode/RunValidator.tsx
  services/community-site/src/pages/RunNode/Table/MainnetValidatorRow.tsx
Due: run-community-site-service-workflow

adds commission reward to validator type, hooks
  services/community-site/src/interfaces/Validator.ts
  services/community-site/src/services/useDelegation.tsx
  services/community-site/src/services/useValidators.tsx
Due: run-community-site-service-workflow

Created Loading Table skeleton
  packages/taraxa-ui/src/components/LoadingTable/LoadingTable.stories.tsx
  packages/taraxa-ui/src/components/LoadingTable/LoadingTable.tsx
  packages/taraxa-ui/src/components/LoadingTable/index.ts
  packages/taraxa-ui/src/index.ts
  services/community-site/src/pages/Delegation/Delegation.tsx
Due: ui-package-modified, run-community-site-service-workflow

Fixed delegation design
  services/community-site/src/pages/Delegation/Delegation.tsx
  services/community-site/src/pages/Delegation/Table/ValidatorRow.tsx
  services/community-site/src/pages/Delegation/delegation.scss
Due: run-community-site-service-workflow

Fixed validator table ui
  services/community-site/src/pages/RunNode/RunValidator.tsx
  services/community-site/src/pages/RunNode/Table/MainnetValidatorRow.tsx
  services/community-site/src/pages/RunNode/runvalidator.scss
Due: run-community-site-service-workflow

Adde back commission reward for node validator row
  services/community-site/src/pages/RunNode/Table/MainnetValidatorRow.tsx
Due: run-community-site-service-workflow

Integrated getValidatorsFor method for mainnet validators
  services/community-site/src/pages/RunNode/RunValidator.tsx
  services/community-site/src/services/useDpos.ts
  services/community-site/src/services/useValidators.tsx
Due: run-community-site-service-workflow

run workflow to build helm chart for delegation
  .circleci/config.yml
  .circleci/workflows.yml
  services/delegation/charts/qa.values.yaml
Due: run-delegation-service-workflow

fix missing secrets in values
  services/delegation/charts/community-delegation/values.yaml
Due: run-delegation-service-workflow

change keys in secret
  .circleci/workflows.yml
  services/delegation/charts/community-delegation/templates/secrets.yaml
Due: run-delegation-service-workflow

added appSecret.create bool
  services/delegation/charts/community-delegation/templates/secrets.yaml
  services/delegation/charts/community-delegation/values.yaml
Due: run-delegation-service-workflow

explorer: fetch pbft and dag counts from new indexer explorer: refactor pagination out of tables explorer: show transactions for genesis explorer: validators page explorer: address page
  services/explorer/.env.example
  services/explorer/Dockerfile
  services/explorer/docker-files/entrypoint.sh
  services/explorer/src/App.tsx
  services/explorer/src/api/explorer-api/fetchAddressStats.ts
  services/explorer/src/api/explorer-api/fetchBlocksByAddress.ts
  services/explorer/src/api/explorer-api/fetchDagsByAddress.ts
  services/explorer/src/api/explorer-api/fetchGenesisBlock.ts
  services/explorer/src/api/explorer-api/fetchNodes.ts
  services/explorer/src/api/explorer-api/fetchNumberBlocks.ts
  services/explorer/src/api/explorer-api/fetchPbftsByAddress.ts
  services/explorer/src/api/explorer-api/fetchPbftsCountByAddress.ts
  services/explorer/src/api/explorer-api/fetchTransactionsByAddress.ts
  services/explorer/src/api/explorer-api/fetchValidators.ts
  services/explorer/src/api/explorer-api/index.ts
  services/explorer/src/api/graphql/queries/pbftBlocks.ts
  services/explorer/src/api/mocks/nodes.ts
  services/explorer/src/api/types.ts
  services/explorer/src/components/AddressInfo/AddressInfo.tsx
  services/explorer/src/components/Tables/BlocksTable.tsx
  services/explorer/src/components/Tables/TransactionsTable.tsx
  services/explorer/src/hooks/useIndexer.tsx
  services/explorer/src/hooks/usePagination.tsx
  services/explorer/src/models/TableData.ts
  services/explorer/src/pages/AddressInfo/AddressInfo.effects.tsx
  services/explorer/src/pages/AddressInfo/AddressInfo.tsx
  services/explorer/src/pages/BlockData/DAGDataContainer.tsx
  services/explorer/src/pages/Nodes/Nodes.effects.tsx
  services/explorer/src/pages/Nodes/Nodes.tsx
  services/explorer/src/pages/PBFTData/PBFTDataContainer.effects.tsx
  services/explorer/src/pages/PBFTData/PBFTDataContainer.tsx
  services/explorer/src/pages/TransactionData/TransactionData.tsx
  services/explorer/src/utils/TransactionRow.tsx
  services/explorer/src/utils/networks.ts
Due: build-explorer-workflow

explorer: fetch pbft and dag counts from new indexer (#393)
  services/explorer/.env.example
  services/explorer/Dockerfile
  services/explorer/docker-files/entrypoint.sh
  services/explorer/src/App.tsx
  services/explorer/src/api/explorer-api/fetchAddressStats.ts
  services/explorer/src/api/explorer-api/fetchBlocksByAddress.ts
  services/explorer/src/api/explorer-api/fetchDagsByAddress.ts
  services/explorer/src/api/explorer-api/fetchGenesisBlock.ts
  services/explorer/src/api/explorer-api/fetchNodes.ts
  services/explorer/src/api/explorer-api/fetchNumberBlocks.ts
  services/explorer/src/api/explorer-api/fetchPbftsByAddress.ts
  services/explorer/src/api/explorer-api/fetchPbftsCountByAddress.ts
  services/explorer/src/api/explorer-api/fetchTransactionsByAddress.ts
  services/explorer/src/api/explorer-api/fetchValidators.ts
  services/explorer/src/api/explorer-api/index.ts
  services/explorer/src/api/graphql/queries/pbftBlocks.ts
  services/explorer/src/api/mocks/nodes.ts
  services/explorer/src/api/types.ts
  services/explorer/src/components/AddressInfo/AddressInfo.tsx
  services/explorer/src/components/Tables/BlocksTable.tsx
  services/explorer/src/components/Tables/TransactionsTable.tsx
  services/explorer/src/hooks/useIndexer.tsx
  services/explorer/src/hooks/usePagination.tsx
  services/explorer/src/models/TableData.ts
  services/explorer/src/pages/AddressInfo/AddressInfo.effects.tsx
  services/explorer/src/pages/AddressInfo/AddressInfo.tsx
  services/explorer/src/pages/BlockData/DAGDataContainer.tsx
  services/explorer/src/pages/Nodes/Nodes.effects.tsx
  services/explorer/src/pages/Nodes/Nodes.tsx
  services/explorer/src/pages/PBFTData/PBFTDataContainer.effects.tsx
  services/explorer/src/pages/PBFTData/PBFTDataContainer.tsx
  services/explorer/src/pages/TransactionData/TransactionData.tsx
  services/explorer/src/utils/TransactionRow.tsx
  services/explorer/src/utils/networks.ts
Due: build-explorer-workflow

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@09eb1d4b989921c84e4204e10c735373b26dedc4 🚀
  project.json
Due: none

explorer: use envs in helm chart
  services/explorer/charts/explorer-frontend/Chart.yaml
  services/explorer/charts/explorer-frontend/templates/configmap.yaml
  services/explorer/charts/explorer-frontend/templates/deployment.yaml
  services/explorer/charts/explorer-frontend/values.yaml
Due: build-explorer-workflow, build-explorer-helm-chart-workflow

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@bd29afbc3b8e52d1ff2c356fa56dedfe91e86e33 🚀
  project.json
Due: none

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@2c6495ebf2df55faa3bd2430843aa2853636c2a2 🚀
  project.json
Due: none

do not autodeploy yo qa
  .circleci/workflows.yml
Due: none

remove deploy-delegation job
  .circleci/workflows.yml
Due: none
