Repository Taraxa-project/taraxa-platform: changes, and which CircleCI parameters are due for each by the changed paths.
All: ui-package-modified, run-community-site-service-workflow, run-node-status-service-workflow, run-delegation-service-workflow, run-claim-backend-service-workflow

.circleci/config.yml:

version: 2.1
setup: true
orbs:
  path-filtering: circleci/path-filtering@0.1.1
workflows:
  always-run:
    jobs:
      - path-filtering/filter:
          name: check-updated-files
          mapping: |
            packages/taraxa-ui/.* ui-package-modified true
            services/community-site/.* run-community-site-service-workflow true
            services/node-status/.* run-node-status-service-workflow true
            services/delegation/.* run-delegation-service-workflow true
            services/claim-backend/.* run-claim-backend-service-workflow true
          base-revision: << pipeline.git.branch >>
          config-path: .circleci/workflows.yml

Refactor hook
  services/community-site/src/pages/Redeem/Redeem.tsx
Due: run-community-site-service-workflow

Make separate flows
  services/community-site/src/pages/Redeem/Redeem.tsx
Due: run-community-site-service-workflow

refactor disabled flag
  services/community-site/src/pages/Redeem/Redeem.tsx
Due: run-community-site-service-workflow

fix bignumber comparison
  services/community-site/src/pages/Redeem/Redeem.tsx
Due: run-community-site-service-workflow

format string to correct form
  services/community-site/src/pages/Redeem/Redeem.tsx
Due: run-community-site-service-workflow

strip .0 from tokens
  services/community-site/src/pages/Redeem/Redeem.tsx
Due: run-community-site-service-workflow

correct formatting
  .eslintrc.js
  services/community-site/src/pages/Redeem/Redeem.tsx
Due: run-community-site-service-workflow

Simplify disabled comparison
  services/community-site/src/pages/Redeem/Redeem.tsx
Due: run-community-site-service-workflow

Transform account to checksum
  services/community-site/src/pages/Redeem/Redeem.tsx
Due: run-community-site-service-workflow

change account addressed to be checksum
  services/community-site/src/pages/Delegation/Modal/Undelegate.tsx
  services/community-site/src/pages/Profile/ViewProfile.tsx
  services/community-site/src/pages/Staking/Staking.tsx
Due: run-community-site-service-workflow

updated profile on run a node page
  services/community-site/src/pages/RunNode/RunNode.tsx
  services/community-site/src/pages/RunNode/runnode.scss
Due: run-community-site-service-workflow

replace checksumAddress for custom hook
  services/community-site/src/App.tsx
  services/community-site/src/components/Sidebar/Sidebar.tsx
  services/community-site/src/components/Wallet.tsx
  services/community-site/src/pages/Delegation/Delegation.tsx
  services/community-site/src/pages/Delegation/Modal/Undelegate.tsx
  services/community-site/src/pages/Delegation/NodeProfilePage.tsx
  services/community-site/src/pages/Profile/ViewProfile.tsx
  services/community-site/src/pages/Redeem/Redeem.tsx
  services/community-site/src/pages/Staking/Modal/StakingSuccess.tsx
  services/community-site/src/pages/Staking/Staking.tsx
  services/community-site/src/services/useCMetamask.tsx
  services/community-site/src/services/useChain.tsx
Due: run-community-site-service-workflow

get nodes in useEffect run on mount
  services/community-site/src/pages/RunNode/RunNode.tsx
Due: run-community-site-service-workflow

added styled components
  services/community-site/package.json
  yarn.lock
Due: run-community-site-service-workflow

change margin in delegation table
  services/community-site/src/pages/Delegation/delegation.scss
Due: run-community-site-service-workflow

Chore: Adds mainnet rebalance cli command
  services/delegation/src/cli.ts
  services/delegation/src/modules/delegation/delegation.service.ts
Due: run-delegation-service-workflow

Fix: Handle errors if Metamask is on different network
  services/community-site/src/pages/Profile/Profile.tsx
  services/community-site/src/pages/Staking/Staking.tsx
  services/community-site/src/services/useAuth.tsx
  services/community-site/tsconfig.json
Due: run-community-site-service-workflow

Add workflow trigger
  .circleci/workflows.yml
Due: none

Redefine naming
  services/claim-backend/charts/claim-api/Chart.yaml
  services/claim-backend/charts/claim-api/values.yaml
  services/claim-backend/charts/prod.values.yaml
  services/claim-backend/charts/qa.values.yaml
Due: run-claim-backend-service-workflow

Chore: CircleCI build fixes
  .circleci/workflows.yml
Due: none

Chore: Changes node base image
  services/claim-backend/Dockerfile
Due: run-claim-backend-service-workflow

Chore: Renamed helm chart
  services/claim-backend/charts/claim-api/templates/service-db-proxy.yaml
  services/claim-backend/charts/claim-backend/.helmignore
  services/claim-backend/charts/claim-backend/Chart.yaml
  services/claim-backend/charts/claim-backend/templates/NOTES.txt
  services/claim-backend/charts/claim-backend/templates/_helpers.tpl
  services/claim-backend/charts/claim-backend/templates/configmap.yaml
  services/claim-backend/charts/claim-backend/templates/deployment-cron.yaml
  services/claim-backend/charts/claim-backend/templates/deployment-db.yaml
  services/claim-backend/charts/claim-backend/templates/deployment.yaml
  services/claim-backend/charts/claim-backend/templates/hpa.yaml
  services/claim-backend/charts/claim-backend/templates/ingress.yaml
  services/claim-backend/charts/claim-backend/templates/service-db-proxy.yaml
  services/claim-backend/charts/claim-backend/templates/service.yaml
  services/claim-backend/charts/claim-backend/templates/serviceaccount.yaml
  services/claim-backend/charts/claim-backend/values.yaml
Due: run-claim-backend-service-workflow

Chore: changes image registry location
  services/claim-backend/charts/claim-backend/values.yaml
  services/claim-backend/charts/prod.values.yaml
Due: run-claim-backend-service-workflow

Chore: Fixes CircleCI error
  .circleci/workflows.yml
Due: none

Chore: Fixes Docker build
  services/claim-backend/Dockerfile
Due: run-claim-backend-service-workflow

Chore: Fixes start script
  services/claim-backend/Dockerfile
Due: run-claim-backend-service-workflow

Chore: Increases memory for claim backend pod
  services/claim-backend/charts/claim-backend/values.yaml
Due: run-claim-backend-service-workflow

Chore: Changes cron run command
  services/claim-backend/charts/claim-backend/templates/deployment-cron.yaml
Due: run-claim-backend-service-workflow

Change route
  services/community-site/src/pages/Redeem/Redeem.tsx
Due: run-community-site-service-workflow

Fix errors, refactor account endpoint
  services/claim-backend/src/modules/blockchain/blockchain.service.ts
  services/claim-backend/src/modules/claim/account.controller.ts
  services/claim-backend/src/modules/claim/claim.service.ts
  yarn.lock
Due: run-claim-backend-service-workflow

Update claim & account controllers with latest implementation
  services/claim-backend/src/modules/claim/account.controller.ts
  services/claim-backend/src/modules/claim/claim.controller.ts
  services/claim-backend/src/modules/claim/claim.service.ts
Due: run-claim-backend-service-workflow

Make internal server error vebose
  services/claim-backend/src/modules/claim/claim.service.ts
Due: run-claim-backend-service-workflow

Change network
  services/claim-backend/charts/qa.values.yaml
Due: run-claim-backend-service-workflow
