Repository Taraxa-project/taraxa-platform: changes, and which CircleCI parameters are due for each by the changed paths.
All: ui-package-modified, run-community-backend-service-workflow, build-community-backend-helm-chart-workflow, run-claim-admin-service-workflow, build-claim-admin-helm-chart-workflow, run-community-site-service-workflow, build-community-site-helm-chart-workflow, run-node-status-service-workflow, run-delegation-service-workflow, build-delegation-helm-chart-workflow, run-claim-backend-service-workflow, build-claim-backend-helm-chart-workflow, build-faucet-workflow, build-faucet-helm-chart-workflow, build-explorer-workflow, build-explorer-helm-chart-workflow

Using selectedNetwork in the useEffect
  services/explorer/src/hooks/useExplorerNetwork.tsx
Due: build-explorer-workflow

Fixing design issue in firefox
  services/explorer/src/components/AddressInfo/AddressDetails.tsx
  services/explorer/src/components/DataRow/DataRow.styles.ts
  services/explorer/src/pages/PBFTData/PBFTDataContainer.tsx
Due: build-explorer-workflow

adds simple reroute from block to pbft on decimal param
  services/explorer/src/App.tsx
  services/explorer/src/pages/BlockData/DAGDataContainer.tsx
Due: build-explorer-workflow

adds simple reroute from block to pbft on decimal param (#595)
  services/explorer/src/App.tsx
  services/explorer/src/pages/BlockData/DAGDataContainer.tsx
Due: build-explorer-workflow

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@97ef23d0cf32f499e25e1d5063445ce3a15ca460 🚀
  iframe.html
  main.5a04836d.iframe.bundle.js
  main.e57f820b.iframe.bundle.js
  project.json
Due: none

Fixing design issue in firefox (#594)
  services/explorer/src/components/AddressInfo/AddressDetails.tsx
  services/explorer/src/components/DataRow/DataRow.styles.ts
  services/explorer/src/pages/PBFTData/PBFTDataContainer.tsx
Due: build-explorer-workflow

Fixed fetching blocks on last page (#593)
  services/explorer/src/pages/Blocks/Blocks.effects.ts
Due: build-explorer-workflow

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@0b4e3fc30886aa63222c2956583969ee471a56b2 🚀
  project.json
Due: none

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@7ca6e276bdacc5c7ce9be05cdf9ab3c2093c7441 🚀
  project.json
Due: none

Fixed issue refresh issue on actions (#580)
  services/community-site/src/pages/Redeem/Redeem.tsx
  services/community-site/src/pages/RunNode/RunValidator.tsx
  services/community-site/src/pages/Staking/Delegation.tsx
  services/community-site/src/pages/Staking/NodeProfilePage.tsx
Due: run-community-site-service-workflow

Fixed method for converting timestamp to age (#587)
  services/explorer/src/utils/TransactionRow.tsx
Due: build-explorer-workflow

Revert "Fixing design issue in firefox (#594)"
  services/explorer/src/components/AddressInfo/AddressDetails.tsx
  services/explorer/src/components/DataRow/DataRow.styles.ts
  services/explorer/src/pages/PBFTData/PBFTDataContainer.tsx
Due: build-explorer-workflow

Revert "Revert "Fixing design issue in firefox (#594)""
  services/explorer/src/components/AddressInfo/AddressDetails.tsx
  services/explorer/src/components/DataRow/DataRow.styles.ts
  services/explorer/src/pages/PBFTData/PBFTDataContainer.tsx
Due: build-explorer-workflow

Revert "Fixed issue refresh issue on actions (#580)"
  services/community-site/src/pages/Redeem/Redeem.tsx
  services/community-site/src/pages/RunNode/RunValidator.tsx
  services/community-site/src/pages/Staking/Delegation.tsx
  services/community-site/src/pages/Staking/NodeProfilePage.tsx
Due: run-community-site-service-workflow

Revert "Revert "Fixed issue refresh issue on actions (#580)""
  services/community-site/src/pages/Redeem/Redeem.tsx
  services/community-site/src/pages/RunNode/RunValidator.tsx
  services/community-site/src/pages/Staking/Delegation.tsx
  services/community-site/src/pages/Staking/NodeProfilePage.tsx
Due: run-community-site-service-workflow

Changed timestamp from age to date
  services/explorer/src/components/Tables/BlocksTable.tsx
  services/explorer/src/components/Tables/TransactionsTable.tsx
  services/explorer/src/pages/Home/Home.effects.tsx
  services/explorer/src/pages/TransactionData/TransactionData.tsx
  services/explorer/src/utils/TransactionRow.tsx
  services/explorer/src/utils/dateFormat.ts
  services/explorer/src/utils/index.ts
Due: build-explorer-workflow

Enabled network selection regardless of host
  services/explorer/src/components/Header/DrawerElements.tsx
  services/explorer/src/components/Header/Header.effects.ts
  services/explorer/src/hooks/useExplorerNetwork.tsx
Due: build-explorer-workflow

Enabled network selection regardless of host (#597)
  services/explorer/src/components/Header/DrawerElements.tsx
  services/explorer/src/components/Header/Header.effects.ts
  services/explorer/src/hooks/useExplorerNetwork.tsx
Due: build-explorer-workflow

Showing relative date consistantly
  services/explorer/src/components/Tables/BlocksTable.tsx
  services/explorer/src/components/Tables/TransactionsTable.tsx
  services/explorer/src/pages/BlockData/DAGDataContainer.tsx
  services/explorer/src/pages/Home/Home.effects.tsx
  services/explorer/src/pages/PBFTData/PBFTDataContainer.tsx
  services/explorer/src/pages/TransactionData/TransactionData.tsx
  services/explorer/src/utils/dateFormat.ts
Due: build-explorer-workflow

Added relative date to transaction row
  services/explorer/src/utils/TransactionRow.tsx
Due: build-explorer-workflow

Solved merge issue
  packages/taraxa-ui/src/components/AwardCard/AwardCard.tsx
  packages/taraxa-ui/src/components/BlockCard/BlockCard.tsx
  packages/taraxa-ui/src/components/TransactionDetails/TransactionDetails.tsx
  services/explorer/src/components/Header/DrawerElements.tsx
  services/explorer/src/components/PageTitle/PageTitle.tsx
  services/explorer/src/components/Tables/BlocksTable.tsx
  services/explorer/src/components/Tables/Table.tsx
  services/explorer/src/components/Tables/TransactionsTable.tsx
  services/explorer/src/pages/Holders/Holders.tsx
  services/explorer/src/pages/Nodes/Nodes.tsx
  services/explorer/tsconfig.json
Due: ui-package-modified, build-explorer-workflow

Fixed typing for ProgressBar
  packages/taraxa-ui/src/components/Icons/Exclamation.tsx
  packages/taraxa-ui/src/components/ProgressBar/ProgressBar.tsx
  services/explorer/src/components/Header/DrawerElements.tsx
  services/explorer/src/components/Tables/Table.tsx
Due: ui-package-modified, build-explorer-workflow

Fix/mui fixes (#598)
  packages/taraxa-ui/src/components/AwardCard/AwardCard.tsx
  packages/taraxa-ui/src/components/BlockCard/BlockCard.tsx
  packages/taraxa-ui/src/components/Icons/Exclamation.tsx
  packages/taraxa-ui/src/components/ProgressBar/ProgressBar.tsx
  packages/taraxa-ui/src/components/TransactionDetails/TransactionDetails.tsx
  services/explorer/src/components/Header/DrawerElements.tsx
  services/explorer/src/components/PageTitle/PageTitle.tsx
  services/explorer/src/components/Tables/BlocksTable.tsx
  services/explorer/src/components/Tables/Table.tsx
  services/explorer/src/components/Tables/TransactionsTable.tsx
  services/explorer/src/pages/Holders/Holders.tsx
  services/explorer/src/pages/Nodes/Nodes.tsx
  services/explorer/tsconfig.json
Due: ui-package-modified, build-explorer-workflow

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@dfcb16d769d5fd9a4a7b5d9ce16ab20fa4650ce4 🚀
  project.json
Due: none

Removed second comp prop
  services/explorer/src/components/Tables/BlocksTable.tsx
  services/explorer/src/components/Tables/Table.tsx
  services/explorer/src/components/Tables/TransactionsTable.tsx
Due: build-explorer-workflow

Added tooltip on dates
  packages/taraxa-ui/src/components/BaseTooltip/BaseTooltip.css
  packages/taraxa-ui/src/components/BaseTooltip/BaseTooltip.tsx
  packages/taraxa-ui/src/components/BaseTooltip/index.ts
  packages/taraxa-ui/src/components/TransactionDetails/TransactionDetails.tsx
  packages/taraxa-ui/src/index.ts
  services/explorer/src/components/Tables/BlocksTable.tsx
  services/explorer/src/components/Tables/TransactionsTable.tsx
  services/explorer/src/models/TableData.ts
  services/explorer/src/pages/BlockData/DAGDataContainer.tsx
  services/explorer/src/pages/Home/Home.effects.tsx
  services/explorer/src/pages/PBFTData/PBFTDataContainer.tsx
  services/explorer/src/pages/TransactionData/TransactionData.tsx
Due: ui-package-modified, build-explorer-workflow

Forgot about this file
  services/explorer/src/utils/TransactionRow.tsx
Due: build-explorer-workflow

Removed second comp prop (#599)
  services/explorer/src/components/Tables/BlocksTable.tsx
  services/explorer/src/components/Tables/Table.tsx
  services/explorer/src/components/Tables/TransactionsTable.tsx
Due: build-explorer-workflow

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@ac89e9727f1b281392ace83d54aa5cb8fac8d6c0 🚀
  project.json
Due: none

Changed timestamp from age to date (#596)
  packages/taraxa-ui/src/components/BaseTooltip/BaseTooltip.css
  packages/taraxa-ui/src/components/BaseTooltip/BaseTooltip.tsx
  packages/taraxa-ui/src/components/BaseTooltip/index.ts
  packages/taraxa-ui/src/components/TransactionDetails/TransactionDetails.tsx
  packages/taraxa-ui/src/index.ts
  services/explorer/src/components/Tables/BlocksTable.tsx
  services/explorer/src/components/Tables/TransactionsTable.tsx
  services/explorer/src/models/TableData.ts
  services/explorer/src/pages/BlockData/DAGDataContainer.tsx
  services/explorer/src/pages/Home/Home.effects.tsx
  services/explorer/src/pages/PBFTData/PBFTDataContainer.tsx
  services/explorer/src/pages/TransactionData/TransactionData.tsx
  services/explorer/src/utils/TransactionRow.tsx
  services/explorer/src/utils/dateFormat.ts
  services/explorer/src/utils/index.ts
Due: ui-package-modified, build-explorer-workflow

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@76f4815c3c46cfa762fb12bede455298a7d9d549 🚀
  iframe.html
  main.5a04836d.iframe.bundle.js
  main.5b7e01a4.iframe.bundle.js
  project.json
Due: none

Remoived unnecessary rollup image package
  packages/taraxa-sdk/package.json
  packages/taraxa-sdk/rollup.config.js
Due: none

Moved interfaces and logic to DposClient
  packages/taraxa-sdk/src/DposClient.ts
  packages/taraxa-sdk/src/index.ts
  packages/taraxa-sdk/src/interfaces/Delegation.ts
  packages/taraxa-sdk/src/interfaces/Undelegation.ts
  packages/taraxa-sdk/src/interfaces/Validator.ts
  packages/taraxa-sdk/src/interfaces/index.ts
  services/community-site/src/interfaces/Delegation.ts
  services/community-site/src/interfaces/Node.ts
  services/community-site/src/interfaces/Validator.ts
  services/community-site/src/pages/RunNode/Modal/RegisterNode.tsx
  services/community-site/src/pages/RunNode/RunValidator.tsx
  services/community-site/src/pages/Staking/Delegation.tsx
  services/community-site/src/services/useDelegation.tsx
  services/community-site/src/services/useExplorerStats.tsx
  services/community-site/src/services/useValidators.tsx
Due: run-community-site-service-workflow

Removed rollup url dependency
  packages/taraxa-sdk/package.json
  packages/taraxa-sdk/rollup.config.js
Due: none

Updated imports from sdk
  services/community-site/src/pages/RunNode/Modal.tsx
  services/community-site/src/pages/RunNode/Screen/EditNode.tsx
  services/community-site/src/pages/RunNode/Screen/UpdateValidator.tsx
  services/community-site/src/pages/RunNode/Table/MainnetValidatorRow.tsx
  services/community-site/src/pages/RunNode/Table/TestnetValidatorRow.tsx
  services/community-site/src/pages/Staking/Modal/Claim.tsx
  services/community-site/src/pages/Staking/Modal/Delegate.tsx
  services/community-site/src/pages/Staking/Modal/Modals.tsx
  services/community-site/src/pages/Staking/Modal/Undelegate.tsx
  services/community-site/src/pages/Staking/NodeProfilePage.tsx
  services/community-site/src/pages/Staking/Table/ValidatorRow.tsx
  services/community-site/src/services/useAllValidators.tsx
  services/community-site/src/services/useRedelegation.tsx
Due: run-community-site-service-workflow

Created Provider Factory
  packages/taraxa-sdk/src/DposClient.ts
  packages/taraxa-sdk/src/ProviderFactory.ts
Due: none

Updated node example file
  packages/taraxa-sdk/examples/node.ts
Due: none

Path conditions:
  ui-package-modified: any of: packages/taraxa-ui/.*
  run-community-backend-service-workflow: any of: legacy/community-backend/.*
  build-community-backend-helm-chart-workflow: any of: legacy/community-backend/charts/.*
  run-claim-admin-service-workflow: any of: legacy/claim-admin/.*
  build-claim-admin-helm-chart-workflow: any of: legacy/claim-admin/charts/.*
  run-community-site-service-workflow: any of: services/community-site/.*
  build-community-site-helm-chart-workflow: any of: services/community-site/charts/.*
  run-node-status-service-workflow: any of: services/node-status/.*
  run-delegation-service-workflow: any of: services/delegation/.*
  build-delegation-helm-chart-workflow: any of: services/delegation/charts/.*
  run-claim-backend-service-workflow: any of: services/claim-backend/.*
  build-claim-backend-helm-chart-workflow: any of: services/claim-backend/charts/.*
  build-faucet-workflow: any of: services/faucet/.*
  build-faucet-helm-chart-workflow: any of: services/faucet/charts/.*
  build-explorer-workflow: any of: services/explorer/.*
  build-explorer-helm-chart-workflow: any of: services/explorer/charts/.*
