Repository Taraxa-project/taraxa-platform: changes, and which CircleCI parameters are due for each by the changed paths.
All: ui-package-modified, run-community-backend-service-workflow, build-community-backend-helm-chart-workflow, run-claim-admin-service-workflow, build-claim-admin-helm-chart-workflow, run-community-site-service-workflow, build-community-site-helm-chart-workflow, run-node-status-service-workflow, run-delegation-service-workflow, build-delegation-helm-chart-workflow, run-claim-backend-service-workflow, build-claim-backend-helm-chart-workflow, build-faucet-workflow, build-faucet-helm-chart-workflow, build-explorer-workflow, build-explorer-helm-chart-workflow

.circleci/config.yml:

version: 2.1
setup: true
orbs:
  path-filtering: circleci/path-filtering@0.1.1
workflows:
  always-run:
    jobs:
      - path-filtering/filter:
          name: check-updated-files
          mapping: |
            packages/taraxa-ui/.* ui-package-modified true
            legacy/community-backend/.* run-community-backend-service-workflow true
            legacy/community-backend/charts/.* build-community-backend-helm-chart-workflow true
            legacy/claim-admin/.* run-claim-admin-service-workflow true
            legacy/claim-admin/charts/.* build-claim-admin-helm-chart-workflow true
            services/community-site/.* run-community-site-service-workflow true
            services/community-site/charts/.* build-community-site-helm-chart-workflow true
            services/node-status/.* run-node-status-service-workflow true
            services/delegation/.* run-delegation-service-workflow true
            services/delegation/charts/.* build-delegation-helm-chart-workflow true
            services/claim-backend/.* run-claim-backend-service-workflow true
            services/claim-backend/charts/.* build-claim-backend-helm-chart-workflow true
            services/faucet/.* build-faucet-workflow true
            services/faucet/charts/.* build-faucet-helm-chart-workflow true
            services/explorer/.* build-explorer-workflow true
            services/explorer/charts/.* build-explorer-helm-chart-workflow true
          base-revision: << pipeline.git.branch >>
          config-path: .circleci/workflows.yml

community: updates favicon and other assets
  services/explorer/public/favicon.png
  services/explorer/public/logo192.png
  services/explorer/public/logo512.png
Due: build-explorer-workflow

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@6f1716e71d899ced5e0e11affef2793aa5f13a67 🚀
  iframe.html
  main.316c3095.iframe.bundle.js
  main.93f3f8c3.iframe.bundle.js
  project.json
Due: none

community: updates favicon and other assets
  services/community-site/public/favicon.png
  services/community-site/public/logo192.png
  services/community-site/public/logo512.png
Due: run-community-site-service-workflow

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@1ca0773eea1e1c9d9ea36eb181e52c02469c9fba 🚀
  project.json
Due: none

delegation: changes default commission for node creation
  services/delegation/src/modules/blockchain/blockchain.module.ts
  services/delegation/src/modules/blockchain/blockchain.service.ts
Due: run-delegation-service-workflow

removes docker image tag
  .circleci/workflows.yml
Due: none

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@875089e24eb16c1b0648d4b8e84818aa1eadca89 🚀
  project.json
Due: none

Revert "delegation: changes default commission for node creation"
  services/delegation/src/modules/blockchain/blockchain.module.ts
  services/delegation/src/modules/blockchain/blockchain.service.ts
Due: run-delegation-service-workflow

Reapply "delegation: changes default commission for node creation"
  services/delegation/src/modules/blockchain/blockchain.module.ts
  services/delegation/src/modules/blockchain/blockchain.service.ts
Due: run-delegation-service-workflow

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@b5ebde32aa5de0b5b4fb6aface160881afc8535f 🚀
  project.json
Due: none

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@1d50215b643a134205ebcc34807dac71b079ac17 🚀
  project.json
Due: none

delegation: fixes wrong nonce when registering validators
  services/delegation/src/modules/blockchain/blockchain.service.ts
Due: run-delegation-service-workflow

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@5025da377cac6f15d25814026384441ed9362877 🚀
  project.json
Due: none

explorer: updates blc address
  services/explorer/src/hooks/useAddressLabel.tsx
Due: build-explorer-workflow

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@1cc6409f5c98c2075f58f12d55ca07d49c918599 🚀
  project.json
Due: none

(fix): Create a context for dpos hook
  packages/dpos-subgraph/package.json
  services/community-site/package.json
  services/community-site/src/App.tsx
  services/community-site/src/pages/RunNode/Screen/UpdateValidator.tsx
  services/community-site/src/services/useDelegation.tsx
  services/community-site/src/services/useDpos.ts
  services/community-site/src/services/useDpos.tsx
  services/community-site/src/services/useValidators.tsx
  yarn.lock
Due: run-community-site-service-workflow

(feat): Moved a lot of hooks inside the new useValidators context
  services/community-site/src/App.tsx
  services/community-site/src/pages/RunNode/Modal/RegisterNode.tsx
  services/community-site/src/pages/RunNode/Modal/UpdateCommission.tsx
  services/community-site/src/pages/RunNode/RunValidator.tsx
  services/community-site/src/pages/RunNode/Screen/UpdateValidator.tsx
  services/community-site/src/pages/Staking/Delegation.tsx
  services/community-site/src/pages/Staking/NodeProfilePage.tsx
  services/community-site/src/services/useAllValidators.tsx
  services/community-site/src/services/useExplorerStats.tsx
  services/community-site/src/services/useMainnet.tsx
  services/community-site/src/services/useValidators.tsx
  services/community-site/src/services/useValidatorsWeeklyStats.tsx
Due: run-community-site-service-workflow

(chore): Improving useValidators
  services/community-site/src/services/useValidators.tsx
Due: run-community-site-service-workflow

dpos-subgraph: index new delegation events
  packages/dpos-subgraph/abis/Dpos.json
  packages/dpos-subgraph/src/mapping.ts
  packages/dpos-subgraph/subgraph.yaml
Due: none

(chore): Updating footer description
  services/community-site/src/components/Footer/Footer.tsx
  services/explorer/src/components/Footer/Footer.tsx
  services/node-status/pages/index.tsx
Due: run-community-site-service-workflow, run-node-status-service-workflow, build-explorer-workflow

(chore): Updated description
  services/community-site/src/components/Footer/Footer.tsx
  services/explorer/src/components/Footer/Footer.tsx
  services/node-status/pages/index.tsx
Due: run-community-site-service-workflow, run-node-status-service-workflow, build-explorer-workflow

(chore): Fixed typo
  services/community-site/src/components/Footer/Footer.tsx
Due: run-community-site-service-workflow

Florin/update footers description (#610)
  services/community-site/src/components/Footer/Footer.tsx
  services/explorer/src/components/Footer/Footer.tsx
  services/node-status/pages/index.tsx
Due: run-community-site-service-workflow, run-node-status-service-workflow, build-explorer-workflow

(feat): Added helper text on faucet page
  services/explorer/src/pages/Faucet/Faucet.tsx
Due: build-explorer-workflow

Updated address label
  services/explorer/src/hooks/useAddressLabel.tsx
Due: build-explorer-workflow

feat: remove kyc
  services/community-site/src/assets/icons/kyc.tsx
  services/community-site/src/pages/Profile/Modal/KYC.tsx
  services/community-site/src/pages/Profile/Modal/KYCError.tsx
  services/community-site/src/pages/Profile/Modal/KYCSuccess.tsx
  services/community-site/src/pages/Profile/Profile.tsx
  services/community-site/src/pages/Profile/ViewProfile.tsx
  services/community-site/src/pages/Profile/profile.scss
  services/community-site/src/pages/Staking/Delegation.tsx
Due: run-community-site-service-workflow

remove annotations from community backend
  services/community-site/charts/community-site/Chart.yaml
  services/community-site/charts/community-site/values.yaml
Due: run-community-site-service-workflow, build-community-site-helm-chart-workflow

dpos-subgraph: index validators
  packages/dpos-subgraph/schema.graphql
  packages/dpos-subgraph/src/mapping.ts
  packages/dpos-subgraph/subgraph.yaml
Due: none

community-site: removes direct calls to contract from delegation page
  services/community-site/.env.example
  services/community-site/Dockerfile
  services/community-site/charts/community-site/templates/community-frontend-deployment.yaml
  services/community-site/charts/community-site/values.yaml
  services/community-site/docker-files/entrypoint.sh
  services/community-site/src/interfaces/Validator.ts
  services/community-site/src/pages/RunNode/RunValidator.tsx
  services/community-site/src/pages/Staking/Delegation.tsx
  services/community-site/src/pages/Staking/NodeProfilePage.tsx
  services/community-site/src/services/useAllValidators.tsx
  services/community-site/src/services/useDpos.ts
  services/community-site/src/services/useDposSubgraph.ts
  services/community-site/src/services/useExplorerStats.tsx
  services/community-site/src/services/useTaraxaApi.ts
  services/community-site/src/services/useValidators.tsx
Due: run-community-site-service-workflow, build-community-site-helm-chart-workflow
