Repository Taraxa-project/taraxa-platform: changes, and which CircleCI parameters are due for each by the changed paths.
All: ui-package-modified, run-community-site-service-workflow, run-node-status-service-workflow, run-delegation-service-workflow

.circleci/config.yml:

version: 2.1
setup: true
orbs:
  path-filtering: circleci/path-filtering@0.0.2
workflows:
  setup:
    jobs:
      - path-filtering/filter:
          base-revision: << pipeline.git.branch >>
          mapping: |
            packages/taraxa-ui/.* ui-package-modified true
            services/community-site/.* run-community-site-service-workflow true
            services/node-status/.* run-node-status-service-workflow true
            services/delegation/.* run-delegation-service-workflow true
          config-path: .circleci/workflows.yml

extract helper methods for claim
  services/community-site/src/utils/claim.ts
Due: run-community-site-service-workflow

Finalize backend implementation
  src/modules/claim/claim.controller.ts
  src/modules/claim/claim.service.ts
Due: none

renamed claim rewards button and fix profile email and name
  packages/taraxa-ui/src/components/ProfileCard/ProfileCard.tsx
  packages/taraxa-ui/src/components/ProfileCard/profilecard-styles.tsx
  services/community-site/src/pages/Profile/ViewProfile.tsx
Due: ui-package-modified, run-community-site-service-workflow

fixed bad undelegatedstake
  services/community-site/src/pages/Staking/Staking.tsx
Due: run-community-site-service-workflow

Provide hot-reloads on taraxa-ui
  nodemon.json
  package.json
  yarn.lock
Due: none

Update root packages
  .nvmrc
  .tool-versions
  package.json
  yarn.lock
Due: none

Update eslint configs, add node@16 ad default
  .eslintrc.js
  services/community-site/.nvmrc
  services/community-site/package.json
  yarn.lock
Due: run-community-site-service-workflow

Update delegation
  services/delegation/.nvmrc
  services/delegation/package.json
  services/delegation/src/modules/staking/staking.service.ts
  yarn.lock
Due: run-delegation-service-workflow

Update services/community-site/src/pages/Staking/Staking.tsx
  services/community-site/src/pages/Staking/Staking.tsx
Due: run-community-site-service-workflow

Update status
  .eslintrc.js
  services/community-site/tsconfig.json
  services/node-status/.nvmrc
  services/node-status/lib/rpc.js
  services/node-status/package.json
  services/node-status/pages/index.js
  yarn.lock
Due: run-community-site-service-workflow, run-node-status-service-workflow

Remove delegation cmds
  package.json
Due: none

renamed claim rewards button and fix profile email and name (#93)
  packages/taraxa-ui/src/components/ProfileCard/ProfileCard.tsx
  packages/taraxa-ui/src/components/ProfileCard/profilecard-styles.tsx
  services/community-site/src/pages/Profile/ViewProfile.tsx
Due: ui-package-modified, run-community-site-service-workflow

Provide hot-reloads on taraxa-ui (#94)
  nodemon.json
  package.json
  yarn.lock
Due: none

added claim api and changes to display rewards correctly in profile
  packages/taraxa-ui/src/components/ProfileBasicCard/ProfileBasicCard.tsx
  packages/taraxa-ui/src/components/ProfileBasicCard/profilebasiccard-styles.tsx
  services/community-site/src/pages/Profile/ViewProfile.tsx
  services/community-site/src/pages/Profile/profile.scss
  services/community-site/src/services/useApi.ts
Due: ui-package-modified, run-community-site-service-workflow

added claim api and changes to display rewards correctly in profile (#98)
  packages/taraxa-ui/src/components/ProfileBasicCard/ProfileBasicCard.tsx
  packages/taraxa-ui/src/components/ProfileBasicCard/profilebasiccard-styles.tsx
  services/community-site/src/pages/Profile/ViewProfile.tsx
  services/community-site/src/pages/Profile/profile.scss
  services/community-site/src/services/useApi.ts
Due: ui-package-modified, run-community-site-service-workflow

Implement PR feedback changes
  services/community-site/src/pages/Redeem/Redeem.tsx
  services/community-site/src/services/useApi.ts
  services/community-site/src/services/useRedeem.ts
  services/community-site/src/utils/claim.ts
Due: run-community-site-service-workflow

Add definitions to package.json
  package.json
Due: none

Format
  services/claim-backend/.prettierrc
  services/claim-backend/README.md
  services/claim-backend/docker-compose.yml
  services/community-site/tsconfig.json
Due: run-community-site-service-workflow

Maintain packages, change import
  services/claim-backend/package.json
  services/claim-backend/src/modules/claim/claim.service.ts
  services/claim-backend/tsconfig.json
  yarn.lock
Due: none

correct workflow keys
  .circleci/workflows.yml
Due: none

COrrect workflow param
  .circleci/workflows.yml
Due: none

addex exclamation icon, improve notification, upgraded to use es6
  packages/taraxa-ui/src/components/Icons/Exclamation.tsx
  packages/taraxa-ui/src/components/Icons/index.ts
  packages/taraxa-ui/src/components/Notification/Notification.tsx
  packages/taraxa-ui/src/components/Notification/notification-styles.tsx
  tsconfig.json
Due: ui-package-modified

Issue #41: Saves rewards to db, add epochs
  services/delegation/src/cli.ts
  services/delegation/src/modules/reward/reward-type.enum.ts
  services/delegation/src/modules/reward/reward.entity.ts
  services/delegation/src/modules/reward/reward.module.ts
  services/delegation/src/modules/reward/reward.service.ts
Due: run-delegation-service-workflow

Revert "Finalize backend implementation"
  src/modules/claim/claim.controller.ts
  src/modules/claim/claim.service.ts
Due: none

Revert "Delete .env.example"
  .env.example
Due: none

Revert "Make compose work on m1"
  docker-compose.yml
Due: none

Revert "Refactor endpoints to support new flow"
  src/modules/claim/claim.controller.ts
  src/modules/claim/claim.service.ts
Due: none

Add style layer
  services/community-site/src/pages/Redeem/Redeem.tsx
  services/community-site/src/pages/Redeem/redeem.scss
Due: run-community-site-service-workflow

chore: add cli script to remove delegation from all nodes
  services/delegation/src/cli.ts
  services/delegation/src/modules/delegation/delegation.service.ts
Due: run-delegation-service-workflow

chore: changes mainnet delegation to use wei TARA
  services/delegation/src/config/delegation.ts
  services/delegation/src/modules/delegation/delegation.service.ts
Due: run-delegation-service-workflow

Finalize integration
  services/claim-backend/package.json
  services/claim-backend/src/modules/claim/claim.service.ts
  services/claim-backend/tsconfig.json
  yarn.lock
Due: none

Add claim to workflows
  .circleci/config.yml
  .circleci/workflows.yml
Due: none

Add dist to gitignore
  .gitignore
Due: none

Lock in deps
  yarn.lock
Due: none

WIP: Add compose script, apk update python versions for cross-platform, add envs
  docker-compose.yml
  package.json
  packages/taraxa-ui/package.json
  services/claim-backend/.env.example
  services/claim-backend/Dockerfile
  services/community-site/Dockerfile
  services/community-site/env.local
  services/community-site/tsconfig.json
  services/delegation/Dockerfile
  yarn.lock
Due: ui-package-modified, run-community-site-service-workflow, run-delegation-service-workflow

Add compose env file, correct backend containers
  .env.compose
  docker-compose.yml
  services/claim-backend/Dockerfile
  services/delegation/Dockerfile
Due: run-delegation-service-workflow

Implement table with mocked data (#92)
  services/community-site/package.json
  services/community-site/src/pages/Redeem/Redeem.tsx
  services/community-site/src/pages/Redeem/redeem.scss
  services/community-site/src/services/useApi.ts
  services/community-site/src/services/useRedeem.ts
Due: run-community-site-service-workflow
