Repository Taraxa-project/taraxa-platform: changes, and which CircleCI parameters are due for each by the changed paths.
All: ui-package-modified, run-community-site-service-workflow, run-node-status-service-workflow, run-delegation-service-workflow, run-claim-backend-service-workflow

fix(community): Fixd tooltip color
  packages/taraxa-ui/src/components/Tooltip/Tooltip.styles.ts
Due: ui-package-modified

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@0f6ca905555ccf4600a9ba6dc9a67709f533354f 🚀
  457.85385205c2cd9684c1d1.manager.bundle.js
  457.d73dfaa3da2cd5c654c3.manager.bundle.js
  457.d73dfaa3da2cd5c654c3.manager.bundle.js.LICENSE.txt
  716.0b95a491.iframe.bundle.js
  716.0b95a491.iframe.bundle.js.LICENSE.txt
  716.0b95a491.iframe.bundle.js.map
  716.51355ac8.iframe.bundle.js
  716.51355ac8.iframe.bundle.js.map
  iframe.html
  index.html
  main.15111dda.iframe.bundle.js
  main.842d15bf.iframe.bundle.js
  project.json
Due: none

Add log for stat update errors
  services/delegation/src/modules/node/node-task.service.ts
Due: run-delegation-service-workflow

Add trycatch and log for stats error
  services/delegation/src/modules/node/node-task.service.ts
Due: run-delegation-service-workflow

fix(explorer): Small fix for header search
  services/explorer/src/components/Header/Header.effects.ts
Due: none

chore(explorer): Removed eslint disabled lines
  packages/taraxa-ui/src/components/SearchInput/SearchInput.tsx
  services/community-site/src/assets/icons/notFound.tsx
  services/explorer/src/components/Header/Header.effects.ts
  services/explorer/src/components/Header/Header.tsx
  services/explorer/src/components/TableTabs/TableTabs.tsx
  services/explorer/src/pages/Blocks/Blocks.effects.ts
  services/explorer/src/pages/Faucet/Faucet.effects.ts
  services/explorer/src/pages/Home/Home.effects.tsx
  services/explorer/src/pages/TransactionData/TransactionData.tsx
Due: ui-package-modified, run-community-site-service-workflow

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@23eb23723cba041fcdce5917ba429e8dea83f630 🚀
  project.json
Due: none

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@7860e553bb68813cc8023973964ab5823993271f 🚀
  project.json
Due: none

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@6789c71acfae7f599eaf7f478af0af92569ab848 🚀
  457.cff908c1133431872396.manager.bundle.js
  457.cff908c1133431872396.manager.bundle.js.LICENSE.txt
  457.d73dfaa3da2cd5c654c3.manager.bundle.js
  716.0b95a491.iframe.bundle.js
  716.0b95a491.iframe.bundle.js.map
  716.a5385bec.iframe.bundle.js
  716.a5385bec.iframe.bundle.js.LICENSE.txt
  716.a5385bec.iframe.bundle.js.map
  iframe.html
  index.html
  project.json
Due: none

Feature/add queue to faucet (#211)
  services/explorer/src/api/sendRequestTokens.faucet.ts
  services/explorer/tsconfig.json
  services/faucet/.env.example
  services/faucet/.eslintrc.js
  services/faucet/config/database.ts
  services/faucet/config/index.ts
  services/faucet/config/queue.ts
  services/faucet/docker-compose.yml
  services/faucet/nest-cli.json
  services/faucet/package.json
  services/faucet/src/general.module.ts
  services/faucet/src/main.ts
  services/faucet/src/modules/blockchain/blockchain.service.ts
  services/faucet/src/modules/blockchain/contracts/Tara.ts
  services/faucet/src/modules/blockchain/index.ts
  services/faucet/src/modules/faucet/dto/create-request.dto.ts
  services/faucet/src/modules/faucet/entity/request.entity.ts
  services/faucet/src/modules/faucet/faucet.consumer.ts
  services/faucet/src/modules/faucet/faucet.controller.ts
  services/faucet/src/modules/faucet/faucet.module.ts
  services/faucet/src/modules/faucet/faucet.service.ts
  services/faucet/src/modules/faucet/types/TransactionRequest.ts
  services/faucet/src/modules/faucet/types/index.ts
  services/faucet/test/requests.e2e-spec.ts
  services/faucet/tsconfig.json
  yarn.lock
Due: none

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@79a6fd458953c716e78fa676619c0ff628b9865d 🚀
  716.a5385bec.iframe.bundle.js
  716.a5385bec.iframe.bundle.js.map
  716.fac12810.iframe.bundle.js
  716.fac12810.iframe.bundle.js.LICENSE.txt
  716.fac12810.iframe.bundle.js.map
  iframe.html
  project.json
Due: none

feat(taraxa-models): Created models package
  package.json
  packages/taraxa-models/.gitignore
  packages/taraxa-models/.prettierignore
  packages/taraxa-models/.prettierrc
  packages/taraxa-models/explorer-models/Node.model.ts
  packages/taraxa-models/explorer-models/index.ts
  packages/taraxa-models/index.ts
  packages/taraxa-models/package.json
  packages/taraxa-models/tsconfig.json
  tsconfig.json
  yarn.lock
Due: none

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@7b86a76c4d309e33850f806f1a327cc8b411db85 🚀
  project.json
Due: none

feat(explorer-api): Initialized project
  services/explorer-api/.env.example
  services/explorer-api/.eslintrc.js
  services/explorer-api/.gitignore
  services/explorer-api/.prettierignore
  services/explorer-api/.prettierrc
  services/explorer-api/README.md
  services/explorer-api/nest-cli.json
  services/explorer-api/package.json
  services/explorer-api/src/app.module.ts
  services/explorer-api/src/main.ts
  services/explorer-api/tsconfig.build.json
  services/explorer-api/tsconfig.json
  yarn.lock
Due: none

delegation: adds vrf key and address proof fields
  services/delegation/src/modules/node/dto/create-node.dto.ts
  services/delegation/src/modules/node/event/node-created.event.ts
  services/delegation/src/modules/node/node.entity.ts
  services/delegation/src/modules/node/node.service.ts
  yarn.lock
Due: run-delegation-service-workflow

Define migrations, add deps, upgrade typeorm
  services/faucet/package.json
  services/faucet/tsconfig.json
  yarn.lock
Due: none

Abstract request entity interface
  services/faucet/src/models/IRequest.ts
  services/faucet/src/models/index.ts
  services/faucet/src/modules/faucet/entity/request.entity.ts
Due: none

Impl migration + test
  services/faucet/data-source.ts
  services/faucet/src/general.module.ts
  services/faucet/src/migrations/1655714961399-Request.ts
  services/faucet/src/migrations/9999999999999-Seed.ts
  services/faucet/src/migrations/requests.json
Due: none

feat(explorer-api): Added entities
  packages/taraxa-models/explorer-models/Address.model.ts
  packages/taraxa-models/explorer-models/TaraxaNode.model.ts
  packages/taraxa-models/explorer-models/index.ts
  packages/taraxa-models/package.json
  services/explorer-api/.env.example
  services/explorer-api/.eslintrc.js
  services/explorer-api/.prettierrc
  services/explorer-api/package.json
  services/explorer-api/src/app.module.ts
  services/explorer-api/src/modules/address/address.entity.ts
  services/explorer-api/src/modules/address/address.module.ts
  services/explorer-api/src/modules/address/index.ts
  services/explorer-api/src/modules/index.ts
  services/explorer-api/src/modules/node/index.ts
  services/explorer-api/src/modules/node/node.entity.ts
  services/explorer-api/src/modules/node/node.module.ts
  services/explorer-api/tsconfig.json
  tsconfig.json
Due: none

feat(explorer-indexer): Added new indexer service
  services/explorer-indexer/.env.example
  services/explorer-indexer/.eslintrc.js
  services/explorer-indexer/.gitignore
  services/explorer-indexer/.prettierignore
  services/explorer-indexer/.prettierrc
  services/explorer-indexer/README.md
  services/explorer-indexer/nest-cli.json
  services/explorer-indexer/package.json
  services/explorer-indexer/src/app.module.ts
  services/explorer-indexer/src/main.ts
  services/explorer-indexer/src/modules/address/address.entity.ts
  services/explorer-indexer/src/modules/address/address.module.ts
  services/explorer-indexer/src/modules/address/index.ts
  services/explorer-indexer/src/modules/index.ts
  services/explorer-indexer/src/modules/node/index.ts
  services/explorer-indexer/src/modules/node/node.entity.ts
  services/explorer-indexer/src/modules/node/node.module.ts
  services/explorer-indexer/tsconfig.build.json
  services/explorer-indexer/tsconfig.json
  services/explorer-indexer/yarn.lock
Due: none

feat(explorer-indexer): Added migrations setup
  services/explorer-indexer/data-source.ts
  services/explorer-indexer/package.json
  services/explorer-indexer/src/migrations/1664879315710-InitialMigration.ts
Due: none

Remove geolocation fetching, fix migrations
  services/explorer/src/api/sendRequestTokens.faucet.ts
  services/explorer/tsconfig.json
  services/faucet/src/general.module.ts
  services/faucet/src/migrations/1655714961399-Request.ts
  services/faucet/src/migrations/9999999999999-Seed.ts
  services/faucet/src/migrations/requests.json
Due: none

Adjust model & dto
  services/faucet/src/models/IRequest.ts
  services/faucet/src/modules/faucet/dto/create-request.dto.ts
  services/faucet/src/modules/faucet/entity/request.entity.ts
Due: none

refactor logic based on header locatio fetch"
  services/faucet/src/modules/faucet/faucet.consumer.ts
  services/faucet/src/modules/faucet/faucet.controller.ts
  services/faucet/src/modules/faucet/faucet.service.ts
  services/faucet/src/modules/faucet/types/TransactionRequest.ts
Due: none

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@f19868f8bc859dcda196932efda3a804ef7aae8d 🚀
  project.json
Due: none

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@c9eb9043b5a39fe697bdd94840e8f7d3c5c34b59 🚀
  457.1e92e2917d40981ceb74.manager.bundle.js
  457.1e92e2917d40981ceb74.manager.bundle.js.LICENSE.txt
  457.cff908c1133431872396.manager.bundle.js
  716.0f25967a.iframe.bundle.js
  716.0f25967a.iframe.bundle.js.LICENSE.txt
  716.0f25967a.iframe.bundle.js.map
  716.fac12810.iframe.bundle.js
  716.fac12810.iframe.bundle.js.map
  iframe.html
  index.html
  project.json
Due: none

delegation: adds onchain validator creation job for testnet nodes
  services/delegation/src/modules/blockchain/blockchain.module.ts
  services/delegation/src/modules/blockchain/blockchain.service.ts
  services/delegation/src/modules/delegation/delegation.module.ts
  services/delegation/src/modules/node/job/ensure-node-onchain.job.ts
  services/delegation/src/modules/node/listener/node-created.listener.ts
  services/delegation/src/modules/node/listener/node-deleted.listener.ts
  services/delegation/src/modules/node/node.constants.ts
  services/delegation/src/modules/node/node.consumer.ts
  services/delegation/src/modules/node/node.entity.ts
  services/delegation/src/modules/node/node.module.ts
  services/delegation/src/modules/node/node.service.ts
Due: run-delegation-service-workflow

delegation: adds own nodes delegation
  services/delegation/.env.dist
  services/delegation/charts/community-delegation/templates/configmap.yaml
  services/delegation/charts/community-delegation/templates/secrets.yaml
  services/delegation/charts/prod.values.yaml
  services/delegation/charts/qa.values.yaml
  services/delegation/src/cli.ts
  services/delegation/src/config/delegation.ts
  services/delegation/src/config/ethereum.ts
  services/delegation/src/modules/blockchain/blockchain.service.ts
  services/delegation/src/modules/delegation/delegation.service.ts
  services/delegation/src/modules/staking/staking.service.ts
Due: run-delegation-service-workflow

community-site: adds VRF field in the testnet node registration window
  services/community-site/src/pages/RunNode/Modal/RegisterNode.tsx
Due: run-community-site-service-workflow

delegation: fix no name field on testnet
  services/delegation/src/modules/blockchain/blockchain.service.ts
  services/delegation/src/modules/node/node.consumer.ts
Due: run-delegation-service-workflow

refactor models, add dag and pbft & tx"
  packages/taraxa-models/explorer-models/Address.model.ts
  packages/taraxa-models/explorer-models/DAG.model.ts
  packages/taraxa-models/explorer-models/PBFT.model.ts
  packages/taraxa-models/explorer-models/TaraxaNode.model.ts
  packages/taraxa-models/explorer-models/Transaction.model.ts
  packages/taraxa-models/explorer-models/index.ts
Due: none

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@721fd8438781e2f057d8e00d09951d1fceb12eb4 🚀
  project.json
Due: none

delegation: fix invalid vrf key when hex value doesn't have prefix
  services/delegation/src/modules/blockchain/blockchain.service.ts
  services/delegation/src/modules/node/node.service.ts
Due: run-delegation-service-workflow

delegation: increase gas limit for create validator tx
  services/delegation/src/modules/blockchain/blockchain.service.ts
Due: run-delegation-service-workflow

Finalize starter models
  packages/taraxa-models/explorer-models/Address.model.ts
  packages/taraxa-models/explorer-models/DAG.model.ts
  packages/taraxa-models/explorer-models/PBFT.model.ts
  packages/taraxa-models/explorer-models/index.ts
Due: none

Add nestsj ws
  services/explorer-indexer/package.json
  yarn.lock
Due: none

Implement syncer entities
  services/explorer-api/src/modules/address/address.entity.ts
  services/explorer-indexer/src/modules/address/address.entity.ts
  services/explorer-indexer/src/modules/address/address.module.ts
  services/explorer-indexer/src/modules/address/index.ts
  services/explorer-indexer/src/modules/dag/dag.entity.ts
  services/explorer-indexer/src/modules/dag/dag.module.ts
  services/explorer-indexer/src/modules/dag/index.ts
  services/explorer-indexer/src/modules/node/node.entity.ts
  services/explorer-indexer/src/modules/pbft/index.ts
  services/explorer-indexer/src/modules/pbft/pbft.entity.ts
  services/explorer-indexer/src/modules/pbft/pbft.module.ts
Due: none

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@bbe4a0306ecc835846fb3ceb0e43af8b44ccbbbd 🚀
  project.json
Due: none

chore(explorer-indexer): Fixed module imports
  services/explorer-api/src/app.module.ts
  services/explorer-api/src/modules/address/address.entity.ts
  services/explorer-api/src/modules/address/address.module.ts
  services/explorer-api/src/modules/address/index.ts
  services/explorer-api/src/modules/index.ts
  services/explorer-indexer/src/app.module.ts
Due: none

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@4eb49c2eda306f89e1ec133e6e7c72b6d740decd 🚀
  project.json
Due: none

Path conditions:
  ui-package-modified: any of: packages/taraxa-ui/.*
  run-community-site-service-workflow: any of: services/community-site/.*
  run-node-status-service-workflow: any of: services/node-status/.*
  run-delegation-service-workflow: any of: services/delegation/.*
  run-claim-backend-service-workflow: any of: services/claim-backend/.*
