Repository Taraxa-project/taraxa-platform: changes, and which CircleCI parameters are due for each by the changed paths.
All: ui-package-modified, run-community-site-service-workflow, run-node-status-service-workflow, run-delegation-service-workflow, run-claim-backend-service-workflow

claim: refactor pending rewards
  services/claim-backend/src/modules/claim/claim.service.ts
Due: run-claim-backend-service-workflow

claim: adds batch status change route
  services/claim-backend/src/modules/claim/batch.controller.ts
  services/claim-backend/src/modules/claim/claim.service.ts
  services/claim-backend/src/modules/claim/dto/update-batch.dto.ts
Due: run-claim-backend-service-workflow

claim: calculate total pending rewards
  services/claim-backend/src/modules/claim/batch.controller.ts
  services/claim-backend/src/modules/claim/claim.service.ts
  services/claim-backend/src/modules/claim/dto/pending-rewards.dto.ts
Due: run-claim-backend-service-workflow

claim: calculate delegation and community rewards separately
  services/claim-backend/src/modules/claim/claim.service.ts
  services/claim-backend/src/modules/claim/dto/pending-reward.dto.ts
  services/claim-backend/src/modules/claim/dto/pending-rewards.dto.ts
  services/claim-backend/src/modules/claim/entity/pending-reward.entity.ts
Due: run-claim-backend-service-workflow

claim: fix delegation rewards
  services/claim-backend/src/modules/claim/claim.service.ts
Due: run-claim-backend-service-workflow

delegation: fix calculate rewards for deleted nodes
  services/delegation/src/modules/reward/data/delegation-data.service.ts
Due: run-delegation-service-workflow

delegation: fix connection close on CLI apps
  services/delegation/src/modules/app-core.module.ts
Due: run-delegation-service-workflow

delegation: fix sorting of staking events
  services/delegation/src/modules/reward/data/staking-data.service.ts
Due: run-delegation-service-workflow

delegation: adds description for rewards
  services/delegation/src/modules/reward/reward.entity.ts
  services/delegation/src/modules/reward/reward.service.ts
Due: run-delegation-service-workflow

delegation: fix description for rewards
  services/delegation/src/modules/reward/reward.service.ts
Due: run-delegation-service-workflow

delegation: refactor rewards info
  services/delegation/src/modules/reward/reward.entity.ts
  services/delegation/src/modules/reward/reward.service.ts
Due: run-delegation-service-workflow

delegation: refactor get rewards endpoint
  services/delegation/src/modules/node/node.entity.ts
  services/delegation/src/modules/reward/reward.controller.ts
  services/delegation/src/modules/reward/reward.repository.ts
  services/delegation/src/modules/reward/reward.service.ts
Due: run-delegation-service-workflow

community: add download rewards button
  services/community-site/src/interfaces/Reward.ts
  services/community-site/src/pages/Staking/Staking.tsx
Due: run-community-site-service-workflow

delegation: adds filters for rewards totals endpoint
  services/delegation/src/modules/reward/reward.controller.ts
  services/delegation/src/modules/reward/reward.repository.ts
Due: run-delegation-service-workflow

community-site: fixes Lifetime yield box
  services/community-site/package.json
  services/community-site/src/pages/Staking/Staking.tsx
  services/community-site/src/utils/time.ts
  yarn.lock
Due: run-community-site-service-workflow

community-site: fixes My Rewards profile box
  services/community-site/src/pages/Profile/ViewProfile.tsx
Due: run-community-site-service-workflow

delegation: fixes overdelegation problem
  services/delegation/src/modules/delegation/delegation.service.ts
Due: run-delegation-service-workflow

Add notificaiton
  services/community-site/src/pages/Staking/Staking.tsx
Due: run-community-site-service-workflow

claim: fixes invalid total value for community and delegation
  services/claim-backend/src/modules/claim/claim.service.ts
Due: run-claim-backend-service-workflow

Specify param name
  services/delegation/src/modules/user/user.controller.ts
Due: run-delegation-service-workflow

Adjust wallet authorization in profile to new auth service impl
  services/community-site/src/components/Modal/SignIn.tsx
  services/community-site/src/components/Modal/WalletSignIn.tsx
  services/community-site/src/pages/Profile/ViewProfile.tsx
  services/community-site/src/services/useApi.ts
  services/community-site/src/services/useWalletAuth.tsx
Due: run-community-site-service-workflow

Upgrade ingresses
  services/claim-backend/charts/claim-backend/templates/ingress.yaml
  services/community-site/charts/community-site/templates/community-ingress.yaml
  services/delegation/charts/community-delegation/templates/ingress.yaml
Due: run-community-site-service-workflow, run-delegation-service-workflow, run-claim-backend-service-workflow

community: fixes infinite redirect when session expires
  services/community-site/src/App.tsx
  services/community-site/src/services/useAuth.tsx
  services/community-site/src/services/useModal.tsx
Due: run-community-site-service-workflow

move components to v1 folder
  package.json
  packages/taraxa-ui/.eslintrc.js
  packages/taraxa-ui/.storybook/main.js
  packages/taraxa-ui/.storybook/preview.js
  packages/taraxa-ui/package.json
  packages/taraxa-ui/src/components/Icons/Check.tsx
  packages/taraxa-ui/src/components/Icons/MenuDots.tsx
  packages/taraxa-ui/src/components/Icons/Search.tsx
  packages/taraxa-ui/src/components/Icons/Taraxa.tsx
  packages/taraxa-ui/src/components/Icons/index.ts
  packages/taraxa-ui/src/components/v1/Card/Card.stories.tsx
  packages/taraxa-ui/src/components/v1/Card/Card.tsx
  packages/taraxa-ui/src/components/v1/Card/card-styles.ts
  packages/taraxa-ui/src/components/v1/Card/index.ts
  packages/taraxa-ui/src/components/v1/Header/Header.stories.tsx
  packages/taraxa-ui/src/components/v1/Header/Header.tsx
  packages/taraxa-ui/src/components/v1/Header/header-styles.tsx
  packages/taraxa-ui/src/components/v1/Header/index.ts
  packages/taraxa-ui/src/components/v1/NetworkMenu/NetworkMenu.stories.tsx
  packages/taraxa-ui/src/components/v1/NetworkMenu/NetworkMenu.styles.ts
  packages/taraxa-ui/src/components/v1/NetworkMenu/NetworkMenu.tsx
  packages/taraxa-ui/src/components/v1/NetworkMenu/index.ts
  packages/taraxa-ui/src/components/v1/SearchInput/SearchInput.stories.tsx
  packages/taraxa-ui/src/components/v1/SearchInput/SearchInput.styles.ts
  packages/taraxa-ui/src/components/v1/SearchInput/SearchInput.tsx
  packages/taraxa-ui/src/components/v1/SearchInput/index.ts
  yarn.lock
Due: ui-package-modified

added storybook deploy workflow
  .github/workflows/deploy-storybook.yml
  package.json
Due: none

replaced files
  packages/taraxa-ui/src/components/Card/Card.stories.tsx
  packages/taraxa-ui/src/components/Card/Card.tsx
  packages/taraxa-ui/src/components/Card/index.ts
  packages/taraxa-ui/src/components/Header/Header.stories.tsx
  packages/taraxa-ui/src/components/Header/Header.tsx
  packages/taraxa-ui/src/components/Header/header-styles.tsx
  packages/taraxa-ui/src/components/Header/index.ts
  packages/taraxa-ui/src/components/NetworkMenu/NetworkMenu.stories.tsx
  packages/taraxa-ui/src/components/NetworkMenu/NetworkMenu.styles.ts
  packages/taraxa-ui/src/components/NetworkMenu/NetworkMenu.tsx
  packages/taraxa-ui/src/components/NetworkMenu/index.ts
  packages/taraxa-ui/src/components/SearchInput/SearchInput.stories.tsx
  packages/taraxa-ui/src/components/SearchInput/SearchInput.styles.ts
  packages/taraxa-ui/src/components/SearchInput/SearchInput.tsx
  packages/taraxa-ui/src/components/SearchInput/index.ts
  packages/taraxa-ui/src/components/v1/Card/Card.tsx
  packages/taraxa-ui/src/components/v1/Card/card-styles.ts
  packages/taraxa-ui/src/components/v1/Card/index.ts
  packages/taraxa-ui/src/components/v1/Header/Header.stories.tsx
  packages/taraxa-ui/src/components/v1/Header/Header.tsx
  packages/taraxa-ui/src/components/v1/Header/header-styles.tsx
  packages/taraxa-ui/src/components/v1/Header/index.ts
  yarn.lock
Due: ui-package-modified

Correct storybook deployment trigger
  .github/workflows/deploy-storybook.yml
Due: none

Fix command typo
  package.json
Due: none

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@f052b416198394b6097c73a77394266aa135e5ea 🚀
  108.470b29a1.iframe.bundle.js
  108.c734466cdc18562fb4b5.manager.bundle.js
  29.707f69c4.iframe.bundle.js
  333.9ac0e03a.iframe.bundle.js
  333.9ac0e03a.iframe.bundle.js.LICENSE.txt
  401.43732213.iframe.bundle.js
  401.43732213.iframe.bundle.js.LICENSE.txt
  401.fcc4dfde2435f35d8e9f.manager.bundle.js
  401.fcc4dfde2435f35d8e9f.manager.bundle.js.LICENSE.txt
  457.edf0c8916f82de6a07aa.manager.bundle.js
  457.edf0c8916f82de6a07aa.manager.bundle.js.LICENSE.txt
  491.e3efdbda.iframe.bundle.js
  612.6b572d35.iframe.bundle.js
  612.6b572d35.iframe.bundle.js.LICENSE.txt
  709.93a1127c.iframe.bundle.js
  709.93a1127c.iframe.bundle.js.LICENSE.txt
  709.cc5c04b57f1029f9266c.manager.bundle.js
  709.cc5c04b57f1029f9266c.manager.bundle.js.LICENSE.txt
  721.5aa4253c91a89a98a679.manager.bundle.js
  721.5aa4253c91a89a98a679.manager.bundle.js.LICENSE.txt
  721.a8109fa0.iframe.bundle.js
  721.a8109fa0.iframe.bundle.js.LICENSE.txt
  858.d168a3767a6790f31fc3.manager.bundle.js
  858.e501e102.iframe.bundle.js
  950.f4a70917ee9fb5605caa.manager.bundle.js
  954.c32b1d3ed076ac5d8628.manager.bundle.js
  954.e8e48a6a.iframe.bundle.js
  favicon.ico
  iframe.html
  index.html
  main.47f97937.iframe.bundle.js
  main.9c3fa0cd2718ab7e32b4.manager.bundle.js
  project.json
  runtime~main.02c21408.iframe.bundle.js
  runtime~main.9eb682909fde369ae0f8.manager.bundle.js
  static/media/logo.e37bee6c.svg
Due: none

finished search input
  packages/taraxa-ui/src/components/Icons/NotFound.tsx
  packages/taraxa-ui/src/components/Icons/RightArrow.tsx
  packages/taraxa-ui/src/components/Icons/index.ts
  packages/taraxa-ui/src/components/Loading/Loading.tsx
  packages/taraxa-ui/src/components/SearchInput/SearchInput.stories.tsx
  packages/taraxa-ui/src/components/SearchInput/SearchInput.styles.ts
  packages/taraxa-ui/src/components/SearchInput/SearchInput.tsx
Due: ui-package-modified

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@0ea0deac919d940102041c097ecc9794c859ad73 🚀
  262.ca2f227b.iframe.bundle.js
  262.ca2f227b.iframe.bundle.js.LICENSE.txt
  333.9ac0e03a.iframe.bundle.js
  iframe.html
  main.47f97937.iframe.bundle.js
  main.fb61009d.iframe.bundle.js
  project.json
Due: none

removed v1 and any to void
  packages/taraxa-ui/src/components/Card/Card.stories.tsx
  packages/taraxa-ui/src/components/Header/Header.stories.tsx
  packages/taraxa-ui/src/components/NetworkMenu/NetworkMenu.stories.tsx
  packages/taraxa-ui/src/components/NetworkMenu/NetworkMenu.tsx
  packages/taraxa-ui/src/components/SearchInput/SearchInput.stories.tsx
  packages/taraxa-ui/src/components/SearchInput/SearchInput.tsx
Due: ui-package-modified

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@9a8235359ae58544a09d82fd31bb13ea6b09d312 🚀
  iframe.html
  main.232c247c.iframe.bundle.js
  main.fb61009d.iframe.bundle.js
  project.json
Due: none

issues with theme
  packages/taraxa-ui/.storybook/preview.js
  packages/taraxa-ui/src/components/AmountCard/amountcard-styles.tsx
  packages/taraxa-ui/src/components/SearchInput/SearchInput.stories.tsx
  packages/taraxa-ui/src/components/SearchInput/SearchInput.styles.ts
  packages/taraxa-ui/src/components/SearchInput/SearchInput.tsx
  packages/taraxa-ui/src/components/theme.tsx
  packages/taraxa-ui/src/index.ts
Due: ui-package-modified

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@377336feb43499f950078e4c2de3106377343721 🚀
  262.ca2f227b.iframe.bundle.js
  782.e867ce64.iframe.bundle.js
  782.e867ce64.iframe.bundle.js.LICENSE.txt
  iframe.html
  main.232c247c.iframe.bundle.js
  main.5a8a242d.iframe.bundle.js
  project.json
Due: none

Fix import, styling of loading widget
  packages/taraxa-ui/src/components/LoadingWidget/LoadingWidget.tsx
  packages/taraxa-ui/src/components/Sidebar/Sidebar.tsx
Due: ui-package-modified

Fix modal in storybook, add close icon
  packages/taraxa-ui/src/components/Icons/Close.tsx
  packages/taraxa-ui/src/components/Modal/Modal.stories.tsx
Due: ui-package-modified

Fix ProfileCard imports, add content to sample card
  packages/taraxa-ui/src/components/ProfileCard/ProfileCard.stories.tsx
  packages/taraxa-ui/src/components/ProfileCard/ProfileCard.tsx
  packages/taraxa-ui/src/components/theme.tsx
Due: ui-package-modified

Path conditions:
  ui-package-modified: any of: packages/taraxa-ui/.*
  run-community-site-service-workflow: any of: services/community-site/.*
  run-node-status-service-workflow: any of: services/node-status/.*
  run-delegation-service-workflow: any of: services/delegation/.*
  run-claim-backend-service-workflow: any of: services/claim-backend/.*
