Repository Taraxa-project/taraxa-platform: changes, and which CircleCI parameters are due for each by the changed paths.
All: ui-package-modified, run-community-site-service-workflow, build-community-site-helm-chart-workflow, run-community-backend-service-workflow, build-community-backend-helm-chart-workflow, run-node-status-service-workflow, run-delegation-service-workflow, run-claim-backend-service-workflow, build-faucet-workflow, build-faucet-helm-chart-workflow, build-explorer-workflow, build-explorer-helm-chart-workflow, build-explorer-indexer-workflow, build-explorer-indexer-helm-chart-workflow, build-explorer-api-workflow, build-explorer-api-helm-chart-workflow

.circleci/config.yml:

version: 2.1
setup: true
orbs:
  path-filtering: circleci/path-filtering@0.1.1
workflows:
  always-run:
    jobs:
      - path-filtering/filter:
          name: check-updated-files
          mapping: |
            packages/taraxa-ui/.* ui-package-modified true
            services/community-site/.* run-community-site-service-workflow true
            services/community-site/charts/.* build-community-site-helm-chart-workflow true
            services/community-backend/.* run-community-backend-service-workflow true
            services/community-backend/charts/.* build-community-backend-helm-chart-workflow true
            services/node-status/.* run-node-status-service-workflow true
            services/delegation/.* run-delegation-service-workflow true
            services/claim-backend/.* run-claim-backend-service-workflow true
            services/faucet/.* build-faucet-workflow true
            services/faucet/charts/.* build-faucet-helm-chart-workflow true
            services/explorer/.* build-explorer-workflow true
            services/explorer/charts/.* build-explorer-helm-chart-workflow true
            services/explorer-indexer/.* build-explorer-indexer-workflow true
            services/explorer-indexer/charts/.* build-explorer-indexer-helm-chart-workflow true
            services/explorer-api/.* build-explorer-api-workflow true
            services/explorer-api/charts/.* build-explorer-api-helm-chart-workflow true
          base-revision: << pipeline.git.branch >>
          config-path: .circleci/workflows.yml

should we create secrets flag
  services/community-site/charts/community-site/templates/secrets.yaml
  services/community-site/charts/community-site/values.yaml
Due: run-community-site-service-workflow, build-community-site-helm-chart-workflow

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@b3958e3fcc2b6d6e48f657734784bec672571739 🚀
  project.json
Due: none

feat(explorer): Added back transactions count to adress details page
  services/explorer/src/components/AddressInfo/AddressInfo.tsx
Due: build-explorer-workflow

fix(api): Fixed transaction pagination results
  services/explorer-api/src/modules/address/address.service.ts
Due: build-explorer-api-workflow

fix(explorer): Fix showing correct table tab
  services/explorer/src/components/AddressInfo/AddressInfo.tsx
Due: build-explorer-workflow

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@8fba02bf4e6986ddbc242531e2d97e3d009ffea1 🚀
  project.json
Due: none

fixes dag efficiency calculations
  services/explorer/src/utils/chartUtils.ts
Due: build-explorer-workflow

chore(rewards): merged with develop
  .eslintignore
  .prettierignore
Due: none

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@9dcb3418e69241db58772cbc6279474dbbf5d6c6 🚀
  iframe.html
  main.83dc495d.iframe.bundle.js
  main.c6672aab.iframe.bundle.js
  project.json
Due: none

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@ab12d4b7518b35a9d52d9b3e32fe94d26a48eea3 🚀
  675.44653719.iframe.bundle.js
  675.44653719.iframe.bundle.js.map
  675.f48b37d7.iframe.bundle.js
  675.f48b37d7.iframe.bundle.js.LICENSE.txt
  675.f48b37d7.iframe.bundle.js.map
  iframe.html
  main.83dc495d.iframe.bundle.js
  main.c6672aab.iframe.bundle.js
  project.json
Due: none

adds new env var in explorer-frontend chart
  services/explorer/charts/explorer-frontend/templates/configmap.yaml
  services/explorer/charts/explorer-frontend/values.yaml
Due: build-explorer-workflow, build-explorer-helm-chart-workflow

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@d17dae0a7ad4b2b58156503a5decfe6937345aa8 🚀
  project.json
Due: none

Update NodeProfilePage.tsx
  services/community-site/src/pages/Delegation/NodeProfilePage.tsx
Due: run-community-site-service-workflow

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@414908870c347876cc78463325e73ce02090e762 🚀
  project.json
Due: none

feat: Database restructure, removed prefix, new migration, custom indexes
  packages/explorer-shared/data-source.ts
  packages/explorer-shared/src/entities/dag.entity.ts
  packages/explorer-shared/src/entities/pbft.entity.ts
  packages/explorer-shared/src/entities/transaction.entity.ts
  packages/explorer-shared/src/migrations/1666360775547-Schema.ts
  packages/explorer-shared/src/migrations/1666987913709-CascadePbftTransaction.ts
  packages/explorer-shared/src/migrations/1673356909852-Indexes.ts
  packages/explorer-shared/src/migrations/1675154481031-TransactionUpdate.ts
  packages/explorer-shared/src/migrations/1675257957862-Schema.ts
  packages/explorer-shared/src/migrations/9999999999999-Seed.ts
  services/explorer-api/src/app.module.ts
  services/explorer-indexer/src/data-source.options.ts
  services/faucet/src/data-source.options.ts
Due: build-faucet-workflow, build-explorer-indexer-workflow, build-explorer-api-workflow

community-site: moves mainnet section to on-chain economics
  .circleci/workflows.yml
  services/community-site/.env
  services/community-site/Dockerfile
  services/community-site/docker-files/entrypoint.sh
  services/community-site/env.local
  services/community-site/src/App.tsx
  services/community-site/src/components/WrongNetwork/index.tsx
  services/community-site/src/interfaces/BackendDelegation.ts
  services/community-site/src/interfaces/Delegation.ts
  services/community-site/src/interfaces/Undelegation.ts
  services/community-site/src/interfaces/Validator.ts
  services/community-site/src/pages/Delegation/Delegation.tsx
  services/community-site/src/pages/Delegation/Modal/Delegate.tsx
  services/community-site/src/pages/Delegation/Modal/Modals.tsx
  services/community-site/src/pages/Delegation/Modal/Undelegate.tsx
  services/community-site/src/pages/Delegation/NodeProfilePage.tsx
  services/community-site/src/pages/Delegation/Table/NodeRow.tsx
  services/community-site/src/pages/Delegation/Table/ValidatorRow.tsx
  services/community-site/src/pages/RunNode/Modal.tsx
  services/community-site/src/pages/RunNode/Modal/RegisterNode.tsx
  services/community-site/src/pages/RunNode/References.tsx
  services/community-site/src/pages/RunNode/RunNode.tsx
  services/community-site/src/pages/RunNode/RunValidator.tsx
  services/community-site/src/pages/RunNode/Table/MainnetValidatorRow.tsx
  services/community-site/src/pages/RunNode/Table/TestnetValidatorRow.tsx
  services/community-site/src/pages/RunNode/runvalidator.scss
  services/community-site/src/pages/Staking/Modal/StakingSuccess.tsx
  services/community-site/src/pages/Staking/Staking.tsx
  services/community-site/src/services/useCMetamask.tsx
  services/community-site/src/services/useDelegation.tsx
  services/community-site/src/services/useDpos.ts
  services/community-site/src/services/useExplorerStats.tsx
  services/community-site/src/services/useMainnet.tsx
  services/community-site/src/services/useValidators.tsx
  services/community-site/src/utils/eth.ts
  services/community-site/src/utils/networks.ts
  services/community-site/src/utils/string.ts
  services/delegation/src/modules/delegation/delegation.service.ts
Due: run-community-site-service-workflow, run-delegation-service-workflow

feat(api|explorer): Displaying separately dags and pbfts count
  services/explorer-api/src/modules/address/address.controller.ts
  services/explorer-api/src/modules/address/address.module.ts
  services/explorer-api/src/modules/address/address.service.ts
  services/explorer-api/src/modules/address/responses/BlocksCount.response.ts
  services/explorer/src/api/explorer-api/fetchDagsCountByAddress.ts
  services/explorer/src/api/explorer-api/fetchPbftsCountByAddress.ts
  services/explorer/src/api/explorer-api/index.ts
  services/explorer/src/components/AddressInfo/AddressInfo.styles.ts
  services/explorer/src/components/AddressInfo/AddressInfo.tsx
  services/explorer/src/pages/AddressInfo/AddressInfo.effects.tsx
  services/explorer/src/pages/AddressInfo/AddressInfo.tsx
Due: build-explorer-workflow, build-explorer-api-workflow

feat(api): Implemented fast pagination for address dags and pbfts
  services/explorer-api/src/modules/address/address.service.ts
  services/explorer/src/pages/AddressInfo/AddressInfo.effects.tsx
Due: build-explorer-workflow, build-explorer-api-workflow

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@66de1f7d8f95cbedcf9f94663677404047c4d481 🚀
  project.json
Due: none

fix(api): Fixed pagination error
  services/explorer-api/src/modules/address/address.service.ts
  services/explorer-api/src/modules/address/dto/pagination.dto.ts
  services/explorer/src/pages/AddressInfo/AddressInfo.effects.tsx
Due: build-explorer-workflow, build-explorer-api-workflow

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@963948616f3338758f77d842b84101b491d6b830 🚀
  project.json
Due: none

fix(explorer): Fixed hash includes missing hash
  services/explorer/src/components/Tables/TransactionsTable.tsx
  services/explorer/src/utils/hashUtils.ts
Due: build-explorer-workflow

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@98b1f961e79a5bf75aabe5bf1e845453ece2a035 🚀
  project.json
Due: none

feat: Database restructure, removed prefix, new migration, custom indexes (#376)
  packages/explorer-shared/data-source.ts
  packages/explorer-shared/src/entities/dag.entity.ts
  packages/explorer-shared/src/entities/pbft.entity.ts
  packages/explorer-shared/src/entities/transaction.entity.ts
  packages/explorer-shared/src/migrations/1666360775547-Schema.ts
  packages/explorer-shared/src/migrations/1666987913709-CascadePbftTransaction.ts
  packages/explorer-shared/src/migrations/1673356909852-Indexes.ts
  packages/explorer-shared/src/migrations/1675154481031-TransactionUpdate.ts
  packages/explorer-shared/src/migrations/1675257957862-Schema.ts
  packages/explorer-shared/src/migrations/9999999999999-Seed.ts
  services/explorer-api/src/app.module.ts
  services/explorer-indexer/src/data-source.options.ts
  services/faucet/src/data-source.options.ts
Due: build-faucet-workflow, build-explorer-indexer-workflow, build-explorer-api-workflow

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@627dcde841a29b610e37e3d72c9d6553c782329b 🚀
  project.json
Due: none

adds special case for genesis transactions
  packages/explorer-shared/src/utils/toChecksumAddress.ts
Due: none

removes spreading from gQL -> JS conversion
  services/explorer-indexer/src/modules/transaction/transaction.service.ts
Due: build-explorer-indexer-workflow

fix(explorer): Small fix on block ui
  services/explorer/src/pages/PBFTData/PBFTDataContainer.tsx
  services/explorer/src/utils/hashUtils.ts
Due: build-explorer-workflow

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@b640938440039c2a8b8d9da5e92cdd4ae2b6689c 🚀
  project.json
Due: none

adds 24h remoneOnComplete for done jobs
  services/explorer-indexer/src/app.module.ts
Due: build-explorer-indexer-workflow

fixes command, bug on hash
  package.json
  services/explorer-indexer/src/modules/transaction/transaction.service.ts
Due: build-explorer-indexer-workflow

implements genesis block endpoint in explorer-api
  services/explorer-api/src/modules/pbft/pbft.controller.ts
  services/explorer-api/src/modules/pbft/pbft.service.ts
Due: build-explorer-api-workflow

sample algo for Florin
  services/explorer/src/pages/Home/ChartContainer.tsx
  services/explorer/src/utils/chartUtils.ts
Due: build-explorer-workflow

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@7b33f0a24f1bd3559bf38d048439d16cf767eaa0 🚀
  project.json
Due: none

feat(explorer): Chart improvements
  packages/taraxa-ui/src/components/TransactionDetails/TransactionDetails.tsx
  services/explorer/src/components/AddressInfo/AddressInfo.tsx
  services/explorer/src/pages/Home/ChartContainer.tsx
  services/explorer/src/pages/PBFTData/PBFTDataContainer.tsx
  services/explorer/src/utils/chartUtils.ts
Due: ui-package-modified, build-explorer-workflow

feat(explorer): Hiding transactions table if no transactions available
  services/explorer/src/pages/BlockData/DAGDataContainer.tsx
  services/explorer/src/pages/PBFTData/PBFTDataContainer.tsx
Due: build-explorer-workflow

explorer: fix NaN being saved for DAGs as index
  services/explorer-indexer/src/modules/transaction/transaction.service.ts
Due: build-explorer-indexer-workflow

cast saved value to number
  services/explorer-indexer/src/modules/transaction/transaction.service.ts
Due: build-explorer-indexer-workflow

feat(explorer): Added loading skeleton for block cards
  services/explorer/src/pages/Home/BlockCardSkeleton.tsx
  services/explorer/src/pages/Home/Home.effects.tsx
  services/explorer/src/pages/Home/Home.tsx
Due: build-explorer-workflow

chore(explorer): Improved design for blocks skeleton cards
  services/explorer/src/pages/Home/BlockCardSkeleton.styles.tsx
  services/explorer/src/pages/Home/BlockCardSkeleton.tsx
Due: build-explorer-workflow
