Repository Taraxa-project/taraxa-platform: changes, and which CircleCI parameters are due for each by the changed paths.
All: ui-package-modified, run-community-site-service-workflow, run-node-status-service-workflow, run-delegation-service-workflow, run-claim-backend-service-workflow

.circleci/config.yml:

version: 2.1
setup: true
orbs:
  path-filtering: circleci/path-filtering@0.1.1
workflows:
  always-run:
    jobs:
      - path-filtering/filter:
          name: check-updated-files
          mapping: |
            packages/taraxa-ui/.* ui-package-modified true
            services/community-site/.* run-community-site-service-workflow true
            services/node-status/.* run-node-status-service-workflow true
            services/delegation/.* run-delegation-service-workflow true
            services/claim-backend/.* run-claim-backend-service-workflow true
          base-revision: << pipeline.git.branch >>
          config-path: .circleci/workflows.yml

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@a988e25955496213d69667fbdf0ff4f729792257 🚀
  iframe.html
  main.16e81eb9.iframe.bundle.js
  main.af5551a3.iframe.bundle.js
  project.json
Due: none

Export theme from taraxa-ui
  packages/taraxa-ui/src/index.ts
Due: ui-package-modified

Add header icons
  services/explorer/src/components/icons/hamburger.tsx
  services/explorer/src/components/icons/index.ts
  services/explorer/src/components/icons/taraxaIcon.tsx
Due: none

Add themeProvider with theme from taraxa-ui
  services/explorer/src/App.tsx
  services/explorer/src/index.tsx
Due: none

WIP: Implement header
  services/explorer/src/components/Header/Header.tsx
  services/explorer/src/components/Header/header.scss
Due: none

Remove important
  packages/taraxa-ui/src/components/theme.tsx
Due: ui-package-modified

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@2aa95cebe55b935ae139c2f23b19876ccfe57b5c 🚀
  iframe.html
  main.135e16f7.iframe.bundle.js
  main.16e81eb9.iframe.bundle.js
  project.json
Due: none

feat(explorer): Adjusted eslint and components
  .eslintignore
  .eslintrc.js
  .prettierrc.js
  package.json
  packages/taraxa-ui/package-lock.json
  packages/taraxa-ui/package.json
  services/explorer/.eslintrc.js
  services/explorer/.gitignore
  services/explorer/.prettierrc
  services/explorer/package.json
  services/explorer/src/App.tsx
  services/explorer/src/components/Footer.tsx
  services/explorer/src/components/Footer/Footer.effects.tsx
  services/explorer/src/components/Footer/Footer.tsx
  services/explorer/src/components/Footer/index.ts
  services/explorer/src/components/Header/Header.effects.ts
  services/explorer/src/components/Header/Header.tsx
  services/explorer/src/components/Header/header.scss
  services/explorer/src/components/Header/index.ts
  services/explorer/src/components/icons/discord.tsx
  services/explorer/src/components/icons/hamburger.tsx
  services/explorer/src/components/icons/index.ts
  services/explorer/src/components/icons/send.tsx
  services/explorer/src/components/icons/taraxaIcon.tsx
  services/explorer/src/components/icons/twitter.tsx
  services/explorer/src/components/index.ts
  services/explorer/src/index.css
  services/explorer/src/index.tsx
  services/explorer/tsconfig.build.json
  services/explorer/tsconfig.json
  yarn.lock
Due: ui-package-modified

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@47e183ba10a3e2e4d2e18aca72f01188f0a7abb8 🚀
  28.1448cc6d.iframe.bundle.js
  28.1448cc6d.iframe.bundle.js.map
  28.3b0fa75b.iframe.bundle.js
  28.3b0fa75b.iframe.bundle.js.LICENSE.txt
  28.3b0fa75b.iframe.bundle.js.map
  iframe.html
  main.135e16f7.iframe.bundle.js
  main.3d9fab59.iframe.bundle.js
  project.json
Due: none

Format header
  packages/taraxa-ui/src/components/Header/Header.styles.ts
  packages/taraxa-ui/src/components/NetworkMenu/NetworkMenu.styles.ts
  packages/taraxa-ui/src/components/NetworkMenu/NetworkMenu.tsx
  packages/taraxa-ui/src/components/theme.tsx
  services/explorer/tsconfig.json
  yarn.lock
Due: ui-package-modified

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@0b79640b5092b8475ea6e585e98a5c66df10f2fc 🚀
  iframe.html
  main.34b71b82.iframe.bundle.js
  main.3d9fab59.iframe.bundle.js
  project.json
Due: none

Add styleguides for code
  packages/taraxa-ui/.eslintrc.js
  services/explorer/.eslintrc.js
Due: ui-package-modified

Format code
  packages/taraxa-ui/src/components/AmountCard/index.ts
  packages/taraxa-ui/src/components/NetworkMenu/NetworkMenu.tsx
  services/claim-backend/docker-compose.yml
  services/explorer/public/index.html
  services/explorer/src/components/Footer/Footer.effects.tsx
  services/explorer/src/components/Header/Header.effects.ts
  services/explorer/tsconfig.build.json
Due: ui-package-modified, run-claim-backend-service-workflow

feat(taraxa-ui): Added debounce to search component
  packages/taraxa-ui/package.json
  packages/taraxa-ui/src/components/SearchInput/SearchInput.stories.tsx
  packages/taraxa-ui/src/components/SearchInput/SearchInput.tsx
  services/explorer/tsconfig.json
  yarn.lock
Due: ui-package-modified

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@fd9224723ce4efe9672c71f80a9a900fa377af4c 🚀
  28.3b0fa75b.iframe.bundle.js
  28.3b0fa75b.iframe.bundle.js.map
  527.e1c090b4.iframe.bundle.js
  527.e1c090b4.iframe.bundle.js.LICENSE.txt
  527.e1c090b4.iframe.bundle.js.map
  iframe.html
  main.34b71b82.iframe.bundle.js
  main.b1928c8e.iframe.bundle.js
  project.json
Due: none

Format code
  package.json
  packages/taraxa-ui/.eslintrc.js
  packages/taraxa-ui/rollup.config.js
  packages/taraxa-ui/src/components/Button/Button.stories.tsx
  packages/taraxa-ui/src/components/Label/Label.stories.tsx
  packages/taraxa-ui/src/components/Snackbar/Snackbar.stories.tsx
  packages/taraxa-ui/src/components/Table/Table.tsx
  services/community-site/tsconfig.json
  services/explorer/.eslintrc.js
Due: ui-package-modified, run-community-site-service-workflow

Ran linter
  services/explorer/src/index.tsx
  services/explorer/src/theme-provider/ExplorerThemeProvider.tsx
  services/explorer/src/theme-provider/index.ts
  services/explorer/src/theme-provider/theme.tsx
  services/explorer/src/theme.d.ts
Due: none

Lint files with new setup
  services/community-site/tsconfig.json
  services/explorer/tsconfig.json
Due: run-community-site-service-workflow

fix(taraxa-ui): Fixing buttons
  packages/taraxa-ui/src/components/NetworkMenu/NetworkMenu.styles.ts
  packages/taraxa-ui/src/components/NetworkMenu/NetworkMenu.tsx
  packages/taraxa-ui/src/components/theme.tsx
  services/explorer/.eslintrc.js
  services/explorer/src/App.tsx
  services/explorer/src/components/Header/Header.tsx
  services/explorer/src/index.tsx
  services/explorer/src/logo.svg
  services/explorer/src/theme-provider/theme.tsx
Due: ui-package-modified

Fix header styles
  packages/taraxa-ui/src/components/Header/Header.styles.ts
  packages/taraxa-ui/src/components/Header/Header.tsx
  packages/taraxa-ui/src/components/theme.tsx
Due: ui-package-modified

Finalize header styles
  packages/taraxa-ui/src/components/Header/Header.styles.ts
  packages/taraxa-ui/src/components/Header/Header.tsx
  services/explorer/src/components/Header/Header.tsx
Due: ui-package-modified

Add labels to storybook entry
  packages/taraxa-ui/src/components/Table/Table.stories.tsx
Due: ui-package-modified

feat(taraxa-ui): Implemented transaction details component
  packages/taraxa-ui/src/components/Icons/Block.tsx
  packages/taraxa-ui/src/components/Icons/Route.tsx
  packages/taraxa-ui/src/components/Icons/index.ts
  packages/taraxa-ui/src/components/TransactionDetails/TransactionDetails.stories.tsx
  packages/taraxa-ui/src/components/TransactionDetails/TransactionDetails.styles.ts
  packages/taraxa-ui/src/components/TransactionDetails/TransactionDetails.tsx
  packages/taraxa-ui/src/components/TransactionDetails/index.ts
Due: ui-package-modified

feat(taraxa-ui): Created Block Card component
  packages/taraxa-ui/src/components/BlockCard/BlockCard.stories.tsx
  packages/taraxa-ui/src/components/BlockCard/BlockCard.styles.ts
  packages/taraxa-ui/src/components/BlockCard/BlockCard.tsx
  packages/taraxa-ui/src/components/BlockCard/index.ts
  packages/taraxa-ui/src/components/TransactionDetails/TransactionDetails.stories.tsx
  packages/taraxa-ui/src/index.ts
Due: ui-package-modified

Upgrade react-router-dom
  services/explorer/package.json
  yarn.lock
Due: none

Add more explicit styles, fix icons
  packages/taraxa-ui/src/components/Icons/Exclamation.tsx
  services/explorer/.eslintrc.js
Due: ui-package-modified

Change root include definition
  services/explorer/tsconfig.json
Due: none

Add header routing, sample pages WIP
  services/explorer/src/App.tsx
  services/explorer/src/components/Header/Header.effects.ts
  services/explorer/src/components/Header/Header.tsx
  services/explorer/src/index.tsx
  services/explorer/src/pages/Home/Home.tsx
  services/explorer/src/pages/Transactions/Transactions.tsx
Due: none

Add data transpiler
  services/explorer/src/components/TransactionRow/TransactionRow.tsx
Due: none

Implement transactions page
  services/explorer/src/pages/Transactions/Transactions.effect.ts
  services/explorer/src/pages/Transactions/Transactions.tsx
Due: none

feat(taraxa-ui): Added Award card component
  packages/taraxa-ui/src/components/AwardCard/AwardCard.stories.tsx
  packages/taraxa-ui/src/components/AwardCard/AwardCard.styles.ts
  packages/taraxa-ui/src/components/AwardCard/AwardCard.tsx
  packages/taraxa-ui/src/components/AwardCard/index.ts
  packages/taraxa-ui/src/components/Icons/Award.tsx
  packages/taraxa-ui/src/components/Icons/index.ts
  packages/taraxa-ui/src/index.ts
Due: ui-package-modified

chore(taraxa-ui): Adjusted length for transaction details component
  packages/taraxa-ui/src/components/BlockCard/BlockCard.stories.tsx
  packages/taraxa-ui/src/components/TransactionDetails/TransactionDetails.stories.tsx
  packages/taraxa-ui/src/components/TransactionDetails/TransactionDetails.tsx
Due: ui-package-modified

fix(taraxa-ui): Fixed network component
  packages/taraxa-ui/src/components/Header/Header.stories.tsx
  packages/taraxa-ui/src/components/NetworkMenu/NetworkMenu.stories.tsx
  packages/taraxa-ui/src/components/NetworkMenu/NetworkMenu.tsx
  services/explorer/src/components/Header/Header.effects.ts
  services/explorer/src/components/Header/Header.tsx
  services/explorer/tsconfig.json
Due: ui-package-modified

Implement pr review, refactor table date formatting
  services/explorer/src/App.tsx
  services/explorer/src/components/Header/Header.effects.ts
  services/explorer/src/components/Header/Header.tsx
  services/explorer/src/components/TransactionRow/TransactionRow.tsx
  services/explorer/src/pages/Transactions/Transactions.tsx
Due: none

reposition container
  services/explorer/src/App.tsx
Due: none

refactor
  services/explorer/tsconfig.json
Due: none

Point storybook trigger to design-v2 branch
  .github/workflows/deploy-storybook.yml
Due: none

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@da11d84583c1e5ab59ce15bc0f4713874e7f820e 🚀
  527.e1c090b4.iframe.bundle.js
  527.e1c090b4.iframe.bundle.js.map
  827.fed24a84.iframe.bundle.js
  827.fed24a84.iframe.bundle.js.LICENSE.txt
  827.fed24a84.iframe.bundle.js.map
  iframe.html
  main.0254fb9b.iframe.bundle.js
  main.b1928c8e.iframe.bundle.js
  project.json
Due: none

feat(explorer): Created DAG page
  .eslintrc.js
  packages/taraxa-ui/src/components/BlockCard/BlockCard.styles.ts
  packages/taraxa-ui/src/components/BlockCard/BlockCard.tsx
  packages/taraxa-ui/src/components/Header/Header.stories.tsx
  packages/taraxa-ui/src/components/Header/Header.tsx
  packages/taraxa-ui/src/components/NetworkMenu/NetworkMenu.stories.tsx
  packages/taraxa-ui/src/components/NetworkMenu/NetworkMenu.tsx
  packages/taraxa-ui/src/components/SearchInput/SearchInput.tsx
  services/explorer/src/App.tsx
  services/explorer/src/components/Header/Header.effects.ts
  services/explorer/src/components/Header/Header.tsx
  services/explorer/src/components/PageTitle/PageTitle.tsx
  services/explorer/src/components/PageTitle/index.ts
  services/explorer/src/components/TransactionRow/TransactionRow.tsx
  services/explorer/src/components/index.ts
  services/explorer/src/hooks/useExplorerNetwork.tsx
  services/explorer/src/index.tsx
  services/explorer/src/pages/Home/Home.effects.ts
  services/explorer/src/pages/Home/Home.tsx
  services/explorer/src/pages/Transactions/Transactions.effects.ts
  services/explorer/src/pages/Transactions/Transactions.tsx
  services/explorer/tsconfig.json
Due: ui-package-modified
