Repository Taraxa-project/taraxa-platform: changes, and which CircleCI parameters are due for each by the changed paths.
All: ui-package-modified, run-community-site-service-workflow, run-node-status-service-workflow, run-delegation-service-workflow, run-claim-backend-service-workflow, build-faucet-workflow, build-faucet-helm-chart-workflow, build-explorer-workflow, build-explorer-helm-chart-workflow, build-explorer-indexer-workflow, build-explorer-indexer-helm-chart-workflow

.circleci/config.yml:

version: 2.1
setup: true
orbs:
  path-filtering: circleci/path-filtering@0.1.1
workflows:
  always-run:
    jobs:
      - path-filtering/filter:
          name: check-updated-files
          mapping: |
            packages/taraxa-ui/.* ui-package-modified true
            services/community-site/.* run-community-site-service-workflow true
            services/node-status/.* run-node-status-service-workflow true
            services/delegation/.* run-delegation-service-workflow true
            services/claim-backend/.* run-claim-backend-service-workflow true
            services/faucet/.* build-faucet-workflow true
            services/faucet/charts/.* build-faucet-helm-chart-workflow true
            services/explorer/.* build-explorer-workflow true
            services/explorer/charts/.* build-explorer-helm-chart-workflow true
            services/explorer-indexer/.* build-explorer-indexer-workflow true
            services/explorer-indexer/charts/.* build-explorer-indexer-helm-chart-workflow true
          base-revision: << pipeline.git.branch >>
          config-path: .circleci/workflows.yml

converts value to decimal
  services/explorer-indexer/src/modules/pbft/pbft.consumer.ts
  services/explorer-indexer/src/modules/transaction/transaction.service.ts
Due: build-explorer-indexer-workflow

feat(explorer): adjusted color when disabling links
  services/explorer/src/components/Links/AddressLink.tsx
  services/explorer/src/components/Links/HashLink.tsx
Due: build-explorer-workflow

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@5e33cb2c0adef1247dfe2a11b93771f849e54454 🚀
  iframe.html
  main.3c75ef6c.iframe.bundle.js
  main.c6672aab.iframe.bundle.js
  project.json
Due: none

adds default reorganization threshold for consumer
  services/explorer-indexer/src/config/general.ts
Due: build-explorer-indexer-workflow

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@a273489b66f7ba71437516f4aa9acc53916e946a 🚀
  iframe.html
  main.83dc495d.iframe.bundle.js
  main.c6672aab.iframe.bundle.js
  project.json
Due: none

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@0e05fbbf73f4f653c5436089e54a371dde154024 🚀
  iframe.html
  main.83dc495d.iframe.bundle.js
  main.c6672aab.iframe.bundle.js
  project.json
Due: none

remove debug
  .circleci/workflows.yml
Due: none

removes mined from balance calculation
  services/explorer-api/src/modules/address/address.service.ts
Due: none

add model and entity for address view
  packages/explorer-shared/src/entities/address.entity.ts
  packages/explorer-shared/src/models/Address.model.ts
Due: none

feat(explorer-shared): Added view entities for address queries
  packages/explorer-shared/src/entities/address.entity.ts
  packages/explorer-shared/src/models/index.ts
  services/explorer-api/src/modules/address/address.service.ts
Due: none

added workflow for community-site helm chart
  .circleci/config.yml
  .circleci/workflows.yml
  services/community-site/charts/community-site/Chart.yaml
Due: run-community-site-service-workflow

dummy commit to trigger ci
  services/community-site/charts/community-site/values.yaml
Due: run-community-site-service-workflow

add missing parameter
  .circleci/workflows.yml
  services/community-site/charts/community-site/values.yaml
Due: run-community-site-service-workflow

fix typo in chart
  services/community-site/charts/community-site/Chart.yaml
Due: run-community-site-service-workflow

adds scripts for installation of legacy deps
  README.md
  package.json
  services/community-backend/package.json
  yarn.lock
Due: none

implements transaction query from gql
  services/explorer-indexer/src/modules/connectors/graphql.connector.service.ts
Due: build-explorer-indexer-workflow

implement type for gql tx data
  services/explorer-indexer/src/types/graphQL/GQLTransaction.ts
Due: build-explorer-indexer-workflow

registers new stale_transactions queue
  services/explorer-indexer/src/modules/historical-sync/historical.syncer.module.ts
  services/explorer-indexer/src/modules/live-sync/live.syncer.module.ts
  services/explorer-indexer/src/modules/pbft/pbft.module.ts
  services/explorer-indexer/src/types/queues/types.ts
Due: build-explorer-indexer-workflow

returns transactions in relation with pbft on save
  services/explorer-indexer/src/modules/pbft/pbft.service.ts
Due: build-explorer-indexer-workflow

implements tx update method
  services/explorer-indexer/src/modules/transaction/transaction.service.ts
Due: build-explorer-indexer-workflow

implements stale tx handler, tx consumer
  services/explorer-indexer/src/modules/pbft/pbft.consumer.ts
  services/explorer-indexer/src/modules/transaction/transaction.consumer.ts
  services/explorer-indexer/src/modules/transaction/transaction.module.ts
Due: build-explorer-indexer-workflow

registers new queue in bull bolard, health endpoint
  services/explorer-indexer/src/bullBoard.ts
  services/explorer-indexer/src/modules/health/health.controller.ts
  services/explorer-indexer/src/modules/health/health.module.ts
  services/explorer-indexer/src/modules/health/producerHealth.controller.ts
  services/explorer-indexer/src/modules/health/producerHealthIndicator.ts
  services/explorer-indexer/src/modules/health/syncerHealthIndicator.ts
Due: build-explorer-indexer-workflow

fixes typo in enum name
  services/explorer-indexer/src/bullBoard.ts
  services/explorer-indexer/src/modules/pbft/pbft.consumer.ts
  services/explorer-indexer/src/modules/pbft/pbft.module.ts
  services/explorer-indexer/src/modules/transaction/transaction.consumer.ts
  services/explorer-indexer/src/modules/transaction/transaction.module.ts
  services/explorer-indexer/src/types/queues/types.ts
Due: build-explorer-indexer-workflow

initialized redis connection state as true
  services/explorer-indexer/src/modules/transaction/transaction.service.ts
Due: build-explorer-indexer-workflow

feat(api|indexer): Changes to transaction table
  packages/explorer-shared/explorer-models/Transaction.model.ts
  packages/explorer-shared/src/entities/transaction.entity.ts
  packages/explorer-shared/src/migrations/1675154481031-TransactionUpdate.ts
  packages/explorer-shared/src/models/Transaction.model.ts
  packages/explorer-shared/tsconfig.json
  services/explorer-api/src/modules/address/address.service.ts
  services/explorer-indexer/src/modules/connectors/graphql.connector.service.ts
  services/explorer-indexer/src/modules/transaction/transaction.service.ts
  services/explorer-indexer/src/types/graphQL/GQLTransaction.ts
  services/explorer-indexer/src/types/rpc/RPCTransaction.ts
  services/explorer/src/components/AddressInfo/AddressInfo.tsx
  services/explorer/src/pages/AddressInfo/AddressInfo.effects.tsx
  services/explorer/tsconfig.json
Due: build-explorer-workflow, build-explorer-indexer-workflow

fix paths
  .circleci/config.yml
Due: none

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@92da9c40cf65bce94ce570f0b8154c984c6be9c9 🚀
  project.json
Due: none

fixes to circleci
  .circleci/workflows.yml
Due: none

trigger ci
  legacy/community-backend/charts/community-backend/values.yaml
Due: none

fixes PR reviews
  services/explorer-indexer/src/modules/health/producerHealthIndicator.ts
  services/explorer-indexer/src/modules/health/syncerHealthIndicator.ts
  services/explorer-indexer/src/modules/historical-sync/historical.syncer.module.ts
  services/explorer-indexer/src/modules/pbft/pbft.consumer.ts
Due: build-explorer-indexer-workflow

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@371ce7d729329341aa0a1aed770026c563850c19 🚀
  project.json
Due: none

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@14c40cc8bc47e40ecf77781f92a47b2bc2e4fa01 🚀
  iframe.html
  main.83dc495d.iframe.bundle.js
  main.c6672aab.iframe.bundle.js
  project.json
Due: none

Revert "adds recaptcha secret as env var"
  .eslintignore
  legacy/community-backend/extensions/users-permissions/controllers/Auth.js
Due: none

community-backend: only changes the google secret env
  legacy/community-backend/extensions/users-permissions/controllers/Auth.js
Due: none

community-backend: don't upgrade packages when installing
  legacy/community-backend/Dockerfile
Due: none

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@2fb2287ac0176dd2254d468dfbc0dc7628390c77 🚀
  iframe.html
  main.83dc495d.iframe.bundle.js
  main.c6672aab.iframe.bundle.js
  project.json
Due: none

community-frontend: removes labels
  services/community-site/charts/community-site/templates/_helpers.tpl
Due: run-community-site-service-workflow

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@ba99b75cffb002b29c233f8fcccd6403b60713f9 🚀
  project.json
Due: none

feat(explorer): Replaced details endpoint with gql account request
  services/explorer-api/src/modules/address/address.controller.ts
  services/explorer-api/src/modules/address/address.service.ts
  services/explorer/.env.example
  services/explorer/src/api/explorer-api/index.ts
  services/explorer/src/api/fetchTokenPrice.ts
  services/explorer/src/api/graphql/queries/addressDetails.ts
  services/explorer/src/api/graphql/queries/index.ts
  services/explorer/src/api/index.ts
  services/explorer/src/api/types.ts
  services/explorer/src/pages/AddressInfo/AddressInfo.effects.tsx
Due: build-explorer-workflow
