Repository Taraxa-project/taraxa-platform: changes, and which CircleCI parameters are due for each by the changed paths.
All: ui-package-modified, run-community-site-service-workflow, run-community-backend-service-workflow, build-community-backend-helm-chart-workflow, run-claim-admin-service-workflow, build-claim-admin-helm-chart-workflow, build-community-site-helm-chart-workflow, run-node-status-service-workflow, run-delegation-service-workflow, build-delegation-helm-chart-workflow, run-claim-backend-service-workflow, build-claim-backend-helm-chart-workflow, build-faucet-workflow, build-faucet-helm-chart-workflow, build-explorer-workflow, build-explorer-helm-chart-workflow, build-explorer-indexer-workflow, build-explorer-indexer-helm-chart-workflow, build-explorer-api-workflow, build-explorer-api-helm-chart-workflow

.circleci/config.yml:

version: 2.1
setup: true
orbs:
  path-filtering: circleci/path-filtering@0.1.1
workflows:
  always-run:
    jobs:
      - path-filtering/filter:
          name: check-updated-files
          mapping: |
            packages/taraxa-ui/.* ui-package-modified true
            services/community-site/.* run-community-site-service-workflow true
            legacy/community-backend/.* run-community-backend-service-workflow true
            legacy/community-backend/charts/.* build-community-backend-helm-chart-workflow true
            legacy/claim-admin/.* run-claim-admin-service-workflow true
            legacy/claim-admin/charts/.* build-claim-admin-helm-chart-workflow true
            services/community-site/charts/.* build-community-site-helm-chart-workflow true
            services/node-status/.* run-node-status-service-workflow true
            services/delegation/.* run-delegation-service-workflow true
            services/delegation/charts/.* build-delegation-helm-chart-workflow true
            services/claim-backend/.* run-claim-backend-service-workflow true
            services/claim-backend/charts/.* build-claim-backend-helm-chart-workflow true
            services/faucet/.* build-faucet-workflow true
            services/faucet/charts/.* build-faucet-helm-chart-workflow true
            services/explorer/.* build-explorer-workflow true
            services/explorer/charts/.* build-explorer-helm-chart-workflow true
            services/explorer-indexer/.* build-explorer-indexer-workflow true
            services/explorer-indexer/charts/.* build-explorer-indexer-helm-chart-workflow true
            services/explorer-api/.* build-explorer-api-workflow true
            services/explorer-api/charts/.* build-explorer-api-helm-chart-workflow true
          base-revision: << pipeline.git.branch >>
          config-path: .circleci/workflows.yml

WIP: implements holders page & table
  services/explorer/src/App.tsx
  services/explorer/src/api/indexer/fetchHolders.ts
  services/explorer/src/components/Header/Header.effects.ts
  services/explorer/src/models/TableData.ts
  services/explorer/src/pages/Holders/Holders.effects.tsx
  services/explorer/src/pages/Holders/Holders.tsx
  services/explorer/src/utils/TransactionRow.tsx
Due: build-explorer-workflow

implements real yield call
  services/community-site/src/services/useIndexerYields.tsx
Due: run-community-site-service-workflow

integrates new yield call into pages
  services/community-site/src/interfaces/Validator.ts
  services/community-site/src/pages/RunNode/Table/MainnetValidatorRow.tsx
  services/community-site/src/pages/Staking/Delegation.tsx
  services/community-site/src/pages/Staking/NodeProfilePage.tsx
  services/community-site/src/pages/Staking/Table/ValidatorRow.tsx
  services/community-site/src/services/useAllValidators.tsx
  services/community-site/tsconfig.json
Due: run-community-site-service-workflow

WIP: implement flex progress bar cell
  packages/taraxa-ui/src/components/BarFlexCell/BarFlexCell.stories.tsx
  packages/taraxa-ui/src/components/BarFlexCell/BarFlexCell.styles.ts
  packages/taraxa-ui/src/components/BarFlexCell/BarFlexCell.tsx
  packages/taraxa-ui/src/index.ts
Due: ui-package-modified

WIP: exports flexbarcell
  packages/taraxa-ui/src/components/BarFlexCell/index.ts
Due: ui-package-modified

implements fetches, holder table
  services/explorer/src/api/indexer/fetchTotalSupply.ts
  services/explorer/src/models/TableData.ts
  services/explorer/src/pages/Holders/Holders.effects.tsx
  services/explorer/src/pages/Holders/Holders.tsx
  services/explorer/src/utils/TransactionRow.tsx
Due: build-explorer-workflow

implements barflex
  packages/taraxa-ui/src/components/BarFlexCell/BarFlexCell.stories.tsx
  packages/taraxa-ui/src/components/BarFlexCell/BarFlexCell.styles.ts
  packages/taraxa-ui/src/components/BarFlexCell/BarFlexCell.tsx
Due: ui-package-modified

finalzies page implementation
  services/explorer/src/pages/Holders/Holders.effects.tsx
  services/explorer/src/pages/Holders/Holders.tsx
  services/explorer/src/utils/TransactionRow.tsx
Due: build-explorer-workflow

implements decoded tx fetching
  services/explorer/src/api/explorer-api/fetchDecodedTransactions.ts
  services/explorer/src/api/graphql/queries/transactions.ts
  services/explorer/src/models/CallData.ts
  services/explorer/src/models/index.ts
Due: build-explorer-workflow

implements decoded func data section
  services/explorer/src/pages/TransactionData/LoadingSkeletonTx.tsx
  services/explorer/src/pages/TransactionData/TransactionData.effects.tsx
  services/explorer/src/pages/TransactionData/TransactionData.tsx
Due: build-explorer-workflow

concat arrays on display
  services/explorer/src/pages/TransactionData/TransactionData.tsx
Due: build-explorer-workflow

removes counter
  services/explorer/src/pages/Blocks/Blocks.tsx
  services/explorer/src/pages/Transactions/Transactions.tsx
Due: build-explorer-workflow

fixes hook trigger on search
  services/explorer/src/api/explorer-api/fetchDecodedTransactions.ts
Due: build-explorer-workflow

renames %bar component
  packages/taraxa-ui/src/components/BarFlexCell/index.ts
  packages/taraxa-ui/src/components/ProgressBar/ProgressBar.stories.tsx
  packages/taraxa-ui/src/components/ProgressBar/ProgressBar.styles.ts
  packages/taraxa-ui/src/components/ProgressBar/ProgressBar.tsx
  packages/taraxa-ui/src/components/ProgressBar/index.ts
  packages/taraxa-ui/src/index.ts
  services/explorer/src/utils/TransactionRow.tsx
Due: ui-package-modified, build-explorer-workflow

Simplified progress bar
  packages/taraxa-ui/src/components/ProgressBar/ProgressBar.styles.ts
  packages/taraxa-ui/src/components/ProgressBar/ProgressBar.tsx
Due: ui-package-modified

Added indexer endpoint logic to useExplorerNetwork hook
  services/explorer/src/hooks/useExplorerNetwork.tsx
  services/explorer/src/pages/Holders/Holders.effects.tsx
  services/explorer/src/utils/networks.ts
Due: build-explorer-workflow

removes unnecessary useEffect
  services/explorer/src/api/explorer-api/fetchDecodedTransactions.ts
  services/explorer/src/pages/TransactionData/TransactionData.effects.tsx
  services/explorer/src/pages/TransactionData/TransactionData.tsx
Due: build-explorer-workflow

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@c933e9ea97233812c5dc8dc417bfcb5c8617714a 🚀
  project.json
Due: none

removes absolute imports
  services/explorer/src/pages/Holders/Holders.effects.tsx
Due: build-explorer-workflow

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@0db9bd1034a7e07cdb12c599009b3442a67fa5df 🚀
  project.json
Due: none

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@b5ebb487422695e5ecf2f2c266a73a2e045ec43f 🚀
  iframe.html
  main.15f3d0ab.iframe.bundle.js
  main.6308bd27.iframe.bundle.js
  project.json
Due: none

implements event log fetching
  services/explorer/src/api/explorer-api/fetchDecodedEventLogs.ts
  services/explorer/src/utils/Types.ts
Due: build-explorer-workflow

adds new section
  services/explorer/src/pages/TransactionData/TransactionData.effects.tsx
  services/explorer/src/pages/TransactionData/TransactionData.tsx
Due: build-explorer-workflow

Small cleanup
  services/explorer/.env.example
  services/explorer/src/api/explorer-api/fetchHolders.ts
  services/explorer/src/api/explorer-api/fetchTotalSupply.ts
  services/explorer/src/api/explorer-api/index.ts
  services/explorer/src/api/sendRequestTokens.faucet.ts
  services/explorer/src/api/types.ts
  services/explorer/src/pages/Faucet/Faucet.effects.ts
  services/explorer/src/pages/Holders/Holders.effects.tsx
  services/explorer/src/pages/TransactionData/TransactionData.effects.tsx
  services/explorer/src/pages/TransactionData/TransactionData.tsx
  services/explorer/src/pages/TransactionData/TransactionDataTabs.tsx
  services/explorer/src/utils/Types.ts
  services/explorer/src/utils/index.ts
Due: build-explorer-workflow

Moved transaction logs and events to DataTabs component
  packages/taraxa-ui/src/components/Icons/File.tsx
  packages/taraxa-ui/src/components/Icons/Tips.tsx
  packages/taraxa-ui/src/components/Icons/index.ts
  services/explorer/.env.example
  services/explorer/src/hooks/useExplorerNetwork.tsx
  services/explorer/src/pages/Holders/Holders.effects.tsx
  services/explorer/src/pages/TransactionData/TransactionData.effects.tsx
  services/explorer/src/pages/TransactionData/TransactionData.tsx
  services/explorer/src/pages/TransactionData/TransactionDataTabs.tsx
  services/explorer/src/utils/networks.ts
Due: ui-package-modified, build-explorer-workflow

Fixed transaction tabs
  services/explorer/src/pages/TransactionData/TransactionData.effects.tsx
  services/explorer/src/pages/TransactionData/TransactionDataTabs.tsx
Due: build-explorer-workflow

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@411ed89b801a10bc155a851c67386ec5ee8e84de 🚀
  iframe.html
  main.15f3d0ab.iframe.bundle.js
  main.6308bd27.iframe.bundle.js
  project.json
Due: none

cleans up PR suggestions
  services/community-site/src/pages/RunNode/Table/MainnetValidatorRow.tsx
  services/community-site/src/pages/Staking/Table/ValidatorRow.tsx
  services/explorer/.env.example
  services/explorer/src/api/types.ts
  services/explorer/src/pages/Holders/Holders.effects.tsx
  services/explorer/src/pages/Holders/Holders.tsx
  services/explorer/src/pages/TransactionData/TransactionData.effects.tsx
  services/explorer/src/utils/TransactionRow.tsx
Due: run-community-site-service-workflow, build-explorer-workflow

extracts holder row transformation logic
  services/explorer/src/pages/Holders/HolderUtils.tsx
  services/explorer/src/pages/Holders/Holders.effects.tsx
  services/explorer/src/utils/TransactionRow.tsx
Due: build-explorer-workflow

removes unnecessary pagination
  services/explorer/src/api/explorer-api/fetchDecodedTransactions.ts
  services/explorer/src/pages/Holders/Holders.effects.tsx
  services/explorer/src/pages/Holders/Holders.tsx
Due: build-explorer-workflow

renames utils to balancerow
  services/explorer/src/pages/Holders/HolderRow.tsx
  services/explorer/src/pages/Holders/Holders.effects.tsx
  services/explorer/src/pages/Holders/Holders.tsx
Due: build-explorer-workflow

defines string key
  services/explorer/src/pages/Holders/Holders.tsx
Due: build-explorer-workflow

fixes displaying of tab when no decoded tx is available
  services/explorer/src/pages/TransactionData/TransactionData.tsx
  services/explorer/src/pages/TransactionData/TransactionDataTabs.tsx
Due: build-explorer-workflow

fixes index allocation on missing params
  services/explorer/src/pages/TransactionData/TransactionDataTabs.tsx
Due: build-explorer-workflow

adds address as key
  services/explorer/src/pages/Holders/Holders.tsx
Due: build-explorer-workflow

fixes log index in case there aren't internal tx-es
  services/explorer/src/pages/TransactionData/TransactionDataTabs.tsx
Due: build-explorer-workflow

fixes fee not showing up in address table
  services/explorer/src/api/explorer-api/fetchTransactionsByAddress.ts
  services/explorer/src/components/Tables/TransactionsTable.tsx
Due: build-explorer-workflow

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@664944ce7111f2a74fbf2d11c40dd6f66af54100 🚀
  iframe.html
  main.6308bd27.iframe.bundle.js
  main.8fbe31e7.iframe.bundle.js
  project.json
Due: none

community-site: changes indexer URL
  services/community-site/src/services/useIndexerYields.tsx
  services/community-site/src/utils/networks.ts
Due: run-community-site-service-workflow
