Repository Taraxa-project/taraxa-platform: changes, and which CircleCI parameters are due for each by the changed paths.
All: ui-package-modified, run-community-site-service-workflow, run-node-status-service-workflow, run-delegation-service-workflow, run-claim-backend-service-workflow, build-faucet-workflow, build-faucet-helm-chart-workflow, build-explorer-workflow, build-explorer-helm-chart-workflow, build-explorer-indexer-workflow, build-explorer-indexer-helm-chart-workflow

remove plugin
  services/explorer-api/.eslintrc.js
  services/explorer-indexer/.eslintrc.js
Due: build-explorer-indexer-workflow

add something on the Theme body
  services/explorer/src/theme.d.ts
Due: build-explorer-workflow

Delete .env
  services/economics-rewards/.env
Due: none

Delete package.json
  services/economics-rewards/package.json
Due: none

fix eslint errors
  services/explorer-api/.eslintrc.js
  services/explorer-api/package.json
  services/explorer/.eslintrc.js
  services/explorer/src/theme.d.ts
Due: build-explorer-workflow

change added attribute to optional
  services/explorer/src/theme.d.ts
Due: build-explorer-workflow

move undelegation call to cron
  services/delegation/src/modules/delegation/delegation-task.service.ts
  services/delegation/src/modules/delegation/delegation.service.ts
  services/delegation/src/modules/delegation/undelegation.entity.ts
Due: run-delegation-service-workflow

eliminate unnecessary const
  services/delegation/src/modules/delegation/delegation.service.ts
Due: run-delegation-service-workflow

feat(economics): Saving delegators
  services/economics-rewards/src/contract.ts
  services/economics-rewards/src/data-source.ts
  services/economics-rewards/src/database.ts
  services/economics-rewards/src/delegators.ts
  services/economics-rewards/src/entities/delegator.entity.ts
  services/economics-rewards/src/entities/index.ts
  services/economics-rewards/src/entities/validator.entity.ts
  services/economics-rewards/src/index.ts
  services/economics-rewards/src/types/Delegator.ts
  services/economics-rewards/src/types/Reward.ts
  services/economics-rewards/src/types/Validator.ts
  services/economics-rewards/src/validators.ts
Due: none

chore(economics): Added comments to interface props
  services/economics-rewards/src/types/Validator.ts
Due: none

implement queue cache class
  services/explorer-indexer/src/modules/historical-sync/historical.syncer.service.ts
  services/explorer-indexer/src/modules/historical-sync/queuePopulatorCache.ts
Due: build-explorer-indexer-workflow

chore: Updated empty interface
  package.json
  services/explorer/src/theme.d.ts
  yarn.lock
Due: build-explorer-workflow

chore(economics): Renamed methods
  services/economics-rewards/src/delegators.ts
  services/economics-rewards/src/validators.ts
Due: none

Feature/implement on chain undelegataion (#314)
  services/delegation/.env.dist
  services/delegation/src/config/delegation.ts
  services/delegation/src/modules/blockchain/blockchain.service.ts
  services/delegation/src/modules/delegation/delegation-task.service.ts
  services/delegation/src/modules/delegation/delegation.module.ts
  services/delegation/src/modules/delegation/delegation.service.ts
  services/delegation/src/modules/delegation/undelegation.entity.ts
Due: run-delegation-service-workflow

fix eslint errors (#324)
  services/explorer-api/.eslintrc.js
  services/explorer-api/package.json
  services/explorer/.eslintrc.js
  services/explorer/src/theme.d.ts
Due: build-explorer-workflow

route explorer-api swagger to apidocs (#321)
  services/explorer-api/src/main.ts
Due: none

Enhancement/query graph ql for claims (#313)
  services/claim-backend/.env.example
  services/claim-backend/config/reward.ts
  services/claim-backend/package.json
  services/claim-backend/src/modules/blockchain/blockchain.module.ts
  services/claim-backend/src/modules/blockchain/blockchain.service.ts
  services/claim-backend/src/modules/blockchain/contracts/Claim.json
  services/claim-backend/src/modules/blockchain/index.ts
  services/claim-backend/src/modules/claim/claim.module.ts
  services/claim-backend/src/modules/claim/claim.service.ts
  services/claim-backend/src/modules/claim/graphql.connector.service.ts
  services/claim-backend/src/modules/claim/type/ClaimDetails.ts
Due: run-claim-backend-service-workflow

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@69ff61d0d181bbb092589e43e55534223a19a2e4 🚀
  project.json
Due: none

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@bb2027b1c87beb6ad64ded2a6378003f3554a45d 🚀
  project.json
Due: none

delegation: new calculations for this epoch 13
  services/delegation/src/modules/reward/reward.service.ts
Due: run-delegation-service-workflow

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@35778d29adf377261aad27a733a74339c28f64d7 🚀
  project.json
Due: none

Feature/implement delegation analysis (#320)
  services/delegation-analysis/.env.example
  services/delegation-analysis/.gitignore
  services/delegation-analysis/package.json
  services/delegation-analysis/src/config.ts
  services/delegation-analysis/src/database.ts
  services/delegation-analysis/src/main.ts
  services/delegation-analysis/src/stakeSummary.ts
  services/delegation-analysis/src/stakes.ts
  services/delegation-analysis/src/stakingSubgraph.ts
  services/delegation-analysis/src/types.ts
  services/delegation-analysis/tsconfig.json
  tsconfig.json
  yarn.lock
Due: none

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@39f53da770d521535771819da341f8da1abeee5c 🚀
  project.json
Due: none

add prefix to predefined queries
  services/explorer-indexer/src/modules/pbft/pbft.service.ts
Due: build-explorer-indexer-workflow

add tablename from typeorm metadata
  services/explorer-indexer/src/modules/pbft/pbft.service.ts
Due: build-explorer-indexer-workflow

Fix/lower cpu demands (#312)
  packages/explorer-shared/data-source.ts
  services/explorer-indexer/package.json
  services/explorer-indexer/src/modules/dag/dag.service.ts
  services/explorer-indexer/src/modules/health/health.controller.ts
  services/explorer-indexer/src/modules/health/health.module.ts
  services/explorer-indexer/src/modules/health/index.ts
  services/explorer-indexer/src/modules/historical-sync/historical.syncer.service.ts
  services/explorer-indexer/src/modules/historical-sync/queuePopulatorCache.ts
  services/explorer-indexer/src/modules/pbft/pbft.service.ts
Due: build-explorer-indexer-workflow

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@cbf56bbcec19e4e53d947133b0d1a474cd5aaaf4 🚀
  141.0ad79d04.iframe.bundle.js
  141.0ad79d04.iframe.bundle.js.map
  147.1bca79c928475b78cd4f.manager.bundle.js
  147.1bca79c928475b78cd4f.manager.bundle.js.LICENSE.txt
  457.b96d4fe263e11e50c1e2.manager.bundle.js
  709.31442a03.iframe.bundle.js
  709.31442a03.iframe.bundle.js.LICENSE.txt
  709.53ee10fad81fe1daf0aa.manager.bundle.js
  709.53ee10fad81fe1daf0aa.manager.bundle.js.LICENSE.txt
  709.93a1127c.iframe.bundle.js
  709.cc5c04b57f1029f9266c.manager.bundle.js
  717.115c855c.iframe.bundle.js
  717.115c855c.iframe.bundle.js.LICENSE.txt
  717.115c855c.iframe.bundle.js.map
  iframe.html
  index.html
  main.1f94b948.iframe.bundle.js
  main.28e7bc5661dd58edf99c.manager.bundle.js
  main.4b305702.iframe.bundle.js
  main.9c3fa0cd2718ab7e32b4.manager.bundle.js
  project.json
  runtime~main.1ac78c92.iframe.bundle.js
  runtime~main.6425b76274e401946685.manager.bundle.js
  runtime~main.9c3c218b.iframe.bundle.js
  runtime~main.c834fc7381ca640ee9e7.manager.bundle.js
Due: none

fixes health indicator file name
  services/explorer-indexer/src/modules/health/syncerHealthIndicator.ts
Due: build-explorer-indexer-workflow

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@5ff330754d13dec0d180a18aedbd716ff9ec9bad 🚀
  project.json
Due: none

delegation: fixes timeout on getting node stats from explorer
  services/delegation/src/modules/node/node-task.service.ts
  services/delegation/src/modules/node/node.module.ts
Due: run-delegation-service-workflow

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@4e74c90f050091694b771f398f66410f6179f940 🚀
  project.json
Due: none

import new connection env vars
  services/explorer/src/api/types.ts
  services/explorer/src/utils/index.ts
  services/explorer/src/utils/networks.ts
  services/explorer/tsconfig.json
Due: build-explorer-workflow

example for new env setup
  services/explorer/.env.example
Due: build-explorer-workflow

implement network switch logic
  services/explorer/src/hooks/useExplorerNetwork.tsx
  services/explorer/src/index.tsx
  services/explorer/src/utils/networks.ts
Due: build-explorer-workflow

update imports
  services/explorer/src/api/explorer-api/fetchBlocksByAddress.ts
  services/explorer/src/api/explorer-api/fetchDagsByAddress.ts
  services/explorer/src/api/explorer-api/fetchDetailsByAddress.ts
  services/explorer/src/api/explorer-api/fetchNodes.ts
  services/explorer/src/api/explorer-api/fetchNumberBlocks.ts
  services/explorer/src/api/explorer-api/fetchPbftsByAddress.ts
  services/explorer/src/api/explorer-api/fetchTransactionsByAddress.ts
Due: build-explorer-workflow

optimization: remove duplicate calls
  services/explorer/src/hooks/useExplorerNetwork.tsx
Due: build-explorer-workflow

feat(economics): Restarting script automatically
  package.json
  services/economics-rewards/.env.example
  services/economics-rewards/src/index.ts
Due: none

rework tree structure, include networks in provider
  services/explorer/.env.example
  services/explorer/src/App.tsx
  services/explorer/src/api/types.ts
  services/explorer/src/config.ts
  services/explorer/src/index.tsx
  services/explorer/src/utils/Enums.ts
  services/explorer/src/utils/networks.ts
Due: build-explorer-workflow

fix hooks
  services/explorer/src/api/explorer-api/fetchBlocksByAddress.ts
  services/explorer/src/api/explorer-api/fetchDagsByAddress.ts
  services/explorer/src/api/explorer-api/fetchDetailsByAddress.ts
  services/explorer/src/api/explorer-api/fetchNodes.ts
  services/explorer/src/api/explorer-api/fetchNumberBlocks.ts
  services/explorer/src/api/explorer-api/fetchPbftsByAddress.ts
  services/explorer/src/api/explorer-api/fetchTransactionsByAddress.ts
  services/explorer/src/api/sendRequestTokens.faucet.ts
  services/explorer/src/hooks/useExplorerNetwork.tsx
  services/explorer/src/pages/AddressInfo/AddressInfo.effects.tsx
  services/explorer/src/pages/Faucet/Faucet.effects.ts
  services/explorer/src/pages/Nodes/Nodes.effects.tsx
  services/explorer/src/pages/Transactions/Transactions.effects.ts
Due: build-explorer-workflow

Path conditions:
  ui-package-modified: any of: packages/taraxa-ui/.*
  run-community-site-service-workflow: any of: services/community-site/.*
  run-node-status-service-workflow: any of: services/node-status/.*
  run-delegation-service-workflow: any of: services/delegation/.*
  run-claim-backend-service-workflow: any of: services/claim-backend/.*
  build-faucet-workflow: any of: services/faucet/.*
  build-faucet-helm-chart-workflow: any of: services/faucet/charts/.*
  build-explorer-workflow: any of: services/explorer/.*
  build-explorer-helm-chart-workflow: any of: services/explorer/charts/.*
  build-explorer-indexer-workflow: any of: services/explorer-indexer/.*
  build-explorer-indexer-helm-chart-workflow: any of: services/explorer-indexer/charts/.*
