Repository Taraxa-project/taraxa-platform: changes, and which CircleCI parameters are due for each by the changed paths.
All: ui-package-modified, run-community-site-service-workflow, run-node-status-service-workflow, run-delegation-service-workflow, run-claim-backend-service-workflow

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@823e2f6951e88383b7a44b81b46c600b25890a69 🚀
  project.json
Due: none

chore: use new dpos contract for mainnet
  services/community-site/src/pages/RunNode/Modal/RegisterNode.tsx
  services/delegation/.env.dist
  services/delegation/charts/community-delegation/templates/secrets.yaml
  services/delegation/package.json
  services/delegation/src/cli.ts
  services/delegation/src/config/delegation.ts
  services/delegation/src/config/ethereum.ts
  services/delegation/src/modules/blockchain/blockchain.constant.ts
  services/delegation/src/modules/blockchain/blockchain.module.ts
  services/delegation/src/modules/blockchain/blockchain.service.ts
  services/delegation/src/modules/delegation/delegation.service.ts
  services/delegation/src/modules/node/dto/create-node.dto.ts
  services/delegation/src/modules/node/node.consumer.ts
  services/delegation/src/modules/node/node.entity.ts
  services/delegation/src/modules/staking/staking.service.ts
  yarn.lock
Due: run-community-site-service-workflow, run-delegation-service-workflow

chore: use new dpos contract for mainnet (#302)
  services/community-site/src/pages/RunNode/Modal/RegisterNode.tsx
  services/delegation/.env.dist
  services/delegation/charts/community-delegation/templates/secrets.yaml
  services/delegation/package.json
  services/delegation/src/cli.ts
  services/delegation/src/config/delegation.ts
  services/delegation/src/config/ethereum.ts
  services/delegation/src/modules/blockchain/blockchain.constant.ts
  services/delegation/src/modules/blockchain/blockchain.module.ts
  services/delegation/src/modules/blockchain/blockchain.service.ts
  services/delegation/src/modules/delegation/delegation.service.ts
  services/delegation/src/modules/node/dto/create-node.dto.ts
  services/delegation/src/modules/node/node.consumer.ts
  services/delegation/src/modules/node/node.entity.ts
  services/delegation/src/modules/staking/staking.service.ts
  yarn.lock
Due: run-community-site-service-workflow, run-delegation-service-workflow

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@e6cded5ca6504b4c6adad08683cdb2c3821a7767 🚀
  457.3c6a9199a9c894974ec5.manager.bundle.js
  457.3c6a9199a9c894974ec5.manager.bundle.js.LICENSE.txt
  457.d94481320cad83c92e90.manager.bundle.js
  716.5459ad65.iframe.bundle.js
  716.5459ad65.iframe.bundle.js.map
  716.8523f787.iframe.bundle.js
  716.8523f787.iframe.bundle.js.LICENSE.txt
  716.8523f787.iframe.bundle.js.map
  721.68e5eb6bdfca26b9d56d.manager.bundle.js
  721.68e5eb6bdfca26b9d56d.manager.bundle.js.LICENSE.txt
  721.9b7fee2bff0a765c7a2e.manager.bundle.js
  721.ae02685a.iframe.bundle.js
  721.ae02685a.iframe.bundle.js.LICENSE.txt
  721.d352340b.iframe.bundle.js
  iframe.html
  index.html
  main.9cf447cb.iframe.bundle.js
  main.c839d593.iframe.bundle.js
  project.json
  runtime~main.1ac78c92.iframe.bundle.js
  runtime~main.58208703.iframe.bundle.js
  runtime~main.bc4c117edc4e5f716db3.manager.bundle.js
  runtime~main.c834fc7381ca640ee9e7.manager.bundle.js
Due: none

delegation: fixes rewards and delegations when creating node
  services/delegation/src/modules/node/listener/node-created.listener.ts
  services/delegation/src/modules/node/listener/node-deleted.listener.ts
  services/delegation/src/modules/reward/data/staking-data.service.ts
Due: run-delegation-service-workflow

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@f3094b07ad1495073f478dd619bd45593d6bf933 🚀
  project.json
Due: none

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@b649933c5e5d4e95888c00fad1c7dbfb8245e096 🚀
  457.3c6a9199a9c894974ec5.manager.bundle.js
  457.b96d4fe263e11e50c1e2.manager.bundle.js
  457.b96d4fe263e11e50c1e2.manager.bundle.js.LICENSE.txt
  716.8523f787.iframe.bundle.js
  716.8523f787.iframe.bundle.js.map
  716.f560a6d2.iframe.bundle.js
  716.f560a6d2.iframe.bundle.js.LICENSE.txt
  716.f560a6d2.iframe.bundle.js.map
  iframe.html
  index.html
  project.json
Due: none

explorer: fixes and deployment
  .circleci/config.yml
  .circleci/workflows.yml
  services/explorer/.env.example
  services/explorer/Dockerfile
  services/explorer/charts/.gitignore
  services/explorer/charts/community-site/templates/NOTES.txt
  services/explorer/charts/community-site/templates/_helpers.tpl
  services/explorer/charts/community-site/templates/explorer-deployment.yaml
  services/explorer/charts/community-site/templates/explorer-ingress.yaml
  services/explorer/charts/community-site/templates/secrets.yaml
  services/explorer/charts/community-site/values.yaml
  services/explorer/charts/explorer/.helmignore
  services/explorer/charts/explorer/Chart.yaml
  services/explorer/charts/explorer/templates/NOTES.txt
  services/explorer/charts/explorer/templates/_helpers.tpl
  services/explorer/charts/explorer/templates/configmap.yaml
  services/explorer/charts/explorer/templates/deployment.yaml
  services/explorer/charts/explorer/templates/hpa.yaml
  services/explorer/charts/explorer/templates/ingress.yaml
  services/explorer/charts/explorer/templates/service.yaml
  services/explorer/charts/explorer/templates/serviceaccount.yaml
  services/explorer/charts/explorer/values.yaml
  services/explorer/charts/kind.values.yaml
  services/explorer/charts/qa.values.yaml
  services/explorer/docker-files/entrypoint.sh
Due: none

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@7c15af70759873ae058243489b1b9597204aebfa 🚀
  project.json
Due: none

explorer: changes helm chart name
  .circleci/workflows.yml
  services/explorer/charts/explorer-frontend/.helmignore
  services/explorer/charts/explorer-frontend/Chart.yaml
  services/explorer/charts/explorer-frontend/templates/NOTES.txt
  services/explorer/charts/explorer-frontend/templates/_helpers.tpl
  services/explorer/charts/explorer-frontend/templates/configmap.yaml
  services/explorer/charts/explorer-frontend/templates/deployment.yaml
  services/explorer/charts/explorer-frontend/templates/hpa.yaml
  services/explorer/charts/explorer-frontend/templates/ingress.yaml
  services/explorer/charts/explorer-frontend/templates/service.yaml
  services/explorer/charts/explorer-frontend/templates/serviceaccount.yaml
  services/explorer/charts/explorer-frontend/templates/tests/test-connection.yaml
  services/explorer/charts/explorer-frontend/values.yaml
Due: none

explorer: changes helm chart name
  services/explorer/charts/explorer-frontend/templates/configmap.yaml
Due: none

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@f1a221a30f445c79222dd92db14120d38f88b3ea 🚀
  project.json
Due: none

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@9fab12c1948e0e676a63f5ba8ed6893286acce82 🚀
  project.json
Due: none

explorer: enable ingress by default
  services/explorer/charts/explorer-frontend/values.yaml
Due: none

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@e6a3d78791ebd3f8023484d57136d92c71a8f951 🚀
  project.json
Due: none

explorer: build docker image on every change to dir
  .circleci/workflows.yml
Due: none

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@f5a5e5d80ceed33fc914c6b616b0c50cfd40e556 🚀
  project.json
Due: none

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@f8963bc6f5a4c2b426e0cc1ea2ffa80f5cd717e6 🚀
  project.json
Due: none

explorer-api: initial deployment files
  services/explorer-api/.dockerignore
  services/explorer-api/.env.example
  services/explorer-api/Dockerfile
  services/explorer-api/charts/explorer-api/.helmignore
  services/explorer-api/charts/explorer-api/Chart.yaml
  services/explorer-api/charts/explorer-api/templates/NOTES.txt
  services/explorer-api/charts/explorer-api/templates/_helpers.tpl
  services/explorer-api/charts/explorer-api/templates/configmap.yaml
  services/explorer-api/charts/explorer-api/templates/deployment.yaml
  services/explorer-api/charts/explorer-api/templates/hpa.yaml
  services/explorer-api/charts/explorer-api/templates/ingress.yaml
  services/explorer-api/charts/explorer-api/templates/service.yaml
  services/explorer-api/charts/explorer-api/templates/serviceaccount.yaml
  services/explorer-api/charts/explorer-api/values.yaml
  services/explorer-api/package.json
  services/explorer-api/src/app.module.ts
  services/explorer-api/tsconfig.build.json
  services/explorer-api/tsconfig.json
  services/explorer-indexer/charts/explorer-indexer/templates/tests/test-connection.yaml
  yarn.lock
Due: none

delegation: fixes mainnet delegation
  services/delegation/src/cli.ts
  services/delegation/src/modules/blockchain/blockchain.service.ts
  services/delegation/src/modules/delegation/delegation.service.ts
Due: run-delegation-service-workflow

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@db488c6387bbd60b3fb9c47777d1318d105eb690 🚀
  project.json
Due: none

delegation: fixes mainnet delegation
  services/delegation/src/modules/delegation/delegation.service.ts
Due: run-delegation-service-workflow

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@2c7f11c153da8bf797a079139e9fdff7af66f9fc 🚀
  project.json
Due: none

fix(taraxa-ui): Working on fixing injected classes
  packages/taraxa-ui/src/components/Header/Header.styles.ts
  packages/taraxa-ui/src/components/Header/Header.tsx
  packages/taraxa-ui/src/components/LoadingWidget/LoadingWidget.tsx
  packages/taraxa-ui/src/components/TransactionDetails/TransactionDetails.tsx
  services/explorer/.eslintrc.js
  services/explorer/src/api/explorer-api/fetchBlocksByAddress.ts
  services/explorer/src/api/explorer-api/fetchDagsByAddress.ts
  services/explorer/src/api/explorer-api/fetchDetailsByAddress.ts
  services/explorer/src/api/explorer-api/fetchNodes.ts
  services/explorer/src/api/explorer-api/fetchNumberBlocks.ts
  services/explorer/src/api/explorer-api/fetchPbftsByAddress.ts
  services/explorer/src/api/explorer-api/fetchTransactionsByAddress.ts
  services/explorer/src/api/sendRequestTokens.faucet.ts
  services/explorer/src/components/AddressInfo/AddressInfo.tsx
  services/explorer/src/components/Header/Header.effects.ts
  services/explorer/src/components/LoadingWidget/LoadingWidget.tsx
  services/explorer/src/hooks/useCopyToClipboard.tsx
  services/explorer/src/hooks/useExplorerNetwork.tsx
  services/explorer/src/hooks/useLoader.tsx
  services/explorer/src/hooks/useNodeStateContext.tsx
  services/explorer/src/pages/AddressInfo/AddressInfo.effects.tsx
  services/explorer/src/pages/AddressInfo/AddressInfo.tsx
  services/explorer/src/pages/BlockData/DAGDataContainer.effects.tsx
  services/explorer/src/pages/Blocks/Blocks.effects.ts
  services/explorer/src/pages/Dag/Dag.effects.tsx
  services/explorer/src/pages/Dag/Dag.tsx
  services/explorer/src/pages/Faucet/Faucet.effects.ts
  services/explorer/src/pages/Home/Home.effects.tsx
  services/explorer/src/pages/Home/Home.styles.ts
  services/explorer/src/pages/Home/Home.tsx
  services/explorer/src/pages/Nodes/Nodes.effects.tsx
  services/explorer/src/pages/PBFTData/PBFTDataContainer.effects.tsx
  services/explorer/src/pages/TransactionData/TransactionData.effects.ts
  services/explorer/src/pages/Transactions/Transactions.effects.ts
  services/explorer/src/reportWebVitals.ts
  services/explorer/src/utils/TransactionRow.tsx
  services/explorer/src/utils/chartUtils.ts
  services/explorer/src/utils/getDomainName.ts
  services/explorer/tsconfig.json
  services/faucet/src/modules/faucet/faucet.service.ts
Due: ui-package-modified

chore(taraxa-ui): Working on fixing jss overlap
  packages/taraxa-ui/src/components/Header/Header.styles.ts
  services/explorer/src/pages/Faucet/Faucet.styles.ts
  services/explorer/src/theme-provider/ExplorerThemeProvider.tsx
Due: ui-package-modified

fix(explorer): Fixed theme overlapping styles
  packages/taraxa-ui/src/components/Header/Header.tsx
  services/explorer/src/components/AddressInfo/AddressInfo.styles.ts
  services/explorer/src/components/DataRow/DataRow.styles.ts
  services/explorer/src/pages/BlockData/DAGDataContainer.styles.ts
  services/explorer/src/pages/Faucet/Faucet.styles.ts
  services/explorer/src/pages/PBFTData/PBFTDataContainer.styles.ts
  services/explorer/src/pages/TransactionData/TransactionData.styles.ts
  services/explorer/src/theme-provider/ExplorerThemeProvider.tsx
Due: ui-package-modified

add more old space
  services/explorer-indexer/package.json
Due: none

add logs historical producing
  services/explorer-indexer/src/modules/historical-sync/historical.syncer.service.ts
Due: none

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@d3f637bf1b39b9b137c77c7ca3fe2c920ac438fd 🚀
  141.0ad79d04.iframe.bundle.js
  141.0ad79d04.iframe.bundle.js.LICENSE.txt
  141.0ad79d04.iframe.bundle.js.map
  716.f560a6d2.iframe.bundle.js
  716.f560a6d2.iframe.bundle.js.map
  iframe.html
  main.58338f51.iframe.bundle.js
  main.c839d593.iframe.bundle.js
  project.json
Due: none

fix(community): Adjusted design per figma requirements
  packages/taraxa-ui/src/components/BaseCard/BaseCard.styles.ts
  packages/taraxa-ui/src/components/BaseCard/BaseCard.tsx
  packages/taraxa-ui/src/components/Button/Button.tsx
  packages/taraxa-ui/src/components/Card/Card.styles.ts
  packages/taraxa-ui/src/components/DataCard/DataCard.styles.ts
  packages/taraxa-ui/src/components/DataCard/DataCard.tsx
  packages/taraxa-ui/src/components/IconCard/IconCard.styles.ts
  packages/taraxa-ui/src/components/IconCard/IconCard.tsx
  packages/taraxa-ui/src/components/ProfileSubmissionsCard/ProfileSubmissionsCard.styles.ts
  packages/taraxa-ui/src/components/RewardCard/RewardCard.styles.ts
  packages/taraxa-ui/src/components/ToggleButton/ToggleButton.styles.ts
  packages/taraxa-ui/src/components/theme.tsx
  services/community-site/src/App.scss
  services/community-site/src/components/Title/title.scss
  services/community-site/src/pages/Delegation/Table/NodeRow.tsx
  services/community-site/src/pages/Delegation/delegation.scss
  services/community-site/src/pages/Profile/EditProfile.tsx
  services/community-site/src/pages/Profile/ViewProfile.tsx
  services/community-site/src/pages/Redeem/Redeem.tsx
  services/community-site/src/pages/RunNode/RunNode.tsx
  services/community-site/src/pages/RunNode/runnode.scss
  services/community-site/src/pages/Staking/Staking.tsx
  services/community-site/tsconfig.json
Due: ui-package-modified, run-community-site-service-workflow

fix(taraxa-ui): Fixed cards color
  packages/taraxa-ui/src/components/Card/Card.styles.ts
  packages/taraxa-ui/src/components/Notification/Notification.styles.ts
  packages/taraxa-ui/src/components/Notification/Notification.tsx
  packages/taraxa-ui/src/components/RewardCard/RewardCard.styles.ts
  services/community-site/src/App.scss
  services/community-site/src/pages/Delegation/Table/NodeRow.tsx
  services/community-site/src/pages/Profile/EditProfile.tsx
  services/community-site/src/pages/Redeem/Redeem.tsx
Due: ui-package-modified, run-community-site-service-workflow

rename imports
  services/explorer-indexer/src/modules/health/health.controller.ts
  services/explorer-indexer/src/modules/health/health.module.ts
  services/explorer-indexer/src/modules/health/index.ts
Due: none

push to queue in chunks of 1000
  services/explorer-indexer/src/modules/historical-sync/historical.syncer.service.ts
Due: none

remove unnecessary joins
  services/explorer-indexer/src/modules/dag/dag.service.ts
Due: none

adds graphQL request dep
  services/claim-backend/package.json
Due: run-claim-backend-service-workflow

set up env
  services/claim-backend/.env.example
  services/claim-backend/config/reward.ts
Due: run-claim-backend-service-workflow

implements connector service, used types
  services/claim-backend/src/modules/claim/claim.service.ts
  services/claim-backend/src/modules/claim/graphql.connector.service.ts
  services/claim-backend/src/modules/claim/type/ClaimDetails.ts
Due: run-claim-backend-service-workflow

Path conditions:
  ui-package-modified: any of: packages/taraxa-ui/.*
  run-community-site-service-workflow: any of: services/community-site/.*
  run-node-status-service-workflow: any of: services/node-status/.*
  run-delegation-service-workflow: any of: services/delegation/.*
  run-claim-backend-service-workflow: any of: services/claim-backend/.*
