Repository Taraxa-project/taraxa-platform: changes, and which CircleCI parameters are due for each by the changed paths.
All: ui-package-modified, run-community-backend-service-workflow, build-community-backend-helm-chart-workflow, run-claim-admin-service-workflow, build-claim-admin-helm-chart-workflow, run-community-site-service-workflow, build-community-site-helm-chart-workflow, run-node-status-service-workflow, run-delegation-service-workflow, build-delegation-helm-chart-workflow, run-claim-backend-service-workflow, build-claim-backend-helm-chart-workflow, build-faucet-workflow, build-faucet-helm-chart-workflow, build-explorer-workflow, build-explorer-helm-chart-workflow

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@f0f6fe4b81349e112797c3593182b26f741e0a92 🚀
  project.json
Due: none

handle transaction count for all calls
  services/delegation/src/modules/blockchain/blockchain.service.ts
Due: run-delegation-service-workflow

fixes claimAllRewards abi
  services/community-site/src/services/useDelegation.tsx
  services/community-site/src/services/useDpos.ts
Due: run-community-site-service-workflow

Hiding commision change icon if new registered validator
  services/community-site/src/interfaces/Node.ts
  services/community-site/src/interfaces/Validator.ts
  services/community-site/src/pages/Staking/Table/ValidatorRow.tsx
  services/community-site/src/services/useExplorerStats.tsx
  services/community-site/src/services/useValidators.tsx
Due: run-community-site-service-workflow

Adds MEXC label
  services/explorer/src/hooks/useAddressLabel.tsx
Due: build-explorer-workflow

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@d5cd5fe881ecdf9b2d1ed418be73e0160765b7be 🚀
  project.json
Due: none

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@7087ede54a5bbb92a9f58394d12677812fbbbc7b 🚀
  project.json
Due: none

fixes yield pull on own validators (#604)
  services/community-site/src/pages/Staking/Delegation.tsx
Due: run-community-site-service-workflow

explorer: feat - adds support for prnets
  services/explorer/charts/explorer-frontend/templates/configmap.yaml
  services/explorer/charts/explorer-frontend/values.yaml
  services/explorer/src/api/types.ts
  services/explorer/src/components/Header/Header.effects.ts
  services/explorer/src/components/Header/Header.tsx
  services/explorer/src/hooks/useExplorerNetwork.tsx
Due: build-explorer-workflow, build-explorer-helm-chart-workflow

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@4f38de4237d0fd15f4c4f155ab20120aeade36dc 🚀
  project.json
Due: none

explorer: feat - adds support for prnets: adds env vars to docker run
  services/explorer/Dockerfile
  services/explorer/docker-files/entrypoint.sh
Due: build-explorer-workflow

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@0f35bc4e54a67ebcf631bb2ea0ead2b8574cea29 🚀
  project.json
Due: none

explorer: fixes prnet env vars
  services/explorer/Dockerfile
  services/explorer/docker-files/entrypoint.sh
  services/explorer/src/api/types.ts
Due: build-explorer-workflow

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@d3ffe33ac5bee0fe8334cb9683fe496102b2e1dd 🚀
  project.json
Due: none

delegation: wait for delegation transactions
  services/delegation/src/modules/blockchain/blockchain.service.ts
Due: run-delegation-service-workflow

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@01e6c14b3fec38d24f5bf8c6ce8027ffc6cddb67 🚀
  project.json
Due: none

use precalculated nonce for delegating to own validators
  services/delegation/src/modules/blockchain/blockchain.service.ts
Due: run-delegation-service-workflow

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@982e212801a62482726551e9e0121891a796fda7 🚀
  project.json
Due: none

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@d44472efb84f43b8334a6f2fbbe29ecc5e188256 🚀
  project.json
Due: none

adds bridge addresses to explorer
  services/explorer/src/hooks/useAddressLabel.tsx
Due: build-explorer-workflow

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@f01445db2f44eab0a6e1cadf876d88c7ab506ea3 🚀
  project.json
Due: none

fixes bridge addresses in explorer
  services/explorer/src/hooks/useAddressLabel.tsx
Due: build-explorer-workflow

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@c3c36a100ebd8431bd99e9b941d2b83a6248c43a 🚀
  project.json
Due: none

community-site: updates taraxa logo
  packages/taraxa-ui/src/components/Footer/Footer.tsx
  packages/taraxa-ui/src/images/logo.svg
  services/community-site/src/assets/icons/taraxaIcon.tsx
Due: ui-package-modified, run-community-site-service-workflow

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@751d7918789349ae303b82b63e13f2095458dc27 🚀
  iframe.html
  main.5b7e01a4.iframe.bundle.js
  main.93f3f8c3.iframe.bundle.js
  project.json
  static/media/logo.08191de8.svg
  static/media/logo.e37bee6c.svg
Due: none

explorer: updates taraxa logo
  services/explorer/src/components/icons/taraxaIcon.tsx
Due: build-explorer-workflow

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@306ce7d73ebe243e4e3db88540a86967891cad18 🚀
  iframe.html
  main.316c3095.iframe.bundle.js
  main.93f3f8c3.iframe.bundle.js
  project.json
Due: none

community: updates favicon and other assets
  services/explorer/public/favicon.png
  services/explorer/public/logo192.png
  services/explorer/public/logo512.png
Due: build-explorer-workflow

Path conditions:
  ui-package-modified: any of: packages/taraxa-ui/.*
  run-community-backend-service-workflow: any of: legacy/community-backend/.*
  build-community-backend-helm-chart-workflow: any of: legacy/community-backend/charts/.*
  run-claim-admin-service-workflow: any of: legacy/claim-admin/.*
  build-claim-admin-helm-chart-workflow: any of: legacy/claim-admin/charts/.*
  run-community-site-service-workflow: any of: services/community-site/.*
  build-community-site-helm-chart-workflow: any of: services/community-site/charts/.*
  run-node-status-service-workflow: any of: services/node-status/.*
  run-delegation-service-workflow: any of: services/delegation/.*
  build-delegation-helm-chart-workflow: any of: services/delegation/charts/.*
  run-claim-backend-service-workflow: any of: services/claim-backend/.*
  build-claim-backend-helm-chart-workflow: any of: services/claim-backend/charts/.*
  build-faucet-workflow: any of: services/faucet/.*
  build-faucet-helm-chart-workflow: any of: services/faucet/charts/.*
  build-explorer-workflow: any of: services/explorer/.*
  build-explorer-helm-chart-workflow: any of: services/explorer/charts/.*
