Repository Taraxa-project/taraxa-platform: changes, and which CircleCI parameters are due for each by the changed paths.
All: ui-package-modified, run-community-site-service-workflow, run-node-status-service-workflow

delegation: deployment fixes
  services/delegation/charts/community-delegation/.helmignore
  services/delegation/charts/community-delegation/Chart.yaml
  services/delegation/charts/community-delegation/templates/NOTES.txt
  services/delegation/charts/community-delegation/templates/_helpers.tpl
  services/delegation/charts/community-delegation/templates/configmap.yaml
  services/delegation/charts/community-delegation/templates/deployment.yaml
  services/delegation/charts/community-delegation/templates/hpa.yaml
  services/delegation/charts/community-delegation/templates/ingress.yaml
  services/delegation/charts/community-delegation/templates/service.yaml
  services/delegation/charts/community-delegation/templates/serviceaccount.yaml
  services/delegation/charts/community-delegation/values.yaml
Due: none

delegation: deployment secrets
  .dockerignore
  services/delegation/charts/.gitignore
  services/delegation/charts/community-delegation/templates/configmap.yaml
  services/delegation/charts/community-delegation/templates/deployment.yaml
  services/delegation/charts/community-delegation/templates/secrets.yaml
  services/delegation/charts/prod.values.yaml
  services/delegation/charts/qa.values.yaml
Due: none

ui: removes storybook
  packages/taraxa-ui/.github/workflows/deploy.yml
  packages/taraxa-ui/.gitignore
  packages/taraxa-ui/.storybook/main.js
  packages/taraxa-ui/.storybook/preview.js
  packages/taraxa-ui/.storybook/webpack.config.js
  packages/taraxa-ui/package.json
  services/community-site/tsconfig.json
  yarn.lock
Due: ui-package-modified, run-community-site-service-workflow

delegation: filter by node type
  services/delegation/.env.dist
  services/delegation/src/app.module.ts
  services/delegation/src/config/delegation.ts
  services/delegation/src/config/ethereum.ts
  services/delegation/src/config/staking.ts
  services/delegation/src/modules/auth/jwt-auth.guard.ts
  services/delegation/src/modules/auth/jwt.constant.ts
  services/delegation/src/modules/delegation/delegation.controller.ts
  services/delegation/src/modules/delegation/delegation.entity.ts
  services/delegation/src/modules/delegation/delegation.module.ts
  services/delegation/src/modules/delegation/delegation.service.ts
  services/delegation/src/modules/delegation/dto/create-delegation.dto.ts
  services/delegation/src/modules/node/node.controller.ts
  services/delegation/src/modules/node/node.entity.ts
  services/delegation/src/modules/node/node.module.ts
  services/delegation/src/modules/node/node.service.ts
  services/delegation/src/modules/node/validator.controller.ts
  services/delegation/src/modules/node/validator.entity.ts
  services/delegation/src/modules/node/validator.service.ts
  services/delegation/src/modules/staking/staking.module.ts
  services/delegation/src/modules/staking/staking.service.ts
  services/delegation/src/modules/user/public.decorator.ts
Due: none

delegation: adds staking and ethereum values to the helm chart
  services/delegation/charts/community-delegation/templates/configmap.yaml
  services/delegation/charts/community-delegation/templates/secrets.yaml
  services/delegation/charts/prod.values.yaml
  services/delegation/charts/qa.values.yaml
Due: none

delegation: adds nonce route delegation: adds balances route
  services/community-site/tsconfig.json
  services/delegation/src/config/delegation.ts
  services/delegation/src/modules/delegation/balance.controller.ts
  services/delegation/src/modules/delegation/delegation-nonce.entity.ts
  services/delegation/src/modules/delegation/delegation.controller.ts
  services/delegation/src/modules/delegation/delegation.module.ts
  services/delegation/src/modules/delegation/delegation.service.ts
  services/delegation/src/modules/delegation/dto/balances.dto.ts
  services/delegation/src/modules/delegation/dto/create-delegation-nonce.dto.ts
  services/delegation/src/modules/node/node-commission.entity.ts
  services/delegation/src/modules/node/node.controller.ts
  services/delegation/src/modules/node/node.entity.ts
  services/delegation/src/modules/node/node.service.ts
  services/delegation/src/modules/profile/profile.service.ts
Due: run-community-site-service-workflow

delegation: adds nonce route (#14)
  services/community-site/tsconfig.json
  services/delegation/src/config/delegation.ts
  services/delegation/src/modules/delegation/balance.controller.ts
  services/delegation/src/modules/delegation/delegation-nonce.entity.ts
  services/delegation/src/modules/delegation/delegation.controller.ts
  services/delegation/src/modules/delegation/delegation.module.ts
  services/delegation/src/modules/delegation/delegation.service.ts
  services/delegation/src/modules/delegation/dto/balances.dto.ts
  services/delegation/src/modules/delegation/dto/create-delegation-nonce.dto.ts
  services/delegation/src/modules/node/node-commission.entity.ts
  services/delegation/src/modules/node/node.controller.ts
  services/delegation/src/modules/node/node.entity.ts
  services/delegation/src/modules/node/node.service.ts
  services/delegation/src/modules/profile/profile.service.ts
Due: run-community-site-service-workflow

delegation: not found error for get node
  services/delegation/src/modules/node/node.controller.ts
  services/delegation/src/modules/node/node.service.ts
Due: none

delegation: validators and get validator routes
  services/delegation/src/modules/node/node.controller.ts
  services/delegation/src/modules/node/node.module.ts
  services/delegation/src/modules/node/node.service.ts
  services/delegation/src/modules/node/validator.controller.ts
  services/delegation/src/modules/node/validator.entity.ts
  services/delegation/src/modules/node/validator.service.ts
Due: none

delegation: adds own delegation value to the nodes list
  services/delegation/src/modules/node/node.entity.ts
Due: none

delegation: simplified exception handling
  services/delegation/src/app.module.ts
  services/delegation/src/main.ts
  services/delegation/src/modules/delegation/delegation.controller.ts
  services/delegation/src/modules/delegation/delegation.service.ts
  services/delegation/src/modules/node/exceptions/cant-add-commission.ts
  services/delegation/src/modules/node/exceptions/node-already-exists.exception.ts
  services/delegation/src/modules/node/exceptions/node-cant-be-deleted.exception.ts
  services/delegation/src/modules/node/exceptions/node-doesnt-belong-to-user.exception.ts
  services/delegation/src/modules/node/exceptions/node-doesnt-support-commissions.ts
  services/delegation/src/modules/node/exceptions/node-not-found-exception.ts
  services/delegation/src/modules/node/exceptions/node-proof-invalid.ts
  services/delegation/src/modules/node/node.controller.ts
  services/delegation/src/modules/node/node.service.ts
  services/delegation/src/modules/node/validator.controller.ts
  services/delegation/src/modules/node/validator.service.ts
  services/delegation/src/modules/profile/exceptions/profile-already-exists.exception.ts
  services/delegation/src/modules/profile/exceptions/profile-not-found.exception.ts
  services/delegation/src/modules/profile/profile.controller.ts
  services/delegation/src/modules/profile/profile.service.ts
  services/delegation/src/modules/utils/exceptions/validation.exception.ts
  services/delegation/src/modules/utils/http-exception.filter.ts
Due: none

delegation: adds validator filtering
  services/delegation/src/modules/auth/jwt-auth.guard.ts
  services/delegation/src/modules/node/validator.controller.ts
  services/delegation/src/modules/node/validator.service.ts
  services/delegation/src/modules/utils/http-exception.filter.ts
Due: none

delegation: adds delegation proof field
  services/delegation/src/modules/delegation/delegation.service.ts
  services/delegation/src/modules/delegation/dto/create-delegation.dto.ts
Due: none

delegation wip
  services/community-site/src/pages/Delegation/Delegation.tsx
  services/community-site/src/pages/Delegation/Modal/Delegate.tsx
  services/community-site/src/pages/Delegation/Modal/delegate-styles.tsx
  services/community-site/src/pages/Delegation/table-styles.tsx
  services/community-site/src/pages/RunNode/RunNode.tsx
  services/community-site/src/pages/RunNode/Screen/EditNode.tsx
  services/community-site/src/pages/RunNode/table-styles.tsx
Due: run-community-site-service-workflow

wip node editing
  services/community-site/src/pages/RunNode/Modal/RegisterNode.tsx
  services/community-site/src/pages/RunNode/Modal/UpdateCommission.tsx
  services/community-site/src/pages/RunNode/RunNode.tsx
  services/community-site/src/pages/RunNode/Screen/CreateOrEditProfile.tsx
  services/community-site/src/pages/RunNode/Screen/EditNode.tsx
  services/community-site/src/pages/RunNode/Screen/editnode-styles.tsx
Due: run-community-site-service-workflow

wip, profile creation / editing working
  packages/taraxa-ui/src/components/Card/Card.tsx
  services/community-site/package.json
  services/community-site/src/pages/RunNode/Modal/RegisterNode.tsx
  services/community-site/src/pages/RunNode/RunNode.tsx
  services/community-site/src/pages/RunNode/runnode.scss
  services/community-site/src/pages/RunNode/table-styles.tsx
Due: ui-package-modified, run-community-site-service-workflow

wip delegation
  services/community-site/src/pages/Delegation/Delegation.tsx
  services/community-site/src/pages/Delegation/table-styles.tsx
  services/community-site/src/pages/RunNode/RunNode.tsx
Due: run-community-site-service-workflow

delegation wip
  services/community-site/src/App.tsx
  services/community-site/src/assets/icons/delegation.tsx
  services/community-site/src/assets/icons/delegationSidebar.tsx
  services/community-site/src/components/Sidebar/Sidebar.tsx
  services/community-site/src/pages/Delegation/Delegation.tsx
  services/community-site/src/pages/Delegation/delegation.scss
  services/community-site/src/pages/Delegation/table-styles.tsx
  services/community-site/src/pages/Home/Home.tsx
Due: run-community-site-service-workflow

Use new API for stats
  services/community-site/src/assets/icons/nodeCommissionChange.tsx
  services/community-site/src/pages/RunNode/Modal/UpdateCommission.tsx
  services/community-site/src/pages/RunNode/RunNode.tsx
  services/community-site/src/pages/RunNode/Screen/CreateOrEditProfile.tsx
  services/community-site/src/pages/RunNode/Screen/EditNode.tsx
  services/community-site/src/pages/RunNode/Screen/editnode-styles.tsx
  services/community-site/src/pages/RunNode/runnode.scss
Due: run-community-site-service-workflow

commission changes
  services/community-site/src/pages/RunNode/Modal/UpdateCommission.tsx
  services/community-site/src/pages/RunNode/RunNode.tsx
  services/community-site/src/pages/RunNode/Screen/EditNode.tsx
  services/community-site/src/pages/RunNode/Screen/editnode-styles.tsx
Due: run-community-site-service-workflow

wip
  .eslintrc.js
  package.json
  services/community-site/.env
  services/community-site/src/pages/RunNode/Modal/RegisterNode.tsx
  services/community-site/src/pages/RunNode/Modal/UpdateNode.tsx
  services/community-site/src/pages/RunNode/RunNode.tsx
  services/community-site/src/services/useApi.ts
  yarn.lock
Due: run-community-site-service-workflow

delegation: adds signing on delegation
  services/community-site/src/pages/Delegation/Delegation.tsx
  services/community-site/src/pages/Delegation/Modal/Delegate.tsx
  services/community-site/src/services/useSigning.ts
Due: run-community-site-service-workflow

delegation: adds delegation api host
  services/community-site/Dockerfile
  services/community-site/charts/community-site/templates/community-frontend-deployment.yaml
  services/community-site/charts/prod.values.yaml
  services/community-site/charts/qa.values.yaml
  services/community-site/docker-files/entrypoint.sh
Due: run-community-site-service-workflow

use correct wallet, round avg
  services/community-site/src/pages/Delegation/Delegation.tsx
Due: run-community-site-service-workflow

Fix error
  services/community-site/src/pages/Delegation/Delegation.tsx
  services/community-site/tsconfig.json
Due: run-community-site-service-workflow

remove and check on account modal
  services/community-site/src/pages/Delegation/Delegation.tsx
  services/community-site/src/pages/Delegation/Modal/Delegate.tsx
Due: run-community-site-service-workflow

Fix runnode and delegation table styles
  services/community-site/src/pages/Delegation/Delegation.tsx
  services/community-site/src/pages/Delegation/delegation.scss
  services/community-site/src/pages/Delegation/table-styles.tsx
  services/community-site/src/pages/RunNode/RunNode.tsx
  services/community-site/src/pages/RunNode/runnode.scss
  services/community-site/src/pages/RunNode/table-styles.tsx
Due: run-community-site-service-workflow

Allow logged out users to see delegation list
  services/community-site/src/pages/Delegation/Delegation.tsx
Due: run-community-site-service-workflow

Add delegation page filter, add commission change warning
  services/community-site/src/pages/Delegation/Delegation.tsx
  services/community-site/src/pages/Delegation/delegation.scss
Due: run-community-site-service-workflow

Switch show fully delegated nodes to true when reviewing commission change
  services/community-site/src/pages/Delegation/Delegation.tsx
Due: run-community-site-service-workflow

Add missing e.preventDefault
  services/community-site/src/pages/Delegation/Delegation.tsx
Due: run-community-site-service-workflow

Fix stats being affected by filters
  services/community-site/src/pages/Delegation/Delegation.tsx
Due: run-community-site-service-workflow

Fix delegation modal styles
  services/community-site/src/pages/Delegation/Modal/Delegate.tsx
  services/community-site/src/pages/Delegation/Modal/delegate-styles.tsx
  services/community-site/src/pages/Delegation/delegation.scss
Due: run-community-site-service-workflow

Fix edit node styles
  services/community-site/src/pages/RunNode/Screen/EditNode.tsx
  services/community-site/src/pages/RunNode/Screen/editnode-styles.tsx
  services/community-site/src/pages/RunNode/runnode.scss
Due: run-community-site-service-workflow

delegation: adds mainnet staking
  services/community-site/.env
  services/delegation/.env.dist
  services/delegation/charts/community-delegation/templates/configmap.yaml
  services/delegation/charts/community-delegation/templates/secrets.yaml
  services/delegation/charts/prod.values.yaml
  services/delegation/charts/qa.values.yaml
  services/delegation/package.json
  services/delegation/src/app.module.ts
  services/delegation/src/config/ethereum.ts
  services/delegation/src/main.ts
  services/delegation/src/modules/delegation/delegation-task.service.ts
  services/delegation/src/modules/delegation/delegation.module.ts
  services/delegation/src/modules/delegation/delegation.service.ts
  services/delegation/src/modules/node/node-commission.entity.ts
  services/delegation/src/modules/node/node.entity.ts
  services/delegation/src/modules/node/node.service.ts
  services/delegation/src/modules/staking/staking.module.ts
  services/delegation/src/modules/staking/staking.service.ts
  services/delegation/tsconfig.json
  yarn.lock
Due: run-community-site-service-workflow

delegation: adds testnet staking
  services/delegation/.env.dist
  services/delegation/charts/community-delegation/templates/configmap.yaml
  services/delegation/charts/community-delegation/templates/secrets.yaml
  services/delegation/charts/prod.values.yaml
  services/delegation/charts/qa.values.yaml
  services/delegation/package.json
  services/delegation/src/config/ethereum.ts
  services/delegation/src/modules/delegation/delegation-task.service.ts
  services/delegation/src/modules/delegation/delegation.service.ts
  services/delegation/src/modules/node/node.module.ts
  services/delegation/src/modules/node/node.service.ts
  services/delegation/src/modules/staking/staking.service.ts
Due: none

delegation: adds proof validation
  services/community-site/tsconfig.json
  services/delegation/src/modules/delegation/delegation.service.ts
  services/delegation/src/modules/delegation/dto/create-delegation.dto.ts
Due: run-community-site-service-workflow

delegation: changed default jwt token
  services/delegation/src/config/jwt.ts
Due: none

trigger ci
  services/community-site/public/manifest.json
Due: run-community-site-service-workflow

delegation: changes the instance count
  services/delegation/charts/community-delegation/values.yaml
  services/delegation/charts/prod.values.yaml
Due: none

Path conditions:
  ui-package-modified: any of: packages/taraxa-ui/.*
  run-community-site-service-workflow: any of: services/community-site/.*
  run-node-status-service-workflow: any of: services/node-status/.*
