Repository Taraxa-project/taraxa-platform: changes, and which CircleCI parameters are due for each by the changed paths.
All: ui-package-modified, run-community-backend-service-workflow, build-community-backend-helm-chart-workflow, run-claim-admin-service-workflow, build-claim-admin-helm-chart-workflow, run-community-site-service-workflow, build-community-site-helm-chart-workflow, run-node-status-service-workflow, run-delegation-service-workflow, build-delegation-helm-chart-workflow, run-claim-backend-service-workflow, build-claim-backend-helm-chart-workflow, build-faucet-workflow, build-faucet-helm-chart-workflow, build-explorer-workflow, build-explorer-helm-chart-workflow

chore: fixes instant mail verification
  services/community-site/src/components/Footer/Footer.tsx
  services/community-site/src/services/useAuth.tsx
  services/community-site/src/services/useModal.tsx
Due: run-community-site-service-workflow

fixes max and min precision in delegations
  services/community-site/src/pages/Staking/Modal/Delegate.tsx
  services/community-site/src/pages/Staking/Modal/ReDelegate.tsx
  services/community-site/src/pages/Staking/Modal/Undelegate.tsx
Due: run-community-site-service-workflow

chore: fixes max and min precision in delegations
  services/community-site/src/components/Footer/Footer.tsx
  services/community-site/src/pages/Staking/Modal/Delegate.tsx
  services/community-site/src/pages/Staking/Modal/ReDelegate.tsx
  services/community-site/src/pages/Staking/Modal/Undelegate.tsx
  services/community-site/src/services/useAuth.tsx
  services/community-site/src/services/useModal.tsx
Due: run-community-site-service-workflow

chore: close modal for mail verification
  services/community-site/src/services/useModal.tsx
Due: run-community-site-service-workflow

feat: remove kyc (#614)
  services/community-site/src/assets/icons/kyc.tsx
  services/community-site/src/pages/Profile/Modal/KYC.tsx
  services/community-site/src/pages/Profile/Modal/KYCError.tsx
  services/community-site/src/pages/Profile/Modal/KYCSuccess.tsx
  services/community-site/src/pages/Profile/Profile.tsx
  services/community-site/src/pages/Profile/ViewProfile.tsx
  services/community-site/src/pages/Profile/profile.scss
  services/community-site/src/pages/Staking/Delegation.tsx
Due: run-community-site-service-workflow

community-site: removes node detail page
  services/community-site/.env.example
  services/community-site/Dockerfile
  services/community-site/charts/community-site/Chart.yaml
  services/community-site/charts/community-site/templates/community-frontend-deployment.yaml
  services/community-site/charts/community-site/values.yaml
  services/community-site/docker-files/entrypoint.sh
  services/community-site/src/App.tsx
  services/community-site/src/interfaces/Delegation.ts
  services/community-site/src/interfaces/Validator.ts
  services/community-site/src/pages/RunNode/Table/MainnetValidatorRow.tsx
  services/community-site/src/pages/RunNode/Table/TestnetValidatorRow.tsx
  services/community-site/src/pages/Staking/BarFlex.tsx
  services/community-site/src/pages/Staking/NodeProfilePage.tsx
  services/community-site/src/pages/Staking/Screen/NodeProfilePageSkeleton.tsx
  services/community-site/src/pages/Staking/Table/ValidatorRow.tsx
  services/community-site/src/pages/Staking/delegation.scss
  services/community-site/src/pages/Staking/node-profile-page.scss
  services/community-site/src/services/useDposSubgraph.ts
  services/community-site/src/services/useIndexerYields.tsx
Due: run-community-site-service-workflow, build-community-site-helm-chart-workflow

explorer: removes faucet section
  services/explorer/.env.example
  services/explorer/Dockerfile
  services/explorer/README.md
  services/explorer/charts/explorer-frontend/templates/configmap.yaml
  services/explorer/charts/explorer-frontend/values.yaml
  services/explorer/docker-files/entrypoint.sh
  services/explorer/package.json
  services/explorer/src/App.tsx
  services/explorer/src/api/index.ts
  services/explorer/src/api/sendRequestTokens.faucet.ts
  services/explorer/src/api/types.ts
  services/explorer/src/components/Header/Header.effects.ts
  services/explorer/src/hooks/useExplorerNetwork.tsx
  services/explorer/src/pages/Faucet/Faucet.effects.ts
  services/explorer/src/pages/Faucet/Faucet.styles.ts
  services/explorer/src/pages/Faucet/Faucet.tsx
  services/explorer/src/utils/Enums.ts
  services/explorer/src/utils/networks.ts
Due: build-explorer-workflow, build-explorer-helm-chart-workflow

explorer: feat - adds support for prnets
  services/explorer/charts/explorer-frontend/templates/configmap.yaml
  services/explorer/charts/explorer-frontend/values.yaml
  services/explorer/src/api/types.ts
  services/explorer/src/components/Header/Header.effects.ts
  services/explorer/src/components/Header/Header.tsx
  services/explorer/src/hooks/useExplorerNetwork.tsx
Due: build-explorer-workflow, build-explorer-helm-chart-workflow

explorer: feat - adds support for prnets: adds env vars to docker run
  services/explorer/Dockerfile
  services/explorer/docker-files/entrypoint.sh
Due: build-explorer-workflow

explorer: fixes prnet env vars
  services/explorer/Dockerfile
  services/explorer/docker-files/entrypoint.sh
  services/explorer/src/api/types.ts
Due: build-explorer-workflow

explorer: bumps chart version
  services/explorer/charts/explorer-frontend/Chart.yaml
Due: build-explorer-workflow, build-explorer-helm-chart-workflow

explorer: adds deploy docs
  services/explorer/DEPLOY.md
Due: build-explorer-workflow

Path conditions:
  ui-package-modified: any of: packages/taraxa-ui/.*
  run-community-backend-service-workflow: any of: legacy/community-backend/.*
  build-community-backend-helm-chart-workflow: any of: legacy/community-backend/charts/.*
  run-claim-admin-service-workflow: any of: legacy/claim-admin/.*
  build-claim-admin-helm-chart-workflow: any of: legacy/claim-admin/charts/.*
  run-community-site-service-workflow: any of: services/community-site/.*
  build-community-site-helm-chart-workflow: any of: services/community-site/charts/.*
  run-node-status-service-workflow: any of: services/node-status/.*
  run-delegation-service-workflow: any of: services/delegation/.*
  build-delegation-helm-chart-workflow: any of: services/delegation/charts/.*
  run-claim-backend-service-workflow: any of: services/claim-backend/.*
  build-claim-backend-helm-chart-workflow: any of: services/claim-backend/charts/.*
  build-faucet-workflow: any of: services/faucet/.*
  build-faucet-helm-chart-workflow: any of: services/faucet/charts/.*
  build-explorer-workflow: any of: services/explorer/.*
  build-explorer-helm-chart-workflow: any of: services/explorer/charts/.*
