Repository Taraxa-project/taraxa-platform: changes, and which CircleCI parameters are due for each by the changed paths.
All: ui-package-modified, run-community-site-service-workflow, run-node-status-service-workflow, run-delegation-service-workflow, run-claim-backend-service-workflow

Add new fields to queries
  services/explorer/src/api/graphql/queries/dagBlocks.ts
  services/explorer/src/api/graphql/queries/pbftBlocks.ts
Due: none

Add new fields to data model
  services/explorer/src/models/TableData.ts
  services/explorer/src/models/graphql/Block.ts
  services/explorer/src/utils/TransactionRow.tsx
Due: none

Migrate tx components to acutal tx data model
  services/explorer/src/api/mocks/transactions.ts
  services/explorer/src/components/AddressInfo/AddressInfo.tsx
  services/explorer/src/components/Tables/TransactionsTable.tsx
  services/explorer/src/pages/AddressInfo/AddressInfo.effects.tsx
  services/explorer/src/pages/TransactionData/TransactionData.effects.ts
Due: none

IMplement graphQL data fetching into DAG details Page
  services/explorer/src/App.tsx
  services/explorer/src/pages/BlockData/BlockDataContainer.effects.tsx
  services/explorer/src/pages/BlockData/DAGDataContainer.effects.tsx
  services/explorer/src/pages/BlockData/DAGDataContainer.styles.ts
  services/explorer/src/pages/BlockData/DAGDataContainer.tsx
Due: none

Implement dynamic PBFT details page
  services/explorer/src/pages/PBFTData/PBFTDataContainer.effects.tsx
  services/explorer/src/pages/PBFTData/PBFTDataContainer.tsx
Due: none

feat(explorer): Created new logic for global network selection
  packages/taraxa-ui/src/components/NetworkMenu/NetworkMenu.tsx
  services/explorer/src/components/Header/DrawerElements.tsx
  services/explorer/src/components/Header/Header.effects.ts
  services/explorer/src/components/Header/Header.tsx
  services/explorer/src/hooks/useExplorerNetwork.tsx
  services/explorer/src/utils/Enums.ts
  services/explorer/src/utils/getDomainName.ts
  services/explorer/src/utils/index.ts
Due: ui-package-modified

Clean up code, add not yet mined tx status
  services/explorer/src/api/graphql/queries/dagBlocks.ts
  services/explorer/src/components/Links/HashLink.tsx
  services/explorer/src/components/Tables/TransactionsTable.tsx
  services/explorer/src/models/TableData.ts
  services/explorer/src/pages/BlockData/DAGDataContainer.effects.tsx
  services/explorer/src/pages/BlockData/DAGDataContainer.tsx
  services/explorer/src/pages/PBFTData/PBFTDataContainer.effects.tsx
  services/explorer/src/pages/PBFTData/PBFTDataContainer.tsx
  services/explorer/src/utils/TransactionRow.tsx
  services/explorer/src/utils/formatTransactionStatus.ts
Due: none

Remove unnecessary @emotion deps
  services/explorer/package.json
  yarn.lock
Due: none

Change header button from blocks to PBFT
  services/explorer/src/components/Header/Header.effects.ts
Due: none

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@5f171272d0f05bedb79e39e60dba992c4d09e891 🚀
  iframe.html
  main.9a809e1a.iframe.bundle.js
  main.b4c9d334.iframe.bundle.js
  project.json
Due: none

Add a bit of consistency
  services/explorer/src/pages/BlockData/DAGDataContainer.effects.tsx
Due: none

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@62a76c362964de0d547fba634ed961aded3fd422 🚀
  iframe.html
  main.74fe10cf.iframe.bundle.js
  main.9a809e1a.iframe.bundle.js
  project.json
Due: none

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@ba8ceb5e0756c7c8534e91cc6021b15f50462837 🚀
  project.json
Due: none

fix(explorer) Fixed redirect link to pbft block from table
  services/explorer/src/utils/TransactionRow.tsx
Due: none

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@0456d8c89cf9c61649aa43e04e478e2dc27b0883 🚀
  project.json
Due: none

Add account query, delete mock
  services/explorer/src/api/graphql/queries/account.ts
  services/explorer/src/api/mocks/addressInfo.ts
  services/explorer/src/api/mocks/index.ts
Due: none

Adjust mocked model
  services/explorer/src/api/mocks/transactions.ts
  services/explorer/src/models/graphql/Account.ts
Due: none

Implement GraphQL connection
  services/explorer/src/App.tsx
  services/explorer/src/components/AddressInfo/AddressInfo.tsx
  services/explorer/src/pages/AddressInfo/AddressInfo.effects.tsx
  services/explorer/src/pages/AddressInfo/AddressInfo.tsx
Due: none

feat(explorer): Fetching graphQL data for Dag Blocks
  services/explorer/src/api/types.ts
  services/explorer/src/models/TableData.ts
  services/explorer/src/models/TransactionData.ts
  services/explorer/src/models/graphql/Block.ts
  services/explorer/src/pages/Blocks/Blocks.effects.ts
  services/explorer/src/pages/Dag/Dag.effects.tsx
  services/explorer/src/pages/Dag/Dag.tsx
  services/explorer/src/utils/TransactionRow.tsx
Due: none

chore(explorer): Fixed type for useNodeState hook
  services/explorer/src/hooks/useNodeStateContext.tsx
  services/explorer/src/pages/Blocks/Blocks.effects.ts
  services/explorer/src/pages/Dag/Dag.effects.tsx
  services/explorer/src/pages/Home/Home.effects.tsx
Due: none

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@fb2ff6fbfdd3936983571c8bccc265f0f9cafa80 🚀
  project.json
Due: none

eliminate unnecessary cleanDeep, useEffect dep
  services/explorer/src/pages/AddressInfo/AddressInfo.effects.tsx
Due: none

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@b446489ee5a806cff091794253c1994a620c56d2 🚀
  project.json
Due: none

feat(explorer): Added address in header search
  services/explorer/src/api/graphql/queries/search.ts
  services/explorer/src/components/Header/Header.effects.ts
  services/explorer/src/utils/hashUtils.ts
Due: none

chore(explorer): Fixed merge issues
  services/explorer/src/api/mocks/blocks.ts
  services/explorer/src/components/AddressInfo/AddressInfo.tsx
  services/explorer/src/pages/Dag/Dag.effects.tsx
  services/explorer/src/pages/Home/ChartContainer.tsx
  services/explorer/src/pages/Home/Home.effects.tsx
Due: none

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@6cd2eb23ebfa082f5b827e3aedb41b765cfb02b0 🚀
  project.json
Due: none

feat(community) Merged with develop
  packages/taraxa-ui/package-lock.json
  packages/taraxa-ui/package.json
  yarn.lock
Due: ui-package-modified

fix(explorer): Fixed minor issues with links
  services/explorer/src/components/AddressInfo/AddressInfo.tsx
  services/explorer/src/components/Tables/BlocksTable.tsx
  services/explorer/src/pages/TransactionData/TransactionData.tsx
  services/explorer/src/utils/TransactionRow.tsx
  services/explorer/template.json
  yarn.lock
Due: none

Eliminate unavailable block attribute from dag, fetch more dags
  services/explorer/src/models/graphql/Block.ts
  services/explorer/src/pages/Home/Home.effects.tsx
Due: none

rework chart data"
  services/explorer/src/pages/Home/ChartContainer.tsx
  services/explorer/src/utils/chartUtils.ts
Due: none

chore(communit) Forcing react-router-dom version
  services/community-site/package.json
  yarn.lock
Due: run-community-site-service-workflow

Refactor chart labels, add new query, az zeroC to hashLink
  packages/taraxa-ui/src/components/BarChart/BarChart.tsx
  services/explorer/src/api/graphql/queries/dagBlocks.ts
  services/explorer/src/components/Links/HashLink.tsx
Due: ui-package-modified

Implement new period fetching mechanism
  services/explorer/src/pages/Home/Home.effects.tsx
  services/explorer/src/pages/Home/Home.tsx
Due: none

Correct and move calculations to utils
  services/explorer/src/pages/Home/ChartContainer.tsx
  services/explorer/src/utils/chartUtils.ts
  services/explorer/src/utils/index.ts
Due: none

Correct naming mistake
  services/explorer/src/pages/Home/ChartContainer.tsx
  services/explorer/src/utils/chartUtils.ts
Due: none

Create deepCopies for state, change naming, add 10 requests for DAG blocks in periods
  packages/taraxa-ui/src/components/BarChart/BarChart.tsx
  services/explorer/src/pages/Home/ChartContainer.tsx
  services/explorer/src/pages/Home/Home.effects.tsx
  services/explorer/src/pages/Home/Home.tsx
  services/explorer/src/utils/chartUtils.ts
Due: ui-package-modified

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@7012e88f6f1311697259610aa6fc81630187f80c 🚀
  iframe.html
  main.74fe10cf.iframe.bundle.js
  main.842d15bf.iframe.bundle.js
  project.json
Due: none

Add peerdeps
  services/community-site/package.json
Due: run-community-site-service-workflow

fix(community): Upgraded react-router versions
  services/community-site/package.json
  yarn.lock
Due: run-community-site-service-workflow

fix(community): Fixed UI issues
  packages/taraxa-ui/src/components/AmountCard/AmountCard.styles.ts
  packages/taraxa-ui/src/components/BaseCard/BaseCard.styles.ts
  packages/taraxa-ui/src/components/BaseCard/BaseCard.tsx
  packages/taraxa-ui/src/components/DataCard/DataCard.tsx
  packages/taraxa-ui/src/components/IconCard/IconCard.tsx
  packages/taraxa-ui/src/components/Switch/Switch.tsx
  services/community-site/src/pages/Delegation/Delegation.tsx
  services/community-site/src/pages/Delegation/Table/NodeRow.tsx
  services/community-site/src/pages/Delegation/delegation.scss
Due: ui-package-modified, run-community-site-service-workflow

Path conditions:
  ui-package-modified: any of: packages/taraxa-ui/.*
  run-community-site-service-workflow: any of: services/community-site/.*
  run-node-status-service-workflow: any of: services/node-status/.*
  run-delegation-service-workflow: any of: services/delegation/.*
  run-claim-backend-service-workflow: any of: services/claim-backend/.*
