Repository Taraxa-project/taraxa-platform: changes, and which CircleCI parameters are due for each by the changed paths.
All: ui-package-modified, run-community-site-service-workflow, run-node-status-service-workflow, run-delegation-service-workflow

delegation: changes number of pods for prod
  services/delegation/charts/prod.values.yaml
Due: run-delegation-service-workflow

build: changes base revision to the current branch
  .circleci/config.yml
Due: none

delegation: revert to using the explorer delegation worker for testnet nodes
  services/delegation/.env.dist
  services/delegation/charts/community-delegation/templates/secrets.yaml
  services/delegation/src/config/delegation.ts
  services/delegation/src/config/ethereum.ts
  services/delegation/src/modules/delegation/delegation.service.ts
  services/delegation/src/modules/staking/staking.module.ts
  services/delegation/src/modules/staking/staking.service.ts
Due: run-delegation-service-workflow

delegation: adds soft deletion to nodes
  services/delegation/src/modules/node/node.entity.ts
  services/delegation/src/modules/node/node.service.ts
Due: run-delegation-service-workflow

#23 Undelegation (#39)
  services/delegation/src/modules/delegation/delegation.entity.ts
  services/delegation/src/modules/delegation/delegation.module.ts
  services/delegation/src/modules/delegation/delegation.service.ts
  services/delegation/src/modules/delegation/dto/create-delegation-nonce.dto.ts
  services/delegation/src/modules/delegation/dto/create-delegation.dto.ts
  services/delegation/src/modules/delegation/dto/create-nonce.dto.ts
  services/delegation/src/modules/delegation/dto/create-undelegation-nonce.dto.ts
  services/delegation/src/modules/delegation/dto/create-undelegation.dto.ts
  services/delegation/src/modules/delegation/dto/delegation.dto.ts
  services/delegation/src/modules/delegation/undelegation.controller.ts
Due: run-delegation-service-workflow

delegation: adds profile and isOwnValidator fields
  services/delegation/src/modules/node/node.entity.ts
  services/delegation/src/modules/node/node.module.ts
  services/delegation/src/modules/node/validator.service.ts
Due: run-delegation-service-workflow

delegation: changes testnet rebalance method
  services/delegation/src/modules/delegation/delegation.service.ts
Due: run-delegation-service-workflow

delegation: fixes selector labels
  services/delegation/charts/community-delegation/templates/_helpers.tpl
  services/delegation/charts/community-delegation/templates/deployment-cron.yaml
  services/delegation/charts/community-delegation/templates/deployment-worker.yaml
Due: run-delegation-service-workflow

delegation: adds separate entrypoints for cron, worker and web
  package.json
  services/delegation/charts/community-delegation/templates/deployment-cron.yaml
  services/delegation/charts/community-delegation/templates/deployment-worker.yaml
  services/delegation/charts/community-delegation/values.yaml
  services/delegation/charts/prod.values.yaml
  services/delegation/charts/qa.values.yaml
  services/delegation/package.json
  services/delegation/src/cli.ts
  services/delegation/src/cron.ts
  services/delegation/src/main.ts
  services/delegation/src/modules/app-core.module.ts
  services/delegation/src/modules/delegation/delegation-task.service.ts
  services/delegation/src/modules/delegation/delegation.consumer.ts
  services/delegation/src/modules/delegation/delegation.module.ts
  services/delegation/src/modules/node/node-task.service.ts
  services/delegation/src/modules/node/node.module.ts
  services/delegation/src/worker.ts
Due: run-delegation-service-workflow

delegation: fixes cli
  services/delegation/src/cli.ts
Due: run-delegation-service-workflow

delegation: removes testnet rebalance cron
  services/delegation/src/modules/delegation/delegation-task.service.ts
Due: run-delegation-service-workflow

delegation: fixes commission change display
  services/delegation/src/modules/node/node.entity.ts
Due: run-delegation-service-workflow

delegation: fixes mainnet delegation
  services/delegation/src/modules/staking/staking.service.ts
Due: run-delegation-service-workflow

delegation: fixes undelegation probelem
  services/delegation/src/modules/node/node-task.service.ts
Due: run-delegation-service-workflow

delegation: changes testnet delegation amount
  services/delegation/src/config/delegation.ts
Due: run-delegation-service-workflow

delegation: adds pagination to validator delegation route
  services/delegation/src/modules/delegation/delegation.entity.ts
  services/delegation/src/modules/node/validator.controller.ts
  services/delegation/src/modules/node/validator.service.ts
Due: run-delegation-service-workflow

delegation: adds testnet rebalancing worker
  services/delegation/src/cli.ts
  services/delegation/src/modules/delegation/delegation-task.service.ts
  services/delegation/src/modules/delegation/delegation.service.ts
Due: run-delegation-service-workflow

delegation: fixes cron and worker entrypoints
  services/delegation/src/cron.ts
  services/delegation/src/worker.ts
Due: run-delegation-service-workflow

delegation: allow deletion of mainnet nodes that don't have delegation
  services/delegation/src/modules/node/node.entity.ts
  services/delegation/src/modules/node/node.service.ts
Due: run-delegation-service-workflow

delegation: adds soft deletion to nodes
  services/delegation/src/modules/node/node.service.ts
Due: run-delegation-service-workflow

delegation: adds validator delegations route
  services/delegation/src/modules/delegation/delegation.entity.ts
  services/delegation/src/modules/node/validator.controller.ts
  services/delegation/src/modules/node/validator.service.ts
Due: run-delegation-service-workflow

merge fixes
  services/community-site/src/interfaces/PublicNode.ts
  services/community-site/src/pages/Delegation/Delegation.tsx
  services/community-site/src/pages/Delegation/Modal/Undelegate.tsx
  services/community-site/src/pages/Delegation/delegation.scss
Due: run-community-site-service-workflow

changes on badges and pagination
  .gitignore
  services/community-site/src/interfaces/Delegation.ts
  services/community-site/src/pages/Delegation/NodePage.tsx
  services/community-site/src/pages/Delegation/nodePage.scss
Due: run-community-site-service-workflow

added delegate and undelegate modal
  services/community-site/src/pages/Delegation/NodePage.tsx
  services/delegation/src/modules/delegation/delegation.service.ts
Due: run-community-site-service-workflow, run-delegation-service-workflow

delegation: adds cli script to check staking
  services/delegation/src/cli.ts
  services/delegation/src/modules/delegation/delegation.service.ts
Due: run-delegation-service-workflow

delegation: fixes testnet delegations
  services/delegation/src/config/delegation.ts
  services/delegation/src/modules/delegation/delegation.service.ts
  services/delegation/src/modules/staking/staking.service.ts
Due: run-delegation-service-workflow

changed staking title
  services/community-site/src/pages/Staking/Staking.tsx
Due: run-community-site-service-workflow

Issue #70: adds firstBlockCreatedAt field on node
  services/delegation/src/modules/node/node-task.service.ts
  services/delegation/src/modules/node/node.entity.ts
  services/delegation/src/modules/node/validator.service.ts
Due: run-delegation-service-workflow

Issue #69: Delete mainnet nodes with no delegation
  services/community-site/src/interfaces/OwnNode.ts
  services/community-site/src/pages/RunNode/RunNode.tsx
Due: run-community-site-service-workflow

Move switch style to component
  packages/taraxa-ui/src/components/Switch/Switch.tsx
  packages/taraxa-ui/src/components/Switch/switch-styles.tsx
  services/community-site/src/pages/Delegation/delegation.scss
Due: ui-package-modified, run-community-site-service-workflow

Move node row to its own component
  services/community-site/src/pages/Delegation/Delegation.tsx
  services/community-site/src/pages/Delegation/Table/NodeRow.tsx
Due: run-community-site-service-workflow

Fix missing key
  services/community-site/src/pages/Delegation/Delegation.tsx
  services/community-site/src/pages/Delegation/Table/NodeRow.tsx
Due: run-community-site-service-workflow

cleanup
  services/community-site/src/pages/Delegation/Table/NodeRow.tsx
Due: run-community-site-service-workflow

Issue #72: Fix run a node page table design (#20)
  packages/taraxa-ui/src/components/Switch/Switch.tsx
  packages/taraxa-ui/src/components/Switch/switch-styles.tsx
  services/community-site/src/interfaces/PublicNode.ts
  services/community-site/src/pages/Delegation/Delegation.tsx
  services/community-site/src/pages/Delegation/Table/NodeRow.tsx
  services/community-site/src/pages/Delegation/delegation.scss
Due: ui-package-modified, run-community-site-service-workflow

updated texts
  services/community-site/src/pages/Staking/Staking.tsx
Due: run-community-site-service-workflow

fixes for review
  services/community-site/src/App.tsx
  services/community-site/src/interfaces/PublicNode.ts
  services/community-site/src/pages/Delegation/NodeProfilePage.tsx
  services/community-site/src/pages/Delegation/nodeProfilePage.scss
Due: run-community-site-service-workflow

added node active since and profile icon to taraxa ui
  packages/taraxa-ui/src/components/ProfileIcon/ProfileIcon.tsx
  packages/taraxa-ui/src/components/ProfileIcon/index.ts
  packages/taraxa-ui/src/index.ts
  services/community-site/src/interfaces/Node.ts
  services/community-site/src/pages/Delegation/NodeProfilePage.tsx
Due: ui-package-modified, run-community-site-service-workflow

removed unused import
  services/community-site/src/pages/Delegation/NodeProfilePage.tsx
Due: run-community-site-service-workflow

changed nodeProfilePage to use hyphens
  services/community-site/src/pages/Delegation/NodeProfilePage.tsx
  services/community-site/src/pages/Delegation/node-profile-page.scss
Due: run-community-site-service-workflow

added nofollow to website
  services/community-site/src/pages/Delegation/NodeProfilePage.tsx
Due: run-community-site-service-workflow

Path conditions:
  ui-package-modified: any of: packages/taraxa-ui/.*
  run-community-site-service-workflow: any of: services/community-site/.*
  run-node-status-service-workflow: any of: services/node-status/.*
  run-delegation-service-workflow: any of: services/delegation/.*
