Repository Taraxa-project/taraxa-platform: changes, and which CircleCI parameters are due for each by the changed paths.
All: ui-package-modified, run-community-site-service-workflow, run-community-backend-service-workflow, build-community-backend-helm-chart-workflow, run-claim-admin-service-workflow, build-claim-admin-helm-chart-workflow, build-community-site-helm-chart-workflow, run-node-status-service-workflow, run-delegation-service-workflow, build-delegation-helm-chart-workflow, run-claim-backend-service-workflow, build-claim-backend-helm-chart-workflow, build-faucet-workflow, build-faucet-helm-chart-workflow, build-explorer-workflow, build-explorer-helm-chart-workflow, build-explorer-indexer-workflow, build-explorer-indexer-helm-chart-workflow, build-explorer-api-workflow, build-explorer-api-helm-chart-workflow

.circleci/config.yml:

version: 2.1
setup: true
orbs:
  path-filtering: circleci/path-filtering@0.1.1
workflows:
  always-run:
    jobs:
      - path-filtering/filter:
          name: check-updated-files
          mapping: |
            packages/taraxa-ui/.* ui-package-modified true
            services/community-site/.* run-community-site-service-workflow true
            legacy/community-backend/.* run-community-backend-service-workflow true
            legacy/community-backend/charts/.* build-community-backend-helm-chart-workflow true
            legacy/claim-admin/.* run-claim-admin-service-workflow true
            legacy/claim-admin/charts/.* build-claim-admin-helm-chart-workflow true
            services/community-site/charts/.* build-community-site-helm-chart-workflow true
            services/node-status/.* run-node-status-service-workflow true
            services/delegation/.* run-delegation-service-workflow true
            services/delegation/charts/.* build-delegation-helm-chart-workflow true
            services/claim-backend/.* run-claim-backend-service-workflow true
            services/claim-backend/charts/.* build-claim-backend-helm-chart-workflow true
            services/faucet/.* build-faucet-workflow true
            services/faucet/charts/.* build-faucet-helm-chart-workflow true
            services/explorer/.* build-explorer-workflow true
            services/explorer/charts/.* build-explorer-helm-chart-workflow true
            services/explorer-indexer/.* build-explorer-indexer-workflow true
            services/explorer-indexer/charts/.* build-explorer-indexer-helm-chart-workflow true
            services/explorer-api/.* build-explorer-api-workflow true
            services/explorer-api/charts/.* build-explorer-api-helm-chart-workflow true
          base-revision: << pipeline.git.branch >>
          config-path: .circleci/workflows.yml

removes community site deployment
  .circleci/workflows.yml
Due: none

removes old helm values files
  legacy/claim-admin/charts/prod.values.yaml
  legacy/claim-admin/charts/qa.values.yaml
  services/claim-backend/charts/prod.values.yaml
  services/claim-backend/charts/qa.values.yaml
  services/community-site/charts/.gitignore
  services/community-site/charts/kind.values.yaml
  services/community-site/charts/prod.values.yaml
  services/community-site/charts/qa.values.yaml
  services/delegation/charts/.gitignore
  services/delegation/charts/prod.values.yaml
  services/delegation/charts/qa.values.yaml
Due: run-community-site-service-workflow, run-claim-admin-service-workflow, build-claim-admin-helm-chart-workflow, build-community-site-helm-chart-workflow, run-delegation-service-workflow, build-delegation-helm-chart-workflow, run-claim-backend-service-workflow, build-claim-backend-helm-chart-workflow

renames delegation section to staking
  services/community-site/.env
  services/community-site/src/App.tsx
  services/community-site/src/components/Sidebar/Sidebar.tsx
  services/community-site/src/pages/Home/Home.tsx
  services/community-site/src/pages/RunNode/RunValidator.tsx
  services/community-site/src/pages/Staking/Delegation.tsx
  services/community-site/src/pages/Staking/Modal/Claim.tsx
  services/community-site/src/pages/Staking/Modal/Delegate.tsx
  services/community-site/src/pages/Staking/Modal/Modals.tsx
  services/community-site/src/pages/Staking/Modal/ReDelegate.tsx
  services/community-site/src/pages/Staking/Modal/Undelegate.tsx
  services/community-site/src/pages/Staking/NodeProfilePage.tsx
  services/community-site/src/pages/Staking/Table/ValidatorRow.tsx
  services/community-site/src/pages/Staking/delegation.scss
  services/community-site/src/pages/Staking/node-profile-page.scss
Due: run-community-site-service-workflow

changes delegation profile url
  services/community-site/charts/community-site/templates/community-frontend-deployment.yaml
  services/community-site/src/pages/Staking/NodeProfilePage.tsx
  services/community-site/src/pages/Staking/Table/ValidatorRow.tsx
Due: run-community-site-service-workflow, build-community-site-helm-chart-workflow

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@9f2f867d5942b87de4d1a16cd42265206ef6470a 🚀
  project.json
Due: none

bump metamask-react to 2.6.0 fixing network adds
  services/community-site/package.json
  yarn.lock
Due: run-community-site-service-workflow

bump metamask-react to 2.6.0 fixing network adds (#449)
  services/community-site/package.json
  yarn.lock
Due: run-community-site-service-workflow

renames mainnet candidate
  packages/taraxa-ui/src/components/Header/Header.stories.tsx
  packages/taraxa-ui/src/components/NetworkMenu/NetworkMenu.stories.tsx
  services/explorer/src/pages/Nodes/Nodes.tsx
  services/explorer/src/utils/Enums.ts
Due: ui-package-modified, build-explorer-workflow

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@6b6f80081b0d96ed4520aaaf8ef2e1dc36e697d2 🚀
  147.095973d9a011673eec48.manager.bundle.js
  147.1ff6500755cffe8f9b07.manager.bundle.js
  147.1ff6500755cffe8f9b07.manager.bundle.js.LICENSE.txt
  463.444e50c8.iframe.bundle.js
  463.444e50c8.iframe.bundle.js.map
  612.10133681.iframe.bundle.js
  612.10133681.iframe.bundle.js.LICENSE.txt
  612.5584562a.iframe.bundle.js
  721.4038f8ac.iframe.bundle.js
  721.4038f8ac.iframe.bundle.js.LICENSE.txt
  721.5549ff3d624c57aad96a.manager.bundle.js
  721.f0712977.iframe.bundle.js
  721.f83373fee679f6ab0c5d.manager.bundle.js
  721.f83373fee679f6ab0c5d.manager.bundle.js.LICENSE.txt
  738.003b9712.iframe.bundle.js
  738.003b9712.iframe.bundle.js.LICENSE.txt
  738.003b9712.iframe.bundle.js.map
  858.33c087e7d298e1d47b86.manager.bundle.js
  858.98f0604c.iframe.bundle.js
  858.dda446016a649b6865d8.manager.bundle.js
  858.ffaa4f1d.iframe.bundle.js
  954.190ad493f20724d7f439.manager.bundle.js
  954.7701a2d92dc170ada048.manager.bundle.js
  954.8df76733.iframe.bundle.js
  954.cd9070c6.iframe.bundle.js
  iframe.html
  index.html
  main.3388a94e.iframe.bundle.js
  main.510de864.iframe.bundle.js
  project.json
  runtime~main.659e6c4f8c853466c6ed.manager.bundle.js
  runtime~main.9846da61.iframe.bundle.js
  runtime~main.d5e7d284.iframe.bundle.js
  runtime~main.f1265340b3323fccf370.manager.bundle.js
Due: none

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@d1ec0107b9f97faf7417733a0b6bfd04fe9c2076 🚀
  iframe.html
  main.3388a94e.iframe.bundle.js
  main.d59e9e3b.iframe.bundle.js
  project.json
Due: none

fixes tx displays from recent -> old
  services/explorer/src/pages/Transactions/Transactions.tsx
Due: build-explorer-workflow

remove ethereum from redeem warning message
  services/community-site/src/pages/Redeem/Modal/RedeemWarning.tsx
Due: run-community-site-service-workflow

community-site: updates geo fencing message
  services/community-site/charts/community-site/templates/custom-error-community.yaml
Due: run-community-site-service-workflow, build-community-site-helm-chart-workflow

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@8d8b72c95cc1fa5b4066c40f3926704c5179a5ea 🚀
  project.json
Due: none

claim-backend: removes provider
  services/claim-backend/.env.example
  services/claim-backend/charts/claim-backend/templates/configmap.yaml
  services/claim-backend/charts/claim-backend/values.yaml
  services/claim-backend/config/ethereum.ts
Due: run-claim-backend-service-workflow, build-claim-backend-helm-chart-workflow

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@a54715886157ea805512697256b060729065bd3b 🚀
  project.json
Due: none

Renamed endpoint to website
  services/community-site/src/pages/RunNode/Screen/UpdateValidator.tsx
Due: run-community-site-service-workflow

claim-backend: removes contract address
  services/claim-backend/charts/claim-backend/templates/configmap.yaml
  services/claim-backend/charts/claim-backend/values.yaml
  services/claim-backend/config/ethereum.ts
Due: run-claim-backend-service-workflow, build-claim-backend-helm-chart-workflow

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@da1935471f1f8101de34197bc9ad2d5b94f2389c 🚀
  project.json
Due: none

Allowing floating numbers when delegating
  services/community-site/src/pages/Staking/Modal/Delegate.tsx
  services/community-site/src/utils/compareDelegationTo.ts
Due: run-community-site-service-workflow

Fixed undelegate popup
  services/community-site/src/pages/Staking/Modal/Undelegate.tsx
Due: run-community-site-service-workflow

Removing Californicum from networks and replacing testnet with participate for community
  packages/taraxa-ui/src/components/Header/Header.stories.tsx
  packages/taraxa-ui/src/components/NetworkMenu/NetworkMenu.stories.tsx
  services/community-site/src/pages/Home/Home.tsx
  services/explorer/src/utils/Enums.ts
Due: ui-package-modified, run-community-site-service-workflow, build-explorer-workflow

Migrated node-status to typescript
  services/node-status/.eslintrc.json
  services/node-status/.gitignore
  services/node-status/lib/rpc.js
  services/node-status/lib/rpc.ts
  services/node-status/next-env.d.ts
  services/node-status/package.json
  services/node-status/pages/_app.js
  services/node-status/pages/_app.tsx
  services/node-status/pages/api/address.js
  services/node-status/pages/api/address.ts
  services/node-status/pages/api/status.js
  services/node-status/pages/api/status.ts
  services/node-status/pages/index.js
  services/node-status/pages/index.tsx
  services/node-status/tsconfig.json
  yarn.lock
Due: run-node-status-service-workflow

Updated tsconfig for taraxa-ui dependency
  services/node-status/tsconfig.json
Due: run-node-status-service-workflow

implements initial regisration flow
  packages/testnet-delegation/contracts/DelegationOrchestrator.sol
  packages/testnet-delegation/contracts/interfaces/IDelegation.sol
  packages/testnet-delegation/scripts/deploy.ts
Due: none

Redeem page fixes
  services/community-site/src/pages/Redeem/Redeem.tsx
Due: run-community-site-service-workflow

Updated commission notification frequency
  services/community-site/src/interfaces/Delegation.ts
Due: run-community-site-service-workflow

community-site: set gas limit manually for claim
  services/community-site/src/pages/Redeem/Redeem.tsx
  services/community-site/src/services/useClaim.ts
Due: run-community-site-service-workflow

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@3219ada4e8615af5d99b92bb9a001bbd4d97f493 🚀
  project.json
Due: none

Moved types to devDependencies
  services/node-status/package.json
Due: run-node-status-service-workflow

Updated commission notification frequency (#471)
  services/community-site/src/interfaces/Delegation.ts
Due: run-community-site-service-workflow

Renamed endpoint to website (#454)
  services/community-site/src/pages/RunNode/Screen/UpdateValidator.tsx
Due: run-community-site-service-workflow

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@5e7183121197845ade7feef73e54afffcc421c99 🚀
  project.json
Due: none

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@ad8631161e79ce0622bff88b7ba81d2b8ca9d335 🚀
  project.json
Due: none

Migrated node-status to typescript (#468)
  services/node-status/.eslintrc.json
  services/node-status/.gitignore
  services/node-status/lib/rpc.js
  services/node-status/lib/rpc.ts
  services/node-status/next-env.d.ts
  services/node-status/package.json
  services/node-status/pages/_app.js
  services/node-status/pages/_app.tsx
  services/node-status/pages/api/address.js
  services/node-status/pages/api/address.ts
  services/node-status/pages/api/status.js
  services/node-status/pages/api/status.ts
  services/node-status/pages/index.js
  services/node-status/pages/index.tsx
  services/node-status/tsconfig.json
  yarn.lock
Due: run-node-status-service-workflow

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@36c9c41ef6798788c41e04a9132e29491e04cdea 🚀
  project.json
Due: none

Removed useToken and env vars
  services/community-site/.env.example
  services/community-site/Dockerfile
  services/community-site/docker-files/entrypoint.sh
  services/community-site/src/services/useToken.tsx
Due: run-community-site-service-workflow

Replaced Testnet with Participate in sidebar
  services/community-site/src/components/Sidebar/Sidebar.tsx
Due: run-community-site-service-workflow

remove ethereum from redeem warning message (#451)
  services/community-site/src/pages/Redeem/Modal/RedeemWarning.tsx
Due: run-community-site-service-workflow
