Repository Taraxa-project/taraxa-platform: changes, and which CircleCI parameters are due for each by the changed paths.
All: ui-package-modified, run-community-site-service-workflow, build-community-site-helm-chart-workflow, run-community-backend-service-workflow, build-community-backend-helm-chart-workflow, run-node-status-service-workflow, run-delegation-service-workflow, run-claim-backend-service-workflow, build-faucet-workflow, build-faucet-helm-chart-workflow, build-explorer-workflow, build-explorer-helm-chart-workflow, build-explorer-indexer-workflow, build-explorer-indexer-helm-chart-workflow, build-explorer-api-workflow, build-explorer-api-helm-chart-workflow

.circleci/config.yml:

version: 2.1
setup: true
orbs:
  path-filtering: circleci/path-filtering@0.1.1
workflows:
  always-run:
    jobs:
      - path-filtering/filter:
          name: check-updated-files
          mapping: |
            packages/taraxa-ui/.* ui-package-modified true
            services/community-site/.* run-community-site-service-workflow true
            services/community-site/charts/.* build-community-site-helm-chart-workflow true
            services/community-backend/.* run-community-backend-service-workflow true
            services/community-backend/charts/.* build-community-backend-helm-chart-workflow true
            services/node-status/.* run-node-status-service-workflow true
            services/delegation/.* run-delegation-service-workflow true
            services/claim-backend/.* run-claim-backend-service-workflow true
            services/faucet/.* build-faucet-workflow true
            services/faucet/charts/.* build-faucet-helm-chart-workflow true
            services/explorer/.* build-explorer-workflow true
            services/explorer/charts/.* build-explorer-helm-chart-workflow true
            services/explorer-indexer/.* build-explorer-indexer-workflow true
            services/explorer-indexer/charts/.* build-explorer-indexer-helm-chart-workflow true
            services/explorer-api/.* build-explorer-api-workflow true
            services/explorer-api/charts/.* build-explorer-api-helm-chart-workflow true
          base-revision: << pipeline.git.branch >>
          config-path: .circleci/workflows.yml

indexer: switch job progession calls to direct completion
  services/explorer-indexer/src/app.module.ts
  services/explorer-indexer/src/modules/dag/dag.consumer.ts
  services/explorer-indexer/src/modules/pbft/pbft.consumer.ts
  services/explorer-indexer/src/modules/transaction/transaction.consumer.ts
Due: build-explorer-indexer-workflow

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@76627a825a2d5c3ab1e9229b924638e0727aa3ca 🚀
  project.json
Due: none

Revert "indexer: switch job progession calls to direct completion"
  services/explorer-indexer/src/app.module.ts
  services/explorer-indexer/src/modules/dag/dag.consumer.ts
  services/explorer-indexer/src/modules/pbft/pbft.consumer.ts
  services/explorer-indexer/src/modules/transaction/transaction.consumer.ts
Due: build-explorer-indexer-workflow

indexer: readds default config for bull
  services/explorer-indexer/src/app.module.ts
Due: build-explorer-indexer-workflow

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@f04525e646b9cd1180d272ce727fb6d5e37af29e 🚀
  project.json
Due: none

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@1f21268f9909b7ce5c3d0499503efa5823d199e1 🚀
  project.json
Due: none

indexer: removes obsolete queue names from payload
  services/explorer-indexer/src/modules/dag/dag.consumer.ts
  services/explorer-indexer/src/modules/historical-sync/historical.syncer.service.ts
  services/explorer-indexer/src/modules/live-sync/live.syncer.service.ts
  services/explorer-indexer/src/modules/pbft/pbft.consumer.ts
Due: build-explorer-indexer-workflow

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@e7ccbc8d21fbfa2e15b8c024ec64ad10e9044273 🚀
  project.json
Due: none

explorer-indexer: splits replica counts for block and tx consumers
  services/explorer-indexer/charts/explorer-indexer/templates/block-consumer.yaml
  services/explorer-indexer/charts/explorer-indexer/templates/transaction-consumer.yaml
  services/explorer-indexer/charts/explorer-indexer/values.yaml
Due: build-explorer-indexer-workflow, build-explorer-indexer-helm-chart-workflow

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@92e5dfbeb90467cc4efc818215a2d2cead90c1c3 🚀
  project.json
Due: none

explorer-indexer: reintroduces queue aliasing
  services/explorer-indexer/src/modules/dag/dag.consumer.ts
  services/explorer-indexer/src/modules/historical-sync/historical.syncer.service.ts
  services/explorer-indexer/src/modules/live-sync/live.syncer.service.ts
  services/explorer-indexer/src/modules/pbft/pbft.consumer.ts
Due: build-explorer-indexer-workflow

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@449ab532a5624b60d7125c63a872e3e27f8579de 🚀
  project.json
Due: none

moves reog logic into producer
  services/explorer-indexer/src/modules/live-sync/live.syncer.service.ts
  services/explorer-indexer/src/modules/pbft/pbft.consumer.ts
  services/explorer-indexer/src/modules/pbft/pbft.service.ts
  services/explorer-indexer/src/types/queues/types.ts
Due: build-explorer-indexer-workflow

displays data in ping and pong events
  services/explorer-indexer/src/modules/live-sync/live.syncer.service.ts
Due: build-explorer-indexer-workflow

fix(explorer): Refetching correctly dags
  services/explorer/src/pages/Home/Home.effects.tsx
Due: build-explorer-workflow

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@a2db2dc08c893b253b0a3d5787982fcb94e0eb51 🚀
  iframe.html
  main.284e0883.iframe.bundle.js
  main.70be9136.iframe.bundle.js
  project.json
Due: none

fix(explorer): Take into account utc not user timezone to calculate timestampToAge
  services/explorer/src/utils/TransactionRow.tsx
Due: build-explorer-workflow

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@0378121ef12a39c6b6a8e5a8729cc699da478afe 🚀
  iframe.html
  main.284e0883.iframe.bundle.js
  main.70be9136.iframe.bundle.js
  project.json
Due: none

adds cronjob for readdition of missing PBFT numbers
  services/explorer-indexer/package.json
  services/explorer-indexer/src/modules/historical-sync/historical.syncer.module.ts
  services/explorer-indexer/src/modules/historical-sync/historical.syncer.service.ts
  services/explorer-indexer/src/modules/live-sync/live.syncer.service.ts
  yarn.lock
Due: build-explorer-indexer-workflow

WIP: adds documentation
  services/explorer-indexer/.env.example
  services/explorer-indexer/README.md
  services/explorer-indexer/docs/producer.md
Due: build-explorer-indexer-workflow

finish sequence diagram for producer
  services/explorer-indexer/README.md
  services/explorer-indexer/docs/producer.md
Due: build-explorer-indexer-workflow

complete documentation with docs and diagrams
  services/explorer-indexer/README.md
  services/explorer-indexer/docs/block-consumer.md
  services/explorer-indexer/docs/producer.md
  services/explorer-indexer/docs/transaction-consumer copy.md
Due: build-explorer-indexer-workflow

fixes duplicate entries on tx queue
  services/explorer-indexer/src/modules/dag/dag.consumer.ts
  services/explorer-indexer/src/modules/pbft/pbft.consumer.ts
Due: build-explorer-indexer-workflow

corrects readme description
  services/explorer-indexer/README.md
Due: build-explorer-indexer-workflow

explorer-indexer: adds debug msg to live syncer
  services/explorer-indexer/src/modules/live-sync/live.syncer.service.ts
Due: build-explorer-indexer-workflow

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@f2cc8d895a18bcdfa7ee606f137d8488b06640c9 🚀
  project.json
Due: none

explorer-indexer: adds logs to ping listener too
  services/explorer-indexer/src/modules/live-sync/live.syncer.service.ts
Due: build-explorer-indexer-workflow

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@4479fb981fe9cf9a8d1a096be0b786d51c8d4a80 🚀
  project.json
Due: none

explorer-indexer: insert ws reconnect logic into ping event
  services/explorer-indexer/src/modules/live-sync/live.syncer.service.ts
Due: build-explorer-indexer-workflow

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@ae01e0e99f7d6c9ce2672cbd11e4ffbb76501d57 🚀
  project.json
Due: none

corrects file naming
  services/explorer-indexer/docs/transaction-consumer.md
Due: build-explorer-indexer-workflow

adds links to producer and consumer docs
  services/explorer-indexer/README.md
Due: build-explorer-indexer-workflow

fix(explorer): Removed rounding balance
  services/explorer/src/components/AddressInfo/AddressInfo.tsx
  services/explorer/src/pages/AddressInfo/AddressInfo.effects.tsx
  services/explorer/src/utils/fromWeiToTara.ts
Due: build-explorer-workflow

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@9ea7532043c12124afe7b7ddbbc6f6969bcd7e21 🚀
  project.json
Due: none

fix all-lowercase hashes in keys
  services/explorer-indexer/src/modules/dag/dag.consumer.ts
  services/explorer-indexer/src/modules/pbft/pbft.consumer.ts
Due: build-explorer-indexer-workflow

fixes stalled scenario
  services/explorer-indexer/src/modules/historical-sync/historical.syncer.service.ts
Due: build-explorer-indexer-workflow

moves reog logic into producer (#383)
  services/explorer-indexer/.env.example
  services/explorer-indexer/README.md
  services/explorer-indexer/docs/block-consumer.md
  services/explorer-indexer/docs/producer.md
  services/explorer-indexer/docs/transaction-consumer.md
  services/explorer-indexer/package.json
  services/explorer-indexer/src/modules/dag/dag.consumer.ts
  services/explorer-indexer/src/modules/historical-sync/historical.syncer.module.ts
  services/explorer-indexer/src/modules/historical-sync/historical.syncer.service.ts
  services/explorer-indexer/src/modules/live-sync/live.syncer.service.ts
  services/explorer-indexer/src/modules/pbft/pbft.consumer.ts
  services/explorer-indexer/src/modules/pbft/pbft.service.ts
  services/explorer-indexer/src/types/queues/types.ts
  yarn.lock
Due: build-explorer-indexer-workflow

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@48e1c81394cc41fbf622faf15a6a6d617e76b26c 🚀
  project.json
Due: none

cahnges loglevel of producer to log from debug
  services/explorer-indexer/src/modules/live-sync/live.syncer.service.ts
Due: build-explorer-indexer-workflow

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@26c8d44959e4c6ff584d8678cda49ba52d1aee53 🚀
  project.json
Due: none
