Repository Taraxa-project/taraxa-platform: changes, and which CircleCI parameters are due for each by the changed paths.
All: ui-package-modified, run-community-site-service-workflow, run-node-status-service-workflow

empty nodeSelector by default
  charts/community-site/values.yaml
Due: none

adds realtime reward display on staking page
  services/community-site/src/pages/Staking/Staking.tsx
  services/community-site/src/utils/time.ts
Due: run-community-site-service-workflow

adds different wallet notification
  packages/taraxa-ui/src/components/Notification/Notification.tsx
  services/community-site/src/App.tsx
Due: ui-package-modified, run-community-site-service-workflow

adds different wallet notification
  services/community-site/src/App.tsx
Due: run-community-site-service-workflow

bounties page performance improvements
  packages/taraxa-ui/src/components/Icons/Left.tsx
  packages/taraxa-ui/src/components/Icons/Right.tsx
  packages/taraxa-ui/src/components/Icons/index.ts
  packages/taraxa-ui/src/components/Pagination/Pagination.tsx
  packages/taraxa-ui/src/components/Pagination/index.ts
  packages/taraxa-ui/src/components/Pagination/pagination-styles.tsx
  packages/taraxa-ui/src/index.ts
  services/community-site/package.json
  services/community-site/src/pages/Bounties/Bounties.tsx
  services/community-site/src/pages/Bounties/bounties.scss
  services/community-site/src/pages/RunNode/RunNode.tsx
Due: ui-package-modified, run-community-site-service-workflow

cleaned up pagination on run a node page
  services/community-site/src/pages/Bounties/bounties.scss
  services/community-site/src/pages/RunNode/RunNode.tsx
  services/community-site/src/pages/RunNode/runnode.scss
  yarn.lock
Due: run-community-site-service-workflow

bouties list and details refactor
  packages/taraxa-ui/src/components/Icons/ExpirationExpired.tsx
  packages/taraxa-ui/src/components/Icons/ExpirationNotExpired.tsx
  packages/taraxa-ui/src/components/Icons/Submission.tsx
  packages/taraxa-ui/src/components/Icons/index.ts
  packages/taraxa-ui/src/components/RewardCard/RewardCard.tsx
  packages/taraxa-ui/src/components/RewardCard/rewardcard-styles.tsx
  services/community-site/src/assets/icons/left.tsx
  services/community-site/src/assets/icons/right.tsx
  services/community-site/src/pages/Bounties/Bounties.tsx
  services/community-site/src/pages/Bounties/BountyDetails.tsx
  services/community-site/src/pages/Bounties/BoutyCard.tsx
Due: ui-package-modified, run-community-site-service-workflow

bouties details - submissions table
  packages/taraxa-ui/package.json
  packages/taraxa-ui/src/components/RewardCard/rewardcard-styles.tsx
  services/community-site/src/pages/Bounties/BountyDetails.tsx
  services/community-site/src/pages/Bounties/bounties.scss
  services/community-site/src/pages/Bounties/bounty.ts
Due: ui-package-modified, run-community-site-service-workflow

bouties - react optimisations
  services/community-site/src/pages/Bounties/Bounties.tsx
  services/community-site/src/pages/Bounties/BountyDetails.tsx
  services/community-site/src/services/useApi.ts
Due: run-community-site-service-workflow

bouties - fixes sidebar nav
  packages/taraxa-ui/src/components/Sidebar/Sidebar.tsx
  packages/taraxa-ui/src/components/app.scss
Due: ui-package-modified

node status - sync progress
  services/node-status/pages/index.js
Due: run-node-status-service-workflow

node status - fixes build
  packages/taraxa-ui/package.json
Due: ui-package-modified

bounties - submission
  packages/taraxa-ui/src/components/Card/Card.tsx
  packages/taraxa-ui/src/components/Card/card-styles.ts
  packages/taraxa-ui/src/components/Card/index.ts
  packages/taraxa-ui/src/components/File/File.tsx
  packages/taraxa-ui/src/components/File/file-styles.tsx
  packages/taraxa-ui/src/components/File/index.ts
  packages/taraxa-ui/src/components/Icons/Attachment.tsx
  packages/taraxa-ui/src/components/Icons/Submit.tsx
  packages/taraxa-ui/src/components/Icons/index.ts
  packages/taraxa-ui/src/components/InputField/InputField.tsx
  packages/taraxa-ui/src/components/SubmitCard/SubmitCard.stories.tsx
  packages/taraxa-ui/src/components/SubmitCard/SubmitCard.tsx
  packages/taraxa-ui/src/components/SubmitCard/index.ts
  packages/taraxa-ui/src/components/SubmitCard/submitcard-styles.tsx
  packages/taraxa-ui/src/index.ts
  services/community-site/package.json
  services/community-site/src/global/globalVars.scss
  services/community-site/src/global/globalVars.tsx
  services/community-site/src/pages/Bounties/BountyDetails.tsx
  services/community-site/src/pages/Bounties/BountySubmit.tsx
  services/community-site/src/pages/Bounties/BoutyCard.tsx
  services/community-site/src/pages/Bounties/bounties.scss
  services/community-site/src/pages/Bounties/bounty.ts
  yarn.lock
Due: ui-package-modified, run-community-site-service-workflow

bounties - submission fix
  services/community-site/src/pages/Bounties/BountySubmit.tsx
Due: run-community-site-service-workflow

bounty submission fix
  services/community-site/src/App.tsx
  services/community-site/src/pages/Bounties/BountySubmit.tsx
Due: run-community-site-service-workflow

bounty submission fix
  services/community-site/src/pages/Bounties/BountySubmit.tsx
Due: run-community-site-service-workflow

run node - added explanations
  services/community-site/src/pages/RunNode/RunNode.tsx
Due: run-community-site-service-workflow

Add asdf config file
  .tool-versions
Due: none

fix node version
  .tool-versions
Due: none

generic loading component WIP
  services/community-site/src/App.tsx
  services/community-site/src/services/useApi.ts
  services/community-site/src/services/useLoading.tsx
Due: run-community-site-service-workflow

don't show the total user points on the redeem page
  services/community-site/src/pages/Redeem/Redeem.tsx
Due: run-community-site-service-workflow

loading state using refcount
  services/community-site/src/App.tsx
  services/community-site/src/services/useApi.ts
  services/community-site/src/services/useLoading.tsx
Due: run-community-site-service-workflow

remove leftover console log
  services/community-site/src/App.tsx
Due: run-community-site-service-workflow

remove unused import
  services/community-site/src/App.tsx
Due: run-community-site-service-workflow

initial logic encapsulation in component
  services/community-site/src/App.tsx
  services/community-site/src/components/Loader/Loader.tsx
  services/community-site/src/components/Loader/loader.scss
Due: run-community-site-service-workflow

fixes reward text null on bounty details page
  services/community-site/src/pages/Bounties/BountyDetails.tsx
Due: run-community-site-service-workflow

desktop styling for loader
  services/community-site/src/App.scss
  services/community-site/src/components/Loader/Loader.tsx
  services/community-site/src/components/Loader/loader.scss
Due: run-community-site-service-workflow

mobile styling
  services/community-site/src/App.scss
  services/community-site/src/components/Loader/loader.scss
Due: run-community-site-service-workflow

run node: call explorer for active nodes, blocks produced and rating
  services/community-site/.env
  services/community-site/Dockerfile
  services/community-site/charts/community-site/templates/community-frontend-deployment.yaml
  services/community-site/charts/prod.values.yaml
  services/community-site/docker-files/entrypoint.sh
  services/community-site/src/pages/RunNode/RunNode.tsx
Due: run-community-site-service-workflow

move styling to taraxa-ui package
  .tool-versions
  packages/taraxa-ui/package.json
  packages/taraxa-ui/src/components/LoadingWidget/LoadingWidget.stories.tsx
  packages/taraxa-ui/src/components/LoadingWidget/LoadingWidget.tsx
  packages/taraxa-ui/src/components/LoadingWidget/index.ts
  packages/taraxa-ui/src/components/LoadingWidget/loading-widget-styles.tsx
  packages/taraxa-ui/src/index.ts
  services/community-site/src/App.tsx
  services/community-site/src/components/Loader/Loader.tsx
  services/community-site/src/components/Loader/loader.scss
  services/community-site/src/components/LoadingWidget/LoadingWidget.tsx
  services/community-site/src/components/LoadingWidget/loading-widget.scss
Due: ui-package-modified, run-community-site-service-workflow

remove duplicate style
  services/community-site/src/components/LoadingWidget/loading-widget.scss
Due: run-community-site-service-workflow

minor cleanup
  packages/taraxa-ui/src/components/LoadingWidget/LoadingWidget.tsx
Due: ui-package-modified

Add loading indicator (#4)
  .tool-versions
  packages/taraxa-ui/package.json
  packages/taraxa-ui/src/components/LoadingWidget/LoadingWidget.stories.tsx
  packages/taraxa-ui/src/components/LoadingWidget/LoadingWidget.tsx
  packages/taraxa-ui/src/components/LoadingWidget/index.ts
  packages/taraxa-ui/src/components/LoadingWidget/loading-widget-styles.tsx
  packages/taraxa-ui/src/index.ts
  services/community-site/src/App.scss
  services/community-site/src/App.tsx
  services/community-site/src/components/LoadingWidget/LoadingWidget.tsx
  services/community-site/src/components/LoadingWidget/loading-widget.scss
  services/community-site/src/pages/Bounties/bounties.scss
  services/community-site/src/pages/Redeem/Redeem.tsx
  services/community-site/src/services/useApi.ts
  services/community-site/src/services/useLoading.tsx
Due: ui-package-modified, run-community-site-service-workflow

some cleanup and minor restructuring, make modal titles casing consistent across different modals
  services/community-site/src/components/Modal/ForgotPassword.tsx
  services/community-site/src/components/Modal/SignIn.tsx
  services/community-site/src/services/useApi.ts
  services/community-site/src/services/useModal.tsx
Due: run-community-site-service-workflow

remove unused import, autoformatter ran
  services/community-site/src/components/LoadingWidget/LoadingWidget.tsx
Due: run-community-site-service-workflow

Fix husky pre-commit hook
  .husky/pre-commit
  package.json
Due: none

attempt to get eslint to work - wip
  package.json
  packages/taraxa-ui/tsconfig.json
  services/community-site/package.json
  services/community-site/tsconfig.json
  tsconfig.json
  yarn.lock
Due: ui-package-modified, run-community-site-service-workflow

Path conditions:
  ui-package-modified: any of: packages/taraxa-ui/.*
  run-community-site-service-workflow: any of: services/community-site/.*
  run-node-status-service-workflow: any of: services/node-status/.*
