Repository Taraxa-project/taraxa-platform: changes, and which CircleCI parameters are due for each by the changed paths.
All: ui-package-modified, run-community-site-service-workflow, run-community-backend-service-workflow, build-community-backend-helm-chart-workflow, run-claim-admin-service-workflow, build-claim-admin-helm-chart-workflow, build-community-site-helm-chart-workflow, run-node-status-service-workflow, run-delegation-service-workflow, build-delegation-helm-chart-workflow, run-claim-backend-service-workflow, build-claim-backend-helm-chart-workflow, build-faucet-workflow, build-faucet-helm-chart-workflow, build-explorer-workflow, build-explorer-helm-chart-workflow, build-explorer-indexer-workflow, build-explorer-indexer-helm-chart-workflow, build-explorer-api-workflow, build-explorer-api-helm-chart-workflow

community-site: fixes delegate/undelegate action
  services/community-site/src/pages/Staking/Modal/Delegate.tsx
  services/community-site/src/pages/Staking/Modal/Undelegate.tsx
Due: run-community-site-service-workflow

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@4c014c32fe7f19e07b35f6fb114507d67abc32e8 🚀
  project.json
Due: none

Fixed gas displayed for transactions
  services/explorer/src/api/explorer-api/fetchGenesisBlock.ts
  services/explorer/src/api/explorer-api/fetchTransactionsByAddress.ts
  services/explorer/src/api/graphql/queries/dagBlocks.ts
  services/explorer/src/api/graphql/queries/pbftBlocks.ts
  services/explorer/src/api/types.ts
  services/explorer/src/pages/BlockData/DAGDataContainer.effects.tsx
  services/explorer/src/pages/PBFTData/PBFTDataContainer.effects.tsx
Due: build-explorer-workflow

Fixed genesis block state
  services/explorer/src/pages/PBFTData/PBFTDataContainer.effects.tsx
Due: build-explorer-workflow

Improved explorer conversion of table data to rows (#475)
  packages/taraxa-ui/src/components/EmptyTable/EmptyTable.styles.ts
  packages/taraxa-ui/src/components/EmptyTable/EmptyTable.tsx
  packages/taraxa-ui/src/components/EmptyTable/index.ts
  packages/taraxa-ui/src/components/Table/Table.stories.tsx
  packages/taraxa-ui/src/components/Table/Table.tsx
  packages/taraxa-ui/src/index.ts
  services/explorer/src/api/explorer-api/fetchGenesisBlock.ts
  services/explorer/src/api/explorer-api/fetchTransactionsByAddress.ts
  services/explorer/src/api/graphql/queries/dagBlocks.ts
  services/explorer/src/api/graphql/queries/pbftBlocks.ts
  services/explorer/src/api/graphql/queries/transactions.ts
  services/explorer/src/api/types.ts
  services/explorer/src/components/Tables/BlocksTable.tsx
  services/explorer/src/components/Tables/TransactionsTable.tsx
  services/explorer/src/hooks/useExplorerNetwork.tsx
  services/explorer/src/hooks/useIndexer.tsx
  services/explorer/src/models/TableData.ts
  services/explorer/src/pages/AddressInfo/AddressInfo.effects.tsx
  services/explorer/src/pages/BlockData/DAGDataContainer.effects.tsx
  services/explorer/src/pages/Blocks/Blocks.effects.ts
  services/explorer/src/pages/Blocks/Blocks.tsx
  services/explorer/src/pages/Dag/Dag.effects.tsx
  services/explorer/src/pages/Dag/Dag.tsx
  services/explorer/src/pages/Nodes/Nodes.effects.tsx
  services/explorer/src/pages/Nodes/Nodes.tsx
  services/explorer/src/pages/PBFTData/PBFTDataContainer.effects.tsx
  services/explorer/src/pages/TransactionData/TransactionData.effects.tsx
  services/explorer/src/pages/TransactionData/TransactionData.tsx
  services/explorer/src/pages/Transactions/Transactions.effects.ts
  services/explorer/src/pages/Transactions/Transactions.tsx
  services/explorer/src/utils/TransactionRow.tsx
  services/explorer/src/utils/fromWeiToTara.ts
Due: ui-package-modified, build-explorer-workflow

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@f3244a1926bb29002ef4763e45a857127504a360 🚀
  iframe.html
  main.ca250fd8.iframe.bundle.js
  main.e19fcdab.iframe.bundle.js
  project.json
Due: none

Fixed getting node validators
  services/community-site/src/pages/RunNode/RunValidator.tsx
Due: run-community-site-service-workflow

Display transaction type for Genesis block
  services/explorer/src/api/explorer-api/fetchGenesisBlock.ts
  services/explorer/src/api/types.ts
Due: build-explorer-workflow

Chore/explorer improv (#479)
  services/explorer/src/api/explorer-api/fetchGenesisBlock.ts
  services/explorer/src/api/types.ts
Due: build-explorer-workflow

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@ad3a51b2aec29af6dd08332f9bb747bc69f9bb88 🚀
  project.json
Due: none

Chore/community fixes (#478)
  services/community-site/src/pages/RunNode/RunValidator.tsx
Due: run-community-site-service-workflow

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@86521073a213055e1e476751b43c469674803799 🚀
  project.json
Due: none

Fixed delegation decimals values
  services/community-site/src/pages/Staking/Modal/Delegate.tsx
  services/community-site/src/pages/Staking/Modal/Undelegate.tsx
Due: run-community-site-service-workflow

Improved loading feedback on Staking page
  services/community-site/src/pages/Staking/Delegation.tsx
Due: run-community-site-service-workflow

Display suggestive error toasts
  services/explorer/src/api/sendRequestTokens.faucet.ts
Due: build-explorer-workflow

Display suggestive error toasts (#481)
  services/explorer/src/api/sendRequestTokens.faucet.ts
Due: build-explorer-workflow

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@8a311ba7a19f6ef89400889a71dee6f4b5f7098a 🚀
  project.json
Due: none

Resolved comments
  services/community-site/src/pages/Staking/Delegation.tsx
  services/community-site/src/pages/Staking/Modal/Delegate.tsx
Due: run-community-site-service-workflow

Fix/delegation fixes (#480)
  services/community-site/src/pages/Staking/Delegation.tsx
  services/community-site/src/pages/Staking/Modal/Delegate.tsx
  services/community-site/src/pages/Staking/Modal/Undelegate.tsx
Due: run-community-site-service-workflow

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@112adde38a35aec11610f306518bba81b5153f1a 🚀
  project.json
Due: none

New error message for undelegation
  services/community-site/src/pages/Staking/Modal/Undelegate.tsx
Due: run-community-site-service-workflow

Implement time estimations in days
  services/community-site/src/pages/RunNode/Modal/UpdateCommission.tsx
  services/community-site/src/pages/RunNode/Screen/UpdateValidator.tsx
  services/community-site/src/pages/Staking/Delegation.tsx
  services/community-site/src/utils/time.ts
Due: run-community-site-service-workflow

Add days to conversion func return:
  services/community-site/src/pages/RunNode/Modal/UpdateCommission.tsx
  services/community-site/src/pages/RunNode/Screen/UpdateValidator.tsx
  services/community-site/src/pages/Staking/Delegation.tsx
  services/community-site/src/utils/time.ts
Due: run-community-site-service-workflow

Improved design for update validator page
  services/community-site/src/components/Title/Title.tsx
  services/community-site/src/pages/RunNode/Screen/UpdateValidator.tsx
  services/community-site/src/pages/RunNode/Screen/updatevalidator.scss
Due: run-community-site-service-workflow

Adjusted position for helper text
  services/community-site/src/pages/RunNode/Screen/UpdateValidator.tsx
  services/community-site/src/pages/RunNode/Screen/updatevalidator.scss
Due: run-community-site-service-workflow

Displaying multiple status colors for validators
  services/community-site/src/App.scss
  services/community-site/src/interfaces/Node.ts
  services/community-site/src/interfaces/Validator.ts
  services/community-site/src/pages/RunNode/Table/MainnetValidatorRow.tsx
  services/community-site/src/pages/RunNode/Table/TestnetValidatorRow.tsx
  services/community-site/src/pages/Staking/Table/ValidatorRow.tsx
  services/community-site/src/services/useExplorerStats.tsx
  services/community-site/src/services/useValidators.tsx
Due: run-community-site-service-workflow

Showing tooltip for Validator status
  services/community-site/src/App.scss
  services/community-site/src/interfaces/Node.ts
  services/community-site/src/pages/RunNode/Table/MainnetValidatorRow.tsx
  services/community-site/src/pages/RunNode/Table/TestnetValidatorRow.tsx
  services/community-site/src/pages/Staking/Table/ValidatorRow.tsx
  services/community-site/src/utils/getValidatorStatusTooltip.ts
Due: run-community-site-service-workflow

adds reentrancyGuard to additions, fixes logic for own stake additions
  packages/testnet-delegation/artifacts/contracts/DelegationOrchestrator.sol/DelegationOrchestrator.json
  packages/testnet-delegation/contracts/DelegationOrchestrator.sol
  packages/testnet-delegation/test/orchestrator.test.ts
Due: none

Adjusted table layout
  services/community-site/src/components/Nickname/Nickname.tsx
  services/community-site/src/components/Nickname/nickname.scss
  services/community-site/src/interfaces/Node.ts
  services/community-site/src/pages/RunNode/RunValidator.tsx
  services/community-site/src/pages/RunNode/Table/MainnetValidatorRow.tsx
  services/community-site/src/pages/RunNode/Table/TestnetValidatorRow.tsx
  services/community-site/src/pages/RunNode/runvalidator.scss
  services/community-site/src/pages/Staking/Delegation.tsx
  services/community-site/src/pages/Staking/NodeProfilePage.tsx
  services/community-site/src/pages/Staking/Table/ValidatorRow.tsx
  services/community-site/src/pages/Staking/delegation.scss
Due: run-community-site-service-workflow

Added nickname component for Node profile page
  services/community-site/src/pages/Staking/NodeProfilePage.tsx
Due: run-community-site-service-workflow

Renamed column for Nickname
  services/community-site/src/components/Nickname/Nickname.tsx
  services/community-site/src/pages/RunNode/RunValidator.tsx
  services/community-site/src/pages/Staking/Delegation.tsx
  services/community-site/src/pages/Staking/NodeProfilePage.tsx
Due: run-community-site-service-workflow

Fine-grain converter method to display days and hours
  services/community-site/src/utils/time.ts
Due: run-community-site-service-workflow

Simplify util method
  services/community-site/src/pages/RunNode/Modal/UpdateCommission.tsx
  services/community-site/src/pages/RunNode/Screen/UpdateValidator.tsx
  services/community-site/src/pages/Staking/Delegation.tsx
  services/community-site/src/utils/time.ts
Due: run-community-site-service-workflow

New error message for undelegation (#488)
  services/community-site/src/pages/Staking/Modal/Undelegate.tsx
Due: run-community-site-service-workflow

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@3f1cc2dae03bc9c4d5f6956c4ec449598b3ce4b4 🚀
  project.json
Due: none

Implement time estimations in days (#489)
  services/community-site/src/pages/RunNode/Modal/UpdateCommission.tsx
  services/community-site/src/pages/RunNode/Screen/UpdateValidator.tsx
  services/community-site/src/pages/Staking/Delegation.tsx
  services/community-site/src/utils/time.ts
Due: run-community-site-service-workflow

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@1d75b8afad88c219971320c74804a7eb57815af7 🚀
  project.json
Due: none

Implements yield calculation and display
  services/community-site/src/interfaces/Validator.ts
  services/community-site/src/pages/Staking/Delegation.tsx
  services/community-site/src/pages/Staking/Table/ValidatorRow.tsx
  services/community-site/src/services/useExplorerStats.tsx
  services/community-site/src/utils/validators.ts
Due: run-community-site-service-workflow

adds slither to analysis pipeline
  .github/workflows/analysis.yml
  packages/testnet-delegation/slither.config.json
Due: none

change sol v to 0.8.19
  .github/workflows/analysis.yml
Due: none

Path conditions:
  ui-package-modified: any of: packages/taraxa-ui/.*
  run-community-site-service-workflow: any of: services/community-site/.*
  run-community-backend-service-workflow: any of: legacy/community-backend/.*
  build-community-backend-helm-chart-workflow: any of: legacy/community-backend/charts/.*
  run-claim-admin-service-workflow: any of: legacy/claim-admin/.*
  build-claim-admin-helm-chart-workflow: any of: legacy/claim-admin/charts/.*
  build-community-site-helm-chart-workflow: any of: services/community-site/charts/.*
  run-node-status-service-workflow: any of: services/node-status/.*
  run-delegation-service-workflow: any of: services/delegation/.*
  build-delegation-helm-chart-workflow: any of: services/delegation/charts/.*
  run-claim-backend-service-workflow: any of: services/claim-backend/.*
  build-claim-backend-helm-chart-workflow: any of: services/claim-backend/charts/.*
  build-faucet-workflow: any of: services/faucet/.*
  build-faucet-helm-chart-workflow: any of: services/faucet/charts/.*
  build-explorer-workflow: any of: services/explorer/.*
  build-explorer-helm-chart-workflow: any of: services/explorer/charts/.*
  build-explorer-indexer-workflow: any of: services/explorer-indexer/.*
  build-explorer-indexer-helm-chart-workflow: any of: services/explorer-indexer/charts/.*
  build-explorer-api-workflow: any of: services/explorer-api/.*
  build-explorer-api-helm-chart-workflow: any of: services/explorer-api/charts/.*
