Repository Taraxa-project/taraxa-platform: changes, and which CircleCI parameters are due for each by the changed paths.
All: ui-package-modified, run-community-site-service-workflow, run-node-status-service-workflow, run-delegation-service-workflow, run-claim-backend-service-workflow, build-faucet-workflow, build-faucet-helm-chart-workflow, build-explorer-workflow, build-explorer-helm-chart-workflow, build-explorer-indexer-workflow, build-explorer-indexer-helm-chart-workflow

.circleci/config.yml:

version: 2.1
setup: true
orbs:
  path-filtering: circleci/path-filtering@0.1.1
workflows:
  always-run:
    jobs:
      - path-filtering/filter:
          name: check-updated-files
          mapping: |
            packages/taraxa-ui/.* ui-package-modified true
            services/community-site/.* run-community-site-service-workflow true
            services/node-status/.* run-node-status-service-workflow true
            services/delegation/.* run-delegation-service-workflow true
            services/claim-backend/.* run-claim-backend-service-workflow true
            services/faucet/.* build-faucet-workflow true
            services/faucet/charts/.* build-faucet-helm-chart-workflow true
            services/explorer/.* build-explorer-workflow true
            services/explorer/charts/.* build-explorer-helm-chart-workflow true
            services/explorer-indexer/.* build-explorer-indexer-workflow true
            services/explorer-indexer/charts/.* build-explorer-indexer-helm-chart-workflow true
          base-revision: << pipeline.git.branch >>
          config-path: .circleci/workflows.yml

reorg tree
  services/explorer/src/index.tsx
Due: build-explorer-workflow

deep copy rendered array
  services/explorer/src/pages/Blocks/Blocks.effects.ts
  services/explorer/src/pages/Blocks/Blocks.tsx
  services/explorer/src/pages/Dag/Dag.effects.tsx
  services/explorer/src/pages/Dag/Dag.tsx
  services/explorer/src/pages/Nodes/Nodes.effects.tsx
  services/explorer/src/pages/Nodes/Nodes.tsx
  services/explorer/src/pages/Transactions/Transactions.effects.ts
  services/explorer/src/pages/Transactions/Transactions.tsx
Due: build-explorer-workflow

Redirecting on network change for details pages
  services/explorer/src/pages/AddressInfo/AddressInfo.effects.tsx
  services/explorer/src/pages/BlockData/DAGDataContainer.effects.tsx
  services/explorer/src/pages/PBFTData/PBFTDataContainer.effects.tsx
  services/explorer/src/pages/TransactionData/TransactionData.effects.tsx
Due: build-explorer-workflow

economics-rewards: adds docker deployment
  services/economics-rewards/.env.example
  services/economics-rewards/.gitignore
  services/economics-rewards/Dockerfile
  services/economics-rewards/docker-compose.yaml
  services/economics-rewards/package.json
  services/economics-rewards/src/data-source.ts
  services/economics-rewards/src/types/index.ts
  services/economics-rewards/tsconfig.json
  yarn.lock
Due: none

economics-rewards: adds default economics contract address
  services/economics-rewards/docker-compose.yaml
Due: none

remove unutilized env examples
  services/explorer/.env.example
Due: build-explorer-workflow

changes mounts and network
  services/economics-rewards/.gitignore
  services/economics-rewards/data/economics/.gitkeep
  services/economics-rewards/data/node/.gitkeep
  services/economics-rewards/docker-compose.yaml
Due: none

changes sqlite driver
  services/economics-rewards/package.json
  services/economics-rewards/src/data-source.ts
  yarn.lock
Due: none

Fixed logs for economics script
  services/economics-rewards/src/database.ts
  services/economics-rewards/src/index.ts
Due: none

feat(economics): Generating csv with DB data
  package.json
  services/economics-rewards/.gitignore
  services/economics-rewards/package.json
  services/economics-rewards/src/database.ts
  services/economics-rewards/src/writer.ts
Due: none

economics-rewards: bind app to the host network
  services/economics-rewards/docker-compose.yaml
Due: none

feat(economics): Generating rewards csv
  services/economics-rewards/src/database.ts
  services/economics-rewards/src/writer.ts
Due: none

Feature/explorer fix connection switch (#327)
  services/explorer/.env.example
  services/explorer/src/App.tsx
  services/explorer/src/api/explorer-api/fetchBlocksByAddress.ts
  services/explorer/src/api/explorer-api/fetchDagsByAddress.ts
  services/explorer/src/api/explorer-api/fetchDetailsByAddress.ts
  services/explorer/src/api/explorer-api/fetchNodes.ts
  services/explorer/src/api/explorer-api/fetchNumberBlocks.ts
  services/explorer/src/api/explorer-api/fetchPbftsByAddress.ts
  services/explorer/src/api/explorer-api/fetchTransactionsByAddress.ts
  services/explorer/src/api/sendRequestTokens.faucet.ts
  services/explorer/src/api/types.ts
  services/explorer/src/config.ts
  services/explorer/src/hooks/useExplorerNetwork.tsx
  services/explorer/src/index.tsx
  services/explorer/src/pages/AddressInfo/AddressInfo.effects.tsx
  services/explorer/src/pages/BlockData/DAGDataContainer.effects.tsx
  services/explorer/src/pages/Blocks/Blocks.effects.ts
  services/explorer/src/pages/Blocks/Blocks.tsx
  services/explorer/src/pages/Dag/Dag.effects.tsx
  services/explorer/src/pages/Dag/Dag.tsx
  services/explorer/src/pages/Faucet/Faucet.effects.ts
  services/explorer/src/pages/Nodes/Nodes.effects.tsx
  services/explorer/src/pages/Nodes/Nodes.tsx
  services/explorer/src/pages/PBFTData/PBFTDataContainer.effects.tsx
  services/explorer/src/pages/TransactionData/TransactionData.effects.tsx
  services/explorer/src/pages/Transactions/Transactions.effects.ts
  services/explorer/src/pages/Transactions/Transactions.tsx
  services/explorer/src/utils/Enums.ts
  services/explorer/src/utils/index.ts
  services/explorer/src/utils/networks.ts
  services/explorer/tsconfig.json
Due: build-explorer-workflow

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@6ec1e33783d0a1479581d4729e1d25a78f5a0ace 🚀
  project.json
Due: none

fix(explorer): Fixing UI bugs
  services/explorer/src/components/Header/Header.effects.ts
  services/explorer/src/pages/AddressInfo/AddressInfo.effects.tsx
  services/explorer/src/pages/BlockData/DAGDataContainer.tsx
  services/explorer/src/pages/Blocks/Blocks.effects.ts
  services/explorer/src/pages/Dag/Dag.effects.tsx
  services/explorer/src/pages/Nodes/Nodes.effects.tsx
  services/explorer/src/pages/Nodes/Nodes.tsx
  services/explorer/src/pages/Transactions/Transactions.effects.ts
  services/explorer/src/utils/hashUtils.ts
Due: build-explorer-workflow

fix(explorer): Reimplemented header search bar
  packages/taraxa-ui/src/components/InputField/InputField.styles.ts
  packages/taraxa-ui/src/components/InputField/InputField.tsx
  packages/taraxa-ui/src/components/InputField/inputfield.scss
  packages/taraxa-ui/src/components/SearchInput/SearchInput.styles.ts
  packages/taraxa-ui/src/components/SearchInput/SearchInput.tsx
  packages/taraxa-ui/src/components/TransactionDetails/TransactionDetails.tsx
  services/explorer/src/components/Header/Header.effects.ts
  services/explorer/src/components/Header/Header.tsx
Due: ui-package-modified, build-explorer-workflow

feat(explorer): small adjustments to header search results
  packages/taraxa-ui/src/components/SearchInput/SearchInput.styles.ts
  packages/taraxa-ui/src/components/SearchInput/SearchInput.tsx
Due: ui-package-modified

chore(explorer): Removed comments
  packages/taraxa-ui/src/components/SearchInput/SearchInput.tsx
  services/explorer/src/components/Header/Header.effects.ts
Due: ui-package-modified, build-explorer-workflow

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@e91dec6917f02cf46a7e9be5a2a5432f73cf6b56 🚀
  109.40d9675b.iframe.bundle.js
  109.40d9675b.iframe.bundle.js.LICENSE.txt
  109.40d9675b.iframe.bundle.js.map
  717.115c855c.iframe.bundle.js
  717.115c855c.iframe.bundle.js.map
  iframe.html
  main.1f94b948.iframe.bundle.js
  main.5b997048.iframe.bundle.js
  project.json
Due: none

fix(explorer): Fixing more UI bugs
  packages/taraxa-ui/src/components/SearchInput/SearchInput.tsx
  packages/taraxa-ui/src/components/Table/Table.tsx
  packages/taraxa-ui/src/components/TransactionDetails/TransactionDetails.styles.ts
  services/explorer/src/components/Header/Header.effects.ts
  services/explorer/src/components/Header/Header.tsx
  services/explorer/src/components/Tables/BlocksTable.tsx
  services/explorer/src/components/Tables/TransactionsTable.tsx
  services/explorer/src/pages/Blocks/Blocks.effects.ts
  services/explorer/src/pages/Dag/Dag.effects.tsx
  services/explorer/src/pages/Home/ChartContainer.tsx
  services/explorer/src/pages/Nodes/Nodes.effects.tsx
  services/explorer/src/pages/Transactions/Transactions.effects.ts
  services/explorer/src/pages/Transactions/Transactions.tsx
  services/explorer/src/utils/hashUtils.ts
Due: ui-package-modified, build-explorer-workflow

fix(explorer): Fixing header search reset
  packages/taraxa-ui/src/components/SearchInput/SearchInput.tsx
Due: ui-package-modified

reduce debounce to 50 ms
  packages/taraxa-ui/src/components/SearchInput/SearchInput.tsx
Due: ui-package-modified

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@b0ac35a1755802f7dcd69770c0567fbf3cf9cb97 🚀
  iframe.html
  main.5b997048.iframe.bundle.js
  main.778ce978.iframe.bundle.js
  project.json
Due: none

add deployment as step to circleci
  .circleci/workflows.yml
Due: none

build: changes docker image names
  .circleci/workflows.yml
Due: none

build: triggers build for explorer apps
  services/explorer-indexer/.env.example
  services/explorer/.env.example
  services/faucet/.env.example
Due: build-faucet-workflow, build-explorer-workflow, build-explorer-indexer-workflow

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@69439ef53dd132a92341408af5ff4f529b7d0935 🚀
  project.json
Due: none

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@7a3d2871fb471e672577aa7695dd6b7824f9a06b 🚀
  project.json
Due: none

Revert "build: triggers build for explorer apps"
  services/explorer-indexer/.env.example
  services/explorer/.env.example
  services/faucet/.env.example
Due: build-faucet-workflow, build-explorer-workflow, build-explorer-indexer-workflow

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@a21eb76cf46dd2c0942ae47eeccd31245d2a60d3 🚀
  project.json
Due: none

fix(explorer): Small address page fix for no data
  services/explorer/src/components/Tables/BlocksTable.tsx
Due: build-explorer-workflow

explorer: adds explorer api build workflow
  .circleci/config.yml
  .circleci/workflows.yml
Due: none

build: triggers build for explorer api
  services/explorer-api/.env.example
Due: none

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@53c9bec1591d81bad948940065dae1df801677ae 🚀
  project.json
Due: none

explorer: adds explorer api build vars
  .circleci/workflows.yml
Due: none

Revert "build: triggers build for explorer api"
  services/explorer-api/.env.example
Due: none

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@6eb4ad087434f17b50e99129840c1a576497df77 🚀
  project.json
Due: none

build: triggers build for explorer api helm chart
  services/explorer-api/charts/explorer-api/.helmignore
Due: none

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@2c652e2ec2cdbe61b64b39cda2ac6b8aa6d824ee 🚀
  project.json
Due: none

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@354015aa6f62a7f2e1942e8147c252aa89e91e12 🚀
  project.json
Due: none
