Repository Taraxa-project/taraxa-platform: changes, and which CircleCI parameters are due for each by the changed paths.
All: ui-package-modified, run-community-site-service-workflow, run-community-backend-service-workflow, build-community-backend-helm-chart-workflow, run-claim-admin-service-workflow, build-claim-admin-helm-chart-workflow, build-community-site-helm-chart-workflow, run-node-status-service-workflow, run-delegation-service-workflow, build-delegation-helm-chart-workflow, run-claim-backend-service-workflow, build-claim-backend-helm-chart-workflow, build-faucet-workflow, build-faucet-helm-chart-workflow, build-explorer-workflow, build-explorer-helm-chart-workflow, build-explorer-indexer-workflow, build-explorer-indexer-helm-chart-workflow, build-explorer-api-workflow, build-explorer-api-helm-chart-workflow

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@81bd97350e8efa40483a4155dd41c0747c465e16 🚀
  project.json
Due: none

explorer: fixes transactions not showing up in address page
  services/explorer/src/api/explorer-api/fetchTransactionsByAddress.ts
  services/explorer/src/components/AddressInfo/AddressTables.tsx
  services/explorer/src/components/Tables/TransactionsTable.tsx
  services/explorer/src/models/graphql/Transaction.ts
  services/explorer/src/pages/AddressInfo/AddressInfo.effects.tsx
  services/explorer/src/pages/AddressInfo/AddressInfo.tsx
  services/explorer/src/pages/TransactionData/TransactionData.tsx
  services/explorer/src/pages/TransactionData/TransactionDataTabs.tsx
Due: build-explorer-workflow

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@8d4f6a1ab1895e10fc2c414f3cd4dac845029b01 🚀
  project.json
Due: none

community-site: bugfix out of date stake
  services/community-site/src/services/useDelegation.tsx
  services/community-site/src/services/useWalletPopup.tsx
Due: run-community-site-service-workflow

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@f7196a88880a0dea628117f6c338081184b44e91 🚀
  project.json
Due: none

community-site: fixes re-delegation precision bug
  services/community-site/src/pages/Staking/Modal/ReDelegate.tsx
Due: run-community-site-service-workflow

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@13116a190116de3aaae29664241dd7d8b4adde99 🚀
  project.json
Due: none

claim-backend: fixes concurrency create claim bug
  services/claim-backend/src/modules/claim/claim.service.ts
Due: run-claim-backend-service-workflow

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@b490bb1e68bea76ac83635788d717a56ab04987d 🚀
  project.json
Due: none

node-status: fix theme
  services/node-status/pages/_app.tsx
Due: run-node-status-service-workflow

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@dc00d2f07542ca594ec1e3cbbeffb4c0b2a4079b 🚀
  project.json
Due: none

community-site: revert indexer to old one for testnet
  services/community-site/src/utils/networks.ts
  services/explorer/.env.example
Due: run-community-site-service-workflow, build-explorer-workflow

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@48821ad2ff450a6e367f5fa80090456118d932af 🚀
  project.json
Due: none

community-site: revert indexer to old one for testnet
  services/community-site/src/utils/networks.ts
Due: run-community-site-service-workflow

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@4d529b04883dfb3bdf9ec509733c2f43b3ae3573 🚀
  project.json
Due: none

community-site: use new indexer url
  services/community-site/src/utils/networks.ts
Due: run-community-site-service-workflow

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@01e82948398f0f0ddeca12f05d8ec9d718849e68 🚀
  project.json
Due: none

Revert "community-site: bugfix out of date stake"
  services/community-site/src/services/useDelegation.tsx
  services/community-site/src/services/useWalletPopup.tsx
Due: run-community-site-service-workflow

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@5bd2fc619b150bce4d02976aee28d5d83fab5a16 🚀
  project.json
Due: none

delegation: decreased testnet delegation value
  services/delegation/src/config/delegation.ts
Due: run-delegation-service-workflow

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@698ccdb81b24f62dfaa655c32bc625b8bf4ae213 🚀
  project.json
Due: none

bumps deps
  yarn.lock
Due: none

updates tests
  packages/testnet-delegation/artifacts/contracts/CallProxy.sol/CallProxy.json
  packages/testnet-delegation/artifacts/contracts/DelegationOrchestrator.sol/DelegationOrchestrator.json
  packages/testnet-delegation/artifacts/contracts/mocks/MockDpos.sol/MockDpos.json
  packages/testnet-delegation/test/proxy.test.ts
Due: none

Fixed issue displaying 0 when no data in tables
  services/explorer/src/components/TableTabs/TableTabs.tsx
Due: build-explorer-workflow

Commified values for value and balance
  services/explorer/src/pages/AddressInfo/AddressInfo.effects.tsx
  services/explorer/src/utils/fromWeiToTara.ts
Due: build-explorer-workflow

implements failure reason fetch
  services/explorer/src/api/explorer-api/fetchRevertReason.ts
  services/explorer/src/api/types.ts
  services/explorer/src/hooks/useExplorerNetwork.tsx
  services/explorer/src/pages/TransactionData/TransactionData.effects.tsx
  services/explorer/src/pages/TransactionData/TransactionData.tsx
  services/explorer/src/utils/networks.ts
Due: build-explorer-workflow

Limited total holders and added 4 decimals to percentage
  packages/taraxa-ui/src/components/ProgressBar/ProgressBar.tsx
  services/explorer/src/api/explorer-api/fetchHolders.ts
  services/explorer/src/components/Tables/BlocksTable.tsx
  services/explorer/src/components/Tables/Table.tsx
  services/explorer/src/components/Tables/TransactionsTable.tsx
  services/explorer/src/pages/Holders/HolderRow.tsx
  services/explorer/src/pages/Holders/Holders.tsx
  services/explorer/src/pages/Nodes/Nodes.tsx
Due: ui-package-modified, build-explorer-workflow

Removed first and last page from tables with graphql connections
  services/explorer/src/components/Tables/Table.tsx
Due: build-explorer-workflow

Added mui components for dropdown and button toggle
  packages/taraxa-ui/src/components/BaseToggleButtonGroup/BaseToggleButtonGroup.stories.tsx
  packages/taraxa-ui/src/components/BaseToggleButtonGroup/BaseToggleButtonGroup.tsx
  packages/taraxa-ui/src/components/BaseToggleButtonGroup/index.ts
  packages/taraxa-ui/src/components/ButtonGroup/ButtonGroup.stories.tsx
  packages/taraxa-ui/src/components/ButtonGroup/ButtonGroup.tsx
  packages/taraxa-ui/src/components/ButtonGroup/index.ts
  packages/taraxa-ui/src/components/Dropdown/Dropdown.stories.tsx
  packages/taraxa-ui/src/components/Dropdown/Dropdown.tsx
  packages/taraxa-ui/src/components/Dropdown/index.ts
  packages/taraxa-ui/src/index.ts
Due: ui-package-modified

Added hex to dec display components for topics
  packages/taraxa-ui/src/components/BaseToggleButtonGroup/BaseToggleButtonGroup.tsx
  packages/taraxa-ui/src/components/Dropdown/Dropdown.tsx
  services/explorer/src/pages/TransactionData/EventDataDisplay.tsx
  services/explorer/src/pages/TransactionData/TopicDataDisplay.tsx
  services/explorer/src/pages/TransactionData/TransactionDataTabs.tsx
Due: ui-package-modified, build-explorer-workflow

Fixed margin for topics
  services/explorer/src/pages/TransactionData/TopicDataDisplay.tsx
Due: build-explorer-workflow

Fixed issue for topics and event data
  services/explorer/src/pages/TransactionData/EventDataDisplay.tsx
  services/explorer/src/pages/TransactionData/TopicDataDisplay.tsx
Due: build-explorer-workflow

Removed data conversion from event data
  services/explorer/src/components/HexToDecDataRow/HexToDecDataRow.tsx
  services/explorer/src/components/HexToDecDataRow/index.ts
  services/explorer/src/components/index.ts
  services/explorer/src/pages/PBFTData/PBFTDataContainer.tsx
  services/explorer/src/pages/TransactionData/TransactionDataTabs.tsx
Due: build-explorer-workflow

Removed event data display component
  services/explorer/src/pages/TransactionData/EventDataDisplay.tsx
Due: build-explorer-workflow

Added return types for effects files
  services/explorer/src/components/HexToDecDataRow/HexToDecDataRow.tsx
  services/explorer/src/hooks/useIndexer.tsx
  services/explorer/src/pages/AddressInfo/AddressInfo.effects.tsx
  services/explorer/src/pages/Holders/Holders.effects.tsx
  services/explorer/src/pages/Nodes/Nodes.effects.tsx
  services/explorer/src/pages/TransactionData/TopicDataDisplay.tsx
  services/explorer/src/pages/TransactionData/TransactionData.effects.tsx
  services/explorer/src/pages/TransactionData/TransactionData.tsx
Due: build-explorer-workflow

Added sorting to validators
  packages/taraxa-ui/src/components/Table/Table.tsx
  packages/taraxa-ui/src/components/Table/index.ts
  packages/taraxa-ui/src/index.ts
  services/community-site/src/pages/Staking/Delegation.tsx
  services/community-site/src/pages/Staking/delegation.scss
Due: ui-package-modified, run-community-site-service-workflow

Fixed issue displaying 0 when no data in tables (#547)
  services/explorer/src/components/TableTabs/TableTabs.tsx
Due: build-explorer-workflow

Commified values for value and balance (#551)
  services/explorer/src/pages/AddressInfo/AddressInfo.effects.tsx
  services/explorer/src/utils/fromWeiToTara.ts
Due: build-explorer-workflow

implements failure reason fetch (#552)
  services/explorer/src/api/explorer-api/fetchRevertReason.ts
  services/explorer/src/api/types.ts
  services/explorer/src/hooks/useExplorerNetwork.tsx
  services/explorer/src/pages/TransactionData/TransactionData.effects.tsx
  services/explorer/src/pages/TransactionData/TransactionData.tsx
  services/explorer/src/utils/networks.ts
Due: build-explorer-workflow

Limited total holders and added 4 decimals to percentage (#553)
  packages/taraxa-ui/src/components/ProgressBar/ProgressBar.tsx
  services/explorer/src/api/explorer-api/fetchHolders.ts
  services/explorer/src/components/Tables/BlocksTable.tsx
  services/explorer/src/components/Tables/TransactionsTable.tsx
  services/explorer/src/pages/Holders/HolderRow.tsx
  services/explorer/src/pages/Holders/Holders.tsx
  services/explorer/src/pages/Nodes/Nodes.tsx
Due: ui-package-modified, build-explorer-workflow

Path conditions:
  ui-package-modified: any of: packages/taraxa-ui/.*
  run-community-site-service-workflow: any of: services/community-site/.*
  run-community-backend-service-workflow: any of: legacy/community-backend/.*
  build-community-backend-helm-chart-workflow: any of: legacy/community-backend/charts/.*
  run-claim-admin-service-workflow: any of: legacy/claim-admin/.*
  build-claim-admin-helm-chart-workflow: any of: legacy/claim-admin/charts/.*
  build-community-site-helm-chart-workflow: any of: services/community-site/charts/.*
  run-node-status-service-workflow: any of: services/node-status/.*
  run-delegation-service-workflow: any of: services/delegation/.*
  build-delegation-helm-chart-workflow: any of: services/delegation/charts/.*
  run-claim-backend-service-workflow: any of: services/claim-backend/.*
  build-claim-backend-helm-chart-workflow: any of: services/claim-backend/charts/.*
  build-faucet-workflow: any of: services/faucet/.*
  build-faucet-helm-chart-workflow: any of: services/faucet/charts/.*
  build-explorer-workflow: any of: services/explorer/.*
  build-explorer-helm-chart-workflow: any of: services/explorer/charts/.*
  build-explorer-indexer-workflow: any of: services/explorer-indexer/.*
  build-explorer-indexer-helm-chart-workflow: any of: services/explorer-indexer/charts/.*
  build-explorer-api-workflow: any of: services/explorer-api/.*
  build-explorer-api-helm-chart-workflow: any of: services/explorer-api/charts/.*
