Repository Taraxa-project/taraxa-platform: changes, and which CircleCI parameters are due for each by the changed paths.
All: ui-package-modified, run-community-site-service-workflow, build-community-site-helm-chart-workflow, run-community-backend-service-workflow, build-community-backend-helm-chart-workflow, run-node-status-service-workflow, run-delegation-service-workflow, run-claim-backend-service-workflow, build-faucet-workflow, build-faucet-helm-chart-workflow, build-explorer-workflow, build-explorer-helm-chart-workflow, build-explorer-indexer-workflow, build-explorer-indexer-helm-chart-workflow, build-explorer-api-workflow, build-explorer-api-helm-chart-workflow

.circleci/config.yml:

version: 2.1
setup: true
orbs:
  path-filtering: circleci/path-filtering@0.1.1
workflows:
  always-run:
    jobs:
      - path-filtering/filter:
          name: check-updated-files
          mapping: |
            packages/taraxa-ui/.* ui-package-modified true
            services/community-site/.* run-community-site-service-workflow true
            services/community-site/charts/.* build-community-site-helm-chart-workflow true
            services/community-backend/.* run-community-backend-service-workflow true
            services/community-backend/charts/.* build-community-backend-helm-chart-workflow true
            services/node-status/.* run-node-status-service-workflow true
            services/delegation/.* run-delegation-service-workflow true
            services/claim-backend/.* run-claim-backend-service-workflow true
            services/faucet/.* build-faucet-workflow true
            services/faucet/charts/.* build-faucet-helm-chart-workflow true
            services/explorer/.* build-explorer-workflow true
            services/explorer/charts/.* build-explorer-helm-chart-workflow true
            services/explorer-indexer/.* build-explorer-indexer-workflow true
            services/explorer-indexer/charts/.* build-explorer-indexer-helm-chart-workflow true
            services/explorer-api/.* build-explorer-api-workflow true
            services/explorer-api/charts/.* build-explorer-api-helm-chart-workflow true
          base-revision: << pipeline.git.branch >>
          config-path: .circleci/workflows.yml

fixes claim button CTA
  services/community-site/src/pages/Delegation/Modal/Claim.tsx
Due: run-community-site-service-workflow

disables claim button on no staking rewards
  services/community-site/src/pages/Delegation/Table/ValidatorRow.tsx
Due: run-community-site-service-workflow

replaces stats endpoint with one from new indexer
  services/community-site/src/services/useExplorerStats.tsx
Due: run-community-site-service-workflow

fixes claim modal copy
  services/community-site/src/pages/Delegation/Modal/Claim.tsx
Due: run-community-site-service-workflow

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@4fe9eac729f42fae5bf9fd9507062ddffb39b853 🚀
  project.json
Due: none

explorer: fixes correct format of hashes and addresses
  services/explorer/src/components/Header/Header.effects.ts
  services/explorer/src/utils/hashUtils.ts
Due: build-explorer-workflow

explorer: removes mined from transaction status
  services/explorer/src/models/TableData.ts
  services/explorer/src/utils/TransactionRow.tsx
  services/explorer/src/utils/formatTransactionStatus.ts
Due: build-explorer-workflow

explorer: fixes genesis status
  services/explorer/src/api/explorer-api/fetchGenesisBlock.ts
Due: build-explorer-workflow

explorer: fixes pagination
  services/explorer/src/hooks/useIndexer.tsx
  services/explorer/src/pages/Nodes/Nodes.effects.tsx
Due: build-explorer-workflow

explorer: fixes show fee in transaction table
  services/explorer/src/pages/BlockData/DAGDataContainer.effects.tsx
Due: build-explorer-workflow

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@263fa6315fd4ef5eb2ceb9d14bb476c6032426cd 🚀
  project.json
Due: none

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@5e535b80381de167044ac6283fe69ab1449cb656 🚀
  project.json
Due: none

do not autodeploy claim-backend
  .circleci/workflows.yml
Due: none

remove job for deployment of claim-backend
  .circleci/workflows.yml
Due: none

build helm-chart for claim-backend
  .circleci/config.yml
  .circleci/workflows.yml
Due: none

trigger ci pipeline
  .circleci/workflows.yml
  services/claim-backend/charts/qa.values.yaml
Due: run-claim-backend-service-workflow

Revert "trigger ci pipeline"
  .circleci/workflows.yml
  services/claim-backend/charts/qa.values.yaml
Due: run-claim-backend-service-workflow

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@44a547c6f10dcad089551a9cf3f54644ba0e9c32 🚀
  project.json
Due: none

added ci workflows for claim-admin
  .circleci/config.yml
  .circleci/workflows.yml
Due: none

dummy commit
  legacy/claim-admin/README.md
Due: none

temp branch name
  .circleci/workflows.yml
Due: none

trigger ci
  legacy/claim-admin/charts/qa.values.yaml
Due: none

use node:14
  legacy/claim-admin/Dockerfile
Due: none

debug
  .circleci/workflows.yml
Due: none

trigger build
  legacy/claim-admin/README.md
Due: none

trigger ci and debug
  .circleci/workflows.yml
  legacy/claim-admin/README.md
Due: none

set path correctly for docker build
  .circleci/workflows.yml
  legacy/claim-admin/README.md
Due: none

remove temp stuff
  .circleci/workflows.yml
Due: none

remove debug
  .circleci/workflows.yml
Due: none

remove jenkinsfile for claim-admin
  legacy/claim-admin/Jenkinsfile
Due: none

changes URI pattern to match new endpoint
  services/delegation/src/modules/node/node-task.service.ts
Due: run-delegation-service-workflow

Fixes for showing transaction action type
  services/explorer/src/api/explorer-api/fetchTransactionsByAddress.ts
  services/explorer/src/api/graphql/queries/transactions.ts
  services/explorer/src/components/DataRow/DataRow.styles.ts
  services/explorer/src/components/Tables/TransactionsTable.tsx
  services/explorer/src/models/graphql/Transaction.ts
  services/explorer/src/pages/AddressInfo/AddressInfo.effects.tsx
  services/explorer/src/pages/TransactionData/TransactionData.tsx
  services/explorer/src/utils/getTransactionType.ts
  services/explorer/src/utils/index.ts
Due: build-explorer-workflow

Added transaction action for dag and pbft detail pages
  services/explorer/src/api/explorer-api/fetchTransactionsByAddress.ts
  services/explorer/src/api/graphql/queries/dagBlocks.ts
  services/explorer/src/api/graphql/queries/pbftBlocks.ts
  services/explorer/src/components/Tables/TransactionsTable.tsx
  services/explorer/src/models/graphql/Transaction.ts
  services/explorer/src/pages/BlockData/DAGDataContainer.effects.tsx
  services/explorer/src/pages/PBFTData/PBFTDataContainer.effects.tsx
Due: build-explorer-workflow

Fixes for showing transaction action type (#405)
  services/explorer/src/api/explorer-api/fetchTransactionsByAddress.ts
  services/explorer/src/api/graphql/queries/dagBlocks.ts
  services/explorer/src/api/graphql/queries/pbftBlocks.ts
  services/explorer/src/api/graphql/queries/transactions.ts
  services/explorer/src/components/DataRow/DataRow.styles.ts
  services/explorer/src/components/Tables/TransactionsTable.tsx
  services/explorer/src/models/graphql/Transaction.ts
  services/explorer/src/pages/AddressInfo/AddressInfo.effects.tsx
  services/explorer/src/pages/BlockData/DAGDataContainer.effects.tsx
  services/explorer/src/pages/PBFTData/PBFTDataContainer.effects.tsx
  services/explorer/src/pages/TransactionData/TransactionData.tsx
  services/explorer/src/utils/getTransactionType.ts
  services/explorer/src/utils/index.ts
Due: build-explorer-workflow

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@7f1e3d71567745520e0b8a62c1915e3a949e57b5 🚀
  project.json
Due: none

Re-arranged address info component props
  services/explorer/src/api/mocks/blocks.ts
  services/explorer/src/api/mocks/events.ts
  services/explorer/src/api/mocks/index.ts
  services/explorer/src/api/mocks/nodes.ts
  services/explorer/src/api/mocks/transactions.ts
  services/explorer/src/api/types.ts
  services/explorer/src/components/AddressInfo/AddressDetails.styles.ts
  services/explorer/src/components/AddressInfo/AddressDetails.tsx
  services/explorer/src/components/AddressInfo/AddressInfo.tsx
  services/explorer/src/components/AddressInfo/AddressTables.tsx
  services/explorer/src/components/AddressInfo/index.ts
  services/explorer/src/pages/AddressInfo/AddressInfo.effects.tsx
  services/explorer/src/pages/AddressInfo/AddressInfo.tsx
Due: build-explorer-workflow

Removed unnecessary conditional operator
  services/explorer/src/pages/TransactionData/TransactionData.tsx
Due: build-explorer-workflow

WIP: bridge interface changes for node entity
  services/delegation/src/modules/node/node-task.service.ts
Due: run-delegation-service-workflow

implements KYC restriction on delegation actions
  services/community-site/src/pages/Delegation/Delegation.tsx
Due: run-community-site-service-workflow
