Repository Taraxa-project/taraxa-platform: changes, and which CircleCI parameters are due for each by the changed paths.
All: ui-package-modified, run-community-site-service-workflow, run-community-backend-service-workflow, build-community-backend-helm-chart-workflow, run-claim-admin-service-workflow, build-claim-admin-helm-chart-workflow, build-community-site-helm-chart-workflow, run-node-status-service-workflow, run-delegation-service-workflow, build-delegation-helm-chart-workflow, run-claim-backend-service-workflow, build-claim-backend-helm-chart-workflow, build-faucet-workflow, build-faucet-helm-chart-workflow, build-explorer-workflow, build-explorer-helm-chart-workflow, build-explorer-indexer-workflow, build-explorer-indexer-helm-chart-workflow, build-explorer-api-workflow, build-explorer-api-helm-chart-workflow

Feat/run validator updates (#500)
  packages/taraxa-ui/src/components/theme.tsx
  services/community-site/src/interfaces/Node.ts
  services/community-site/src/interfaces/OwnNode.ts
  services/community-site/src/interfaces/PublicNode.ts
  services/community-site/src/interfaces/Validator.ts
  services/community-site/src/pages/RunNode/Modal.tsx
  services/community-site/src/pages/RunNode/Modal/RegisterNode.tsx
  services/community-site/src/pages/RunNode/RunValidator.tsx
  services/community-site/src/pages/RunNode/Screen/EditNode.tsx
  services/community-site/src/pages/RunNode/Table/MainnetValidatorRow.tsx
  services/community-site/src/pages/RunNode/Table/TestnetValidatorRow.tsx
  services/community-site/src/pages/Staking/NodeProfilePage.tsx
  services/community-site/src/pages/Staking/Table/ValidatorRow.tsx
  services/community-site/src/pages/Staking/delegation.scss
  services/community-site/src/pages/Staking/table.scss
  services/community-site/src/services/useAllValidators.tsx
  services/community-site/src/services/useExplorerStats.tsx
  services/community-site/src/services/useRedelegation.tsx
  services/community-site/src/services/useValidators.tsx
  services/community-site/src/services/useValidatorsWeeklyStats.tsx
  yarn.lock
Due: ui-package-modified, run-community-site-service-workflow

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@c78892108ed9acaa3834e95506c69ba6ba136c5c 🚀
  147.75673df3d3521b8d2c52.manager.bundle.js
  147.75f94266e1a1472b8f4d.manager.bundle.js
  147.75f94266e1a1472b8f4d.manager.bundle.js.LICENSE.txt
  372.ac571a64.iframe.bundle.js
  372.ac571a64.iframe.bundle.js.LICENSE.txt
  372.ac571a64.iframe.bundle.js.map
  721.5549ff3d624c57aad96a.manager.bundle.js
  721.6fbb389f.iframe.bundle.js
  721.6fbb389f.iframe.bundle.js.LICENSE.txt
  721.ba53a08ca686c9da82d2.manager.bundle.js
  721.ba53a08ca686c9da82d2.manager.bundle.js.LICENSE.txt
  721.f0712977.iframe.bundle.js
  918.456e876c.iframe.bundle.js
  918.456e876c.iframe.bundle.js.map
  iframe.html
  index.html
  main.67ff79e7.iframe.bundle.js
  main.ca250fd8.iframe.bundle.js
  project.json
  runtime~main.7508e8a3a685ee047ba2.manager.bundle.js
  runtime~main.9846da61.iframe.bundle.js
  runtime~main.aa0a2e0e.iframe.bundle.js
  runtime~main.f1265340b3323fccf370.manager.bundle.js
Due: none

adds some view functionality
  packages/testnet-delegation/contracts/CallProxy.sol
  packages/testnet-delegation/contracts/DelegationOrchestrator.sol
  packages/testnet-delegation/contracts/interfaces/IDelegation.sol
Due: none

Created table components to reuse same classes
  packages/taraxa-ui/src/components/Table/Table.tsx
  services/community-site/src/components/Table/Table.tsx
  services/community-site/src/components/Table/table.scss
  services/community-site/src/pages/RunNode/RunValidator.tsx
  services/community-site/src/pages/RunNode/Table/MainnetValidatorRow.tsx
  services/community-site/src/pages/RunNode/Table/TestnetValidatorRow.tsx
  services/community-site/src/pages/Staking/Delegation.tsx
  services/community-site/src/pages/Staking/Table/ValidatorRow.tsx
Due: ui-package-modified, run-community-site-service-workflow

finalize version1
  packages/testnet-delegation/contracts/DelegationOrchestrator.sol
  packages/testnet-delegation/hardhat.config.ts
  packages/testnet-delegation/scripts/deploy.ts
Due: none

reroute dpos through proxy
  services/community-site/src/services/useDpos.ts
  services/community-site/src/utils/networks.ts
Due: run-community-site-service-workflow

reroute register function through proxy
  services/community-site/src/services/useDpos.ts
  services/community-site/src/services/useValidators.tsx
Due: run-community-site-service-workflow

Normalized tables for validators
  services/community-site/src/components/Table/table.scss
  services/community-site/src/pages/RunNode/Table/MainnetValidatorRow.tsx
  services/community-site/src/pages/RunNode/Table/TestnetValidatorRow.tsx
  services/community-site/src/pages/Staking/Delegation.tsx
  services/community-site/src/pages/Staking/Table/ValidatorRow.tsx
Due: run-community-site-service-workflow

Added empty table to redeem and run validator pages
  packages/taraxa-ui/src/components/EmptyTable/EmptyTable.tsx
  services/community-site/src/components/Table/Table.tsx
  services/community-site/src/components/Table/table.scss
  services/community-site/src/pages/Redeem/Redeem.tsx
  services/community-site/src/pages/Redeem/redeem.scss
  services/community-site/src/pages/RunNode/RunValidator.tsx
Due: ui-package-modified, run-community-site-service-workflow

Updated yield calculation
  services/community-site/src/interfaces/Validator.ts
Due: run-community-site-service-workflow

Feat/community tables refactor (#502)
  packages/taraxa-ui/src/components/EmptyTable/EmptyTable.tsx
  packages/taraxa-ui/src/components/Table/Table.tsx
  services/community-site/src/components/Table/Table.tsx
  services/community-site/src/components/Table/table.scss
  services/community-site/src/interfaces/Validator.ts
  services/community-site/src/pages/Redeem/Redeem.tsx
  services/community-site/src/pages/Redeem/redeem.scss
  services/community-site/src/pages/RunNode/RunValidator.tsx
  services/community-site/src/pages/RunNode/Table/MainnetValidatorRow.tsx
  services/community-site/src/pages/RunNode/Table/TestnetValidatorRow.tsx
  services/community-site/src/pages/Staking/Delegation.tsx
  services/community-site/src/pages/Staking/Table/ValidatorRow.tsx
Due: ui-package-modified, run-community-site-service-workflow

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@0eaceedb5af6d2a655fc90135905afc4b28d499e 🚀
  iframe.html
  main.67ff79e7.iframe.bundle.js
  main.e9204fc8.iframe.bundle.js
  project.json
Due: none

Table improvements
  services/community-site/src/components/Table/Table.tsx
  services/community-site/src/components/Table/table.scss
  services/community-site/src/pages/Redeem/Redeem.tsx
  services/community-site/src/pages/RunNode/RunValidator.tsx
  services/community-site/src/pages/Staking/Delegation.tsx
  services/community-site/src/pages/Staking/Table/ValidatorRow.tsx
Due: run-community-site-service-workflow

Table improvements (#503)
  services/community-site/src/components/Table/Table.tsx
  services/community-site/src/components/Table/table.scss
  services/community-site/src/pages/Redeem/Redeem.tsx
  services/community-site/src/pages/RunNode/RunValidator.tsx
  services/community-site/src/pages/Staking/Delegation.tsx
  services/community-site/src/pages/Staking/Table/ValidatorRow.tsx
Due: run-community-site-service-workflow

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@01aa77ea334b3ee7ecf3760d338e213322b0c6a6 🚀
  project.json
Due: none

community-site: changes yield calculation
  services/community-site/src/interfaces/Validator.ts
  services/community-site/src/pages/RunNode/Table/MainnetValidatorRow.tsx
  services/community-site/src/pages/Staking/NodeProfilePage.tsx
  services/community-site/src/pages/Staking/Table/ValidatorRow.tsx
Due: run-community-site-service-workflow

community-site: fixes table props not getting passes to original components
  services/community-site/src/components/Table/Table.tsx
Due: run-community-site-service-workflow

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@6274d72f76f3e89038a4af91cbd2f9e2fa098c10 🚀
  project.json
Due: none

Fixes for delegation loading and re-delegate modal
  packages/taraxa-ui/src/components/InfoCard/InfoCard.styles.tsx
  packages/taraxa-ui/src/components/InfoCard/InfoCard.tsx
  services/community-site/src/pages/RunNode/Table/MainnetValidatorRow.tsx
  services/community-site/src/pages/Staking/Delegation.tsx
  services/community-site/src/pages/Staking/Modal/ReDelegate.tsx
Due: ui-package-modified, run-community-site-service-workflow

WIP: start integration with backend
  services/delegation/src/config/delegation.ts
  services/delegation/src/modules/blockchain/blockchain.service.ts
  services/delegation/src/modules/delegation/delegation.service.ts
  services/delegation/src/modules/node/node.consumer.ts
Due: run-delegation-service-workflow

Improved responsive design for node profile loading screen
  services/community-site/src/pages/Staking/Screen/NodeProfilePageSkeleton.tsx
Due: run-community-site-service-workflow

Commented out loading for fetching delegation
  services/community-site/src/services/useDelegation.tsx
Due: run-community-site-service-workflow

implements shadowing of view methods and registerValidator
  packages/testnet-delegation/artifacts/contracts/CallProxy.sol/CallProxy.json
  packages/testnet-delegation/artifacts/contracts/DelegationOrchestrator.sol/DelegationOrchestrator.json
  packages/testnet-delegation/artifacts/contracts/interfaces/IDelegation.sol/IDelegation.json
  packages/testnet-delegation/artifacts/contracts/mocks/MockDpos.sol/MockDpos.json
  packages/testnet-delegation/artifacts/contracts/mocks/MockIDPOS.sol/MockIDPOS.json
  packages/testnet-delegation/contracts/DelegationOrchestrator.sol
  packages/testnet-delegation/contracts/interfaces/IDelegation.sol
  packages/testnet-delegation/contracts/mocks/MockDpos.sol
  packages/testnet-delegation/contracts/mocks/MockIDPOS.sol
  packages/testnet-delegation/test/orchestrator.test.ts
  packages/testnet-delegation/test/proxy.test.ts
Due: none

refactor cli to call new proxy contract
  services/delegation/.env.dist
  services/delegation/charts/community-delegation/templates/configmap.yaml
  services/delegation/charts/community-delegation/values.yaml
  services/delegation/src/config/delegation.ts
  services/delegation/src/config/ethereum.ts
  services/delegation/src/modules/blockchain/blockchain.module.ts
  services/delegation/src/modules/blockchain/blockchain.service.ts
  services/delegation/src/modules/delegation/delegation.service.ts
  services/delegation/src/modules/node/node.consumer.ts
Due: run-delegation-service-workflow, build-delegation-helm-chart-workflow

fix diff for mainnet blockchain service
  services/delegation/src/modules/blockchain/blockchain.module.ts
  services/delegation/src/modules/blockchain/blockchain.service.ts
Due: run-delegation-service-workflow

Fix testnet node edit and delete
  services/community-site/src/interfaces/Node.ts
  services/community-site/src/interfaces/Validator.ts
  services/community-site/src/pages/RunNode/RunValidator.tsx
  services/community-site/src/pages/RunNode/Screen/EditNode.tsx
Due: run-community-site-service-workflow

Fixes for delegation loading and re-delegate modal (#504)
  packages/taraxa-ui/src/components/InfoCard/InfoCard.styles.tsx
  packages/taraxa-ui/src/components/InfoCard/InfoCard.tsx
  services/community-site/src/interfaces/Node.ts
  services/community-site/src/interfaces/Validator.ts
  services/community-site/src/pages/RunNode/RunValidator.tsx
  services/community-site/src/pages/RunNode/Screen/EditNode.tsx
  services/community-site/src/pages/RunNode/Table/MainnetValidatorRow.tsx
  services/community-site/src/pages/Staking/Delegation.tsx
  services/community-site/src/pages/Staking/Modal/ReDelegate.tsx
  services/community-site/src/pages/Staking/Screen/NodeProfilePageSkeleton.tsx
  services/community-site/src/services/useDelegation.tsx
Due: ui-package-modified, run-community-site-service-workflow

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@e3ad7801ccbcfe2f344f4eabb8707e2808ae1f8f 🚀
  project.json
Due: none

refactor enetities
  packages/dpos-subgraph/schema.graphql
  packages/dpos-subgraph/src/mapping.ts
  packages/dpos-subgraph/subgraph.yaml
Due: none

implements handlers for simplified arch
  packages/dpos-subgraph/schema.graphql
  packages/dpos-subgraph/src/mapping.ts
  packages/dpos-subgraph/subgraph.yaml
Due: none

fixes wasm compilation
  packages/dpos-subgraph/src/mapping.ts
Due: none

removes block trigger
  packages/dpos-subgraph/schema.graphql
  packages/dpos-subgraph/src/mapping.ts
  packages/dpos-subgraph/subgraph.yaml
Due: none

simplfies data: elimiantes delegator and validator info
  packages/dpos-subgraph/schema.graphql
  packages/dpos-subgraph/src/mapping.ts
  packages/dpos-subgraph/subgraph.yaml
Due: none

finalizes first iteration
  packages/dpos-subgraph/abis/Dpos.json
  packages/dpos-subgraph/docker-compose.yml
  packages/dpos-subgraph/schema.graphql
  packages/dpos-subgraph/src/mapping.ts
  packages/dpos-subgraph/subgraph.yaml
Due: none

removes commented code
  packages/dpos-subgraph/src/mapping.ts
Due: none

finalizes first version
  packages/dpos-subgraph/README.md
  packages/dpos-subgraph/schema.graphql
  packages/dpos-subgraph/src/mapping.ts
  packages/dpos-subgraph/subgraph.yaml
Due: none

implements current delegations
  packages/dpos-subgraph/schema.graphql
  packages/dpos-subgraph/src/mapping.ts
Due: none

adds failfast on deleted validators
  packages/dpos-subgraph/src/mapping.ts
Due: none

removes unncecessary reassignments
  packages/dpos-subgraph/src/mapping.ts
Due: none

removes duplicate falsy check
  packages/dpos-subgraph/src/mapping.ts
Due: none

Path conditions:
  ui-package-modified: any of: packages/taraxa-ui/.*
  run-community-site-service-workflow: any of: services/community-site/.*
  run-community-backend-service-workflow: any of: legacy/community-backend/.*
  build-community-backend-helm-chart-workflow: any of: legacy/community-backend/charts/.*
  run-claim-admin-service-workflow: any of: legacy/claim-admin/.*
  build-claim-admin-helm-chart-workflow: any of: legacy/claim-admin/charts/.*
  build-community-site-helm-chart-workflow: any of: services/community-site/charts/.*
  run-node-status-service-workflow: any of: services/node-status/.*
  run-delegation-service-workflow: any of: services/delegation/.*
  build-delegation-helm-chart-workflow: any of: services/delegation/charts/.*
  run-claim-backend-service-workflow: any of: services/claim-backend/.*
  build-claim-backend-helm-chart-workflow: any of: services/claim-backend/charts/.*
  build-faucet-workflow: any of: services/faucet/.*
  build-faucet-helm-chart-workflow: any of: services/faucet/charts/.*
  build-explorer-workflow: any of: services/explorer/.*
  build-explorer-helm-chart-workflow: any of: services/explorer/charts/.*
  build-explorer-indexer-workflow: any of: services/explorer-indexer/.*
  build-explorer-indexer-helm-chart-workflow: any of: services/explorer-indexer/charts/.*
  build-explorer-api-workflow: any of: services/explorer-api/.*
  build-explorer-api-helm-chart-workflow: any of: services/explorer-api/charts/.*
