Repository Taraxa-project/taraxa-platform: changes, and which CircleCI parameters are due for each by the changed paths.
All: ui-package-modified, run-community-site-service-workflow, run-node-status-service-workflow, run-delegation-service-workflow

Issue #40: Automatically un-delegate when user un-stakes tokens
  services/delegation/src/cli.ts
  services/delegation/src/modules/delegation/delegation-task.service.ts
  services/delegation/src/modules/delegation/delegation.constants.ts
  services/delegation/src/modules/delegation/delegation.entity.ts
  services/delegation/src/modules/delegation/delegation.module.ts
  services/delegation/src/modules/delegation/delegation.service.ts
  services/delegation/src/modules/delegation/event/delegation-deleted.event.ts
  services/delegation/src/modules/delegation/listener/delegation-deleted.listener.ts
Due: run-delegation-service-workflow

added AmountCard to taraxa ui
  packages/taraxa-ui/src/components/AmountCard/AmountCard.tsx
  packages/taraxa-ui/src/components/AmountCard/amountcard-styles.tsx
  packages/taraxa-ui/src/components/AmountCard/index.ts
  packages/taraxa-ui/src/index.ts
  services/community-site/src/pages/Delegation/Modal/Delegate.tsx
  services/community-site/src/pages/Delegation/NodeProfilePage.tsx
  services/community-site/src/pages/Delegation/node-profile-page.scss
Due: ui-package-modified, run-community-site-service-workflow

added modals into a new component
  services/community-site/src/pages/Delegation/Delegation.tsx
  services/community-site/src/pages/Delegation/Modal/Modals.tsx
  services/community-site/src/pages/Delegation/NodeProfilePage.tsx
Due: run-community-site-service-workflow

added eol in .gitignore
  .gitignore
Due: none

removed unused
  services/community-site/src/pages/Delegation/Delegation.tsx
Due: run-community-site-service-workflow

Issue #37: Validator profile page (#22)
  .gitignore
  packages/taraxa-ui/src/components/AmountCard/AmountCard.tsx
  packages/taraxa-ui/src/components/AmountCard/amountcard-styles.tsx
  packages/taraxa-ui/src/components/AmountCard/index.ts
  packages/taraxa-ui/src/components/ProfileIcon/ProfileIcon.tsx
  packages/taraxa-ui/src/components/ProfileIcon/index.ts
  packages/taraxa-ui/src/index.ts
  services/community-site/package.json
  services/community-site/src/App.tsx
  services/community-site/src/interfaces/Delegation.ts
  services/community-site/src/interfaces/Node.ts
  services/community-site/src/interfaces/PublicNode.ts
  services/community-site/src/pages/Delegation/Delegation.tsx
  services/community-site/src/pages/Delegation/Modal/Delegate.tsx
  services/community-site/src/pages/Delegation/Modal/Modals.tsx
  services/community-site/src/pages/Delegation/NodeProfilePage.tsx
  services/community-site/src/pages/Delegation/node-profile-page.scss
Due: ui-package-modified, run-community-site-service-workflow

Fix: incorrect delegation value
  services/delegation/src/modules/delegation/delegation-task.service.ts
  services/delegation/src/modules/staking/staking.service.ts
Due: run-delegation-service-workflow

Issue #40: Automatically un-delegate when user un-stakes tokens (#74)
  services/delegation/src/cli.ts
  services/delegation/src/modules/delegation/delegation-task.service.ts
  services/delegation/src/modules/delegation/delegation.constants.ts
  services/delegation/src/modules/delegation/delegation.entity.ts
  services/delegation/src/modules/delegation/delegation.module.ts
  services/delegation/src/modules/delegation/delegation.service.ts
  services/delegation/src/modules/delegation/event/delegation-deleted.event.ts
  services/delegation/src/modules/delegation/listener/delegation-deleted.listener.ts
Due: run-delegation-service-workflow

Fix: delegation task service use delegationService
  services/delegation/src/modules/delegation/delegation-task.service.ts
Due: run-delegation-service-workflow

fixes on node_page and delegation
  services/community-site/src/pages/Delegation/NodeProfilePage.tsx
  services/community-site/src/pages/Delegation/Table/NodeRow.tsx
Due: run-community-site-service-workflow

fixes on node_page and delegation (#75)
  services/community-site/src/pages/Delegation/NodeProfilePage.tsx
  services/community-site/src/pages/Delegation/Table/NodeRow.tsx
Due: run-community-site-service-workflow

Fix: Internal server error when adding a node that already exists
  services/delegation/src/modules/node/node.service.ts
Due: run-delegation-service-workflow

Issue #41: Calculate delegation rewards for nodes/delegators
  services/delegation/package.json
  services/delegation/src/cli.ts
  services/delegation/src/config/delegation.ts
  services/delegation/src/modules/app-core.module.ts
  services/delegation/src/modules/node/node.entity.ts
  services/delegation/src/modules/reward/reward.module.ts
  services/delegation/src/modules/reward/reward.service.ts
  yarn.lock
Due: run-delegation-service-workflow

Fixes on Run a Node page #77
  services/community-site/src/pages/RunNode/RunNode.tsx
Due: run-community-site-service-workflow

Fixes on Run a Node page #77 (#78)
  services/community-site/src/pages/RunNode/RunNode.tsx
Due: run-community-site-service-workflow

added delete button on mainnet and let delete with delegations 0 #79
  services/community-site/src/pages/RunNode/RunNode.tsx
Due: run-community-site-service-workflow

fixes #80. removed bad curly
  services/community-site/src/pages/Delegation/NodeProfilePage.tsx
Due: run-community-site-service-workflow

fixes #81. resetting deletagors list and count if request fails
  services/community-site/src/pages/Delegation/NodeProfilePage.tsx
Due: run-community-site-service-workflow

added pointer as cursor to node name
  services/community-site/src/pages/Delegation/Table/NodeRow.tsx
  services/community-site/src/pages/Delegation/delegation.scss
Due: run-community-site-service-workflow

added pointer as cursor to node name (#86)
  services/community-site/src/pages/Delegation/Table/NodeRow.tsx
  services/community-site/src/pages/Delegation/delegation.scss
Due: run-community-site-service-workflow

fixes #81. resetting deletagors list and count if request fails (#85)
  services/community-site/src/pages/Delegation/NodeProfilePage.tsx
Due: run-community-site-service-workflow

removed console.log
  services/community-site/src/pages/Delegation/NodeProfilePage.tsx
Due: run-community-site-service-workflow

added disabled condition
  services/community-site/src/pages/RunNode/RunNode.tsx
Due: run-community-site-service-workflow

#79 Delete node on mainnet (#83)
  services/community-site/src/pages/RunNode/RunNode.tsx
Due: run-community-site-service-workflow

refactor bar flex to always show bars
  services/community-site/src/pages/Delegation/NodeProfilePage.tsx
Due: run-community-site-service-workflow

fix: mainnet nodes that can't be deleted if they ever had delegation
  services/delegation/src/modules/node/node.entity.ts
Due: run-delegation-service-workflow

fix: stop undelegation if we somehow have negative delegation
  services/delegation/src/modules/delegation/delegation.service.ts
Due: run-delegation-service-workflow

chore: trigger community site build
  services/community-site/.gitignore
Due: run-community-site-service-workflow

chore: updated path filtering orb
  .circleci/config.yml
Due: none

chore: trigger delegation service build
  services/delegation/.gitignore
Due: run-delegation-service-workflow

fix bad conditional
  services/community-site/src/pages/Delegation/NodeProfilePage.tsx
Due: run-community-site-service-workflow

#80 Fixes community-delegated progress bar (#84)
  services/community-site/src/pages/Delegation/NodeProfilePage.tsx
Due: run-community-site-service-workflow

added minimum layout
  services/community-site/src/pages/Staking/Staking.tsx
Due: run-community-site-service-workflow

Refactor endpoints to support new flow
  src/modules/claim/claim.controller.ts
  src/modules/claim/claim.service.ts
Due: none

Make compose work on m1
  docker-compose.yml
Due: none

Implement table with mocked data
  services/community-site/package.json
  services/community-site/src/pages/Redeem/Redeem.tsx
  services/community-site/src/pages/Redeem/redeem.scss
Due: run-community-site-service-workflow

Delete .env.example
  .env.example
Due: none

added changes to staking page
  packages/taraxa-ui/src/components/BaseCard/basecard-styles.tsx
  packages/taraxa-ui/src/components/DataCard/DataCard.tsx
  packages/taraxa-ui/src/components/DataCard/datacard-styles.tsx
  services/community-site/src/pages/Delegation/Delegation.tsx
  services/community-site/src/pages/Staking/Staking.tsx
Due: ui-package-modified, run-community-site-service-workflow

Finalize frontend implementation
  services/community-site/src/pages/Redeem/Redeem.tsx
  services/community-site/src/pages/Redeem/redeem.scss
Due: run-community-site-service-workflow

Path conditions:
  ui-package-modified: any of: packages/taraxa-ui/.*
  run-community-site-service-workflow: any of: services/community-site/.*
  run-node-status-service-workflow: any of: services/node-status/.*
  run-delegation-service-workflow: any of: services/delegation/.*
