Repository Taraxa-project/taraxa-platform: changes, and which CircleCI parameters are due for each by the changed paths.
All: ui-package-modified, run-community-site-service-workflow, run-community-backend-service-workflow, build-community-backend-helm-chart-workflow, run-claim-admin-service-workflow, build-claim-admin-helm-chart-workflow, build-community-site-helm-chart-workflow, run-node-status-service-workflow, run-delegation-service-workflow, build-delegation-helm-chart-workflow, run-claim-backend-service-workflow, build-claim-backend-helm-chart-workflow, build-faucet-workflow, build-faucet-helm-chart-workflow, build-explorer-workflow, build-explorer-helm-chart-workflow, build-explorer-indexer-workflow, build-explorer-indexer-helm-chart-workflow, build-explorer-api-workflow, build-explorer-api-helm-chart-workflow

explorer: fixes merge bug
  services/explorer/src/pages/TransactionData/TransactionData.effects.tsx
Due: build-explorer-workflow

explorer: fixes merge bug
  services/explorer/src/api/explorer-api/index.ts
  services/explorer/src/pages/TransactionData/TransactionData.effects.tsx
Due: build-explorer-workflow

Added sorting to validators (#557)
  packages/taraxa-ui/src/components/Table/Table.tsx
  packages/taraxa-ui/src/components/Table/index.ts
  packages/taraxa-ui/src/index.ts
  services/community-site/src/pages/Staking/Delegation.tsx
  services/community-site/src/pages/Staking/delegation.scss
Due: ui-package-modified, run-community-site-service-workflow

fixes eth_call parameters
  services/explorer/src/api/explorer-api/fetchRevertReason.ts
Due: build-explorer-workflow

fixes eth_call parameters (#558)
  services/explorer/src/api/explorer-api/fetchRevertReason.ts
Due: build-explorer-workflow

fixes no reason scenario
  services/explorer/src/api/explorer-api/fetchRevertReason.ts
  services/explorer/src/pages/TransactionData/TransactionData.tsx
Due: build-explorer-workflow

Hotfix/revert reason call fix (#559)
  services/explorer/src/api/explorer-api/fetchRevertReason.ts
  services/explorer/src/pages/TransactionData/TransactionData.tsx
Due: build-explorer-workflow

convert all inputs to hex
  services/explorer/src/api/explorer-api/fetchRevertReason.ts
Due: build-explorer-workflow

reworks barchart component for coomunity-site use
  packages/taraxa-ui/src/components/BarChart/BarChart.styles.ts
  packages/taraxa-ui/src/components/BarChart/BarChart.tsx
Due: ui-package-modified

adds new yield history hook,changes to scss
  services/community-site/src/pages/RunNode/runvalidator.scss
  services/community-site/src/pages/Staking/NodeProfilePage.tsx
  services/community-site/src/services/useIndexerYields.tsx
Due: run-community-site-service-workflow

chamges border color on barcharts
  packages/taraxa-ui/src/components/BarChart/BarChart.styles.ts
  packages/taraxa-ui/src/components/BarChart/BarChart.tsx
Due: ui-package-modified

fixes widths and styles, adds explicit types
  services/community-site/src/pages/Staking/NodeProfilePage.tsx
  services/community-site/src/pages/Staking/node-profile-page.scss
  services/community-site/src/services/useIndexerYields.tsx
Due: run-community-site-service-workflow

refactor: simplify contract
  packages/testnet-delegation/artifacts/contracts/DelegationOrchestrator.sol/DelegationOrchestrator.json
  packages/testnet-delegation/artifacts/contracts/interfaces/IDelegation.sol/IDelegation.json
  packages/testnet-delegation/contracts/DelegationOrchestrator.sol
  packages/testnet-delegation/contracts/interfaces/IDelegation.sol
  packages/testnet-delegation/test/orchestrator.test.ts
Due: none

community-site: fixes delegation rounding
  packages/taraxa-ui/src/components/AmountCard/AmountCard.styles.ts
  services/community-site/src/pages/Staking/NodeProfilePage.tsx
  services/community-site/src/pages/Staking/Table/ValidatorRow.tsx
  services/community-site/src/pages/Staking/delegation.scss
Due: ui-package-modified, run-community-site-service-workflow

community-site: sort nodes by status and yield
  services/community-site/src/pages/Staking/Delegation.tsx
Due: run-community-site-service-workflow

adds bgcolor t revert reason
  services/explorer/src/pages/TransactionData/TransactionData.tsx
Due: build-explorer-workflow

Showing dash icon when sorting not applied
  services/community-site/src/pages/Staking/Delegation.tsx
  services/community-site/src/pages/Staking/delegation.scss
Due: run-community-site-service-workflow

Created method for generating TableSort props
  services/community-site/src/pages/Staking/Delegation.tsx
Due: run-community-site-service-workflow

Showing dash icon when sorting not applied (#563)
  services/community-site/src/pages/Staking/Delegation.tsx
  services/community-site/src/pages/Staking/delegation.scss
Due: run-community-site-service-workflow

Fix stake rounding (#562)
  packages/taraxa-ui/src/components/AmountCard/AmountCard.styles.ts
  services/community-site/src/pages/Staking/Delegation.tsx
  services/community-site/src/pages/Staking/NodeProfilePage.tsx
  services/community-site/src/pages/Staking/Table/ValidatorRow.tsx
  services/community-site/src/pages/Staking/delegation.scss
Due: ui-package-modified, run-community-site-service-workflow

Hotfix/revert reason call fix (#560)
  services/explorer/src/api/explorer-api/fetchRevertReason.ts
  services/explorer/src/pages/TransactionData/TransactionData.tsx
Due: build-explorer-workflow

Fixed available for delegation column display
  services/community-site/src/pages/Staking/Delegation.tsx
  services/community-site/src/pages/Staking/delegation.scss
Due: run-community-site-service-workflow

Feat/sorting improt (#564)
  services/community-site/src/pages/Staking/Delegation.tsx
  services/community-site/src/pages/Staking/delegation.scss
Due: run-community-site-service-workflow

community-site: fixes re-delegation check
  services/community-site/src/pages/Staking/Modal/ReDelegate.tsx
Due: run-community-site-service-workflow

explorer: removes limit on total holders
  services/explorer/src/api/explorer-api/fetchHolders.ts
Due: build-explorer-workflow

Feature/yield history (#561)
  packages/taraxa-ui/src/components/BarChart/BarChart.styles.ts
  packages/taraxa-ui/src/components/BarChart/BarChart.tsx
  services/community-site/src/pages/RunNode/runvalidator.scss
  services/community-site/src/pages/Staking/NodeProfilePage.tsx
  services/community-site/src/pages/Staking/node-profile-page.scss
  services/community-site/src/services/useIndexerYields.tsx
Due: ui-package-modified, run-community-site-service-workflow

triggers ui build
  packages/taraxa-ui/.dockerignore
Due: ui-package-modified

fixes explorer trigger on ui changes
  .circleci/workflows.yml
Due: none

Revert "triggers ui build"
  packages/taraxa-ui/.dockerignore
Due: ui-package-modified

community-site: fixes overflow wrap for amount in node profile page
  services/community-site/src/pages/Staking/node-profile-page.scss
Due: run-community-site-service-workflow

community-site: adds extra tags for docker build on qa
  .circleci/workflows.yml
Due: none

Revert "community-site: fixes overflow wrap for amount in node profile page"
  services/community-site/src/pages/Staking/node-profile-page.scss
Due: run-community-site-service-workflow

Revert "Revert "community-site: fixes overflow wrap for amount in node profile page""
  services/community-site/src/pages/Staking/node-profile-page.scss
Due: run-community-site-service-workflow

Remove unnecessary yield request
  services/community-site/src/pages/Staking/Delegation.tsx
  services/community-site/src/services/useAllValidators.tsx
  services/community-site/src/services/useExplorerStats.tsx
Due: run-community-site-service-workflow

Feat/remove yield request (#576)
  services/community-site/src/pages/Staking/Delegation.tsx
  services/community-site/src/services/useAllValidators.tsx
  services/community-site/src/services/useExplorerStats.tsx
Due: run-community-site-service-workflow

Fixed issue refresh issue on actions
  services/community-site/src/pages/Redeem/Redeem.tsx
  services/community-site/src/pages/RunNode/RunValidator.tsx
  services/community-site/src/pages/Staking/Delegation.tsx
  services/community-site/src/pages/Staking/NodeProfilePage.tsx
Due: run-community-site-service-workflow

Added claim all functionality
  services/community-site/src/pages/Staking/Delegation.tsx
  services/community-site/src/services/useDelegation.tsx
  services/community-site/src/services/useDpos.ts
Due: run-community-site-service-workflow

Added a threshold for minimum value for claimable
  services/community-site/src/pages/Staking/Delegation.tsx
Due: run-community-site-service-workflow

Fixes for claim all
  services/community-site/src/pages/Staking/Delegation.tsx
  services/community-site/src/services/useDelegation.tsx
Due: run-community-site-service-workflow

Path conditions:
  ui-package-modified: any of: packages/taraxa-ui/.*
  run-community-site-service-workflow: any of: services/community-site/.*
  run-community-backend-service-workflow: any of: legacy/community-backend/.*
  build-community-backend-helm-chart-workflow: any of: legacy/community-backend/charts/.*
  run-claim-admin-service-workflow: any of: legacy/claim-admin/.*
  build-claim-admin-helm-chart-workflow: any of: legacy/claim-admin/charts/.*
  build-community-site-helm-chart-workflow: any of: services/community-site/charts/.*
  run-node-status-service-workflow: any of: services/node-status/.*
  run-delegation-service-workflow: any of: services/delegation/.*
  build-delegation-helm-chart-workflow: any of: services/delegation/charts/.*
  run-claim-backend-service-workflow: any of: services/claim-backend/.*
  build-claim-backend-helm-chart-workflow: any of: services/claim-backend/charts/.*
  build-faucet-workflow: any of: services/faucet/.*
  build-faucet-helm-chart-workflow: any of: services/faucet/charts/.*
  build-explorer-workflow: any of: services/explorer/.*
  build-explorer-helm-chart-workflow: any of: services/explorer/charts/.*
  build-explorer-indexer-workflow: any of: services/explorer-indexer/.*
  build-explorer-indexer-helm-chart-workflow: any of: services/explorer-indexer/charts/.*
  build-explorer-api-workflow: any of: services/explorer-api/.*
  build-explorer-api-helm-chart-workflow: any of: services/explorer-api/charts/.*
