Repository Taraxa-project/taraxa-platform: changes, and which CircleCI parameters are due for each by the changed paths.
All: ui-package-modified, run-community-site-service-workflow, run-community-backend-service-workflow, build-community-backend-helm-chart-workflow, run-claim-admin-service-workflow, build-claim-admin-helm-chart-workflow, build-community-site-helm-chart-workflow, run-node-status-service-workflow, run-delegation-service-workflow, build-delegation-helm-chart-workflow, run-claim-backend-service-workflow, build-claim-backend-helm-chart-workflow, build-faucet-workflow, build-faucet-helm-chart-workflow, build-explorer-workflow, build-explorer-helm-chart-workflow, build-explorer-indexer-workflow, build-explorer-indexer-helm-chart-workflow, build-explorer-api-workflow, build-explorer-api-helm-chart-workflow

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@6ff30128d70ef35e05392c03f723434359cf8ad6 🚀
  project.json
Due: none

Fixed dependency issue with taraxa-ui
  packages/taraxa-ui/src/declarationFiles.d.ts
Due: ui-package-modified

Small fix for eslint
  services/node-status/pages/_app.tsx
  services/node-status/pages/index.tsx
Due: run-node-status-service-workflow

claim-backend: add claim check cron and CLI
  .env.compose
  services/claim-backend/.env.example
  services/claim-backend/package.json
  services/claim-backend/src/app.module.ts
  services/claim-backend/src/cli.ts
  services/claim-backend/src/cron.module.ts
  services/claim-backend/src/modules/claim/claim-task.service.ts
  services/claim-backend/src/modules/claim/claim.module.ts
  services/claim-backend/src/modules/claim/claim.service.ts
  services/claim-backend/src/modules/claim/graphql.connector.service.ts
  yarn.lock
Due: run-claim-backend-service-workflow

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@a825c1b27cbae3cab74501d08d47fa7823f744ac 🚀
  project.json
Due: none

claim-backend: fix cli commands
  services/claim-backend/package.json
Due: run-claim-backend-service-workflow

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@df960c70896001966a0e40d784c258e3616a0a76 🚀
  project.json
Due: none

set up config and deployment
  package.json
  packages/testnet-delegation/.gitignore
  packages/testnet-delegation/hardhat.config.ts
  packages/testnet-delegation/package.json
  packages/testnet-delegation/scripts/deploy.ts
  packages/testnet-delegation/tsconfig.json
  tsconfig.json
  yarn.lock
Due: none

implement orchestrator and mocks for tests
  packages/testnet-delegation/artifacts/contracts/DelegationOrchestrator.sol/DelegationOrchestrator.json
  packages/testnet-delegation/artifacts/contracts/interfaces/IDPOS.sol/IDPOS.json
  packages/testnet-delegation/artifacts/contracts/interfaces/IDelegation.sol/IDelegation.json
  packages/testnet-delegation/artifacts/contracts/mocks/MockDpos.sol/MockDpos.json
  packages/testnet-delegation/artifacts/contracts/mocks/MockIDPOS.sol/MockIDPOS.json
  packages/testnet-delegation/contracts/DelegationOrchestrator.sol
  packages/testnet-delegation/contracts/interfaces/IDelegation.sol
  packages/testnet-delegation/contracts/mocks/MockDpos.sol
  packages/testnet-delegation/contracts/mocks/MockIDPOS.sol
  packages/testnet-delegation/test/orchestrator.test.ts
Due: none

implements addInternalValidator logic
  packages/testnet-delegation/artifacts/contracts/DelegationOrchestrator.sol/DelegationOrchestrator.json
  packages/testnet-delegation/artifacts/contracts/mocks/MockDpos.sol/MockDpos.json
  packages/testnet-delegation/contracts/DelegationOrchestrator.sol
  packages/testnet-delegation/contracts/interfaces/IDelegation.sol
Due: none

finishes testnet dpos orchestrator tests and impl
  packages/testnet-delegation/artifacts/contracts/DelegationOrchestrator.sol/DelegationOrchestrator.json
  packages/testnet-delegation/artifacts/contracts/interfaces/IDelegation.sol/IDelegation.json
  packages/testnet-delegation/artifacts/contracts/mocks/MockDpos.sol/MockDpos.json
  packages/testnet-delegation/contracts/DelegationOrchestrator.sol
  packages/testnet-delegation/contracts/mocks/MockDpos.sol
  packages/testnet-delegation/test/orchestrator.test.ts
Due: none

Fixed docker image
  package.json
  services/explorer/package.json
  services/node-status/.dockerignore
  services/node-status/.eslintrc.js
  services/node-status/.eslintrc.json
  services/node-status/Dockerfile
  services/node-status/package.json
  yarn.lock
Due: run-node-status-service-workflow, build-explorer-workflow

Removed const
  services/community-site/src/utils/compareDelegationTo.ts
Due: run-community-site-service-workflow

Fix/node status (#472)
  package.json
  packages/taraxa-ui/src/declarationFiles.d.ts
  services/explorer/package.json
  services/node-status/.dockerignore
  services/node-status/.eslintrc.js
  services/node-status/.eslintrc.json
  services/node-status/Dockerfile
  services/node-status/package.json
  services/node-status/pages/_app.tsx
  services/node-status/pages/index.tsx
  yarn.lock
Due: ui-package-modified, run-node-status-service-workflow, build-explorer-workflow

Removing Californicum from networks and replacing testnet with partic… (#467)
  packages/taraxa-ui/src/components/Header/Header.stories.tsx
  packages/taraxa-ui/src/components/NetworkMenu/NetworkMenu.stories.tsx
  services/community-site/src/components/Sidebar/Sidebar.tsx
  services/community-site/src/pages/Home/Home.tsx
  services/explorer/src/utils/Enums.ts
Due: ui-package-modified, run-community-site-service-workflow, build-explorer-workflow

Refetching balance after claim
  services/community-site/src/pages/Redeem/Redeem.tsx
Due: run-community-site-service-workflow

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@312f42c0a05502d2bf1ae681520e904b962473ae 🚀
  147.1ff6500755cffe8f9b07.manager.bundle.js
  147.75673df3d3521b8d2c52.manager.bundle.js
  147.75673df3d3521b8d2c52.manager.bundle.js.LICENSE.txt
  612.10133681.iframe.bundle.js
  612.5584562a.iframe.bundle.js
  612.5584562a.iframe.bundle.js.LICENSE.txt
  721.4038f8ac.iframe.bundle.js
  721.5549ff3d624c57aad96a.manager.bundle.js
  721.5549ff3d624c57aad96a.manager.bundle.js.LICENSE.txt
  721.f0712977.iframe.bundle.js
  721.f0712977.iframe.bundle.js.LICENSE.txt
  721.f83373fee679f6ab0c5d.manager.bundle.js
  738.003b9712.iframe.bundle.js
  738.003b9712.iframe.bundle.js.map
  858.33c087e7d298e1d47b86.manager.bundle.js
  858.98f0604c.iframe.bundle.js
  858.dda446016a649b6865d8.manager.bundle.js
  858.ffaa4f1d.iframe.bundle.js
  918.456e876c.iframe.bundle.js
  918.456e876c.iframe.bundle.js.LICENSE.txt
  918.456e876c.iframe.bundle.js.map
  954.190ad493f20724d7f439.manager.bundle.js
  954.7701a2d92dc170ada048.manager.bundle.js
  954.8df76733.iframe.bundle.js
  954.cd9070c6.iframe.bundle.js
  iframe.html
  index.html
  main.b6fc4f5e.iframe.bundle.js
  main.d59e9e3b.iframe.bundle.js
  project.json
  runtime~main.659e6c4f8c853466c6ed.manager.bundle.js
  runtime~main.9846da61.iframe.bundle.js
  runtime~main.d5e7d284.iframe.bundle.js
  runtime~main.f1265340b3323fccf370.manager.bundle.js
Due: none

Redeem page fixes (#470)
  services/community-site/.env.example
  services/community-site/Dockerfile
  services/community-site/docker-files/entrypoint.sh
  services/community-site/src/pages/Redeem/Redeem.tsx
  services/community-site/src/services/useToken.tsx
Due: run-community-site-service-workflow

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@c3a91d30c6f821d514b717469f4e29b05529922c 🚀
  iframe.html
  main.109f9e15.iframe.bundle.js
  main.b6fc4f5e.iframe.bundle.js
  project.json
Due: none

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@9aa7818046aa88a5c2394f76e0214071b7fc639d 🚀
  project.json
Due: none

Added more conditions for delegation
  services/community-site/src/pages/Staking/Delegation.tsx
  services/community-site/src/pages/Staking/Modal/Delegate.tsx
  services/community-site/src/pages/Staking/Modal/Modals.tsx
Due: run-community-site-service-workflow

adds log for ip
  services/faucet/src/modules/throttler/throttler-behind-proxy.guard.ts
Due: build-faucet-workflow

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@49b1eae83360777d0984b3b7d17fc2b27c13e8ac 🚀
  project.json
Due: none

faucet: adds logs for ip
  services/faucet/src/modules/throttler/throttler-behind-proxy.guard.ts
Due: build-faucet-workflow

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@e8723254848be6931a700578069674a1c5dfbb80 🚀
  project.json
Due: none

Improved explorer conversion of table data to rows
  services/explorer/src/api/types.ts
  services/explorer/src/hooks/useExplorerNetwork.tsx
  services/explorer/src/models/TableData.ts
  services/explorer/src/pages/Blocks/Blocks.effects.ts
  services/explorer/src/pages/Blocks/Blocks.tsx
  services/explorer/src/pages/Dag/Dag.effects.tsx
  services/explorer/src/pages/Dag/Dag.tsx
  services/explorer/src/pages/Nodes/Nodes.tsx
  services/explorer/src/pages/Transactions/Transactions.effects.ts
  services/explorer/src/pages/Transactions/Transactions.tsx
  services/explorer/src/utils/TransactionRow.tsx
Due: build-explorer-workflow

Showing an empty row in table when there is no data
  packages/taraxa-ui/src/components/EmptyTable/EmptyTable.styles.ts
  packages/taraxa-ui/src/components/EmptyTable/EmptyTable.tsx
  packages/taraxa-ui/src/components/EmptyTable/index.ts
  packages/taraxa-ui/src/components/Table/Table.stories.tsx
  packages/taraxa-ui/src/components/Table/Table.tsx
Due: ui-package-modified

Added EmptyTable cell for Nodes page
  packages/taraxa-ui/src/components/EmptyTable/EmptyTable.styles.ts
  packages/taraxa-ui/src/components/EmptyTable/EmptyTable.tsx
  packages/taraxa-ui/src/index.ts
  services/explorer/src/pages/Nodes/Nodes.effects.tsx
  services/explorer/src/pages/Nodes/Nodes.tsx
Due: ui-package-modified, build-explorer-workflow

Showing empty table for Address tables when no data
  packages/taraxa-ui/src/components/EmptyTable/EmptyTable.styles.ts
  services/explorer/src/components/Tables/BlocksTable.tsx
  services/explorer/src/components/Tables/TransactionsTable.tsx
Due: ui-package-modified, build-explorer-workflow

Allowing floating numbers when delegating (#466)
  services/community-site/src/pages/Staking/Delegation.tsx
  services/community-site/src/pages/Staking/Modal/Delegate.tsx
  services/community-site/src/pages/Staking/Modal/Modals.tsx
  services/community-site/src/pages/Staking/Modal/Undelegate.tsx
  services/community-site/src/utils/compareDelegationTo.ts
Due: run-community-site-service-workflow

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@17ff5f27e1eda1da5d9cecfc3c6564d6d6418d70 🚀
  project.json
Due: none

Showint wei or tara based on specific threshold
  services/explorer/src/api/explorer-api/fetchTransactionsByAddress.ts
  services/explorer/src/api/graphql/queries/transactions.ts
  services/explorer/src/pages/BlockData/DAGDataContainer.effects.tsx
  services/explorer/src/pages/PBFTData/PBFTDataContainer.effects.tsx
  services/explorer/src/pages/TransactionData/TransactionData.effects.tsx
  services/explorer/src/pages/TransactionData/TransactionData.tsx
  services/explorer/src/utils/fromWeiToTara.ts
Due: build-explorer-workflow

Refetching address data on address change
  services/explorer/src/hooks/useIndexer.tsx
  services/explorer/src/pages/AddressInfo/AddressInfo.effects.tsx
  services/explorer/src/pages/PBFTData/PBFTDataContainer.effects.tsx
Due: build-explorer-workflow

Removed ERC20 from community
  packages/taraxa-ui/src/components/ProfileCard/ProfileCard.tsx
Due: ui-package-modified

faucet: removes logs for ip
  services/faucet/src/modules/throttler/throttler-behind-proxy.guard.ts
Due: build-faucet-workflow

Removed ERC20 from community (#476)
  packages/taraxa-ui/src/components/ProfileCard/ProfileCard.tsx
Due: ui-package-modified

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@f35dc622fa9f5969e519409d175a9bfbf9fbeb99 🚀
  project.json
Due: none

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@0cda45a501007b5e03fdd9a9099892c5197a0128 🚀
  iframe.html
  main.109f9e15.iframe.bundle.js
  main.e19fcdab.iframe.bundle.js
  project.json
Due: none

Removed Wei from gasUsed
  services/explorer/src/api/explorer-api/fetchTransactionsByAddress.ts
  services/explorer/src/pages/BlockData/DAGDataContainer.effects.tsx
  services/explorer/src/pages/PBFTData/PBFTDataContainer.effects.tsx
  services/explorer/src/pages/TransactionData/TransactionData.effects.tsx
Due: build-explorer-workflow

Added blockNumber as dependency
  services/explorer/src/pages/PBFTData/PBFTDataContainer.effects.tsx
Due: build-explorer-workflow

Path conditions:
  ui-package-modified: any of: packages/taraxa-ui/.*
  run-community-site-service-workflow: any of: services/community-site/.*
  run-community-backend-service-workflow: any of: legacy/community-backend/.*
  build-community-backend-helm-chart-workflow: any of: legacy/community-backend/charts/.*
  run-claim-admin-service-workflow: any of: legacy/claim-admin/.*
  build-claim-admin-helm-chart-workflow: any of: legacy/claim-admin/charts/.*
  build-community-site-helm-chart-workflow: any of: services/community-site/charts/.*
  run-node-status-service-workflow: any of: services/node-status/.*
  run-delegation-service-workflow: any of: services/delegation/.*
  build-delegation-helm-chart-workflow: any of: services/delegation/charts/.*
  run-claim-backend-service-workflow: any of: services/claim-backend/.*
  build-claim-backend-helm-chart-workflow: any of: services/claim-backend/charts/.*
  build-faucet-workflow: any of: services/faucet/.*
  build-faucet-helm-chart-workflow: any of: services/faucet/charts/.*
  build-explorer-workflow: any of: services/explorer/.*
  build-explorer-helm-chart-workflow: any of: services/explorer/charts/.*
  build-explorer-indexer-workflow: any of: services/explorer-indexer/.*
  build-explorer-indexer-helm-chart-workflow: any of: services/explorer-indexer/charts/.*
  build-explorer-api-workflow: any of: services/explorer-api/.*
  build-explorer-api-helm-chart-workflow: any of: services/explorer-api/charts/.*
