Repository Taraxa-project/taraxa-platform: changes, and which CircleCI parameters are due for each by the changed paths.
All: ui-package-modified, run-community-site-service-workflow, build-community-site-helm-chart-workflow, run-community-backend-service-workflow, build-community-backend-helm-chart-workflow, run-node-status-service-workflow, run-delegation-service-workflow, run-claim-backend-service-workflow, build-faucet-workflow, build-faucet-helm-chart-workflow, build-explorer-workflow, build-explorer-helm-chart-workflow, build-explorer-indexer-workflow, build-explorer-indexer-helm-chart-workflow, build-explorer-api-workflow, build-explorer-api-helm-chart-workflow

.circleci/config.yml:

version: 2.1
setup: true
orbs:
  path-filtering: circleci/path-filtering@0.1.1
workflows:
  always-run:
    jobs:
      - path-filtering/filter:
          name: check-updated-files
          mapping: |
            packages/taraxa-ui/.* ui-package-modified true
            services/community-site/.* run-community-site-service-workflow true
            services/community-site/charts/.* build-community-site-helm-chart-workflow true
            services/community-backend/.* run-community-backend-service-workflow true
            services/community-backend/charts/.* build-community-backend-helm-chart-workflow true
            services/node-status/.* run-node-status-service-workflow true
            services/delegation/.* run-delegation-service-workflow true
            services/claim-backend/.* run-claim-backend-service-workflow true
            services/faucet/.* build-faucet-workflow true
            services/faucet/charts/.* build-faucet-helm-chart-workflow true
            services/explorer/.* build-explorer-workflow true
            services/explorer/charts/.* build-explorer-helm-chart-workflow true
            services/explorer-indexer/.* build-explorer-indexer-workflow true
            services/explorer-indexer/charts/.* build-explorer-indexer-helm-chart-workflow true
            services/explorer-api/.* build-explorer-api-workflow true
            services/explorer-api/charts/.* build-explorer-api-helm-chart-workflow true
          base-revision: << pipeline.git.branch >>
          config-path: .circleci/workflows.yml

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@275ffc485272a4592e222be4c12a39b27bff28b8 🚀
  project.json
Due: none

Separated table pagination into separate types
  services/explorer/src/api/types.ts
  services/explorer/src/components/AddressInfo/AddressTables.tsx
  services/explorer/src/pages/AddressInfo/AddressInfo.effects.tsx
  services/explorer/src/pages/AddressInfo/AddressInfo.tsx
Due: build-explorer-workflow

implements data fetching from indexer endpoints
  services/delegation/src/config/ethereum.ts
  services/delegation/src/modules/node/node-task.service.ts
  services/delegation/src/modules/utils/interfaces.ts
  services/delegation/src/modules/utils/utils.ts
Due: run-delegation-service-workflow

fix charts for delegation
  services/delegation/charts/community-delegation/templates/configmap.yaml
  services/delegation/charts/prod.values.yaml
  services/delegation/charts/qa.values.yaml
Due: run-delegation-service-workflow

remove redundent ignore
  legacy/claim-admin/package.json
Due: none

Adjusted padding for container based on screen sizes
  services/explorer/src/App.tsx
Due: build-explorer-workflow

Using api week and year data for nodes page
  services/explorer/src/api/explorer-api/fetchValidators.ts
  services/explorer/src/api/types.ts
  services/explorer/src/pages/Nodes/Nodes.effects.tsx
  services/explorer/src/pages/Nodes/Nodes.tsx
Due: build-explorer-workflow

changes URI pattern to match new endpoint
  services/delegation/src/modules/node/node-task.service.ts
Due: run-delegation-service-workflow

WIP: bridge interface changes for node entity
  services/delegation/src/modules/node/node-task.service.ts
Due: run-delegation-service-workflow

disable actions on missing kyc
  services/community-site/src/pages/Delegation/Delegation.tsx
Due: run-community-site-service-workflow

implements KYC restriction on delegation actions
  services/community-site/src/pages/Delegation/Delegation.tsx
Due: run-community-site-service-workflow

Chore/code improv (#406)
  services/explorer/src/App.tsx
  services/explorer/src/api/explorer-api/fetchValidators.ts
  services/explorer/src/api/mocks/blocks.ts
  services/explorer/src/api/mocks/events.ts
  services/explorer/src/api/mocks/index.ts
  services/explorer/src/api/mocks/nodes.ts
  services/explorer/src/api/mocks/transactions.ts
  services/explorer/src/api/types.ts
  services/explorer/src/components/AddressInfo/AddressDetails.styles.ts
  services/explorer/src/components/AddressInfo/AddressDetails.tsx
  services/explorer/src/components/AddressInfo/AddressInfo.tsx
  services/explorer/src/components/AddressInfo/AddressTables.tsx
  services/explorer/src/components/AddressInfo/index.ts
  services/explorer/src/pages/AddressInfo/AddressInfo.effects.tsx
  services/explorer/src/pages/AddressInfo/AddressInfo.tsx
  services/explorer/src/pages/Nodes/Nodes.effects.tsx
  services/explorer/src/pages/Nodes/Nodes.tsx
  services/explorer/src/pages/TransactionData/TransactionData.tsx
Due: build-explorer-workflow

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@e1a79e9ea28a31bcfe0c05f5804fb6200d6024aa 🚀
  iframe.html
  main.1a1341e1.iframe.bundle.js
  main.7c992ef1.iframe.bundle.js
  project.json
Due: none

temp change triggering branch for ci
  .circleci/workflows.yml
Due: none

fix ingress for community-backend
  legacy/community-backend/charts/community-backend/templates/ingress.yaml
Due: none

fix to default ingress settings
  legacy/community-backend/charts/community-backend/values.yaml
Due: none

minor changes
  legacy/community-backend/charts/community-backend/values.yaml
Due: none

fix ingress for community-site
  services/community-site/charts/community-site/templates/community-ingress.yaml
  services/community-site/charts/community-site/values.yaml
Due: run-community-site-service-workflow, build-community-site-helm-chart-workflow

temp branch for triggering ci
  .circleci/config.yml
  .circleci/workflows.yml
  services/community-site/charts/community-site/templates/NOTES.txt
Due: run-community-site-service-workflow, build-community-site-helm-chart-workflow

fix ingress port and name
  services/community-site/charts/community-site/templates/community-ingress.yaml
Due: run-community-site-service-workflow, build-community-site-helm-chart-workflow

more fixes
  services/community-site/charts/community-site/templates/NOTES.txt
  services/community-site/charts/community-site/values.yaml
Due: run-community-site-service-workflow, build-community-site-helm-chart-workflow

secret for basic auth
  services/community-site/charts/community-site/templates/secrets.yaml
  services/community-site/charts/community-site/values.yaml
Due: run-community-site-service-workflow, build-community-site-helm-chart-workflow

1 replica is enough
  services/community-site/charts/community-site/templates/custom-error-community.yaml
Due: run-community-site-service-workflow, build-community-site-helm-chart-workflow

fix ingress for community-delegation
  services/delegation/charts/community-delegation/templates/ingress.yaml
  services/delegation/charts/community-delegation/values.yaml
Due: run-delegation-service-workflow

temp trigger branch
  .circleci/workflows.yml
  services/delegation/charts/community-delegation/values.yaml
Due: run-delegation-service-workflow

fix name and port
  services/delegation/charts/community-delegation/templates/ingress.yaml
Due: run-delegation-service-workflow

remove temp branch
  .circleci/workflows.yml
Due: none

feat(explorer) Adjusted network selection
  services/explorer/.env.example
  services/explorer/src/api/types.ts
  services/explorer/src/components/AddressInfo/AddressDetails.tsx
  services/explorer/src/components/Header/Header.tsx
  services/explorer/src/hooks/useExplorerNetwork.tsx
  services/explorer/src/utils/networks.ts
Due: build-explorer-workflow

chore(explorer) Redirect by default to mainnet
  services/explorer/src/utils/networks.ts
Due: build-explorer-workflow

Removed unnecessary redirect call on network selection
  services/explorer/src/hooks/useExplorerNetwork.tsx
Due: build-explorer-workflow

chore(explorer): Updated mainnet url on network change
  services/explorer/src/utils/networks.ts
Due: build-explorer-workflow

chore(explorer): Removed uncessary conditions
  services/explorer/src/components/AddressInfo/AddressDetails.tsx
Due: build-explorer-workflow

feat(explorer) Adjusted network selection (#416)
  services/explorer/.env.example
  services/explorer/src/api/types.ts
  services/explorer/src/components/AddressInfo/AddressDetails.tsx
  services/explorer/src/components/Header/Header.tsx
  services/explorer/src/hooks/useExplorerNetwork.tsx
  services/explorer/src/utils/networks.ts
Due: build-explorer-workflow

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@2a1e158340f5506702ec1706a5f09d0345eafe40 🚀
  iframe.html
  main.1a1341e1.iframe.bundle.js
  main.7c992ef1.iframe.bundle.js
  project.json
Due: none

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@a547b51d14d82f07e569101bf154386981689143 🚀
  project.json
Due: none

fix service for cumminity site
  services/community-site/charts/community-site/templates/community-ingress.yaml
Due: run-community-site-service-workflow, build-community-site-helm-chart-workflow

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@5904da6dc445ef2c9e528c153c2ae4925ecbb040 🚀
  project.json
Due: none
