Repository Taraxa-project/taraxa-platform: changes, and which CircleCI parameters are due for each by the changed paths.
All: ui-package-modified, run-community-site-service-workflow, build-community-site-helm-chart-workflow, run-community-backend-service-workflow, build-community-backend-helm-chart-workflow, run-node-status-service-workflow, run-delegation-service-workflow, run-claim-backend-service-workflow, build-faucet-workflow, build-faucet-helm-chart-workflow, build-explorer-workflow, build-explorer-helm-chart-workflow, build-explorer-indexer-workflow, build-explorer-indexer-helm-chart-workflow, build-explorer-api-workflow, build-explorer-api-helm-chart-workflow

adds benchmark for tx saving performance
  services/explorer-indexer/src/modules/transaction/transaction.consumer.ts
Due: build-explorer-indexer-workflow

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@a6bc7e75d3c1fd7767a37d7a21399ca39452c191 🚀
  project.json
Due: none

reduce cron execution to every 30 mins
  services/explorer-indexer/src/modules/historical-sync/historical.syncer.service.ts
Due: build-explorer-indexer-workflow

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@e032015690b847b04f9c72873d08710cec713fb8 🚀
  project.json
Due: none

feat(explorer|api): Updated node api
  packages/taraxa-ui/src/components/AwardCard/AwardCard.tsx
  services/explorer-api/src/app.module.ts
  services/explorer-api/src/modules/index.ts
  services/explorer-api/src/modules/node/index.ts
  services/explorer-api/src/modules/node/node.controller.ts
  services/explorer-api/src/modules/node/node.module.ts
  services/explorer-api/src/modules/node/node.service.ts
  services/explorer-api/src/modules/pbft/dto/get-nodes.dto.ts
  services/explorer-api/src/modules/pbft/dto/node.dto.ts
  services/explorer-api/src/modules/pbft/dto/week-filter.dto.ts
  services/explorer-api/src/modules/pbft/pbft.controller.ts
  services/explorer-api/src/modules/pbft/pbft.service.ts
  services/explorer/src/api/explorer-api/fetchNodes.ts
  services/explorer/src/api/explorer-api/fetchNumberBlocks.ts
  services/explorer/src/components/AddressInfo/AddressInfo.tsx
  services/explorer/src/pages/AddressInfo/AddressInfo.effects.tsx
  services/explorer/src/pages/AddressInfo/AddressInfo.tsx
  services/explorer/src/pages/Nodes/Nodes.effects.tsx
  services/explorer/src/pages/Nodes/Nodes.tsx
  services/explorer/src/utils/fromWeiToTara.ts
Due: ui-package-modified, build-explorer-workflow, build-explorer-api-workflow

fix(explorer): Fixed formatting for value tara
  services/explorer/src/pages/AddressInfo/AddressInfo.effects.tsx
  services/explorer/src/utils/fromWeiToTara.ts
Due: build-explorer-workflow

fixes delegation table and popup styles
  packages/taraxa-ui/src/components/AmountCard/AmountCard.styles.ts
  services/community-site/src/pages/Delegation/Delegation.tsx
  services/community-site/src/pages/Delegation/Table/ValidatorRow.tsx
  services/community-site/src/pages/Delegation/delegation.scss
Due: ui-package-modified, run-community-site-service-workflow

fix(api): Sorting nodes
  services/explorer-api/src/modules/pbft/pbft.service.ts
Due: build-explorer-api-workflow

lock env
  services/community-site/.env
  services/community-site/.gitignore
  services/community-site/env.local
  yarn.lock
Due: run-community-site-service-workflow

explorer-indexer: do not update transaction only if block is found
  services/explorer-indexer/src/modules/transaction/transaction.consumer.ts
Due: build-explorer-indexer-workflow

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@21d0a38f789ea511b96f60d2c356528717356fbf 🚀
  project.json
Due: none

explorer-indexer: adds debug for blokcHash coming from gql
  services/explorer-indexer/src/modules/transaction/transaction.consumer.ts
Due: build-explorer-indexer-workflow

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@f3506ed5683aef8e78222fde512ddf6e5b6aeed7 🚀
  project.json
Due: none

explorer-indexer: make log conditional
  services/explorer-indexer/src/modules/transaction/transaction.consumer.ts
Due: build-explorer-indexer-workflow

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@e8c9b45517298e6eaac59e440bbd1685ad39d640 🚀
  project.json
Due: none

cleans up delegation page
  services/community-site/src/pages/Delegation/Table/NodeRow.tsx
  services/community-site/src/pages/Delegation/Table/ValidatorRow.tsx
  services/community-site/src/pages/Delegation/delegation.scss
Due: run-community-site-service-workflow

Deploying to gh-pages from @ Taraxa-project/taraxa-platform@6f2d7746336528e39cea578c424ad5dd7e4c6fce 🚀
  iframe.html
  main.70be9136.iframe.bundle.js
  main.7c992ef1.iframe.bundle.js
  project.json
Due: none

implements interval util hook
  packages/taraxa-ui/src/hooks/useInterval.ts
  packages/taraxa-ui/src/index.ts
Due: ui-package-modified

WIP: implements delegation and reDelegation flows
  services/community-site/src/pages/Delegation/Delegation.tsx
  services/community-site/src/pages/Delegation/Modal/Modals.tsx
  services/community-site/src/pages/Delegation/Modal/ReDelegate.tsx
  services/community-site/src/pages/Delegation/Table/ValidatorRow.tsx
  services/community-site/src/pages/Delegation/delegation.scss
  services/community-site/src/pages/RunNode/RunValidator.tsx
  services/community-site/src/services/useDelegation.tsx
Due: run-community-site-service-workflow

fixes netowrk switch errors
  services/community-site/src/services/useChain.tsx
Due: run-community-site-service-workflow

fix(community): Fixed run validator alignment and updated to dev branch
  services/community-site/src/pages/RunNode/RunValidator.tsx
Due: run-community-site-service-workflow

fix(community): Fixed table design issues
  services/community-site/src/App.scss
  services/community-site/src/App.tsx
  services/community-site/src/pages/Delegation/Table/ValidatorRow.tsx
  services/community-site/src/pages/Delegation/delegation.scss
  services/community-site/src/pages/RunNode/runvalidator.scss
Due: run-community-site-service-workflow

fix(community): Adjusted cards on table view
  packages/taraxa-ui/src/components/Notification/Notification.styles.ts
  packages/taraxa-ui/src/components/Notification/Notification.tsx
  services/community-site/src/App.scss
  services/community-site/src/services/useDpos.ts
Due: ui-package-modified, run-community-site-service-workflow

chore(community): Replace .env with example
  services/community-site/.env.example
  services/community-site/.gitignore
Due: run-community-site-service-workflow

feat(community): Added functionality to display and update validators
  services/community-site/src/pages/RunNode/Modal/EditValidator.tsx
  services/community-site/src/pages/RunNode/RunValidator.tsx
  services/community-site/src/pages/RunNode/Table/MainnetValidatorRow.tsx
  services/community-site/src/services/useDpos.ts
  services/community-site/src/services/useValidators.tsx
Due: run-community-site-service-workflow

feat(community): Small fixes for Edit validators
  services/community-site/src/pages/RunNode/Modal/EditValidator.tsx
  services/community-site/src/pages/RunNode/Modal/RegisterNode.tsx
  services/community-site/src/pages/RunNode/RunValidator.tsx
  services/community-site/src/services/useDpos.ts
  services/community-site/src/services/useValidators.tsx
Due: run-community-site-service-workflow

chore(community): Adjusted style for node profile page
  packages/taraxa-ui/src/components/AmountCard/AmountCard.styles.ts
  services/community-site/src/pages/Delegation/NodeProfilePage.tsx
  services/community-site/src/pages/Delegation/node-profile-page.scss
Due: ui-package-modified, run-community-site-service-workflow

fix(community): Fixed delegation cards sizes
  packages/taraxa-ui/src/components/AmountCard/AmountCard.styles.ts
  services/community-site/src/pages/Delegation/delegation.scss
Due: ui-package-modified, run-community-site-service-workflow

feat(community): Fixed max delegation calculation
  services/community-site/src/services/useValidators.tsx
Due: run-community-site-service-workflow

adds skeleton to BaseCard
  packages/taraxa-ui/src/components/BaseCard/BaseCard.tsx
Due: ui-package-modified

implements delegation switch to new flow
  services/community-site/src/pages/Delegation/Delegation.tsx
  services/community-site/src/pages/Delegation/Modal/Modals.tsx
  services/community-site/src/pages/Delegation/Table/ValidatorRow.tsx
  services/community-site/src/pages/Delegation/delegation.scss
Due: run-community-site-service-workflow

returns receipt on dpos calls, util method
  services/community-site/src/pages/Delegation/Modal/Undelegate.tsx
  services/community-site/src/services/useDelegation.tsx
  services/community-site/src/utils/eth.ts
Due: run-community-site-service-workflow

implements new dpos delegation modals
  services/community-site/src/pages/Delegation/Modal/Delegate.tsx
  services/community-site/src/pages/Delegation/Modal/ReDelegate.tsx
  services/community-site/src/pages/Delegation/NodeProfilePage.tsx
Due: run-community-site-service-workflow

chore(community): Renamed from re-delagation to claim
  services/community-site/src/pages/Delegation/Delegation.tsx
  services/community-site/src/pages/Delegation/Modal/Modals.tsx
  services/community-site/src/pages/Delegation/Modal/ReDelegate.tsx
  services/community-site/src/pages/Delegation/Table/ValidatorRow.tsx
Due: run-community-site-service-workflow

implements undelegation section
  services/community-site/src/pages/Delegation/Delegation.tsx
  services/community-site/src/pages/Delegation/NodeProfilePage.tsx
  services/community-site/src/services/useDelegation.tsx
Due: run-community-site-service-workflow

feat(community): Implemented re-delegation
  packages/taraxa-ui/src/components/AutocompleteField/AutocompleteField.styles.tsx
  packages/taraxa-ui/src/components/AutocompleteField/AutocompleteField.tsx
  packages/taraxa-ui/src/components/AutocompleteField/index.ts
  packages/taraxa-ui/src/index.ts
  services/community-site/src/pages/Delegation/Delegation.tsx
  services/community-site/src/pages/Delegation/Modal/Modals.tsx
  services/community-site/src/pages/Delegation/Modal/ReDelegate.tsx
  services/community-site/src/pages/Delegation/NodeProfilePage.tsx
  services/community-site/src/pages/Delegation/Table/ValidatorRow.tsx
Due: ui-package-modified, run-community-site-service-workflow

chore(community): Fetching data after redelegation
  services/community-site/src/pages/Delegation/Delegation.tsx
  services/community-site/src/pages/Delegation/Modal/Modals.tsx
  services/community-site/src/pages/Delegation/Modal/ReDelegate.tsx
  services/community-site/src/pages/Delegation/NodeProfilePage.tsx
  services/community-site/src/pages/RunNode/Modal/EditValidator.tsx
  services/community-site/src/services/useValidators.tsx
Due: run-community-site-service-workflow

chore(community): Adjusting loading when fetching back data
  services/community-site/src/pages/Delegation/Delegation.tsx
Due: run-community-site-service-workflow

chore(community): Adjusted notification btn size
  services/community-site/src/components/WrongNetwork/index.tsx
  services/community-site/src/pages/Delegation/Delegation.tsx
Due: run-community-site-service-workflow

implements commission change warning
  services/community-site/src/interfaces/Delegation.ts
  services/community-site/src/interfaces/Validator.ts
  services/community-site/src/pages/Delegation/Delegation.tsx
  services/community-site/src/pages/Delegation/Table/ValidatorRow.tsx
  services/community-site/src/services/useValidators.tsx
Due: run-community-site-service-workflow

Path conditions:
  ui-package-modified: any of: packages/taraxa-ui/.*
  run-community-site-service-workflow: any of: services/community-site/.*
  build-community-site-helm-chart-workflow: any of: services/community-site/charts/.*
  run-community-backend-service-workflow: any of: services/community-backend/.*
  build-community-backend-helm-chart-workflow: any of: services/community-backend/charts/.*
  run-node-status-service-workflow: any of: services/node-status/.*
  run-delegation-service-workflow: any of: services/delegation/.*
  run-claim-backend-service-workflow: any of: services/claim-backend/.*
  build-faucet-workflow: any of: services/faucet/.*
  build-faucet-helm-chart-workflow: any of: services/faucet/charts/.*
  build-explorer-workflow: any of: services/explorer/.*
  build-explorer-helm-chart-workflow: any of: services/explorer/charts/.*
  build-explorer-indexer-workflow: any of: services/explorer-indexer/.*
  build-explorer-indexer-helm-chart-workflow: any of: services/explorer-indexer/charts/.*
  build-explorer-api-workflow: any of: services/explorer-api/.*
  build-explorer-api-helm-chart-workflow: any of: services/explorer-api/charts/.*
